<!-- {% if data.participants[id].inductionExempt == "Yes" %} -->
    <!-- {% include "includes/confirmation_ExemptECT.html" %} -->
<!-- {% elif data.participants[id].completedInduction == "Yes" %} -->
    <!-- {% include "includes/confirmation_CompletedInductionECT.html" %} -->
<!-- {% elif ((data.participants[id].noQTS == "Yes") and (data.participants[id].noQTS == "Yes")) %} -->
    <!-- {% include "includes/confirmation_noQTSnoinductionRegistered.html" %} -->
<!-- {% elif data.participants[id].noQTS == "Yes" %} -->
    <!-- {% include "includes/confirmation_noQTSECT.html" %} -->
<!-- {% elif data.participants[id].inductionRegistered == "No" %} -->
    <!-- {% include "includes/confirmation_NoinductionRegistered.html" %} -->
<!-- {% elif data.participants[id].ineligible == "Yes" %} -->
    <!-- {% include "includes/confirmation_IneligibleECT.html" %} -->
<!-- {% elif data.participants[id].noRecordsMatched == "Yes" %} -->
    <!-- {% include "includes/confirmation_noMatchECT.html" %} -->
<!-- {% else %} -->


<h2 class="govuk-heading-m">What happens next</h2>
{% if participant.programme == "FIP" %}
    <p class="govuk-body">We’ll let this person know you’ve registered them for ECF-based training at your school. They do not need to provide us with any more information.</p>
{% elif participant.programme == "CIP" %}
    <p class="govuk-body">They’ll receive a link to their training materials within the next 24 hours. If they do not receive anything, they should check their spam or junk folder.</p>
{% endif %}

<h2 class="govuk-heading-m">Eligibility for funding</h2>
<p class="govuk-body">Our checks have confirmed this person is eligible for funded ECF-based training, and time off timetable for training and mentoring.</p>
<!-- {% endif %} -->
    


