{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Do you know which accredited materials you want to use?" %}
{% set pageSection = "2021 cohort" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p class="govuk-body">You will be choosing materials for any new early career teachers. They will access these materials on our service and complete a programme over 2 years.</p>

      <p class="govuk-body">Not sure? <a href="/sprint-16/choose-study-materials"> Check our guidance on materials</a>.</p>

      <a class="govuk-button" href="cip-course-choice">Continue</a>
    </div>
  </div>
{% endblock %}
