{% extends "layout.html" %}

{% block pageTitle %}
  Check guidance
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
    homepageUrl: "/index",
    serviceName: "Manage training for early career teachers",
    serviceUrl: "/start",
  navigation: [
    {
      href: "#1",
      text: data['school-email-address'],
      active: false
    },
    {
      href: "/sign-out",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Do you know how you want to run your statutory induction programme?</h1>
    <p class="govuk-body">You are choosing a programme for your early career teachers that they will complete over 2 years.</p>
    <p class="govuk-body">If you decide to change your programme, you will need to contact the Department for Education (DfE).</p>
    <h2 class="govuk-heading-m">Your choices</h2>
    <p class="govuk-body">We will ask you if your school wants to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>use an approved training provider</li>
    </ul>
    <p class="govuk-body">Or</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>use the DfE accredited training materials</li>
    </ul>
    <p class="govuk-body">Not sure? Check our guidance on <a class="govuk-link" href="https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview">induction programmes for early career teachers.</a></p>
    <a class="govuk-button" href="/school-signed-in/no-decision/prompt-choose-provision">Continue</a>

    </div>
  </div>

{% endblock %}
