{% extends "layout.html" %}

{% block pageTitle %}
  Welcome
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
  homepageUrl: "/start",
  serviceName: "Induction for early career teachers",
  serviceUrl: "/start",
  navigation: [
    {
      href: "#1",
      text: data['school-email-address'],
      active: false
    },
    {
      href: "/sign-out",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Welcome</h1>


      <h3 class="govuk-heading-m">Which programme do you want to run in the 2021/22 academic year?</h3>
      <p class="govuk-body"><a href="https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview">See our guidance on programmes</a> if you’re not sure</p>

      <form class="form" action="/school-signed-in/no-decision/prompt-choose-provision" method="post" class="govuk-!-margin-bottom-8">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          idPrefix: "journey-mode",
          name: "journey-mode",
          items: [
            {
              value: "schoolFIP",
              text: "a programme delivered by a training provider, funded by the Department for Education (DfE)"
            },
            {
              value: "schoolCIP",
              text: "a programme delivered by the school, using accredited materials"
            }
          ]
        }) }}
        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
