{% extends "layout.html" %}

{% block pageTitle %}
  How do you want to run your induction programme this year?
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
    homepageUrl: "/index",
    serviceName: "Manage training for early career teachers",
    serviceUrl: "/start",
  navigation: [
    {
      href: "#1",
      text: data['school-email-address'],
      active: false
    },
    {
      href: "/sign-out",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block pageNavigation %}
<a class="govuk-back-link" href="/school-signed-in/no-decision/pre-choose-provision">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">How do you want to run your induction programme this year?</h1>
      <p class="govuk-body"><a href="https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview">See our guidance on programmes</a> if you’re not sure</p>

      <form class="form" action="/school-signed-in/no-decision/confirm-decision" method="post" class="govuk-!-margin-bottom-8">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          idPrefix: "journey-mode",
          name: "journey-mode",
          items: [
            {
              value: "schoolFIP",
              text: "Use an approved training provider"
            },
            {
              value: "schoolCIP",
              text: "Use the DfE accredited materials"
            }
          ]
        }) }}
        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
