
    <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key">Programme</dt>
        <dd class="govuk-summary-list__value">Training provider, funded by the DfE</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
    </div>
    <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key">Training provider</dt>
        <dd class="govuk-summary-list__value">{{ data.leadProvider }}</dd>
        <dd class="govuk-summary-list__actions"></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Delivery partner</dt>
        <dd class="govuk-summary-list__value">{{ data.deliveryPartner }}</dd>
        <dd class="govuk-summary-list__actions"></dd>
    </div>


