<h2 class="govuk-heading-m">What to do next</h2>
                    <p>You need to design a 2-year programme of support and training that covers every ‘learn that’ and ‘learn how to’ statement in the <a  href="https://www.gov.uk/government/publications/early-career-framework" class="govuk-link" rel="noreferrer noopener" target="_blank">early career framework (ECF) (opens in new tab)</a>.</li>
                    <p>Contact your appropriate body to find out what evidence is needed to demonstrate that your programme:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>is based on the ECF</li>
                            <li>meets the statutory requirements</li>
                        </ul>
                    <p>You do not need to add information about your ECTs and mentors to this service.</p>
                    <p><a class="govuk-link" href="https://www.gov.uk/government/collections/induction-training-and-support-for-early-career-teachers-ects" class="govuk-link" rel="noreferrer noopener" target="_blank"> See our guidance collection (opens in new tab)</a> for more information about induction, training and support for ECTs.</p>
