




    <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key">Programme</dt>
        <dd class="govuk-summary-list__value">DfE accredited materials</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice?nextYear">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
    </div>
    <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key">Materials supplier</dt>
        <dd class="govuk-summary-list__value">
            {% if data['nextYear-accredited-materials'] %}
                {{ data['nextYear-accredited-materials'] }}
            {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if data['nextYear-accredited-materials'] %}
                <a class="govuk-link" href="materials/change?cohort=2022">Change<span class="govuk-visually-hidden"> accredited materials</span></a>
            {% else %}
                <a class="govuk-link" href="materials/?cohort=2022">Choose<span class="govuk-visually-hidden"> accredited materials</span></a>
            {% endif %}
        </dd>
    </div>



