
    <!-- If SIT adds the TRN -->
    {% if data.participants[id].trnKnown == "Yes" %}

        {% if data.participants[id].type == "ect" %}

        <h2 class="govuk-heading-m">Eligibility for funding</h2>

        <p class="govuk-body">Our checks have confirmed this person is eligible for funded ECF-based training, and time off timetable for training and mentoring.</p>
        <p class="govuk-body">{{ participant.name }} does not need to provide us with any more information.</p>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We’ll pass {{ participant.name }}’s information to their training provider.</p>

        {% endif %}
        <!-- Links -->

    {% else %}

        NO TRN


    {% endif %}



