
<!-- Note to Dev - please can you amend the link above to associate it with the data for the ECT they've just transferred in? -->

{% if data.participants[id].switchProgramme %}
    {% if data.participants[id].switchProgramme == "Yes" %}

        <!-- What programme is the school defaulted too -->
        {% if data['inductionProgramme'] == "FIP" %}

            {% if data.participants[id].pastDate == "Yes" %}
                <p>Remember to confirm this transfer with your training provider.</p>
            {% else %}
                <h2 class="govuk-heading-m">What we’ll do with this information</h2>
                <p>We’ll contact your training provider to let them know that you’ve reported this transfer. We recommend you confirm this with them directly too.</p>
                <p>We’ll also let {{ participant.name }} know you’ve registered them for ECF-based training at your school.</p>
                <p>They’ll appear in the ’Moving school’ tab on your dashboard until their start date.</p>

                <!-- ECT ONLY CONTENT -->
                {% if not data.participants[id].isMentor %}
                    <h2 class="govuk-heading-s">Continuing induction and ECF-based training</h2>
                    <p>Ask {{ participant.name }} or their previous school to provide records of any assessments and progress reviews completed so far.</p>
                    <p>Your training provider will advise how {{ participant.name }} should transfer onto their programme.</p>
                {% endif %}
            <!-- // -->
            {% endif %}

        {% elif data['inductionProgramme'] == "CIP" %}

            <h2 class="govuk-heading-m">What we’ll do with this information</h2>
            <p>We’ll let {{ participant.name }} know you’ve registered them for ECF-based training at your school.</p>
            <p>They’ll appear in the ’Moving school’ tab on your dashboard until their start date.</p>

            {% if not data.participants[id].isMentor %}
                <h2 class="govuk-heading-s">Continuing induction and ECF-based training</h2>
                <p>Ask {{ participant.name }} or their previous school to provide records of any assessments and progress reviews completed so far.</p>
                <p>We’ll send {{ participant.name }} a link to access your school’s training materials.</p>
            {% endif %}

        {% endif %}

    {% elif data.participants[id].continueProgramme == "Yes" %}

        {% if data['inductionProgramme'] == "FIP" %}

            <h2 class="govuk-heading-m">What we’ll do with this information</h2>
            <p>We’ll let {{ participant.name }} know you’ve registered them for ECF-based training at your school.</p>
            <p>They’ll appear in the ’Moving school’ tab on your dashboard until their start date.</p>

            <!-- ECT ONLY CONTENT -->
            {% if not data.participants[id].isMentor %}
                <h3 class="govuk-heading-s">Continuing induction and ECF-based training</h3>
                <p>Ask {{ participant.name }} or their previous school to provide records of any assessments and progress reviews completed so far.</p>
                <p>To access the {{ data.leadProviderMaterialsTransfer }} training materials:</p>
                <ol class="govuk-list govuk-list--number">
                    <li>Visit <a href="https://support-for-early-career-teachers.education.gov.uk/users/sign-up" >https://support-for-early-career-teachers.education.gov.uk/users/sign-up</a>.</li>
                    <li>Enter your email address to create a new account.</li>
                </ol>
            {% endif %}
            <!-- // -->

        {% elif data['inductionProgramme'] == "CIP" %}

            <h2 class="govuk-heading-m">What we’ll do with this information</h2>
            <p>We’ll let {{ participant.name }}’s training provider know they’re transferring to your school.</p>
            <p>We’ll also let {{ participant.name }} know you’ve registered them for ECF-based training at your school.</p>
            <p>They’ll appear in the ’Moving school’ tab on your dashboard until their start date.</p>

            {% if not data.participants[id].isMentor %}
                <h3 class="govuk-heading-s">Continuing induction and ECF-based training</h3>
                <p>Ask {{ participant.name }} or their previous school to provide records of any assessments and progress reviews completed so far.</p>
                <p><a href="#">Contact our support team</a> if you need more guidance.</p>
            {% endif %}

        {% endif %}

    {% else %}

        <p>We’ll let this person know you’ve registered them for ECF-based training at your school.</p>
        <!-- <p>If you added a new email address for this person, we’ll let your training provider know.</p> -->
    {% endif %}

    <!-- <p>They’ll appear in the ’Moving school’ tab on your dashboard until their start date.</p> -->

{% endif %}