{% if data['inductionProgramme'] == "FIP" %}   

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We’ll let this person know you’ve registered them for ECF-based training at your school. They do not need to provide us with any more information.</p>

    <h2 class="govuk-heading-m">Eligibility for funding</h2>
    <p class="govuk-body">Our checks have confirmed this person is eligible for funded training, and time off timetable for training and mentoring.</p>            
    

{% elif data['inductionProgramme'] == "CIP" %}        
    <h2 class="govuk-heading-m">Eligibility</h2>
    <p class="govuk-body">Our checks have confirmed this person is eligible to mentor ECTs.</p>
    <p class="govuk-body">They should be given adequate time to conduct mentoring sessions with ECTs.</p>
    <p class="govuk-body">{{ participant.name }} does not need to provide us with any more information.</p>
    
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">They’ll receive a link to their training materials within the next 24 hours. If they do not receive anything, they should check their spam or junk folder.</p>


{% endif %}