<thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Name</th>        
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Mentor</th>                
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Induction start date</th>
        <th class="govuk-table__header" scope="col">Role</th>
        <th class="govuk-table__header" scope="col"></th>
        
    </tr>
</thead>
