<tr class="govuk-table__row">
    <td class="govuk-table__cell "><a href="/schools/participants/{{ id }}" class="govuk-link govuk-link--no-visited-state">{{ participant.name }}</a></td>
    <td class="govuk-table__cell">
        {% if participant.mentor %}
            {{ participant.mentor }}
        {% else %}
            <a href="/schools/participants/{{ id }}/add/choose-mentor" class="govuk-link govuk-link--no-visited-state">Assign mentor</a>
        {% endif %}
    </td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell">{{ participant.startDate }}</td>
</tr>
