<tr class="govuk-table__row">
    <td class="govuk-table__cell ">{{ participant.name }}</td>
    <td class="govuk-table__cell">{% if participant.inductionDayCorrect %}
        {{ isoDateFromDateInputs(participant['inductionYearCorrect'], participant['inductionMonthCorrect'], participant['inductionDayCorrect']) | dateWithYear }}
    {% else %}
        {{ isoDateFromDateInputs(participant['inductionYear'], participant['inductionMonth'], participant['inductionDay']) | dateWithYear }}
    {% endif %}</td>
    <td class="govuk-table__cell">{{ isoDateFromDateInputs(participant['leavingYear'], participant['leavingMonth'], participant['leavingDay']) | dateWithYear }}</td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/schools/participants/{{ id }}" class="govuk-link govuk-link--no-visited-state">View</a></td>

</tr>
