<tr class="govuk-table__row">
    <td class="govuk-table__cell ">{{ participant.name }}</td>    
    <td class="govuk-table__cell">
        Name of ECT
    </td>
    <td class="govuk-table__cell">{{ isoDateFromDateInputs(participant['joiningYear'], participant['joiningMonth'], participant['joiningDay']) | dateWithYear }}</td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/schools/participants/{{ id }}" class="govuk-link govuk-link--no-visited-state">Manage</a></td>    
</tr>











