<tr class="govuk-table__row">
    <td class="govuk-table__cell ">{{ participant.name }}</td>
    <td class="govuk-table__cell">{{ isoDateFromDateInputs(participant['inductionYear'], participant['inductionMonth'], participant['inductionDay']) | dateWithYear }}</td>
    <td class="govuk-table__cell">
        {% if participant.mentor %}
            {{ participant.mentor }}
        {% else %}
            <a href="/schools/participants/{{ id }}/add/choose-mentor" class="govuk-link govuk-link--no-visited-state">Assign mentor</a>
        {% endif %}
    </td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/schools/participants/{{ id }}" class="govuk-link govuk-link--no-visited-state">View</a><!--{{ participant.startDate }}--></td>
</tr>
