<!-- Mentors that are eligible -->
                    <!-- No definition of year as we want to show ALL across the board -->
                    {% if hasAnyEligibleParticipants %}
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Training or eligible for training</h2>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <p>We’ve confirmed these people are eligible for this programme. They have access to their materials.</p>
                            </div>
                        </div>
                        <table class="govuk-table">
                            {% include "includes/dash_cip_head.html" %}
                            <tbody class="govuk-table__body">
                                {% for id, participant in data.participants %}
                                    <!-- Only those with a status eligible and type is mentor or sitmentor -->
                                    {% if participant.status == "Eligible" and ((participant.type == "mentor") or (participant.type == "sitMentor")) and participant.programme == "CIP" %}
                                        {% include "includes/dash_cip_row.html" %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}