<details class="govuk-details govuk-!-margin-top-7 govuk-!-margin-bottom-7" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Tell your ECTs and mentors about this use of their data
      </span>
    </summary>
    <div class="govuk-details__text">
        <p>You should let them know that we:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>use their personal data to arrange DfE funding</li>
            {% if data['inductionProgramme'] == "FIP" %}      
            <li>need to share this data with training providers and other organisations involved in ECT induction and ECF-based training</li>
            {% elif data['inductionProgramme'] == "CIP" %}
            <li>need to share this data with training materials suppliers and other organisations involved in ECT induction and ECF-based training</li>
            {% endif %}        
        </ul> 
        <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/privacy-policy">Read our privacy policy</a></p>
    </div>
  </details>