

                
                
                <div class="govuk-visually-hidden">
                {% if data.participants[id].role == "Transfer" %}
                    {{ govukInput({
                        classes: "govuk-!-width-two-thirds govuk-visually-hidden",
                        value: "TransferIn"
                    } | decorateFormAttributes(['participants', id, 'status']) ) }}

                
                {% else %}                    
                    
                    {% if data.participants[id].noQTS == "Yes" %}

                        {{ govukInput({
                            classes: "govuk-!-width-two-thirds govuk-visually-hidden",
                            value: "CheckingQTS"
                        } | decorateFormAttributes(['participants', id, 'status']) ) }}

                    
                    {% else %}

                        {{ govukInput({
                            classes: "govuk-!-width-two-thirds govuk-visually-hidden",
                            value: "Eligible"
                        } | decorateFormAttributes(['participants', id, 'status']) ) }}

                    {% endif %}
                
                {% endif %}
                
                </div>