<dl class="govuk-summary-list govuk-!-margin-bottom-3">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Length of induction</dt>
        <dd class="govuk-summary-list__value">2 years</dd>
        <dd class="govuk-summary-list__actions"></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">ECTs and mentors</dt>
        <dd class="govuk-summary-list__value">0</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="participants/?cohort=2022">Add<span class="govuk-visually-hidden"> ECTs or mentors</span></a></dd>
    </div>
    <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key">Induction tutor</dt>
        <dd class="govuk-summary-list__value">{{ data.sitName }}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="participants/induction-tutor/full-name?induction-tutor=Yes">Change<span class="govuk-visually-hidden"> your SIT</span></a></dd>
    </div>
    <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key">Programme</dt>
        <dd class="govuk-summary-list__value">Training provider, funded by the DfE</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
    </div>
    <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key">Training provider</dt>
        <dd class="govuk-summary-list__value">{{ data.leadProvider }}</dd>
        <dd class="govuk-summary-list__actions"></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Delivery partner</dt>
        <dd class="govuk-summary-list__value">{{ data.deliveryPartner }}</dd>
        <dd class="govuk-summary-list__actions"></dd>
    </div>


    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Appropriate body</dt>
        <dd class="govuk-summary-list__value">{{ data.abName }}</dd>
        <dd class="govuk-summary-list__actions">
        {% if data['abName'] %}

        {% else %}
            <a class="govuk-link" href="appropriate-body/type?setup=No">Add<span class="govuk-visually-hidden"> your appropriate body</span></a></dd>
        {% endif %}
        </dd>
    </div>
</dl>
