<h2 class="govuk-heading-m">Choose your training materials</h2>
                                <p>Read our guidance to <a href="x">compare materials</a>.</p>

                                <div class="govuk-inset-text">
                                    <p><a href="/schools/materials/which">Tell us which materials you'll use</a></p>
                                </div>
                                 {# <dl class="govuk-summary-list govuk-summary-list__row--no-actions govuk-!-margin-bottom-3">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Length of induction</dt>
                                        <dd class="govuk-summary-list__value">2 years</dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">ECTs and mentors</dt>
                                        <dd class="govuk-summary-list__value">0</dd>
                                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> ECTs or mentors</span></a></dd>
                                    </div>
                                    <div class="govuk-summary-list__row ">
                                        <dt class="govuk-summary-list__key">Induction tutor</dt>
                                        <dd class="govuk-summary-list__value">{{ data.sitName }}</dd>
                                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="participants/induction-tutor/full-name?induction-tutor=Yes">Change<span class="govuk-visually-hidden"> your SIT</span></a></dd>
                                    </div>
                                    <div class="govuk-summary-list__row ">
                                        <dt class="govuk-summary-list__key">Programme</dt>
                                        <dd class="govuk-summary-list__value">
                                            {% if data['newYear-why-changing'] == "nextYear-CIP" %}
                                                DfE accredited materials
                                            {% else %}
                                                Training provider, funded by the DfE
                                            {% endif %}
                                        </dd>
                                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
                                    </div>
                                    <div class="govuk-summary-list__row ">
                                        <dt class="govuk-summary-list__key">
                                            {% if data['newYear-why-changing'] == "nextYear-CIP" %}
                                                Materials supplier
                                            {% else %}
                                                Training provider
                                            {% endif %}
                                            </dt>
                                        <dd class="govuk-summary-list__value">
                                            {% if data['newYear-why-changing'] %}
                                                {% if data['newYear-why-changing'] == "changeLeadProvider" %}
                                                    To be confirmed
                                                {% elif data['newYear-why-changing'] == "changeDeliveryPartner" %}
                                                    {{ data.leadProvider }}
                                                {% elif data['newYear-why-changing'] == "nextYear-CIP" %}

                                                {% endif %}
                                            {% else %}
                                                {{ data.leadProvider }}
                                            {% endif %}
                                        </dd>
                                        {% if data['newYear-why-changing'] == "nextYear-CIP" %}
                                            <dd class="govuk-summary-list__actions">
                                            {% if data['accredited-materials'] %}
                                                <a class="govuk-link" href="materials/change">Change<span class="govuk-visually-hidden"> accredited materials</span></a>
                                            {% else %}
                                                <a class="govuk-link" href="materials/">Add<span class="govuk-visually-hidden"> accredited materials</span></a>
                                            {% endif %}
                                        {% endif %}
                                    </dd>
                                    </div>
                                    {% if data['newYear-why-changing'] != "nextYear-CIP" %}
                                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                                        <dt class="govuk-summary-list__key">Delivery partner</dt>
                                        <dd class="govuk-summary-list__value">
                                            {% if data['newYear-why-changing'] %}
                                                {% if data['newYear-why-changing'] == "changeLeadProvider" %}
                                                    To be confirmed
                                                {% elif data['newYear-why-changing'] == "changeDeliveryPartner" %}
                                                    To be confirmed
                                                {% endif %}
                                            {% else %}
                                                {{ data.deliveryPartner }}
                                            {% endif %}
                                        </dd>
                                    </div>
                                    {% endif %}
                                </dl> #}
