{% if not data['nextYear-accredited-materials'] %}
    <h2 class="govuk-heading-m">Choose your training materials</h2>

    {# <div class="govuk-inset-text"> #}
    <p><a href="/schools/materials/?cohort=2022" class="govuk-link govuk-link--no-visited-state">Tell us which materials you’ll use</a></p>
    {# </div> #}
    <p class="govuk-!-margin-bottom-5">Read our guidance to <a href="/choose-study-materials" target="_blank">compare materials (opens in new tab)</a>.</p>

    {# <p class="govuk-body">Not sure? <a href="../choose-study-materials" target="_blank"> See our guidance to compare your options (opens in new tab)</a>.</p>
    <p class="govuk-body">You'll be choosing materials for any new ECTs.</p>
    <p>They'll access these materials on our service, and usually complete their training programme over 2 years.</p> #}
{% endif %}



<dl class="govuk-summary-list govuk-summary-list__row--no-actions govuk-!-margin-bottom-3">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Length of induction</dt>
        <dd class="govuk-summary-list__value">2 years</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">ECTs and mentors</dt>
        <dd class="govuk-summary-list__value">0</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="participants/?cohort=2022">Add<span class="govuk-visually-hidden"> ECTs or mentors</span></a></dd>
    </div>
    <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key">Induction tutor</dt>
        <dd class="govuk-summary-list__value">{{ data.sitName }}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="participants/induction-tutor/full-name?induction-tutor=Yes">Change<span class="govuk-visually-hidden"> your SIT</span></a></dd>
    </div>
    <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key">Programme</dt>
        <dd class="govuk-summary-list__value">DfE accredited materials</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice?nextYear">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
    </div>
    <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key">Materials supplier</dt>
        <dd class="govuk-summary-list__value">
            {% if data['nextYear-accredited-materials'] %}
                {{ data['nextYear-accredited-materials'] }}
            {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if data['nextYear-accredited-materials'] %}
                <a class="govuk-link" href="materials/change?cohort=2022">Change<span class="govuk-visually-hidden"> accredited materials</span></a>
            {% else %}
                <a class="govuk-link" href="materials/?cohort=2022">Choose<span class="govuk-visually-hidden"> accredited materials</span></a>
            {% endif %}
        </dd>
    </div>
</dl>


