<!-- Transferring in CIP -->
{% if hasAnyTransferInParticipants %}
<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Transferring to your school</h2>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p>You’ve told us these people are joining you from another school. You need to arrange how they’ll continue their training.</p>
    </div>
</div>
<table class="govuk-table govuk-!-margin-bottom-9">
    {% include "includes/dash_cip_head_transferIn.html" %}
    <tbody class="govuk-table__body">
        {% for id, participant in data.participants %}
            {% if participant.status == "TransferIn" and participant.programme == "CIP" %}
                {% include "includes/dash_cip_row_transferIn.html" %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endif %}

<!-- Transferring out CIP -->
{% if hasAnyTransferOutParticipants %}
<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Transferring from your school</h2>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p>You’ve told us these people are moving to a new school. Their new school will arrange how they’ll continue their training.</p>
    </div>
</div>
<table class="govuk-table govuk-!-margin-bottom-9">
    {% include "includes/dash_cip_head.html" %}
    <tbody class="govuk-table__body">
        {% for id, participant in data.participants %}
            {% if participant.status == "TransferOut" and participant.programme == "CIP" %}
                {% include "includes/dash_cip_row_transferOut.html" %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endif %}

