{% if data['inductionProgrammeYearTwo'] != "DYO" %}
    {% if data['inductionProgrammeYearTwo'] != "temphold" %}
        {% if data['newYearChangeWhat'] != "switchDyo" %}

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Appropriate body</dt>
    <dd class="govuk-summary-list__value">{{ data.appropriateBodyName }}</dd>
    <dd class="govuk-summary-list__actions">
    {% if data['appropriateBodyName'] %}

    {% else %}
        <a class="govuk-link" href="appropriate-body/?appropriateBody=No">Add<span class="govuk-visually-hidden"> your appropriate body</span></a></dd>
    {% endif %}
    </dd>
</div>

    {% endif %}
    {% endif %}
{% endif %}
