<dl class="govuk-summary-list govuk-!-margin-bottom-3">
    <div class="govuk-summary-list__row ">
        <dt class="govuk-summary-list__key">Induction tutor</dt>
        <dd class="govuk-summary-list__value">{{ data.sitName }}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="participants/induction-tutor/full-name?induction-tutor=Yes">Change<span class="govuk-visually-hidden"> your SIT</span></a></dd>
    </div>
    <!-- We do not show ECTs or Mentors to DIY -->
    {% if data['newYearChangeWhat'] != "nextYear-DYO" %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">ECTs</dt>
            <dd class="govuk-summary-list__value">
                {% if data['inductionProgramme'] == "noECT" %}
                    0
                {% elif data['inductionProgramme'] == "CIP" %}
                    4
                {% elif data['inductionProgramme'] == "FIP" %}
                    9
                {% else %}
                    9
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="participants/#ect">Add or manage<span class="govuk-visually-hidden"> ECTs or mentors</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Mentors</dt>
            <dd class="govuk-summary-list__value">
                {% if data['inductionProgramme'] == "noECT" %}
                    0
                {% elif data['inductionProgramme'] == "CIP" %}
                    2
                {% elif data['inductionProgramme'] == "FIP" %}
                    4
                {% else %}
                    4
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="participants/#mentors">Add or manage<span class="govuk-visually-hidden"> ECTs or mentors</span></a>
            </dd>
        </div>
    {% endif %}
    <!-- // -->
</dl>
