<h2 class="govuk-heading-m">What to do next</h2>
                    <p>As soon as possible:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="https://support-for-early-career-teachers.education.gov.uk/" rel="noreferrer noopener" target="_blank">choose the DfE-accredited materials you want to use (opens in new tab)</a> - you may need to create an account to access the materials</li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/which">tell us which materials you want to use</a> to deliver your training</li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/appropriate-body/type?setup=No">tell us which appropriate body you’ve appointed</a> for your ECTs</li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/participants/?cohort=2022">add your ECTs and mentors</a> so we can check their eligibility for funding</li>
                    </ul>
                    <p><a href="../how-to-set-up-your-programme">Read our step by step guidance (opens in new tab)</a> if you need more help.</p>
                    <p class="govuk-link govuk-!-margin-top-7"><a href="../manage-your-training">Continue to manage your training</a></p>
