{% if data['abName'] %}

<h2 class="govuk-heading-m">What to do next</h2>
                    <p>As soon as possible:</p>
                    <ol class="govuk-list govuk-list--number govuk-list--spaced">
                        <li><a href="https://support-for-early-career-teachers.education.gov.uk/" rel="noreferrer noopener" target="_blank">Choose the DfE-accredited materials you want to use (opens in new tab)</a> - you may need to create an account to access the materials.</li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/which">Tell us which materials you want to use.</a></li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/participants/?cohort=2022">Add new ECTs and mentors to this service</a> so we can check their eligibility for DfE funding.</li>
                        <li>Use this service to tell us which mentor has been assigned to each ECT.</li>
                    </ol>
                    <p><a href="../how-to-set-up-your-programme">Read our step by step guidance (opens in new tab)</a> if you need more help.</p>
                    

{% else %}

                    <h2 class="govuk-heading-m">What to do next</h2>
                    <p>As soon as possible:</p>
                    <ol class="govuk-list govuk-list--number govuk-list--spaced">
                        <li><a href="https://support-for-early-career-teachers.education.gov.uk/" rel="noreferrer noopener" target="_blank">Choose the DfE-accredited materials you want to use (opens in new tab)</a> - you may need to create an account to access the materials.</li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/which">Tell us which materials you want to use.</a></li>
                        <li>Tell us which appropriate body you’ve appointed for your ECTs.</li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/participants/?cohort=2022">Add new ECTs and mentors to this service</a> so we can check their eligibility for DfE funding.</li>
                        <li>Use this service to tell us which mentor has been assigned to each ECT.</li>
                    </ol>
                    <p><a href="../how-to-set-up-your-programme">Read our step by step guidance (opens in new tab)</a> if you need more help.</p>
                    

{% endif %}
