<!-- Look into if we need this code anymore -->
    <!-- <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        {% if data['inductionProgramme'] == "FIP" %}
            {% if (data['estimated-ects'] === undefined) %}
            {% else %}
                {% set html %}<h3 class="govuk-notification-banner__heading">Estimated number of participants has been updated</h3>{% endset %}
                {{ govukNotificationBanner({
                    html: html,
                    type: 'success'
                }) }}
            {% endif %}
        {% endif %}
        </div>
    </div> -->
