<h3 class="govuk-heading-m">Tell us about any new ECTs starting training in the 2022 to 2023 academic year</h3>



{% if data['inductionProgramme'] == "FIP" %}
    <p>We need to know:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>whether or not your school expects any new ECTs</li>
        <li>if you plan to change how you run training for any new ECTs</li>
{% else %}
    <p>We need to know:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>whether or not your school expects any new ECTs</li>
        <li>which training programme you want to use for any new ECTs</li>
{% endif %}
</ul>

{# <p>It should only take a few minutes to get set up and you can change your answers later if you need to.</p> #}
{# Old version of content can revert to if need be #}
<p>You can change your answers later if you need to.</p>
<!-- <p class="govuk-!-margin-bottom-5">It should only take a few minutes to get set up. </p>
Not happy with including this. Some users may struggle and it's not best practice to suggest quick progress as standard. -->

<div class="govuk-inset-text">
    <p>Do not include ECTs who started their training in the 2021 to 2022 academic year.</p>
    <p>You can manage their training in the ‘2021 to 2022’ tab.</p>
</div>

<form action="/nominations/next-academic-year" method="post" >
    <input type="hidden" name="newYear-inductionProgramme" id="newYear-inductionProgramme" value="Started"  />
    {{ govukButton({
        text: "Start now"
    }) }}
</form>
