 <!-- Check to make sure they are on a programme that allows addition of ECT -->
                {% if ((data['inductionProgramme'] == "FIP") or (data['inductionProgramme'] == "CIP")) %}
                    {% if ((data['participant-1-added'] ) or ( data['participant-1-mentor-added'] ))%}
                        <p><a class="govuk-link govuk-link--no-visited-state" href="participants/?cohort=2021">Your early career teachers and mentors</a></p>
                    {% else %}
                        {% if not data['rolesexplanation'] %}
                            <p><a class="govuk-link govuk-link--no-visited-state" href="participants/what-each-person-does?cohort=2021">Add your early career teacher and mentor details</a></p>
                        {% else %}
                            <p><a class="govuk-link govuk-link--no-visited-state" href="participants/?cohort=2021">Add your early career teacher and mentor details</a></p>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <!-- // -->

                <dl class="govuk-summary-list govuk-!-margin-bottom-5">
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">Length of induction</dt>
                        <dd class="govuk-summary-list__value">2 years</dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">ECTs and mentors</dt>
                        <dd class="govuk-summary-list__value">12</dd>
                        <!--<dd class="govuk-summary-list__actions"><a class="govuk-link" href="participants/?cohort=2021">Manage<span class="govuk-visually-hidden"> ECTs or mentors</span></a></dd>-->
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Induction tutor</dt>
                        <dd class="govuk-summary-list__value">{{ data.sitName }}</dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="participants/induction-tutor/full-name?induction-tutor=Yes">Change<span class="govuk-visually-hidden"> your SIT</span></a></dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Programme</dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['inductionProgramme'] == "FIP" %}
                                Training provider, funded by the DfE
                            {% elif data['inductionProgramme'] == "CIP" %}
                                DfE accredited materials
                            {% elif data['inductionProgramme'] == "DYO" %}
                                Design and deliver your own programme based on the Early Career Framework (ECF)
                            {% elif data['inductionProgramme'] == "noECT" %}
                                Expecting no early career teachers
                            {% elif (data['inductionProgramme'] === "temphold") %}
                                You’ve chosen to use a training provider funded by your school
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
                    </div>

                    <!-- Using an approved training provider -->
                    {% if data['inductionProgramme'] == "FIP" %}
                        {% if data['fipPartnership'] == "Yes" %}
                        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        {% else %}
                        <div class="govuk-summary-list__row">
                        {% endif %}
                            <dt class="govuk-summary-list__key">Training provider</dt>
                            <dd class="govuk-summary-list__value">{% if data['fipPartnership'] == "Yes" %}{{ data.leadProvider }}{% endif %}</dd>
                            {% if data['fipPartnership'] != "Yes" %}
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="sign-up-to-training-provider">Sign up<span class="govuk-visually-hidden"> to a training provider</span></a>
                            </dd>
                            {% endif %}
                        </div>
                        {% if data['fipPartnership'] == "Yes" %}
                        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                            <dt class="govuk-summary-list__key">Delivery partner</dt>
                            <dd class="govuk-summary-list__value">{{ data.deliveryPartner }}</dd>
                        </div>
                        {% endif %}

                    <!-- Using DfE accredited materials -->
                    {% elif data['inductionProgramme'] == "CIP" %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Materials</dt>
                            <dd class="govuk-summary-list__value">{% if data['accredited-materials'] %}{{ data['accredited-materials'] }}{% endif %}</dd>
                            <dd class="govuk-summary-list__actions">
                                {% if data['accredited-materials'] %}
                                    <a class="govuk-link" href="materials/change">Change<span class="govuk-visually-hidden"> accredited materials</span></a>
                                {% else %}
                                    <a class="govuk-link" href="materials/">Add<span class="govuk-visually-hidden"> accredited materials</span></a>
                                {% endif %}
                            </dd>
                        </div>
                    {% endif %}
                </dl>

                {% include "includes/mt-message.html" %}
