{% if data['abName'] %}

    <h2 class="govuk-heading-m">What to do next</h2>
    <p>As soon as possible:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/participants/?cohort=2022">add the new ECTs and mentors</a> to this service so we can check their eligibility for DfE funding</li>
        <li>use this service to tell us which mentor has been assigned to each ECT</li>
    </ul>
    {# <p>You can tell us this information later if you do not know it yet.</p> #}

{% else %}
    <h2 class="govuk-heading-m">What to do next</h2>
    <p>As soon as possible:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/appropriate-body/type?setup=No">tell us which appropriate body you’ve appointed</a> for your ECTs</li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/participants/?cohort=2022">add the new ECTs and mentors</a> to this service so we can check their eligibility for DfE funding</li>
        <li>use this service to tell us which mentor has been assigned to each ECT</li>
    </ul>
    {# <p>You can tell us this information later if you do not know it yet.</p> #}

{% endif %}
