<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        {% if ((data['participantType'] == "ECT") or (data['participantType'] == "ECT-transfer" )) %}
            <!-- Has to remain split up otherwise it wont know which participant to show -->
            {% if data['participant-1-added'] %}
                {% if data['participant-2-know-trn'] == "Yes" %}
                    TRN
                {% else %}
                    TRN entered
                {% endif %}
            {% else %}
                {% if data['participant-1-know-trn'] == "Yes" %}
                    TRN
                {% else %}
                    TRN entered
                {% endif %}
            {% endif %}
        {% elif data['participantType'] == "mentor" %}
            {% if data['participant-1-mentor-added'] %}
                {% if data['participant-2-mentor-know-trn'] == "Yes" %}
                    TRN
                {% else %}
                    TRN entered
                {% endif %}
            {% else %}
                {% if data['participant-1-mentor-know-trn'] == "Yes" %}
                    TRN
                {% else %}
                    TRN entered
                {% endif %}
            {% endif %}
        {% endif %}
        </dt>
    <dd class="govuk-summary-list__value">
        {% if ((data['participantType'] == "ECT") or (data['participantType'] == "ECT-transfer" )) %}

            {% if data['participant-1-added'] %}
                {% if data['participant-2-know-trn'] == "Yes" %}
                    {{ data['participant-2-trn'] }}
                {% else %}
                    {{ data['participant-2-know-trn'] }}
                {% endif %}
            {% else %}
                {% if data['participant-1-know-trn'] == "Yes" %}
                    {{ data['participant-1-trn'] }}
                {% else %}
                    {{ data['participant-1-know-trn'] }}
                {% endif %}
            {% endif %}

            {% elif data['participantType'] == "mentor" %}
            {% if data['participant-1-mentor-added'] %}

                {% if data['participant-2-mentor-know-trn'] == "Yes" %}
                    {{ data['participant-2-mentor-trn'] }}
                {% else %}
                    {{ data['participant-2-mentor-know-trn'] }}
                {% endif %}

            {% else %}
                {% if data['participant-1-mentor-know-trn'] == "Yes" %}
                    {{ data['participant-1-mentor-trn'] }}
                {% else %}
                    {{ data['participant-1-mentor-know-trn'] }}
                {% endif %}

            {% endif %}
        {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">

        {% if ((data['participantType'] == "ECT") or (data['participantType'] == "ECT-transfer" )) %}
            <!-- Has to remain split up otherwise it wont know which participant to show -->
            {% if data['participant-1-added'] %}
                {% if data['participant-2-know-trn'] == "Yes" %}
                <a class="govuk-link" href="teacher-reference-number?cya-action=change-trn">Change<span class="govuk-visually-hidden"> teacher reference number</span></a></dd>
                {% else %}
                <a class="govuk-link" href="have-trn?cya-action=change-know-trn">Change<span class="govuk-visually-hidden"> teacher reference number</span></a></dd>
                {% endif %}
            {% else %}
                {% if data['participant-1-know-trn'] == "Yes" %}
                <a class="govuk-link" href="teacher-reference-number?cya-action=change-trn">Change<span class="govuk-visually-hidden"> teacher reference number</span></a></dd>
                {% else %}
                <a class="govuk-link" href="have-trn?cya-action=change-know-trn">Change<span class="govuk-visually-hidden"> teacher reference number</span></a></dd>
                {% endif %}
            {% endif %}
        {% elif data['participantType'] == "mentor" %}
            {% if data['participant-1-mentor-added'] %}
                {% if data['participant-2-mentor-know-trn'] == "Yes" %}
                <a class="govuk-link" href="teacher-reference-number?cya-action=change-trn">Change<span class="govuk-visually-hidden"> teacher reference number</span></a></dd>
                {% else %}
                <a class="govuk-link" href="have-trn?cya-action=change-know-trn">Change<span class="govuk-visually-hidden"> teacher reference number</span></a></dd>
                {% endif %}
            {% else %}
                {% if data['participant-1-mentor-know-trn'] == "Yes" %}
                <a class="govuk-link" href="teacher-reference-number?cya-action=change-trn">Change<span class="govuk-visually-hidden"> teacher reference number</span></a></dd>
                {% else %}
                <a class="govuk-link" href="have-trn?cya-action=change-know-trn">Change<span class="govuk-visually-hidden"> teacher reference number</span></a></dd>
                {% endif %}
            {% endif %}
        {% endif %}

</div>