<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        {% if participant.trnKnown == "No" %}
            TRN entered
        {% else %}
            TRN
        {% endif %}
    </dt>
    <dd class="govuk-summary-list__value">
        {% if participant.trnKnown == "No" %}
            {{ participant.trnKnown }}
        {% else %}
            {{ participant.trnNumber }}
        {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
        {% if participant.trnKnown == "No" %}
            <a class="govuk-link" href="know-trn?cya-action=change-know-trn">Change<span class="govuk-visually-hidden"> teacher reference number</span></a>
        {% endif %}
    </dd>
</div>
