<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">{% if ((data['participantType'] == "ECT") or (data['participantType'] == "ECT-transfer" )) %}Induction start{% elif data['participantType'] == "mentor" %}Mentoring start{% endif %}</dt>
    <dd class="govuk-summary-list__value">
        {% if ((data['participantType'] == "ECT") or (data['participantType'] == "ECT-transfer" )) %}
            {% if data['participant-1-added'] %}
                {{ data['participant-2-start-date'] }}
            {% else %}
                {{ data['participant-1-start-date'] }}
            {% endif %}
        {% elif data['participantType'] == "mentor" %}
            {% if data['participant-1-mentor-added'] %}
                {{ data['participant-2-mentor-start-date'] }}
            {% else %}
                {{ data['participant-1-mentor-start-date'] }}
            {% endif %}
        {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="start-date?cya-action=change-date">Change<span class="govuk-visually-hidden"> start date for induction programme</span></a></dd>
</div>