<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">                            
        {% if data['inductionProgramme'] == "FIP" %}    
            Training with                                                            
        {% elif data['inductionProgramme'] == "CIP" %}    
            Materials supplier                          
        {% endif %}
    </dt>
    <dd class="govuk-summary-list__value">
        <ul class="govuk-list">
        {% if data['inductionProgramme'] == "FIP" %}    
            <li>{{ data.leadProvider}}</li>
            <li>{{ data.deliveryPartner }}</li>
        {% elif data['inductionProgramme'] == "CIP" %}    
            <li>{{ data.leadProviderMaterials }}</li>        
        {% endif %}
        </ul>
    </dd>                        
</div>