<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Training with</dt>
    <dd class="govuk-summary-list__value">                  
        {% if participant.programmeCheck == "Yes" %}
            <ul class="govuk-list">
                <li>{{ data.leadProvider}}</li>
                <li>{{ data.deliveryPartner }}</li>
            </ul>
        {% else %}
            <ul class="govuk-list">
                {% if participant.programmeChange == "Yes" %}
                    <li>{{ data.leadProvider}}</li>
                {% else %}
                    <li>{{ participant.deliveryPartner }}</li>    
                {% endif %}
                <li>The lead provider will confirm the delivery partner</li>                                    
            </ul>
        {% endif %}            
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-check?cya-action=change-programme-check">Change<span class="govuk-visually-hidden"> name</span></a></dd>
</div>