
{% if participant.inductionDay %}
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Induction start</dt>
    <dd class="govuk-summary-list__value">
        {{ isoDateFromDateInputs(participant['inductionYear'], participant['inductionMonth'], participant['inductionDay']) | dateWithYear }}
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="induction-start-date">Change<span class="govuk-visually-hidden"> start date</span></a></dd>
</div>
{% endif %}
