<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        {% if data.participants[id].type == "ect" %}
            Start term
        {% elif data.participants[id].type == "Mentor" %}
            Start term
        {% endif %}
    </dt>
    <dd class="govuk-summary-list__value">
        {{ participant.startDate }}
    </dd>
    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="start-date?cya-action=change-date">Change<span class="govuk-visually-hidden"> start date for  {% if data.participants[id].type == "ect" %}induction programme{% elif data.participants[id].type == "Mentor" %}mentoring{% endif %}</span></a></dd>
</div>
