<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">                            
        {% if participant.programme == "FIP" %}    
            Training with                                                            
        {% elif participant.programme == "CIP" %}    
            Materials supplier                          
        {% endif %}
    </dt>
    <dd class="govuk-summary-list__value">
        <ul class="govuk-list">
        {% if participant.programme == "FIP" %}    
            <li>{{ data.leadProvider}}</li>
            <li>{{ data.deliveryPartner }}</li>
        {% elif participant.programme == "CIP" %}    
            <li>{{ data.leadProviderMaterials }}</li>        
        {% endif %}
        </ul>
    </dd>   
    <dd class="govuk-summary-list__actions"></dd>                     
</div>