{{ govukCheckboxes({
    classes: "govuk-checkboxes--small ",
    items: [
        { value: "differentLPandDP", text: "Training using different LP and DP" }
    ]
} | decorateFormAttributes(['participants', id, 'transferProgramme']) ) }}

{{ govukCheckboxes({
    classes: "govuk-checkboxes--small ",
    items: [
        { value: "differentDP", text: "Training using same LP and different DP" }
    ]
} | decorateFormAttributes(['participants', id, 'transferProgramme']) ) }}

{{ govukCheckboxes({
    classes: "govuk-checkboxes--small",
    items: [
        { value: "differentProgramme", text: "Training on different main programme"}
    ]
} | decorateFormAttributes(['participants', id, 'transferProgramme']) ) }}

{{ govukCheckboxes({
    classes: "govuk-checkboxes--small",
    items: [
        { value: "Yes", text: "Is mentor" }
    ]
} | decorateFormAttributes(['participants', id, 'isMentor']) ) }}

{{ govukCheckboxes({
classes: "govuk-checkboxes--small ",
items: [
    { value: "Yes", text: "ERO or mentor at multiple schools" }
]
} | decorateFormAttributes(['participants', id, 'eroMultiMentor']) ) }}