<h2 class="govuk-heading-m">What happens next</h2>
<p>You’ll receive a link to your training materials within the next 24 hours. If you do not receive an email from us, check your spam or junk folder.</p>
<p>Your school should give you adequate time to conduct mentoring sessions with ECTs.</p>

<h2 class="govuk-heading-m">Where to find help and information</h2>
            <p>If you have any questions about how ECF-based training and mentoring works, ask your school’s induction tutor for guidance.</p>
            <p>You can also <a href="https://manage-training-for-early-career-teachers.education.gov.uk/pages/mentor-additional-information" target="_blank">read our guidance for mentors (opens in new tab)</a>.</p>                        