<h2 class="govuk-heading-m">What happens next</h2>
            <p>You’re now registered for DfE-funded mentor training to support ECTs.</p>
            <p>We’ll pass your information to your school’s training provider. They’ll contact you directly with more information about your programme.</p>
            <p>You should receive:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>ECF-based mentor training</li>
                <li>adequate time to take part in training</li>                
            </ul>

            <h2 class="govuk-heading-m">Where to find help and information</h2>
            <p>If you have any questions about how ECF-based training and mentoring works, ask your school’s induction tutor for guidance.</p>
            <p>You can also <a href="https://manage-training-for-early-career-teachers.education.gov.uk/pages/mentor-additional-information" target="_blank">read our guidance for mentors (opens in new tab)</a>.</p>                        