<h2 class="govuk-heading-m">Eligibility</h2>

<p>Their Teaching Regulation Agency record shows that they do not need to complete a statutory induction, or take part in ECF-based training.</p>
<p>This is likely to be because of the way in which DfE recognised their qualified teacher status (QTS).</p>
<p>If you believe this information is wrong, <a href="#">contact our support team</a>.</p>
<p>Read <a href="https://www.gov.uk/government/publications/induction-for-early-career-teachers-england" target="_blank">Annex A of the Induction for early career teachers guidance (opens in a new tab)</a> to find out who’s exempt.</p>

<h2 class="govuk-heading-m">What happens next</h2>  
<p>You do not need to take any further action.</p>