<h2 class="govuk-heading-m">Eligibility for funding</h2>
<p class="govuk-body">Our checks have confirmed this person is eligible for funded ECF-based training, and time off timetable for training and mentoring.</p>
<p class="govuk-body">{{ participant.name }} does not need to provide us with any more information.</p>

<h2 class="govuk-heading-m">What happens next</h2>
<!-- Different material/training content for each programme -->
{% if data['inductionProgramme'] == "FIP" %}
    <p class="govuk-body">We’ll pass {{ participant.name }}’s information to their training provider.</p>
{% elif data['inductionProgramme'] == "CIP" %}
    <p class="govuk-body">They’ll receive a link to their training materials within the next 24 hours. If they do not receive anything, they should check their spam or junk folder.</p>
{% endif %}