

<h2 class="govuk-heading-m">Eligibility</h2>
<p>We could not find your record in our database. This may be because the information you entered does not match your Teaching Regulation Agency record. </p>
<p>We may contact you for more information to help us confirm if you’re eligible for funded mentor training.</p>
<p>Your school’s induction tutor can sign in to this service to see if things have changed.</p>

<h2 class="govuk-heading-m">What happens next</h2>
<p>We’ll pass your information to your school’s training provider. This means you’ll be ready to start once we confirm your eligibility. </p>
<p>They’ll contact you directly with more information about your programme.</p>
<p>Once we’ve confirmed you’re eligible, you should receive:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>ECF-based mentor training</li>
    <li>adequate time to take part in training</li>
</ul>

<h2 class="govuk-heading-m">Where to find help and information</h2>
<p>You can <a href="https://manage-training-for-early-career-teachers.education.gov" target="_blank">read our guidance for mentors (link opens in a new tab)</a></p>