<h2 class="govuk-heading-m">What happens next</h2>

{% if data['inductionProgramme'] == "FIP" %}                    
<p>You’re now registered for DfE-funded mentor training to support ECTs.</p>
<p>We’ll pass your information to your school’s training provider. They’ll contact you directly with more information about your programme.</p>
<p>You should receive:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>ECF-based mentor training</li>
    <li>adequate time to take part in training</li>
</ul>

{% elif data['inductionProgramme'] == "CIP" %}
<p>You’ll receive a link to your training materials within the next 24 hours. If you do not receive an email from us, check your spam or junk folder.</p>
<p>Your school should give you adequate time to conduct mentoring sessions with ECTs.</p>
{% endif %}

<h2 class="govuk-heading-m">Where to find help and information</h2>
<p>You can <a href="https://manage-training-for-early-career-teachers.education.gov.uk/pages/mentor-additional-information" target="_blank" >read our guidance for mentors (link opens in a new tab)</a>.</p>
