<h2 class="govuk-heading-m">Eligibility for funding</h2>
<p class="govuk-body">Our checks show {{participant.name}} formally started or completed their statutory induction before 1 September 2021.</p>
<p class="govuk-body">If that date is correct, they’re not eligible for the new DfE-funded training.</p>
<p><a href="https://www.gov.uk/government/publications/induction-for-newly-qualified-teachers-nqts" target="_blank">Read statutory guidance for teachers who started their induction before 1 September 2021 (opens in a new tab)</a></p>

<h2 class="govuk-heading-m">If that start date is incorrect</h2>
<p>Contact your appropriate body and ask them to update the TRA records with the correct date. This should be the date their induction training formally began, which may be different to their contract start date.</p>
<p>Your appropriate body should let us know when the update has been made so that we can run our eligibility checks again.</p>