<h2 class="govuk-heading-m">Eligibility for funding</h2>    
<p>Our checks show {{ participant.name }} is registered for DfE-funded training at another school.</p>
<p>This means:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>they’re ready to mentor ECTs at your school</li>
    <li>they do not need to join your school’s training programme with your provider</li>
    <li>they should be given adequate time to conduct mentoring sessions with ECTs</li>

</ul>

<p>{{ participant.name }} does not need to provide us with any more information.</p>