<thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Name</th>
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Induction start date</th>
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Mentoring</th>
        <!-- <th class="govuk-table__header govuk-!-width-one-third" scope="col">Materials supplier</th> -->
        <th class="govuk-table__header govuk-table__header--numeric" scope="col"></th>
    </tr>
</thead>
