<tr class="govuk-table__row">
    <td class="govuk-table__cell "><a href="/prelive/schools/participants/{{ id }}" class="govuk-link govuk-link--no-visited-state">{{ participant.name }}</a></td>

    <td class="govuk-table__cell">
        {% if participant.role == "ECT" %}
            {% if participant.mentor %}
                {{ participant.mentor }}
            {% else %}
                <a href="/prelive/schools/participants/{{ id }}/add/choose-mentor" class="govuk-link govuk-link--no-visited-state">Assign mentor</a>
            {% endif %}
        {% else %}
            Name of ECT
        {% endif %}
    </td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/prelive/schools/participants/{{ id }}" class="govuk-link govuk-link--no-visited-state">Manage</a></td>
</tr>
