 <!-- {% if data['status'] == "Remind" %}

        <div class="govuk-inset-text">
          <p><span class="govuk-!-font-weight-bold">Status:</span> Contacted for information</p>
          <p>We’ve asked this person to use our service to provide some information. We need this to check their eligibility with the Teaching Regulation Agency.</p>
          <p>We suggest you remind them to provide this.</p>
        </div>

      {% elif data['status'] == "Email" %}

        <div class="govuk-inset-text">
          <p><span class="govuk-!-font-weight-bold">Status:</span> Check email address</p>
          <p>We could not send an email to this address. Please check it’s correct.</p>
        </div>

      {% elif data['status'] == "Checking" %}

        <div class="govuk-inset-text">
          {% if data['inductionProgramme'] == "FIP" %}

            {% if data['providerPartnership'] == "Yes" %}
              <p><span class="govuk-!-font-weight-bold">Status:</span> DfE checking eligibility</p>
              <p>We’re checking these people’s details with the Teaching Regulation Agency. We’ll confirm if they’re eligible for this programme soon.</p>
            {% else %}
              <p><span class="govuk-!-font-weight-bold">Status:</span> DfE checking eligibility</p>
              <p>We’re checking these people’s details with the Teaching Regulation Agency. We’ll confirm if they’re eligible for this programme soon.</p>
            {% endif %}

          {% elif data['inductionProgramme'] == "CIP" %}
            <p>No action required.</p>
          {% endif %}
        </div>

      {% elif data['status'] == "Start" %}

        <div class="govuk-inset-text">
        {% if data['inductionProgramme'] == "FIP" %}

          {% if data['providerPartnership'] == "Yes" %}
            <p><span class="govuk-!-font-weight-bold">Status:</span> Eligible to start</p>
            <p>We’ve confirmed this person is eligible for this programme. Your training provider will contact them directly.</p>
          {% else %}
            <p><span class="govuk-!-font-weight-bold">Status:</span> Eligible to start</p>
            <p>We’ve confirmed this person is eligible for this programme. Once you choose a training provider, they’ll contact this person directly.</p>
          {% endif %}

        {% elif data['inductionProgramme'] == "CIP" %}
          <p><span class="govuk-!-font-weight-bold">Status:</span> Eligible to start</p>
          <p>We’ve confirmed this person is eligible for this programme. They have access to their materials.</p>
        {% endif %}
        </div>


      {% elif data['status'] == "NotEligible" %}

        {% if data['inductionProgramme'] == "FIP" %}

          {% if data['ParticipantType'] == "Mentor" %}

            {% if data['noteligible-status'] == "AlreadyFunded" %}

            <div class="govuk-inset-text">
              <p><span class="govuk-!-font-weight-bold">Status:</span> Already received funded mentor training </p>
              <p>Our checks show this person has already received mentor training as part of the early roll-out of the early career framework (ECF) reforms. They’re ready to mentor ECTs.</p>
            </div>

            {% elif data['noteligible-status'] == "NotEligible" %}
            <div class="govuk-inset-text">
              <p><span class="govuk-!-font-weight-bold">Status:</span> Not eligible</p>
              <p>This person is not eligible for this programme.</p>
            </div>

            {% elif data['noteligible-status'] == "Checking" %}
            <div class="govuk-inset-text">
              <p><span class="govuk-!-font-weight-bold">Status:</span> Checking qualified teacher status </p>
              <p>Our checks show this person does not have qualified teacher status (QTS).</p>
              <p>They can begin mentoring, but they will not receive funded training if they do not have QTS or QTLS.</p>
            </div>
            {% endif %}

          {% else %}

            {% if data['noteligible-status'] == "InductionStarted" %}
            <div class="govuk-inset-text">
              <p><span class="govuk-!-font-weight-bold">Status:</span> Not eligible: induction already started </p>
              <p>This is because they started or completed their statutory induction before 1 September 2021.</p>
            </div>

            {% elif data['noteligible-status'] == "NotEligible" %}
            <div class="govuk-inset-text">
              <p><span class="govuk-!-font-weight-bold">Status:</span> Not eligible</p>
              <p>This person is not eligible for this programme.</p>
            </div>

            {% elif data['noteligible-status'] == "Checking" %}
            <div class="govuk-inset-text">
              <p><span class="govuk-!-font-weight-bold">Status:</span> Checking qualified teacher status </p>
              <p>Our checks show this person does not have qualified teacher status (QTS). Their status should be up to date if they completed their ITT in 2021.</p>
              <p>If this person has not completed their ITT, <a href="mailto:continuing-professional-development@digital.education.gov.uk">contact us</a>.</p>
            </div>
            {% endif %}

          {% endif %}



        {% elif data['inductionProgramme'] == "CIP" %}

          <div class="govuk-inset-text">
            <p><span class="govuk-!-font-weight-bold">Status:</span> Not eligible</p>
            <p>This person is not eligible for this programme.</p>
          </div>

          <div class="govuk-inset-text">
            <p><span class="govuk-!-font-weight-bold">Status:</span> Eligible to start</p>
            <p>We’ve confirmed this person is eligible for this programme. They have access to their training materials.</p>
          </div>

        {% endif %}



      {% else %}

        <p>No action required.</p>

      {% endif %} -->
