<div class="govuk-visually-hidden">
                
    {% if data['inductionProgrammeYearTwo'] == "CIP" %}
        {{ govukInput({
            value: "CIP"
        } | decorateFormAttributes(['participants', id, 'programme']) ) }}

    {% elif data['inductionProgramme'] == "CIP" %}

        {{ govukInput({
            value: "CIP"
        } | decorateFormAttributes(['participants', id, 'programme']) ) }}

    {% else %}

        {{ govukInput({
            value: "FIP"
        } | decorateFormAttributes(['participants', id, 'programme']) ) }}

    {% endif %}
</div>