<div class="govuk-grid-column-one-third grey govuk-!-padding-top-2 govuk-!-margin-bottom-9">
    <p><span class="govuk-!-font-weight-bold">Induction tutor</span>
    <br>{{ data.sitName }}</p>
    <p><span class="govuk-!-font-weight-bold">Contact email</span>
    <br>{{ data.sitEmail }}</p>
    <ul class="govuk-list">
        
        <li><a class="govuk-link govuk-link--no-visited-state" href="#">Assign yourself as a mentor</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="#">Manage</a></li>
        {# <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/participants/induction-tutor/full-name?induction-tutor=Yes">Change details</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="add/yourself-as-a-mentor?participantType=sitMentor">Assign yourself as a mentor</a></li> #}
    </ul>
</div>
