<tr class="govuk-table__row">
    <td class="govuk-table__cell "><a href="/prelive/support/participants/{{ id }}" class="govuk-link govuk-link--no-visited-state">{{ participant.name }}</a></td>
    <td class="govuk-table__cell">{{ participant.trnNumber }}</td>
    <td class="govuk-table__cell">Mentor</td>
    <td class="govuk-table__cell">
            {% if data.participants[id].usingCurrentTraining == "Yes" %}
                {{ data.leadProvider}}
            {# Not using schools training #}
            {% elif data.participants[id].usingCurrentTraining == "No" %}
            {# Using schools provider but not delivery partner #}
                {% if data.participants[id].usingCurrentProvider == "Yes" %}
                    {{ data.leadProvider}}
                {% elif data.participants[id].usingCurrentProvider == "No" %}
                    {# Using with new provider #}
                    {{ participant.newLeadProvider }}
                {% endif %}
            {% endif %}
    </td>
    <td class="govuk-table__cell">
         {% if data.participants[id].usingCurrentTraining == "Yes" %}
                {{ data.deliveryPartner }}
            {# Not using schools training #}
            {% elif data.participants[id].usingCurrentTraining == "No" %}
                {# Using schools provider but not delivery partner #}
                {% if data.participants[id].usingCurrentProvider == "Yes" %}
                    To be confirmed
                {# Not using schools provider #}
                {% elif data.participants[id].usingCurrentProvider == "No" %}
                    {# Partnership with new provider #}
                    To be confirmed
                {% endif %}
            {% endif %}
    </td>
    <!-- <td class="govuk-table__cell">{{ participant.startDate }}</td> -->
</tr>


