{% extends "layout.html" %}

{% set pageHeading = "What’s the full name of the new induction tutor?" %}
{% set pageSection = "Acme Primary School" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">
      
      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			  
			<!-- {% if data['linkaction'] == "change-induction-name" %}  
      		<form class="form" action="check-your-answers" method="post" class="govuk-!-margin-bottom-8">
			{% else %} -->
			<form class="form" action="email-address" method="post" class="govuk-!-margin-bottom-8">
			<!-- {% endif %} -->

				{{ govukInput({
					label: {
						html: 'Full name',
						classes: "govuk-visually-hidden"
					},
					classes: "govuk-!-width-two-thirds",
					id: "replace-induction-tutor-fullname",
					name: "replace-induction-tutor-fullname",
					autocomplete: "name",
					spellcheck: false,
					value: data['replace-induction-tutor-fullname'] 
				}) }}

				{{ govukButton({
          			text: "Continue"
        		}) }}
      	
			</form>

		</div>
  </div>

  {% endblock %}