This is a page for default macro information should we need it for user research.

{% macro sprintNo() %}
sprint-19
{% endmacro%}

{% macro schoolName() %}
Hallow CofE Primary School
{% endmacro%}

{# User details #}
{% macro userFullName() %}
Faye Coaker
{% endmacro%}

{% macro userFirstName() %}
Faye
{% endmacro%}

{% macro leadProvider() %}
Use the DfE accredited materials
{% endmacro%}

{% macro deliveryPartner() %}
Central London Teaching School Hub
{% endmacro%}

{% macro userEmailAddress() %}
makinnayajo2.206@lgflmail.org
{% endmacro%}

{% macro linkExpire() %}
10 September 2021
{% endmacro%}