This is a page for default macro information should we need it for user research.

{% macro sprintNo() %}
sprint-20
{% endmacro%}

{% macro schoolName() %}
Exeter Royal Academy for Deaf Education
{% endmacro%}

{# User details #}
{% macro userFullName() %}
Karma Stocks
{% endmacro%}

{% macro userFirstName() %}
Karma
{% endmacro%}

{% macro leadProvider() %}
Teach First
{% endmacro%}

{% macro deliveryPartner() %}
Colyton Teaching School Hub
{% endmacro%}

{% macro userEmailAddress() %}
kstocks@exeterdeafacademy.ac.uk
{% endmacro%}

{% macro linkExpire() %}
14 September 2021
{% endmacro%}