This is a page for default macro information should we need it for user research.

{% macro sprintNo() %}
sprint-18
{% endmacro%}

{% macro schoolName() %}
Acme Primary School
{% endmacro%}

{# User details #}
{% macro userFullName() %}
Hugo Furst
{% endmacro%}

{% macro userFirstName() %}
Hugo
{% endmacro%}

{% macro leadProvider() %}
Teach First
{% endmacro%}

{% macro deliveryPartner() %}
SFET Teaching School Hub
{% endmacro%}

{% macro userEmailAddress() %}
david.webster@test.fake-school.gov.uk
{% endmacro%}