{% extends "layout.html" %}

{% if not data['link-action'] %}
    {% set showBackLink = false %}
{% endif %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Contacted user list" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            

                <!-- Contacted ECTs -->
                {% if ((data['inductionProgramme'] == "FIP") or (data['NewYearInductionProgramme'] == "FIP")) %}
                    <!-- Check to see if there are any ECT that have status contacted -->

                    
                    {% if hasAnyContactedParticipants %}
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Contacted for information</h2>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <p>We need this to check their eligibility with the Teaching Regulation Agency.</p>
                            </div>
                        </div>
                        <table class="govuk-table govuk-!-margin-bottom-9">
                            {% include "includes/dash_fip_head.html" %}
                            <tbody class="govuk-table__body">
                                {% for id, participant in data.participants %}
                                    {% if participant.status == "Contacted" and participant.type == "ect" and participant.programme == "FIP" %}
                                        {% include "includes/dash_fip_row.html" %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                
                {% elif ((data['inductionProgramme'] == "CIP") or (data['NewYearInductionProgramme'] == "CIP")) %}

                    {% if hasAnyContactedParticipantsCIP %}
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Contacted for information</h2>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <p>We need this to check their eligibility with the Teaching Regulation Agency.</p>
                            </div>
                        </div>
                        <table class="govuk-table govuk-!-margin-bottom-9">
                            {% include "includes/dash_cip_head.html" %}
                            <tbody class="govuk-table__body">
                                {% for id, participant in data.participants %}
                                    {% if participant.status == "Contacted" and participant.type == "ect" and participant.programme == "CIP" %}
                                        {% include "includes/dash_cip_row.html" %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                {% endif %}

                 {% if ((data['inductionProgramme'] == "FIP") or (data['NewYearInductionProgramme'] == "FIP")) %}
                    <!-- Check to see if there are any mentors that have status Contacted -->
                    {% if hasAnyContactedMentorParticipants %}
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Contacted for information</h2>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <p>We need this to check their eligibility with the Teaching Regulation Agency.</p>
                            </div>
                        </div>
                        <table class="govuk-table govuk-!-margin-bottom-9">
                            {% include "includes/dash_fip_head.html" %}
                            <tbody class="govuk-table__body">
                                {% for id, participant in data.participants %}
                                    {% if participant.status == "Contacted" and participant.type == "mentor" and participant.programme == "FIP" %}
                                        {% include "includes/dash_fip_row.html" %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                {% elif data['inductionProgramme'] == "CIP" %}
                    {% if hasAnyContactedParticipants %}

                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Contacted for information</h2>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <p>We need this to check their eligibility with the Teaching Regulation Agency.</p>
                            </div>
                        </div>
                        <table class="govuk-table govuk-!-margin-bottom-9">
                            {% include "includes/dash_cip_head.html" %}
                            <tbody class="govuk-table__body">
                                {% for id, participant in data.participants %}
                                    {% if participant.status == "Contacted" and participant.type == "mentor" and participant.programme == "CIP" %}
                                        {% include "includes/dash_cip_row.html" %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endif %}



                <!-- DfE Checking ECTs -->
                {% if ((data['inductionProgramme'] == "FIP") or (data['NewYearInductionProgramme'] == "FIP")) %}
                    <!-- Check to see if there are any ECT that have status Checking -->
                    {% if hasAnyCheckingParticipants %}
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">DfE checking eligibility</h2>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <p>We’re checking these people’s details with the Teaching Regulation Agency. We’ll confirm if they’re eligible for this programme soon.</p>
                            </div>
                        </div>
                        <table class="govuk-table govuk-!-margin-bottom-9">
                            {% include "includes/dash_fip_head.html" %}
                            <tbody class="govuk-table__body">
                                {% for id, participant in data.participants %}
                                    {% if participant.status == "Checking" and participant.type == "ect" and participant.programme == "FIP" %}
                                        {% include "includes/dash_fip_row.html" %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% elif ((data['inductionProgramme'] == "CIP") or (data['NewYearInductionProgramme'] == "CIP")) %}
                    {% if hasAnyCheckingParticipantsCIP %}
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">DfE checking eligibility</h2>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <p>We’re checking these people’s details with the Teaching Regulation Agency. We’ll confirm if they’re eligible for this programme soon.</p>
                            </div>
                        </div>
                        <table class="govuk-table govuk-!-margin-bottom-9">
                            {% include "includes/dash_cip_head.html" %}
                            <tbody class="govuk-table__body">
                                {% for id, participant in data.participants %}
                                    {% if participant.status == "Checking" and participant.type == "ect" and participant.programme == "CIP" %}
                                        {% include "includes/dash_cip_row.html" %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endif %}

                <!-- Checking QTS -->
                {% if ((data['inductionProgramme'] == "FIP") or (data['NewYearInductionProgramme'] == "FIP")) %}
                    <!-- Check to see if there are any ECT that have status CheckingQTS -->
                    {% if hasAnyCheckingQTSParticipants %}
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Checking QTS</h2>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <p>These ECTs do not have qualified teacher status (QTS) yet. They need this to be eligible for funded training. We’ll keep checking their status and notify you if something changes.</p>
                            </div>
                        </div>
                        <table class="govuk-table govuk-!-margin-bottom-9">
                            {% include "includes/dash_fip_head.html" %}
                            <tbody class="govuk-table__body">
                                {% for id, participant in data.participants %}
                                    {% if participant.status == "CheckingQTS" and participant.type == "ect" and participant.programme == "FIP" %}
                                        {% include "includes/dash_fip_row.html" %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% elif ((data['inductionProgramme'] == "CIP") or (data['NewYearInductionProgramme'] == "CIP")) %}
                    {% if hasAnyCheckingQTSParticipantsCIP %}
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Checking QTS</h2>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <p>These ECTs do not have qualified teacher status (QTS) yet. They need this to be eligible for this programme. We’ll keep checking their status and notify you if something changes.</p>
                            </div>
                        </div>
                        <table class="govuk-table govuk-!-margin-bottom-9">
                            {% include "includes/dash_cip_head.html" %}
                            <tbody class="govuk-table__body">
                                {% for id, participant in data.participants %}
                                    {% if participant.status == "CheckingQTS" and participant.type == "ect" and participant.programme == "CIP" %}
                                        {% include "includes/dash_cip_row.html" %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endif %}


                <!-- Checking QTS -->
                {% if ((data['inductionProgramme'] == "FIP") or (data['NewYearInductionProgramme'] == "FIP")) %}
                    <!-- Check to see if there are any mentors that have status CheckingQTS -->
                    {% if hasAnyCheckingQTSMentorParticipants %}
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Checking QTS</h2>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <p>These ECTs do not have qualified teacher status (QTS) yet. They need this to be eligible for this programme. We’ll keep checking their status and notify you if something changes.</p>
                            </div>
                        </div>
                        <table class="govuk-table govuk-!-margin-bottom-9">
                            {% include "includes/dash_fip_head.html" %}
                            <tbody class="govuk-table__body">
                                {% for id, participant in data.participants %}
                                    {% if participant.status == "CheckingQTS" and participant.type == "mentor" and participant.programme == "FIP" %}
                                        {% include "includes/dash_fip_row.html" %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% elif ((data['inductionProgramme'] == "CIP") or (data['NewYearInductionProgramme'] == "CIP")) %}
                    {% if hasAnyCheckingQTSMentorParticipantsCIP %}
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Checking QTS</h2>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <p>These ECTs do not have qualified teacher status (QTS) yet. They need this to be eligible for this programme. We’ll keep checking their status and notify you if something changes.</p>
                            </div>
                        </div>
                        <table class="govuk-table govuk-!-margin-bottom-9">
                            {% include "includes/dash_cip_head.html" %}
                            <tbody class="govuk-table__body">
                                {% for id, participant in data.participants %}
                                    {% if participant.status == "CheckingQTS" and participant.type == "mentor" and participant.programme == "CIP" %}
                                        {% include "includes/dash_cip_row.html" %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endif %}

            

            
          
                


            

        </div>
    </div>
{% endblock %}
