{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = '' + participant.name + '' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                <!-- Name -->
                <div class="govuk-summary-list__row {% if data['status'] == "Withdrawn" %} govuk-summary-list__row--no-actions {% endif %}">
                    <dt class="govuk-summary-list__key">Name</dt>
                    <dd class="govuk-summary-list__value">{{ participant.name }}</dd>
                    {% if data['status'] != "Withdrawn" %}
                    <dd class="govuk-summary-list__actions">
                        {% if data['induction-tutor'] == "Yes" %}
                            <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> name</span></a>
                        {% else %}
                            <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> name</span></a>
                            <!-- <a class="govuk-link" href="change/not-editable">Edit<span class="govuk-visually-hidden"> name</span></a>                             -->
                        {% endif %}
                    </dd>
                    {% endif %}
                </div>

                <!-- TRN -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{% if participant.trnKnown == "No" %}TRN entered{% else %}TRN{% endif %}</dt>
                    <dd class="govuk-summary-list__value">
                        {% if participant.trnKnown == "No" %}
                            {{ participant.trnKnown }}
                        {% else %}
                            {{ participant.trnNumber }}
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if participant.trnKnown == "No" %}
                            <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> teacher reference number</span></a></dd>
                        {% else %}
                            <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> teacher reference number</span></a></dd>
                        {% endif %}
                    </dd>
                </div>

                <!-- DOB -->
                {% if participant.dobDay %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Date of birth</dt>
                    <dd class="govuk-summary-list__value">
                        {{ isoDateFromDateInputs(participant['dobYear'], participant['dobMonth'], participant['dobDay']) | dateWithYear }}
                    </dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> date of birth</span></a></dd>
                </div>
                {% endif %}

                <!-- Joining date -->
                {% if participant.joiningDay %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Joining date</dt>
                    <dd class="govuk-summary-list__value">
                        {{ isoDateFromDateInputs(participant['joiningYear'], participant['joiningMonth'], participant['joiningDay']) | dateWithYear }}
                    </dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> joining date</span></a></dd>
                </div>
                {% endif %}

                <!-- Email -->
                {% if participant.email %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Email address</dt>
                    <dd class="govuk-summary-list__value">{{ participant.email }}</dd>
                    {% if data['status'] != "Withdrawn" %}
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> email address</span></a></dd>
                    {% endif %}
                </div>
                {% endif %}

                <!-- Role -->
                <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                    <dt class="govuk-summary-list__key">Role</dt>
                    <dd class="govuk-summary-list__value">
                        {% if participant.type == "ect" or participant.type == "ectTransfer" %}ECT
                        {% elif participant.type == "mentor" or participant.type == "mentorTransfer" %}Mentor{% endif %}
                    </dd>
                </div>

                <!-- Start date -->
                {% if participant.startDate %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if data.participants[id].type == "ect" %}
                            Induction start
                        {% elif data.participants[id].type == "mentor" %}
                            Mentoring start
                        {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ participant.startDate }}
                    </dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> start date for induction programme</span></a></dd>
                </div>
                {% endif %}

                <!-- Mentor -->
                {% if participant.mentor %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Mentor</dt>
                    <dd class="govuk-summary-list__value">{{ participant.mentor }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> mentor</span></a></dd>
                </div>
                {% endif %}

                <!-- Status -->
                {% if data['induction-tutor'] != "Yes" %}
                <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                    <dt class="govuk-summary-list__key">Status</dt>
                    <dd class="govuk-summary-list__value">


                        {% if data['status'] == "TransferringOut" %}

                            <p>Content for highlighting they are moving FROM the school but still eligible for programme.</p>

                        {% elif data['status'] == "TransferringIn" %}

                            <p>Content for highlighting they are moving TO this school and are eligible for programme.</p>

                        {% elif data['status'] == "Remind" %}

                            <p>We’ve asked this person to use our service to provide some information. We need this to check their eligibility with the Teaching Regulation Agency.</p>
                            <p>We suggest you remind them to provide this.</p>

                        {% elif data['status'] == "Email" %}

                        {% elif data['status'] == "EmailNotSent" %}

                            <p>We’ll ask this person to use our service to provide some information. We need this to check their eligibility with the Teaching Regulation Agency.</p>

                        {% elif data['status'] == "noQTS" %}

                            <p>This ECT does not have qualified teacher status (QTS) yet. They need this to be eligible for this programme. We’ll keep checking their status and notify you if something changes. </p>

                        {% elif data['status'] == "Checking" %}

                            {% if data['inductionProgramme'] == "FIP" %}
                                {% if data['fipPartnership'] == "Yes" %}
                                    <p>We’re checking these people’s details with the Teaching Regulation Agency. We’ll confirm if they’re eligible for this programme soon.</p>
                                {% else %}
                                    <p>We’re checking these people’s details with the Teaching Regulation Agency. We’ll confirm if they’re eligible for this programme soon.</p>
                                {% endif %}
                            {% elif data['inductionProgramme'] == "CIP" %}
                                <p>No action required.</p>
                            {% endif %}

                        {% elif data['status'] == "Start" %}

                            {% if data['inductionProgramme'] == "FIP" %}
                                {% if data['fipPartnership'] == "Yes" %}
                                    <p>We’ve confirmed this person is eligible for this programme. Your training provider will contact them directly.</p>
                                {% else %}
                                    <p>We’ve confirmed this person is eligible for this programme. Once you choose a training provider, they’ll contact this person directly.</p>
                                {% endif %}
                            {% elif data['inductionProgramme'] == "CIP" %}
                                <p>We’ve confirmed this person is eligible for this programme. They have access to their materials.</p>
                            {% endif %}

                        {% elif data['status'] == "NotEligible" %}

                            {% if data['inductionProgramme'] == "FIP" %}
                                {% if data['ParticipantType'] == "mentor" %}
                                    {% if data['noteligible-status'] == "AlreadyFunded" %}
                                        <p>This person is ready to mentor ECTs this year. Our checks show they're already receiving funded mentor training as part of the early roll-out of the early career framework (ECF) reforms. </p>
                                    {% elif data['noteligible-status'] == "NotEligible" %}
                                        <p>This person is not eligible for this programme.</p>
                                    {% endif %}
                                {% else %}
                                    {% if data['noteligible-status'] == "InductionStarted" %}
                                        <p>This is because they started or completed their statutory induction before 1 September 2021.</p>
                                    {% elif data['noteligible-status'] == "NotEligible" %}
                                        <p>This person is not eligible for this programme.</p>
                                    {% elif data['noteligible-status'] == "Checking" %}
                                        <p>Our checks show this person does not have qualified teacher status (QTS). Their status should be up to date if they completed their ITT in 2021.</p>
                                    {% endif %}
                                {% endif %}
                            {% elif data['inductionProgramme'] == "CIP" %}
                                <p>This person is not eligible for this programme.</p>
                                <p>We’ve confirmed this person is eligible for this programme. They have access to their training materials.</p>
                            {% endif %}

                        {% else %}

                            <p>Eligible to start. They’re ready to mentor ECTs.</p>

                        {% endif %}
                    </dd>
                </div>
                {% endif %}
            </dl>

            <p><a href="{{ id }}/transfer/">Tell us this {% if data['participantType'] == "mentor" %}ECT{% else %}ECT{% endif %} is transferring to another school</a></p>


            {% if data.participants[id].type == "sitMentor" %}

                <p><a href="induction-tutor/full-name">Replace the induction tutor for this school</a></p>

            {% elif data.participants[id].programme == "FIP" %}

                <p><a href="{{ id }}/remove/confirm">Remove {{ data['random-name'] }}</a></p>
                <p>If {{ participant.name }} should not be in this cohort, contact your training provider to remove them.</p>
                <p>If {{ participant.name }}should not be in this cohort, <a href="mailto:continuing-professional-development@digital.education.gov.uk">contact us</a> to remove them.

            {% else %}

                <p>Contact {{ data.leadProvider }} if you want to remove {{ participant.name }}.</p>
                <p><a href="{{ id }}/remove/confirm">Remove {{ data['random-name'] }}</a></p>

            {% endif %}












        </div>
    </div>
{% endblock %}
