{% extends "layout.html" %}
{% set showBackLink = true %}
{% set showManageBackLink = true %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Funding eligibility for your ECTs and mentors" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <p>Register your ECTs and mentors as soon as possible so we can:</p>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                    <ul class="govuk-list govuk-list--bullet">
                        <li>check their details in the Teaching Regulation Agency records</li>
                        <li>confirm their eligibility for DfE-funded training and access to materials</li>
                        <!-- <li>confirm their eligibility for DfE-funded training</li> -->
                    </ul>                    

                    <div class="govuk-!-margin-top-6">
                        {{ govukButton({
                            text: "Add a new ECT or mentor",
                            href: "add/"
                        }) }}
                    </div>                

                </div>
            </div>


        </div>
        
        <!-- SIT information -->
        {% include "includes/sit_details.html" %}


        <div class="govuk-grid-column-full">

            <!-- Checks in progress -->
            {% set checkingHtml %}
                {% include "includes/tabs_checks_in_progress.html" %}
            {% endset -%}            

            <!-- Eligible ECTs -->
            {% set ectHtml %}
                {% include "includes/tabs_eligible_ects.html" %}
            {% endset -%}            

            <!-- Eligible Mentors -->
            {% set mentorHtml %}
                {% include "includes/tabs_eligible_mentors.html" %}
            {% endset -%}            

            <!-- Moving school tab -->
            {% set movingSchoolHtml %}
                {% include "includes/tabs_moving_school.html" %}
            {% endset -%}            

            <!-- Not eligible for funding tab -->
            {% set notEligibleHtml %}
                {% include "includes/tabs_not_eligible_for_funding.html" %}                
            {% endset -%}            

            {{ govukTabs({
                items: [
                    { label: "Checks in progress", id: "checking", panel: { html: checkingHtml } },
                    { label: "Eligible ECTs", id: "ECT", panel: { html: ectHtml } },
                    { label: "Eligible mentors", id: "mentors", panel: { html: mentorHtml } },
                    { label: "Moving school", id: "transfers", panel: { html: movingSchoolHtml } },
                    { label: "Not eligible for funding", id: "not-training", panel: { html: notEligibleHtml } }
                ]
            }) }}

        </div>

{% endblock %}
