{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "You cannot change their name" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p><-- Registered by mistake --></p>
            <p>Information about why they cannot just change the name and that they have to remove this person from this current years group/cohort.</p>
            <p><a href="confirm-delete">Remove {{ data['participant-fullname'] }}</a></p>

            <p><-- Need to register someone else --></p>
            <p>Also need information to say that they will need to ADD the new person to this years current group/cohort.</p>


            <p><a href="add/name?participantType=ECT">Add a new ECT</a></p>

                <!-- {{ govukButton({
                    text: "Remove this ECT"
                }) }} -->


        </div>
    </div>
{% endblock %}
