{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if not ((data['participant-1-mentor-added'] == "Yes") or ( data['participant-1-sit-mentor-added'] == "Yes" )) %}
  {% set pageHeading = 'You cannot assign a mentor to this ECT' %}
{% else %}
  {% if data['details-change-action'] == "change-mentor-details-2" %}
    {% set pageHeading = 'Who’s ' + data['participant-2-name'] + '’s mentor?' %}
  {% elif data['details-change-action'] == "change-mentor-details" %}
    {% set pageHeading = 'Who’s ' + data['participant-1-name'] + '’s mentor?' %}
  {% endif %}
{% endif %}
{% set pageSection = "Acme Primary School - 2021 to 2022 cohort" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      {% if not ((data['participant-1-mentor-added'] == "Yes") or ( data['participant-1-sit-mentor-added'] == "Yes" )) %}

        <p>You do not have any mentors in your cohort.</p>
        <p><a class="govuk-link govuk-link--no-visited-state" href="name?participantType=mentor">Add a new mentor</a></p>

      {% else %}


      <form class="form" action="confirmation" method="post" >

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-visually-hidden">  Who’s {{data['participant-1-name'] }}’s mentor?</legend>
            <div class="govuk-radios">

              {% if data['participant-1-mentor-added'] == "Yes" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="who-is-mentor" name="who-is-mentor" type="radio" value="{{ data['participant-1-mentor-name'] }}">
                <label class="govuk-label govuk-radios__label" for="who-is-mentor">{{ data['participant-1-mentor-name'] }}</label>
              </div>
              {% endif %}

              {% if data['participant-1-sit-mentor-added'] == "Yes" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="who-is-mentor" name="who-is-mentor" type="radio" value="{{ data.sitName }}">
                <label class="govuk-label govuk-radios__label" for="who-is-mentor">{{ data.sitName }}</label>
              </div>
              {% endif %}

              {% if not ((data['linkaction'] == "change-mentor") or (data['linkaction'] == "change-mentor-details")) %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="who-is-mentor-2" name="who-is-mentor" type="radio" value="I’ll assign a mentor later">
                <label class="govuk-label govuk-radios__label" for="who-is-mentor-2">I’ll asign a mentor later</label>
              </div>
              {% endif %}
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
          </form>

      {% endif %}

    </div>
  </div>

{% endblock %}
