{# Contacted TAB #}
                {% set contactedHtml %}
                    <!-- Contacted ECTs -->
                    {% if data['inductionProgramme'] == "FIP" %}
                        {# Check to see if there are any ECT that have status contacted #}
                        {% if hasAnyContactedParticipants %}
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Contacted for information</h2>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-two-thirds">
                                    <p>We need this to check their eligibility with the Teaching Regulation Agency.</p>
                                </div>
                            </div>
                            <table class="govuk-table govuk-!-margin-bottom-9">
                                {% include "includes/dash_fip_head.html" %}
                                <tbody class="govuk-table__body">
                                    {% for id, participant in data.participants %}
                                        {% if participant.status == "Contacted" and participant.type == "ECT" and participant.programme == "FIP" %}
                                            {% include "includes/dash_fip_row.html" %}
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% elif data['induction-programme'] == "CIP" %}
                        {% if hasAnyContactedParticipants %}
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Contacted for information</h2>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-two-thirds">
                                    <p>We need this to check their eligibility with the Teaching Regulation Agency.</p>
                                </div>
                            </div>
                            <table class="govuk-table govuk-!-margin-bottom-9">
                                {% include "includes/dash_cip_head.html" %}
                                <tbody class="govuk-table__body">
                                    {% for id, participant in data.participants %}
                                        {% if participant.status == "Contacted" and participant.type == "ECT" and participant.programme == "CIP" %}
                                            {% include "includes/dash_cip_row.html" %}
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endif %}

                     {% if data['inductionProgramme'] == "FIP" %}
                        {# Check to see if there are any mentors that have status Contacted #}
                        {% if hasAnyContactedMentorParticipants %}
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Contacted for information</h2>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-two-thirds">
                                    <p>We need this to check their eligibility with the Teaching Regulation Agency.</p>
                                </div>
                            </div>
                            <table class="govuk-table govuk-!-margin-bottom-9">
                                {% include "includes/dash_fip_head.html" %}
                                <tbody class="govuk-table__body">
                                    {% for id, participant in data.participants %}
                                        {% if participant.status == "Contacted" and participant.type == "Mentor" and participant.programme == "FIP" %}
                                            {% include "includes/dash_fip_row.html" %}
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% elif data['inductionProgramme'] == "CIP" %}
                        {% if hasAnyContactedMentorParticipantsCIP %}
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Contacted for information</h2>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-two-thirds">
                                    <p>We need this to check their eligibility with the Teaching Regulation Agency.</p>
                                </div>
                            </div>
                            <table class="govuk-table govuk-!-margin-bottom-9">
                                {% include "includes/dash_cip_head.html" %}
                                <tbody class="govuk-table__body">
                                    {% for id, participant in data.participants %}
                                        {% if participant.status == "Contacted" and participant.type == "Mentor" and participant.programme == "CIP" %}
                                            {% include "includes/dash_cip_row.html" %}
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endif %}

                {% endset -%}
                {# // contacted tab #}
