// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.app-list--definition {
  dt {
    @include govuk-typography-weight-bold;
  }

  dd + dt {
    margin-top: govuk-spacing(4);
  }

  dd {
    margin-left: 0;
  }

  dd + dd {
    margin-top: govuk-spacing(2);
  }
}

.gem-c-contents-list__list, .gem-c-contents-list__nested-list {
    font-size: 16px;
    line-height: 1.25;
}

.gem-c-contents-list__list-item--dashed {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}

.gem-c-contents-list__list-item {
    padding-top: 7.5px;
    line-height: 1.3;
    list-style-type: none;
}

.gem-c-contents-list__list-item--dashed:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
}

a.signout {
    color: #FFF;
    font-weight: 700;
    position: absolute;
    right: calc(50% - 475px);
    top: 15px;
}


.index-group {
  background: #f5f5f5;
  padding: 1.5em;
  margin-bottom: 1.5em;
}
  .index-group p.govuk-body {
    margin-bottom: 0;
  }
  .index-group .govuk-heading-m {
    margin-bottom: 10px
  }
  .side-options {
    background: transparent;
    border: 1px solid #CCC;
  }
  .side-options .govuk-fieldset__legend--m {
    margin-bottom: 0;
    margin-top: 0;
  }
  .side-options .govuk-form-group {
    margin-bottom: 15px;
  }
  .side-options .govuk-button {
    margin-bottom: 10px;
  }

.dashboard-numbers {
  background: #f3f2f1;
  padding: 1.5em;
  margin-bottom: 1.5em;
}
  .dashboard-numbers p {
    margin-bottom: 0;
    padding: 0;
  }
  .dashboard-numbers.key-number {
    background: #1d70b8;
  }
  .dashboard-numbers.key-number p {
    color: #FFF;
  }


.app-navigation {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #f8f8f8;
}
.app-navigation {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.31579;
  margin-top: -1px;
  z-index: 10;
  background: #f3f2f1;
}
.app-navigation:before {
  position: absolute;
  width: 100%;
  background: #f3f2f1;
  top: 105px;
  left: 0;
  height: 50px;
  content: "";
}
.app-width-container {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
.app-navigation__list {
    position: relative;
    left: -15px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.app-navigation__list-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: relative;
    height: 50px;
    padding: 0 15px;
    float: left;
    line-height: 50px;
}

.app-navigation__link {
    font-weight: 700;
    text-decoration: none;
}
.govuk-link--no-visited-state:link {
    color: #1d70b8;
}
.app-navigation__link:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.app-navigation__list-item--current {
    border-bottom: 4px solid #1d70b8;
}

form.top-right {
  float: right;
}


/* ==========================================================================
   #SECONDARY NAV
   ========================================================================== */
.hmcts-sub-navigation {
  margin-bottom: 40px;
}

.hmcts-sub-navigation__list {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 40.0625em) {
  .hmcts-sub-navigation__list {
    box-shadow: inset 0 -1px 0 #b1b4b6;
    width: 100%;
  }
}

.hmcts-sub-navigation__item {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-shadow: inset 0 -1px 0 #b1b4b6;
  display: block;
  margin-top: -1px;
}

@media print {
  .hmcts-sub-navigation__item {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-sub-navigation__item {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .hmcts-sub-navigation__item {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.hmcts-sub-navigation__item:last-child {
  box-shadow: none;
}

@media (min-width: 40.0625em) {
  .hmcts-sub-navigation__item {
    box-shadow: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 0;
  }
}

.hmcts-sub-navigation__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  text-decoration: underline;
}

@media (min-width: 40.0625em) {
  .hmcts-sub-navigation__link {
    padding-left: 0;
  }
}

.hmcts-sub-navigation__link:focus {
  color: #0b0c0c;
  position: relative;
}

.hmcts-sub-navigation__link[aria-current="page"] {
  color: #0b0c0c;
  position: relative;
  text-decoration: none;
}

.hmcts-sub-navigation__link[aria-current="page"]:before {
  background-color: #1d70b8;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5px;
}

@media (min-width: 40.0625em) {
  .hmcts-sub-navigation__link[aria-current="page"]:before {
    height: 5px;
    width: 100%;
  }
}

.hmcts-sub-navigation__link[aria-current="page"]:focus:before {
  background-color: #0b0c0c;
}
