// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

.pseudo-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background: #f5f5f5;
}

.pseudo-email-template {
  background: #FFF url(../images/email-header.png) no-repeat center top;
  background-size: 100%;
  min-height: 400px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
  max-width: 550px;
  margin: 0 auto;
  padding: 90px 20px 30px;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #CCC;
  border-top: 20px solid #CCC;
}

.email-metadata {
  margin: 0 auto 40px;
  z-index: 10;
  position: relative;
  max-width: 550px;
}
.email-metadata p {
  font-size: 14px;
  margin:0 0 5px;
}
