{% extends "layout.html" %}

{% set pageHeading = "User research" %}
{% set pageSection = "Prototype" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}

        <p>Nothing currently ready for testing.</p>

        <!-- <h2 class="govuk-heading-m">Cohorts</h2>
        <p>Dashboards and add ECT flow changes to accommodate multiple cohorts.</p> -->

        <!-- <form action="/emails/link-to-sign-in" method="post" >
            <input type="hidden" name="show-participant-status-eligible" id="show-participant-status-eligible" value="Yes" />
            <input type="hidden" name="show-participant-no-QTS" id="show-participant-no-QTS" value="Yes" />
            <input type="hidden" name="inductionProgramme" id="inductionProgramme" value="FIP" />
            <input type="hidden" name="accredited-materials" id="accredited-materials" value="Ambition Institute" />
            <input type="hidden" name="roles-explanation" id="roles-explanation" value="Seen" />
            <input type="hidden" name="user-research" id="user-research" value="Yes" />
            <input type="hidden" name="fipPartnership" id="fipPartnership" value="Yes" />
            <input type="hidden" name="multi-cohort" id="multi-cohort" value="Yes" />
            <input type="hidden" name="participant-fullname" id="participant-fullname" value="Kate Lloyd" />
            <input type="hidden" name="participant-email-address" id="participant-email-address" value="katel@test.dfe.gov.uk" />
            <input type="hidden" name="ect-participant-added" id="ect-participant-added" value="Yes" />
            <input type="hidden" name="participant-fullname-2" id="participant-fullname-2" value="Nicola Page" />
            <input type="hidden" name="participant-email-address-2" id="participant-email-address-2" value="nicolap@test.dfe.gov.uk" />
            <input type="hidden" name="ect-participant-added-2" id="ect-participant-added-2" value="Yes" />
            <input type="hidden" name="participant-fullname-mentor" id="participant-fullname-mentor" value="Brian Coult" />
            <input type="hidden" name="participant-email-address-mentor" id="participant-email-address-mentor" value="brianc@test.dfe.gov.uk" />
            <input type="hidden" name="added-mentor" id="added-mentor" value="Yes" />
            <input type="hidden" name="induction-tutor-as-mentor" id="induction-tutor-as-mentor" value="Yes" />
            <input type="hidden" name="added-sitMentor" id="added-sitMentor" value="Yes" />

            {{ govukButton({
                text: "Start user research"
            }) }}
        </form> -->

    </div>
</div>

{% endblock %}
