{% extends "layout.html" %}

{% set pageHeading = "Validation" %}
{% set pageSection = "User research" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}
        <p>Last updated: 2 August 2021</p>
        <p>Research for testing the various participant validation journeys, including the not matched option.</p>




<!--
        <form action="/teacher-or-mentors/cip-validation/particpant-email" method="post" >

            <input type="hidden" name="participantOptions" id="participantOptions" value="participantCIP" />
            <input type="hidden" name="participantType" id="participantType" value="participantECT" />
            {{ govukButton({
                text: "CIP - ECT"
            }) }}

        </form>

        <form action="/teacher-or-mentors/cip-validation/particpant-email" method="post" >

            <input type="hidden" name="participantOptions" id="participantOptions" value="participantCIP" />
            <input type="hidden" name="skipValidation" id="skipValidation" value="notvalidating" />
            <input type="hidden" name="participantType" id="participantType" value="participantECT" />

            {{ govukButton({
                text: "CIP - ECT (Skip validating)"
            }) }}

        </form>

        <form action="/teacher-or-mentors/cip-validation/particpant-email" method="post" >

            <input type="hidden" name="participantOptions" id="participantOptions" value="participantCIP" />
            <input type="hidden" name="participantType" id="participantType" value="participantMentor" />
            {{ govukButton({
                text: "CIP - Mentor"
            }) }}

        </form>

        <form action="/teacher-or-mentors/cip-validation/particpant-email" method="post" >


            <input type="hidden" name="participantOptions" id="participantOptions" value="participantCIP" />
            <input type="hidden" name="skipValidation" id="skipValidation" value="notvalidating" />
            <input type="hidden" name="participantType" id="participantType" value="participantMentor" />
            {{ govukButton({
                text: "CIP - Mentor (Skip validating)"
            }) }}

        </form>


        <form action="/teacher-or-mentors/cip-validation/particpant-email" method="post" >
            
            <input type="hidden" name="participantOptions" id="participantOptions" value="participantCIP" />
            <input type="hidden" name="participantType" id="participantType" value="participantSIT" />
            {{ govukButton({
                text: "CIP - SIT as mentor"
            }) }}

        </form>

        <form action="/teacher-or-mentors/cip-validation/particpant-email" method="post" >
            
            <input type="hidden" name="participantOptions" id="participantOptions" value="participantCIP" />
            <input type="hidden" name="skipValidation" id="skipValidation" value="notvalidating" />
            <input type="hidden" name="participantType" id="participantType" value="participantSIT" />
            {{ govukButton({
                text: "CIP - SIT as mentor (Skip validating)"
            }) }}

        </form> -->

        <h2 class="govuk-heading-m">Participant validation</h2>
        
        <form action="/emails/particpant-email" method="post" >
            <input type="hidden" name="participantOptions" id="participantOptions" value="participantFIP" />
            <input type="hidden" name="participantType" id="participantType" value="participantECT" />
            <input type="hidden" name="providerType" id="providerType" value="providerKnown" />
            {{ govukButton({
                text: "FIP - Early career teacher"
            }) }}
        </form>
        <form action="/emails/particpant-email" method="post" >
            <input type="hidden" name="participantOptions" id="participantOptions" value="participantFIP" />
            <input type="hidden" name="participantType" id="participantType" value="participantMentor" />
            <input type="hidden" name="providerType" id="providerType" value="providerKnown" />
            {{ govukButton({
                text: "FIP - Mentor"
            }) }}
        </form>
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        
        <h2 class="govuk-heading-m">Participants not matched</h2>        
        <form action="/emails/particpant-email" method="post" >
            <input type="hidden" name="participantOptions" id="participantOptions" value="participantFIP" />
            <input type="hidden" name="skipValidation" id="skipValidation" value="notvalidating" />
            <input type="hidden" name="participantType" id="participantType" value="participantECT" />
            <input type="hidden" name="providerType" id="providerType" value="providerKnown" />
            {{ govukButton({
                text: "FIP - Early career teacher"
            }) }}
        </form>
        <form action="/emails/particpant-email" method="post" >
            <input type="hidden" name="participantOptions" id="participantOptions" value="participantFIP" />
            <input type="hidden" name="skipValidation" id="skipValidation" value="notvalidating" />
            <input type="hidden" name="participantType" id="participantType" value="participantMentor" />
            <input type="hidden" name="providerType" id="providerType" value="providerKnown" />            
            {{ govukButton({
                text: "FIP - Mentor"
            }) }}
        </form>


        <!-- <form action="/teacher-or-mentors/cip-validation/particpant-email" method="post" >
            
            <input type="hidden" name="participantOptions" id="participantOptions" value="participantFIP" />
            <input type="hidden" name="participantType" id="participantType" value="participantSIT" />
            {{ govukButton({
                text: "FIP - SIT as mentor"
            }) }}

        </form>

        <form action="/teacher-or-mentors/cip-validation/particpant-email" method="post" >
            
            <input type="hidden" name="participantOptions" id="participantOptions" value="participantFIP" />
            <input type="hidden" name="skipValidation" id="skipValidation" value="notvalidating" />
            <input type="hidden" name="participantType" id="participantType" value="participantSIT" />
            {{ govukButton({
                text: "FIP - SIT as mentor (Skip validating)"
            }) }}

        </form> -->


        <!-- <form action="/teacher-or-mentors/cip-validation/particpant-email" method="post" >

            <input type="hidden" name="participantOptions" id="participantOptions" value="participantFIP" />
            {{ govukButton({
                text: "FIP validation"
            }) }}

        </form> -->

        <!-- <form action="/teacher-or-mentors/cip-validation/sign-in-ect" method="post" >

            <input type="hidden" name="participantOptions" id="participantOptions" value="participantSIT" />            

            {{ govukButton({
                text: "Validation with School Induction Tutor"
            }) }}

        </form> -->

    </div>
</div>

{% endblock %}
