{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Do you know which accredited materials you want to use?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

          <p class="govuk-body">Not sure? <a href="../choose-study-materials"> See our guidance to compare your options</a>.</p>

          <p class="govuk-body">You'll be choosing materials for any new ECTs.</p>

          <p>They'll access these materials on our service, and usually complete their training programme over 2 years.</p>


      <form method="post" action="which" >

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    </div>

{% endblock %}
