{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "How do you want to run your 2021/22 induction for early career teachers?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p class="govuk-body">Not sure? <a href="https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview">Check our guidance</a>, contact your <a href="https://www.gov.uk/guidance/teaching-school-hubs#find-a-teaching-school-hub">local Teaching School Hub</a> or appropriate body.</p>

      <form class="form" action="confirm-induction-programme" method="post" class="govuk-!-margin-bottom-8">
        {{ govukRadios({
          idPrefix: "induction-programme",
          name: "induction-programme",
          items: [
            {
              value: "FIP",
              text: "Use a training provider, funded by the DfE (full induction programme)"
            },
            {
              value: "CIP",
              text: "Deliver your own programme using DfE accredited materials (core induction programme)"
            },
            {
              value: "DYO",
              text: "Design and deliver your own programme based on the Early Career Framework (ECF)"
            },
            {
              value: "noECT",
              text: "We don’t expect to have any early career teachers starting in 2021"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
