{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "2021/22 cohort: use DfE accredited materials" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}



      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            Next steps
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../../schools/programme-choice">
                  Choose your induction programme
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--green">
                Done
              </strong>
            </li>

            <li class="app-task-list__item">
              {% if (data['course-choice'] === undefined) %}
                <span class="app-task-list__task-name">
                  <a class="govuk-link--no-visited-state" href="../../schools/which-accredited-materials" aria-describedby="eligibility-status">
                    Choose your DfE accredited materials
                  </a>
                </span>
                <strong class="govuk-tag app-task-list__tag govuk-tag--yellow">
                  To do
                </strong>
              {% else %}
              <span class="app-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="../../schools/materials" aria-describedby="eligibility-status">
                  Choose your training materials
                </a>
              </span>
                <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--green">
                  Done
                </strong>
              {% endif %}
            </li>


            {% if (data['schoolParticipantOptions'] === "hasAddedMentors") %}
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    <a class="govuk-link--no-visited-state" href="../school-add-participants-to-cohort/cohort-participant-listing">Add early career teachers and mentors</a>
                </span>
                <strong class="govuk-tag app-task-list__tag govuk-tag--blue">
                  In progress
                </strong>
              </li>
              {% elseif (data['schoolParticipantOptions'] === "canAddParticipants") %}
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                      <a class="govuk-link--no-visited-state" href="../school-add-participants-to-cohort/choose-participant-type">Add early career teachers and mentors</a>
                  </span>
                  <strong class="govuk-tag app-task-list__tag govuk-tag--yellow">
                    TO DO
                  </strong>
                </li>
            {% elseif (data['schoolParticipantOptions'] === "cannotAddParticipants") %}
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    <a class="govuk-link--no-visited-state" href="../../school/add-participants">Add early career teachers and mentors</a>
                </span>
                <strong class="govuk-tag app-task-list__tag govuk-tag--grey">
                  Cannot start yet
                </strong>
              </li>
            {% endif %}



          </ul>
        </li>
      </ol>

      {% if (data['course-choice'] === undefined) %}
      <p class="govuk-body"></p>
      {% else %}
      <p class="govuk-body">There are a series of <a href="sprint-16/choose-study-materials"> documents to help Induction tutors prepare for the [Course selected] course.</a></p>
      {% endif %}

    </div>
  </div>

{% endblock %}
