{% extends "layout.html" %}

{% set pageHeading = "That email address is already associated with another school" %}

{% block content %}
	
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      			<p class="govuk-body">You need to use a different email address.</p>      		
				
				  <form class="form" action="who-do-you-want-to-nominate" method="post" >												
					{{ govukButton({
						  text: "Change email address"
					}) }}
				</form>



      		
    	</div>
  	</div>

{% endblock %}