{% extends "layout.html" %}
{% set showBackLink = false %}
<!-- Not sure what this line is doing? -->
{% set schoolSignedIn = true %}


{% set pageHeading = "Manage your training" %}
{% set pageSection = "{Name of school}" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">		

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
		
        </div>
	</div>


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">		
				
			<p><a class="govuk-link govuk-link--no-visited-state" href="participants/">Your early career teachers and mentors</a></p>
			
			<!-- <h2 class="govuk-heading-m">2021 cohort</h2> -->
			
			<!-- <div class="govuk-inset-text">
				<h2 class="govuk-heading-m">Materials for your 2020 cohort</h2>
				<p class="govuk-!-margin-bottom-7">This year, you can also access DfE accredited materials for teachers who have had their induction disrupted. You should have recieved an email, if not you can <a href="#">request one to be sent to you</a>.</p>
			</div> -->
			
			<dl class="govuk-summary-list">
				

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Cohort year</dt>					
					<dd class="govuk-summary-list__value">2020</dd>
					<dd class="govuk-summary-list__actions"></dd>
				</div>				
				
				
								
					<!-- <div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Programme</dt>					
						<dd class="govuk-summary-list__value">Training provider, funded by the DfE</dd>
						<dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
					</div> -->
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Training materials</dt>
						<dd class="govuk-summary-list__value">DfE accredited materials</dd>
						<dd class="govuk-summary-list__actions">														
							<a class="govuk-link" href="sign-up-to-training-provider"">Access<span class="govuk-visually-hidden"> to a training provider</span></a>														
						</dd>
					</div>						

				


					
					<!-- Show amount of ECT and mentors -->
					<!-- <div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">ECTs and mentors</dt>					
						<dd class="govuk-summary-list__value">12</dd>
						<dd class="govuk-summary-list__actions"><a class="govuk-link" href="school-add-participants-to-cohort/cohort-participant-listing?dashboard-variation=New">View<span class="govuk-visually-hidden"> programme</span></a></dd>
					</div> -->
			</dl>


			<dl class="govuk-summary-list">
				

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Cohort year</dt>					
					<dd class="govuk-summary-list__value">2021</dd>
					<dd class="govuk-summary-list__actions"></dd>
				</div>				
				
				
								
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Programme</dt>					
						<dd class="govuk-summary-list__value">Training provider, funded by the DfE</dd>
						<dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Training provider</dt>
						<dd class="govuk-summary-list__value">
							{% if data['InPartnership'] == "Yes" %}
								Educational Development Trust							
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">							
							{% if data['InPartnership'] != "Yes" %}															
								<a class="govuk-link" href="sign-up-to-training-provider"">Sign up<span class="govuk-visually-hidden"> to a training provider</span></a>							
							{% endif %}
						</dd>
					</div>	
					{% if data['InPartnership'] == "Yes" %}				
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Delivery partner</dt>
						<dd class="govuk-summary-list__value">Mega Delivery Partner</dd>
						<dd class="govuk-summary-list__actions"></dd>
					</div>
					{% endif %}

				


					
					<!-- Show amount of ECT and mentors -->
					<!-- <div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">ECTs and mentors</dt>					
						<dd class="govuk-summary-list__value">12</dd>
						<dd class="govuk-summary-list__actions"><a class="govuk-link" href="school-add-participants-to-cohort/cohort-participant-listing?dashboard-variation=New">View<span class="govuk-visually-hidden"> programme</span></a></dd>
					</div> -->
			</dl>

			
				
	
		</div>	
  	</div>
{% endblock %}
