{% extends "layout.html" %}

{% set pageHeading = "Report that your school has been signed up incorrectly" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p class="govuk-body govuk-!-margin-bottom-7">[School name] has received a confirmation from [Delivery partner] but you believe this is incorrect.</p>

      <form class="form" action="/school-challenging-partnership/school-challenge-3" method="post" class="govuk-!-margin-bottom-8">
        {% set otherHtml %}
        {{ govukInput({
          id: "other-reason",
          name: "other-reason",
          type: "text",
          spellcheck: false,
          classes: "govuk-!-width-one-half",
          label: {
            text: "Tell us why"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "school-challenge-reason",
          name: "school-challenge-reason",
          fieldset: {
            legend: {
              text: "Tell us why",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "alreadyPartnered",
              text: "I have already confirmed an agreement with another provider"
            },
            {
              value: "notAgreedNotSigned",
              text: "We have not confirmed an agreement"
            },
            {
              value: "dontRecognise",
              text: "I do not recognise this training provider"
            },
            {
              value: "noInductions",
              text: "We do not have any early career teachers this year"
            },
            {
              value: "mistake",
              text: "This looks like a mistake"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Submit"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
