{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data['change-programme'] == "Yes" %}
	{% set pageHeading = "New heading needed for change programme confirm" %}
{% else %}
	{% set pageHeading = "Confirm your training programme" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


			{% if data['change-programme'] == "Yes" %}

			<p>Placeholder for the new content for when the user has changed their induction programme.</p>

			{% else %}

			<p class="govuk-body">You have chosen to
			
				{% if (data['induction-programme'] === "FIP") %}
					use a training provider, funded by the DfE (full induction programme).
				{% elseif (data['induction-programme'] === "CIP") %}
					deliver your own programme using DfE accredited materials (core induction programme).
				{% elseif (data['induction-programme'] === "DYO") %}
					design and deliver your own programme based on the Early Career Framework (ECF).
				{% elseif (data['induction-programme'] === "noECT") %}
					opt out of notifications because you don’t expect to have any early career teachers starting in 2021.
				{% elseif (data['induction-programme'] === "temphold") %}
					use a training provider funded by your school.
				{% endif %}
			</p>
			
			{% endif %}
      		
			<form method="post" action="provision-confirmed" >
				{% if data['change-programme'] == "Yes" %}
				<input type="hidden" name="change-programme" id="change-programme" value="" />
				{% endif %}			
								
				{{ govukButton({
					text: "Confirm"
		  		}) }}
				  
			</form>	
			
    </div>
  </div>
{% endblock %}
