{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Confirm your training programme" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			<p class="govuk-body">You have chosen to
			
				{% if (data['induction-programme'] === "FIP") %}
					use a training provider, funded by the DfE (full induction programme).
				{% elseif (data['induction-programme'] === "CIP") %}
					deliver your own programme using DfE accredited materials (core induction programme).
				{% elseif (data['induction-programme'] === "DYO") %}
					design and deliver your own programme based on the Early Career Framework (ECF).
				{% elseif (data['induction-programme'] === "noECT") %}
					opt out of notifications because you don’t expect to have any early career teachers starting in 2021.
				{% endif %}
			</p>
			
      		
			<form method="post" action="provision-confirmed" >
								
				{{ govukButton({
					text: "Confirm"
		  		}) }}
				  
			</form>	
			
    </div>
  </div>
{% endblock %}
