{% extends "layout.html" %}
{% set showPhaseBanner = false %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
	<!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  	<!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  	{% for stylesheetUrl in extensionConfig.stylesheets %}
    	<link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  	{% endfor %}
{% endblock %}

{% block content %}
<div class="pseudo-bg"></div>
<div class="email-metadata">
	<p><strong>From: </strong>Department for Education: Teacher Continuing Professional Development </p>
	<p><strong>Subject: </strong>Update DfE: any NQTs starting this academic year?</p>
</div>

<div class="pseudo-email-template">
	<p>Dear {{ defaults.schoolName() }},</p>

	<p>Are you expecting any early career teachers (also known as NQTs) to join you in the 2021 to 2022 academic year? </p>
	<p>Update the DfE here:</p>
	<div class="govuk-inset-text">
		<p><a class="govuk-link--no-visited-state" href="../nominations/expect-early-career-teachers?school-status=email-clicked">https://manage-training-for-early-career-teachers.education.gov.uk/nominations/start?token=22345678as9fijhgt</a></p>
	</div>
	<p>You only need to answer ‘yes’ or ‘no’.</p>

	<h2 class="govuk-heading-m">What happens next</h2>		
	<p>If you choose ‘yes’, we’ll guide you to set up your 2-year training programme, following the new statutory requirements.</p>
	<p>If you choose ‘no’, we will not send you any more reminders until the next academic year.</p>

	<h2 class="govuk-heading-m">Where to get more help and support</h2>

	<p>Read our step-by-step guide to find out what’s changed this year, and what you need to do:</p>
	<p><a class="govuk-link--no-visited-state" href="../how-to-set-up-your-programme">https://localhost:3000/latest/how-to-set-up-your-programme</a></p>

	<p>You can contact your local teaching school hub for guidance:</p>
	<p><a class="govuk-link--no-visited-state" href="https://www.gov.uk/guidance/teaching-school-hubs">https://www.gov.uk/guidance/teaching-school-hubs</a></p>
	
	<p>You can also contact your appropriate body, multi-academy trust (MAT) or federation for more advice.</p>
	
	<p>If you have any questions, reply to this email.</p>
	
	<p>Teacher Continuing Professional Development
	<br>Department for Education</p>

</div>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
