{% extends "layout.html" %}

{% if data['replace-induction-tutor-fullname'] %}
  {% set pageHeading = 'What’s ' + data['replace-induction-tutor-fullname'] + '’s email address? ' %}
{% else %}
  {% set pageHeading = "What’s the new induction tutor’s email address?" %}
{% endif %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <!-- {% if data['linkaction'] == "change-induction-name" %}
        <form class="form" action="check-your-answers" method="post" class="govuk-!-margin-bottom-8"></form>
      {% else %} -->
            <form class="form" action="check-your-answers" method="post" class="govuk-!-margin-bottom-8">
      <!-- {% endif %} -->


          {{ govukInput({
                  label: { text: "" },
                  hint: {
                      text: "We’ll use this address to contact them with more information."
                  },
            classes: "govuk-!-width-two-thirds",
            type: "email",
            autocomplete: "email",
            spellcheck: false
          } | decorateFormAttributes('replace-induction-tutor-email')) }}

        {{ govukButton({
                text: "Continue"
            }) }}

      </form>

    </div>
  </div>

  {% endblock %}
