{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "An induction tutor has already been nominated" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p>Your school has already nominated an induction tutor to use our service.</p>
      <p>We have sent links to schools using their email address on our register, Get Information about Schools (GIAS).</p>
      <p>It will be an administration email, for example, office@, admin@ or head@.</p>

      <h2 class="govuk-heading-m">What you can do</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>if you were nominated, <a href="/prelive/sign-in">sign in</a></li>
        <li>if you were not nominated, check with your colleagues first</li>
        <li>if you don’t know where the email was sent, <a href="https://services.signin.education.gov.uk/">sign in to DfE</a> and check your GIAS email address</li>
      </ul>

      </div>
  </div>

{% endblock %}
