{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = false %}
{% set showadminPrimaryNav = true %}

{% set pageHeading = "Schools" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full  light-grey govuk-!-padding-top-4 govuk-!-margin-bottom-3">

                    {{ govukInput({
                            label: {
                                text: "School name, URN or tutor email",
                                classes: "govuk-label",
                                isPageHeading: false
                            },
                            classes: "govuk-!-width-full"
                    } | decorateFormAttributes(['participants', id, 'schoolSearch']) ) }}

                    {{ govukButton({
                        text: "Search"
                    }) }}

                </div>
            </div>

            <table class="govuk-table govuk-!-margin-bottom-9">
                {% include "includes/dash_support_schools_head.html" %}
                <tbody class="govuk-table__body">
                    {% for id, school in data.schools %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-width-one-third"><a href="/support/schools/{{ id }}/overview" class="govuk-link govuk-link--no-visited-state">{{ school.name }}</a></td>
                        <td class="govuk-table__cell">{{ school.urn }}</td>
                        <td class="govuk-table__cell govuk-!-width-one-quarter">{% if data.schools[id].localAuthority %}{{ school.localAuthority }}{% else %}-{% endif %}</td>
                        <td class="govuk-table__cell">-</td>
                        <td class="govuk-table__cell govuk-!-width-one-quarter">{% if data.schools[id].inductionEmail %}{{ school.inductionEmail }}{% else %}-{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
