{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = false %}
{% set showadminPrimaryNav = true %}

{% set pageHeading = '' + school.name + '' %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <nav class="app-subnav" aria-label="Sub navigation">
                <ul class="app-subnav__list">
                    <li class="app-subnav__list-item "><a class="app-subnav__link govuk-link--no-visited-state" href="overview">Overview</a></li>
                    <li class="app-subnav__list-item app-subnav__list-item--selected"><a class="app-subnav__link govuk-link--no-visited-state" href="participants">Participants</a></li>
                    <li class="app-subnav__list-item"><a class="app-subnav__link govuk-link--no-visited-state" href="cohorts">Cohorts</a></li>
                </ul>
            </nav>


            <h2 class="govuk-heading-l">Participants</h2>

            {% if data.schools[id].participants == "No" %}
            <p>No participants found for this school.</p>

            {% else %}


            {{ govukTable({
                caption: "Schools",
                captionClasses: "govuk-table__caption--m govuk-visually-hidden",
                firstCellIsHeader: false,
                head: [
                    { text: "Full name" },
                    { text: "ID" },
                    { text: "Role" },
                    { text: "Lead provider" },
                    { text: "Delivery partner" }                                        
                ],
                rows: [
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Dean Winchester</a>' },
                        { text: "34567" },
                        { text: "Mentor" },
                        { text: "Ambition Institute" },
                        { text: "Kings College London" }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Bruce Wayne' },
                        { text: "45579" },
                        { text: "Mentor" },
                        { text: "Ambition Institute" },
                        { text: "Kings College London" }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Luke Skywalker' },
                        { text: "45579" },
                        { text: "Mentor" },
                        { text: "Ambition Institute" },
                        { text: "Kings College London" }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Sam Winchester' },
                        { text: "45579" },
                        { text: "NPQ" },
                        { text: "Ambition Institute" },
                        { text: "Kings College London" }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Damon Salvatore' },
                        { text: "45579" },
                        { text: "Mentor" },
                        { text: "Ambition Institute" },
                        { text: "Kings College London" }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Bakki Hammnah' },
                        { text: "45579" },
                        { text: "ECT" },
                        { text: "Ambition Institute" },
                        { text: "Kings College London" }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Steven Rogers' },
                        { text: "45579" },
                        { text: "Mentor" },
                        { text: "Ambition Institute" },
                        { text: "Kings College London" }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Natasha Romanoff' },
                        { text: "45579" },
                        { text: "NPQ" },
                        { text: "Ambition Institute" },
                        { text: "Kings College London" }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Peter Parker' },
                        { text: "45579" },
                        { text: "ECT" },
                        { text: "Ambition Institute" },
                        { text: "Kings College London" }
                    ]
                ]
            }) }}

            {% endif %}

        </div>
    </div>



{% endblock %}
