{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = false %}
{% set showadminPrimaryNav = true %}

{% set pageHeading = "16-19 Abingdon" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <nav class="app-subnav" aria-label="Sub navigation">
                <ul class="app-subnav__list">
                    <li class="app-subnav__list-item"><a class="app-subnav__link govuk-link--no-visited-state" href="/support/schools/">Overview</a></li>
                    <li class="app-subnav__list-item app-subnav__list-item--selected"><a class="app-subnav__link govuk-link--no-visited-state" href="/support/schools/participants">Participants</a></li>
                    <li class="app-subnav__list-item"><a class="app-subnav__link govuk-link--no-visited-state" href="/support/schools/cohorts">Cohorts</a></li>
                </ul>
            </nav>


            <h2 class="govuk-heading-l">Participants</h2>

            <p>No participants found for this school.</p>


            {{ govukTable({
                caption: "Schools",
                captionClasses: "govuk-table__caption--m govuk-visually-hidden",
                firstCellIsHeader: false,
                head: [
                    { text: "Full name" },
                    { text: "Role" },
                    { text: "Cohort" },
                    { text: "Validation status", classes: 'govuk-!-width-one-quarter' }
                ],
                rows: [
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Dean Winchester</a>' },
                        { text: "Mentor" },
                        { text: "20 Jul 2021" },
                        { html: '<strong class="govuk-tag govuk-tag--green">Eligible to start</strong>' }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Bruce Wayne' },
                        { text: "Mentor" },
                        { text: "29 Oct 2021" },
                        { html: '<strong class="govuk-tag govuk-tag--green">Eligible to start</strong>' }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Luke Skywalker' },
                        { text: "Mentor" },
                        { text: "15 Jul 2021" },
                        { html: '<strong class="govuk-tag govuk-tag--green">Eligible to start:ERO</strong>' }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Sam Winchester' },
                        { text: "NPQ" },
                        { text: "29 Sep 2021" },
                        { html: '<strong class="govuk-tag govuk-tag--yellow">Pending</strong>' }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Damon Salvatore' },
                        { text: "Mentor" },
                        { text: "29 Sep 2021" },
                        { html: '<strong class="govuk-tag govuk-tag--green">Eligible to start</strong>' }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Bakki Hammnah' },
                        { text: "ECT" },
                        { text: "16 Feb 2021" },
                        { html: '<strong class="govuk-tag govuk-tag--green">Eligible to start</strong>' }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Steven Rogers' },
                        { text: "Mentor" },
                        { text: "29 Sep 2021" },
                        { html: '<strong class="govuk-tag govuk-tag--yellow">Pending</strong>' }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Natasha Romanoff' },
                        { text: "NPQ" },
                        { text: "29 Sep 2021" },
                        { html: '<strong class="govuk-tag govuk-tag--yellow">Pending</strong>' }
                    ],
                    [
                        { html: '<a href="/support/participants/" class="govuk-link govuk-link--no-visited-state">Peter Parker' },
                        { text: "ECT" },
                        { text: "11 Aug 2021" },
                        { html: '<strong class="govuk-tag govuk-tag--green">Eligible to start</strong>' }
                    ]
                ]
            }) }}

        </div>
    </div>



{% endblock %}
