{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Lorem Ipsum Education Ltd." %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block pageNavigation %}
  {% set page = 'overview' %}
  {% include "includes/_training-provider-nav.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <div class="index-group">
        <h2 class="govuk-heading-m"><a href="find-and-add-schools" class="govuk-link--no-visited-state">Find and add schools</a></h2>
        <p class="govuk-body">Search for schools you want to recruit and add schools you have partnered with.</p>
      </div>
      <div class="index-group">
        <h2 class="govuk-heading-m"><a href="school-listing-2021" class="govuk-link--no-visited-state">Check your schools for 2021</a></h2>
        <p class="govuk-body">See which schools have added their early career teachers and mentors.</p>
      </div>
    </div>
  </div>
{% endblock %}
