{% extends "layout.html" %}

{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}



{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}

<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list app-width-container">

    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/training-provider-signed-in/dashboard-training-provider">Overview</a>
    </li>

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/training-provider-signed-in/school-listing">Schools</a>
    </li>

  </ul>
</nav>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Lorem Ipsum Education Ltd.
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <div class="index-group">
        <h2 class="govuk-heading-m"><a href="#">Find and add schools</a></h2>
        <p class="govuk-body">Search for schools you want to recruit and add schools you have partnered with.</p>
      </div>
      <div class="index-group">
        <h2 class="govuk-heading-m"><a href="/training-provider-signed-in/school-listing">Check your schools</a></h2>
        <p class="govuk-body">See which schools have added their early career teachers and mentors.</p>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Your recruitment</h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="dashboard-numbers key-number">
        <p class="govuk-heading-xl">300</p>
        <p class="govuk-heading-s">participant target</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="dashboard-numbers">
        <p class="govuk-heading-xl">77</p>
        <p class="govuk-heading-s">recruited participants</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="dashboard-numbers">
        <p class="govuk-heading-xl">34</p>
        <p class="govuk-heading-s">partnerships with schools</p>
      </div>
    </div>
  </div>

{% endblock %}
