{% extends "layout.html" %}

{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}



{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}

<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list app-width-container">

    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/training-provider-signed-in/dashboard-training-provider">Overview</a>
    </li>

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/training-provider-signed-in/school-listing-2021">Schools</a>
    </li>

  </ul>
</nav>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Lorem Ipsum Education Ltd.
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <div class="index-group">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link--no-visited-state">Find and add schools</a></h2>
        <p class="govuk-body">Search for schools you want to recruit and add schools you have partnered with.</p>
      </div>
      <div class="index-group">
        <h2 class="govuk-heading-m"><a href="/training-provider-signed-in/school-listing-2021" class="govuk-link--no-visited-state">Check your schools for 2021</a></h2>
        <p class="govuk-body">See which schools have added their early career teachers and mentors.</p>
      </div>
    </div>
  </div>
{% endblock %}
