{% extends "layout.html" %}

{% block pageTitle %}
  Confirm partnerships
{% endblock %}

{% block beforeContent %}


{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}

<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list app-width-container">

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/training-provider-signed-in/dashboard-training-provider">Overview</a>
    </li>

    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/training-provider-signed-in/school-listing-2021">Schools</a>
    </li>

  </ul>
</nav>
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "/training-provider-signed-in/find-and-add-schools-results"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
        Add partnerships with these {{ data['selected-count'] }} schools
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Only add partnerships with schools you have fully recruited (for example, you have signed a contract with them).</p>
      <p class="govuk-body">Schools will be notified.</p>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">MAT / Network</th>
            <th scope="col" class="govuk-table__header">Local authority</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body" id="table-body">
        </tbody>
      </table>

      <form class="form" action="/training-provider-signed-in/find-and-add-schools-success" method="post" class="govuk-!-margin-bottom-8">
        <button type="submit" class="govuk-button" id="name-search-submit" name="SearchType" value="Text">Confirm</button>
      </form>

      <form class="form" action="/training-provider-signed-in/find-and-add-schools-results" method="post" class="govuk-!-margin-bottom-8">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Change schools</button>
      </form>
    </div>
  </div>

  <script>
    const schools = {
      abacus: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Abacus Primary School</td>
      <td class="govuk-table__cell">Banforth Academies Trust</td>
      <td class="govuk-table__cell ">Oxfordshire</td>
    </tr>
    `,
      banforth: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">The King's School Canterbury</td>
      <td class="govuk-table__cell">Banforth Academies Trust</td>
      <td class="govuk-table__cell ">Canterbury</td>
    </tr>`,
      canterbury: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Canterbury Christ Church University</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell ">Canterbury</td>
    </tr>`,
      barton: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Barton Court Grammar School</td>
      <td class="govuk-table__cell">Banforth Academies Trust</td>
      <td class="govuk-table__cell ">Hertfordshire</td>
    </tr>`,
      orchard: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">The Orchard School</td>
      <td class="govuk-table__cell">Abbey Multi Academy Trust</td>
      <td class="govuk-table__cell ">Oxfordshire</td>
    </tr>`,
      pilgrim: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Pilgrims' Way Primary School</td>
      <td class="govuk-table__cell">Banforth Academies Trust</td>
      <td class="govuk-table__cell ">Romford</td>
    </tr>`,
      stephen: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">St Stephen's Infant School</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell ">Bristol</td>
    </tr>`,
      stephenj: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">St Stephen's Junior School</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell ">Gloucester</td>
    </tr>`,
      langton: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Simon Langton Grammar School for Boys</td>
      <td class="govuk-table__cell">ABNEY TRUST</td>
      <td class="govuk-table__cell ">Canterbury</td>
    </tr>`,
      blean: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Blean Primary School</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell ">Norfolk</td>
    </tr>`,
      sturry: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Sturry Church of England Primary School</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell ">Somerset</td>
    </tr>`,
      rose: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">St Rose's Special School</td>
      <td class="govuk-table__cell">BECKFOOT TRUST</td>
      <td class="govuk-table__cell ">Stockport</td>
    </tr>`,
      uplands: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Uplands Community Primary School</td>
      <td class="govuk-table__cell">ACADEMY @ WORDEN</td>
      <td class="govuk-table__cell ">Somerset</td>
    </tr>`,
      callowell: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Callowell Primary School</td>
      <td class="govuk-table__cell">Banforth Academies Trust</td>
      <td class="govuk-table__cell ">Norfolk</td>
    </tr>`,
      archway: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Archway School</td>
      <td class="govuk-table__cell">Acer Trust</td>
      <td class="govuk-table__cell ">Somerset</td>
    </tr>`,
      severn: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Severn View Academy</td>
      <td class="govuk-table__cell">Acer Trust</td>
      <td class="govuk-table__cell ">North Lincolnshire</td>
    </tr>`,
      eastcomb: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Eastcombe Primary School</td>
      <td class="govuk-table__cell">BECKFOOT TRUST</td>
      <td class="govuk-table__cell ">Stockport</td>
    </tr>`,
      thomas: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Thomas Keble School</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell ">Norfolk</td>
    </tr>`,
      amberley: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Amberley Parochial School</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell ">North Lincolnshire</td>
    </tr>`,
      maidenhill: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Maidenhill School</td>
      <td class="govuk-table__cell">Banforth Academies Trust</td>
      <td class="govuk-table__cell ">Stockport</td>
    </tr>`,
      croft: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">The Croft Primary School</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell ">Stockport</td>
    </tr>`,
      wycliffe: `
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Wycliffe College</td>
      <td class="govuk-table__cell">Banforth Academies Trust</td>
      <td class="govuk-table__cell ">North Lincolnshire</td>
    </tr>`
    }

    const selectedCount = {{ data["selected-count"] }}
    const selectedSchools = "{{ data["selected-school"] }}".split(",")
    console.log(selectedSchools)
    const tableBody = document.getElementById("table-body")
    selectedSchools.forEach(school => tableBody.innerHTML += schools[school])

  </script>

{% endblock %}
