{% extends "layout.html" %}

{% block pageTitle %}
  Confirm partnerships
{% endblock %}

{% block beforeContent %}


{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}

<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list app-width-container">

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/training-provider-signed-in/dashboard-training-provider">Overview</a>
    </li>

    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/training-provider-signed-in/school-listing-2021">Schools</a>
    </li>

  </ul>
</nav>
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "/training-provider-signed-in/find-and-add-schools-results"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
        Add partnerships with these 12 schools
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Only add partnerships with schools you have fully recruited (for example, you have signed a contract with them).</p>
      <p class="govuk-body">Schools will be notified and can challenge this if not confirmed.</p>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Establishment group</th>
            <th scope="col" class="govuk-table__header">Local authority</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href='/training-provider-signed-in/school-detail' class="govuk-link--no-visited-state">Abacus Primary School</a></td>
            <td class="govuk-table__cell">Abbey Academies Trust</td>
            <td class="govuk-table__cell ">Stockport</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href='/training-provider-signed-in/school-detail' class="govuk-link--no-visited-state">Bahr Academy</a></td>
            <td class="govuk-table__cell">Abbey Academies Trust</td>
            <td class="govuk-table__cell ">Camden</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href='/training-provider-signed-in/school-detail' class="govuk-link--no-visited-state">The Rosary Catholic School</a></td>
            <td class="govuk-table__cell">Abbey Academies Trust</td>
            <td class="govuk-table__cell ">Stockport</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href='/training-provider-signed-in/school-detail' class="govuk-link--no-visited-state">Cleave Prior Primary School</a></td>
            <td class="govuk-table__cell">Abbey Academies Trust</td>
            <td class="govuk-table__cell ">Essex</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href='/training-provider-signed-in/school-detail' class="govuk-link--no-visited-state">Lorem ipsum dolor sit amet</a></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell ">Stockport</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href='/training-provider-signed-in/school-detail' class="govuk-link--no-visited-state">Suspendisse auctor</a></td>
            <td class="govuk-table__cell">Suspendisse purus</td>
            <td class="govuk-table__cell ">Camden</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href='/training-provider-signed-in/school-detail' class="govuk-link--no-visited-state">Donec vitae faucibus</a></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell ">Stockport</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href='/training-provider-signed-in/school-detail' class="govuk-link--no-visited-state">Etiam porttitor</a></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell ">Essex</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href='/training-provider-signed-in/school-detail' class="govuk-link--no-visited-state">Donec vitae faucibus</a></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell ">Camden</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href='/training-provider-signed-in/school-detail' class="govuk-link--no-visited-state">Etiam porttitor</a></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell ">Camden</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href='/training-provider-signed-in/school-detail' class="govuk-link--no-visited-state">Abacus Primary School</a></td>
            <td class="govuk-table__cell">Abbey Academies Trust</td>
            <td class="govuk-table__cell ">Stockport</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href='/training-provider-signed-in/school-detail' class="govuk-link--no-visited-state">Bahr Academy</a></td>
            <td class="govuk-table__cell">Abbey Academies Trust</td>
            <td class="govuk-table__cell ">Essex</td>
          </tr>
        </tbody>
      </table>

      <form class="form" action="/training-provider-signed-in/find-and-add-schools-success" method="post" class="govuk-!-margin-bottom-8">
        <button type="submit" class="govuk-button" id="name-search-submit" name="SearchType" value="Text">I have contracts in place with these 12 schools</button>
      </form>

      <form class="form" action="/training-provider-signed-in/find-and-add-schools-results" method="post" class="govuk-!-margin-bottom-8">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Change schools</button>
      </form>
    </div>
  </div>

{% endblock %}
