{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Abacus Primary School" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block pageNavigation %}
{% set page = 'schools' %}
  {% include "includes/_training-provider-nav.html" %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Schools",
      href: "school-listing-2021"
    },
    {
      text: "2021 cohort",
      href: "school-listing-2021"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">2021 recruitment</h2>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
      <div class="dashboard-numbers key-number">
        <p class="govuk-heading-xl">2</p>
        <p class="govuk-heading-s">participants added by schools</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="dashboard-numbers">
        <p class="govuk-heading-xl">1</p>
        <p class="govuk-heading-s">early career teachers</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="dashboard-numbers">
        <p class="govuk-heading-xl">1</p>
        <p class="govuk-heading-s">Mentors</p>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-2">
        School information
      </h1>


      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "URN"
            },
            value: {
              text: "937486"
            }
          },
          {
            key: {
              text: "Local authority"
            },
            value: {
              text: "Camden"
            }
          },
          {
            key: {
              text: "MAT / Network"
            },
            value: {
              text: "Abbey Academies Trust"
            }
          },
          {
            key: {
              text: "Characteristics"
            },
            value: {
              html: "Pupil premium above 40%"
            }
          },
          {
            key: {
              text: "School contact"
            },
            value: {
              html: '<a href="#">jane.smith@acornprimary.sch.uk</a>'
            }
          }
        ]
      }) }}
    </div>
  </div>

{% endblock %}
