{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data['user-details'] == "ect" %}  
	{% set pageHeading = '' + data['participant-fullname'] + '' %}	
{% elif data['user-details'] == "mentor" %}  
	{% set pageHeading = '' + data['participant-fullname-mentor'] + '' %}								
{% elif data['user-details'] == "sitMentor" %}  
	{% set pageHeading = 'Anna Green' %}								
{% else %}
	{% set pageHeading = "Full Name" %}
{% endif %}
{% set pageSection = "Woodfield Primary School - 2021 to 2022 cohort" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">


			
			<!-- <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
				<div class="govuk-notification-banner__header">
					<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
			  	</div>
			  	<div class="govuk-notification-banner__content">					
					<h3 class="govuk-notification-banner__heading">You have updated the mentor for this early career teacher.</h3>			
					<h3 class="govuk-notification-banner__heading">The participants name has been updated.</h3>
					<h3 class="govuk-notification-banner__heading">The participants email address has been updated.</h3>
			  	</div>
			</div> -->

			
			

			{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}      	
			
			{% if data['user-research'] == "Yes" %}

				<div class="govuk-inset-text pending">
					<p><span class="govuk-!-font-weight-bold">Status:</span> We’ve contacted these people for information</p>
					<p>We’ve asked for information to check their eligibility. We'll confirm if they're eligible for this programme soon. You do not need to do anything.</p>
				</div>

			{% else %}

				{% if data['approval-status'] == "rejected" %}
					<div class="govuk-inset-text investigate">
						<p><span class="govuk-!-font-weight-bold">Status:</span> Not eligible</p>
						<p>This may be because they've already started their induction training. We've let them know they're not eligible to begin this programme in the 2021 to 2022 academic year.</p>
					</div>
				{% elif data['approval-status'] == "details-checked" %}				
					<div class="govuk-inset-text pending">
						<p><span class="govuk-!-font-weight-bold">Status:</span> Details being checked</p>
						<p>We're checking this person's details with the Teaching Regulation Agency. We'll confirm if they're eligible for this programme soon. You do not need to do anything.</p>
					</div>
				{% elif data['approval-status'] == "teaching-database" %}
					<div class="govuk-inset-text pending">
						<p><span class="govuk-!-font-weight-bold">Status:</span> Details being checked</p>
						<p>We're checking this person's details with the Teaching Regulation Agency. We'll confirm if they're eligible for this programme soon. You do not need to do anything.</p>
					</div>
				{% elif data['approval-status'] == "add-details" %}				
					<div class="govuk-inset-text pending">
						<p><span class="govuk-!-font-weight-bold">Status:</span> Contacted for information</p>
						<p>We've asked this person to use our service to provide some information. We need this to check their eligibility with the Teaching Regulation Agency.</p> 
						<p>We suggest you remind them to provide this.</p>
					</div>			
				{% else %}
				<!-- Approved so no message to show -->

				{% endif %}

			{% endif %}

			
			<dl class="govuk-summary-list govuk-!-margin-bottom-9">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Name</dt>
				  	<dd class="govuk-summary-list__value">
						{% if data['user-details'] == "ect" %}  
							{{ data['participant-fullname'] }}
						{% elif data['user-details'] == "mentor" %}  
							{{ data['participant-fullname-mentor'] }}
						{% elif data['user-details'] == "sitMentor" %}  
							{{ defaults.userFullName() }}
						{% else %}						
							Full name
						{% endif %}
					</dd>
				  	<dd class="govuk-summary-list__actions"><a class="govuk-link" href="add/name?linkaction=change-name">Change<span class="govuk-visually-hidden"> name</span></a></dd>
				</div>	
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Email address</dt>
				  	<dd class="govuk-summary-list__value">
						{% if data['user-details'] == "ect" %}  
							{{ data['participant-email-address'] }}
						{% elif data['user-details'] == "mentor" %}  
							{{ data['participant-email-address-mentor'] }}
						{% elif data['user-details'] == "sitMentor" %}  
							{{ defaults.userEmailAddress() }}
						{% else %}						
							email@domain.com
						{% endif %}  						
						</dd>
				  	<dd class="govuk-summary-list__actions"><a class="govuk-link" href="email-address">Change<span class="govuk-visually-hidden"> name</span></a></dd>
				</div>	
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Role</dt>
				  	<dd class="govuk-summary-list__value">
						{% if data['user-details'] == "ect" %}  
							ECT
						{% elif data['user-details'] == "mentor" %}  
							Mentor
						{% elif data['user-details'] == "sitMentor" %}  
							Mentor
						{% else %}  
						Mentor/ECT
						{% endif %}
					</dd>
				  	<dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a></dd>
				</div>				

				{% if data['user-details'] == "ect" %}  							
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Mentor</dt>
				  	<dd class="govuk-summary-list__value">Not assigned yet</dd>
				  	<dd class="govuk-summary-list__actions"><a class="govuk-link" href="add/choose-mentor?linkaction=change-mentor">Change<span class="govuk-visually-hidden"> name</span></a></dd>
				</div>									
				{% endif %}
			</dl>			            

      		
			{% if data['user-research'] == "Yes" %}

				{% if data['user-details'] == "ect" %}  
					<p><a href="confirm-delete?deletelink=ect">Remove {{ data['participant-fullname'] }} from this cohort</a></p>			
				{% elif data['user-details'] == "mentor" %}  
					<p><a href="confirm-delete?deletelink=mentor">Remove {{ data['participant-fullname-mentor'] }} from this cohort</a></p>			
				{% elif data['user-details'] == "sitMentor" %}  
					<p><a href="confirm-delete?deletelink=sitMentor">Remove {{ defaults.userFullName() }} from this cohort</a></p>			
				{% else %}						
					<p><a href="confirm-delete">Remove FULL NAME from this cohort</a></p>			
				{% endif %}

			{% else %}

			<!-- ECT -->

			
				<p><a href="confirm-delete">Remove {{ defaults.userFullName() }} from this cohort</a></p>			
				<!-- FIP -->				
				<p>If {{ defaults.userFullName() }} should not be in this cohort, contact your training provider to remove them.</p>
				<!-- CIP -->				
				<!-- <p>If {{ defaults.userFullName() }} should not be in this cohort, contact your training provider to remove them.</p> -->

			<!-- Mentor -->

				<!-- FIP -->				
				<!-- <p>If {{ defaults.userFullName() }} should not be in this cohort, <a href="mailto:continuing-professional-development@digital.education.gov.uk">contact us</a> to remove them.</p> -->
				<!-- CIP -->				
				<p>If {{ defaults.userFullName() }} should not be in this cohort, <a href="mailto:continuing-professional-development@digital.education.gov.uk">contact us</a> to remove them.
				
			{% endif %}

    	</div>
  	</div>
{% endblock %}
