{% extends "layout.html" %}

{% block pageTitle %}
  Choose how to continue
{% endblock %}

{% block pageNavigation %}
<a class="govuk-back-link" href="/start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Choose how to continue
      </h1>

      <form action="/identity-answer" method="post" class="form">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {{ govukRadios({
        idPrefix: "where-do-you-live",
        name: "identity-answer",
        fieldset: {

        },
        items: [
          {
            value: "sign-in",
            text: "Sign in",
            hint: {
              text: "If you've already signed up, or if you've recieved an introductory email from the Department for Education ."
            }
          },
          {
            value: "create-account",
            text: "Create an account",
            hint: {
              text: "If you are a school, colleges, academy or trust without an account."
            }
          }
        ]
      }) }}
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Continue"
      }) }}
      </form>

    </div>
  </div>

{% endblock %}
