{% extends "layout.html" %}

{% block pageTitle %}
  Induction course
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
{% endblock %}

{% block content %}
<a href="/sign-out" class="signout">Sign out</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Induction course outline
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#course-structure">
        Course structure
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#downloads">
        Downloads
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#your-mentor">
        Your mentor
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="course-structure">
    <h2 class="govuk-heading-l">Course structure</h2>

    <h3 class="govuk-heading-m">Strand 1: behaviour</h3>
    <ul class="govuk-list govuk-list--number">
    <li><a class="govuk-link" href="#">Strand overview and contracting</a></li>
    <li><a class="govuk-link" href="#">Routines</a></li>
    <li><a class="govuk-link" href="#">Instructions</a></li>
    <li><a class="govuk-link" href="#">Directing attention</a></li>
    <li><a class="govuk-link" href="#">Low-level disruption</a></li>
    <li><a class="govuk-link" href="#">Consistency</a></li>
    <li><a class="govuk-link" href="#">Positive learning environment</a></li>
    <li><a class="govuk-link" href="#">Structured support of learning</a></li>
    <li><a class="govuk-link" href="#">Challenge</a></li>
    <li><a class="govuk-link" href="#">Independent practice</a></li>
    <li><a class="govuk-link" href="#">Pairs and groups</a></li>
    <li><a class="govuk-link" href="#">Upholding high expectations</a></li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <h3 class="govuk-heading-m">Strand 2: instruction</h3>
    <ul class="govuk-list govuk-list--number">
    <li><a class="govuk-link" href="#">Strand fundamentals and re-contracting</a></li>
    <li><a class="govuk-link" href="#">Identifying learning content</a></li>
    <li><a class="govuk-link" href="#">Instruction for memory</a></li>
    <li><a class="govuk-link" href="#">Prior knowledge</a></li>
    <li><a class="govuk-link" href="#">Teacher exposition</a></li>
    <li><a class="govuk-link" href="#">Adapting teaching</a></li>
    <li><a class="govuk-link" href="#">Practice, challenge and success</a></li>
    <li><a class="govuk-link" href="#">Explicit learning</a></li>
    <li><a class="govuk-link" href="#">Scaffolding</a></li>
    <li><a class="govuk-link" href="#">Questioning</a></li>
    <li><a class="govuk-link" href="#">Classroom talk</a></li>
    <li><a class="govuk-link" href="#">Feedback</a></li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <h3 class="govuk-heading-m">Strand 3: subject</h3>
    <ul class="govuk-list govuk-list--number">
    <li><a class="govuk-link" href="#">Strand fundamentals and re-contracting</a></li>
    <li><a class="govuk-link" href="#">Planning backwards from learning goals</a></li>
    <li><a class="govuk-link" href="#">Types of knowledge</a></li>
    <li><a class="govuk-link" href="#">Gaps and misconceptions</a></li>
    <li><a class="govuk-link" href="#">Acquisition before application</a></li>
    <li><a class="govuk-link" href="#">Promoting deep learning</a></li>
    <li><a class="govuk-link" href="#">Developing pupils’ literacy</a></li>
    <li><a class="govuk-link" href="#">Sharing academic expectations</a></li>
    <li><a class="govuk-link" href="#">Assessing for formative purposes</a></li>
    <li><a class="govuk-link" href="#">Examining pupils’ responses</a></li>
    <li><a class="govuk-link" href="#">Adapting lessons to meet pupils needs</a></li>
    <li><a class="govuk-link" href="#">Feedback</a></li>
    </ul>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="downloads">
    <h2 class="govuk-heading-l">Downloads</h2>

    <h2 class="govuk-heading-m">Guidance</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="#">ECF Teacher Handbook (PDF)</a></li>
    </ul>

    <h2 class="govuk-heading-m">Modules</h2>

    <h2 class="govuk-heading-s">Strand 1: behaviour</h2>
    <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="#">Strand overview and contracting (PDF)</a></li>
    <li><a class="govuk-link" href="#">Routines (PDF)</a></li>
    <li><a class="govuk-link" href="#">Instructions (PDF)</a></li>
    <li><a class="govuk-link" href="#">Directing attention (PDF)</a></li>
    <li><a class="govuk-link" href="#">Low-level disruption (PDF)</a></li>
    <li><a class="govuk-link" href="#">Consistency (PDF)</a></li>
    <li><a class="govuk-link" href="#">Positive learning environment (PDF)</a></li>
    <li><a class="govuk-link" href="#">Structured support of learning (PDF)</a></li>
    <li><a class="govuk-link" href="#">Challenge (PDF)</a></li>
    <li><a class="govuk-link" href="#">Independent practice (PDF)</a></li>
    <li><a class="govuk-link" href="#">Pairs and groups (PDF)</a></li>
    <li><a class="govuk-link" href="#">Upholding high expectations (PDF)</a></li>
    </ul>

    <h2 class="govuk-heading-s">Strand 2: instruction</h2>
    <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="#">Strand fundamentals and re-contracting (PDF)</a></li>
    <li><a class="govuk-link" href="#">Identifying learning content (PDF)</a></li>
    <li><a class="govuk-link" href="#">Instruction for memory (PDF)</a></li>
    <li><a class="govuk-link" href="#">Prior knowledge (PDF)</a></li>
    <li><a class="govuk-link" href="#">Teacher exposition (PDF)</a></li>
    <li><a class="govuk-link" href="#">Adapting teaching (PDF)</a></li>
    <li><a class="govuk-link" href="#">Practice, challenge and success (PDF)</a></li>
    <li><a class="govuk-link" href="#">Explicit learning (PDF)</a></li>
    <li><a class="govuk-link" href="#">Scaffolding (PDF)</a></li>
    <li><a class="govuk-link" href="#">Questioning (PDF)</a></li>
    <li><a class="govuk-link" href="#">Classroom talk (PDF)</a></li>
    <li><a class="govuk-link" href="#">Feedback (PDF)</a></li>
    </ul>

    <h2 class="govuk-heading-s">Strand 3: subject</h2>
    <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="#">Strand fundamentals and re-contracting (PDF)</a></li>
    <li><a class="govuk-link" href="#">Planning backwards from learning goals (PDF)</a></li>
    <li><a class="govuk-link" href="#">Types of knowledge (PDF)</a></li>
    <li><a class="govuk-link" href="#">Gaps and misconceptions (PDF)</a></li>
    <li><a class="govuk-link" href="#">Acquisition before application (PDF)</a></li>
    <li><a class="govuk-link" href="#">Promoting deep learning (PDF)</a></li>
    <li><a class="govuk-link" href="#">Developing pupils’ literacy (PDF)</a></li>
    <li><a class="govuk-link" href="#">Sharing academic expectations (PDF)</a></li>
    <li><a class="govuk-link" href="#">Assessing for formative purposes (PDF)</a></li>
    <li><a class="govuk-link" href="#">Examining pupils’ responses (PDF)</a></li>
    <li><a class="govuk-link" href="#">Adapting lessons to meet pupils needs (PDF)</a></li>
    <li><a class="govuk-link" href="#">Feedback (PDF)</a></li>
    </ul>


  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="your-mentor">
    <h2 class="govuk-heading-l">Your mentor</h2>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Sarah Smith</h2>
    <p class="govuk-body govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Email:</span> <a class="govuk-link" href="#">sarah.smith@elhamvalley.sch.uk</a></p>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Telephone:</span> 01215 756345</p>
  </div>
</div>

    </div>
  </div>
{% endblock %}
