{% extends "layout.html" %}

{% set pageHeading = "What do you want to do now?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p class="govuk-body"><p>We cannot check your eligibility if your name is different to the one listed in Teaching Regulation Agency records.</p>

      <form class="form" action="qct-ect" method="post" class="govuk-!-margin-bottom-8">

        {{ govukRadios({
          idPrefix: "dqt-change",
          name: "dqt-change",
          fieldset: {
          legend: {
            text: "Choose an option to continue your registration:",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
        }
        },
          items: [
            {
              value: "newMentor",
              text: "Register for this programme using your previous name (you can update this later)",
              checked: checked("dqt-change", "newMentor")
            },
            {
              value: "existingMentor, redirect(dqt-contact)",
              text: "Update your name with the Teaching Regulation Agency",
              checked: checked("dqt-change", "existingMentor")
            }

          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}