{% extends "layout.html" %}

{% set pageHeading = "Have you changed your name since you started your initial teacher training (ITT)?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      		<p class="govuk-body">Your name must match the Teaching Regulation Agency records. We use these to check you’re eligible for this training and support.</p>
      		
			<form class="form" action="qct-ect" method="post" class="govuk-!-margin-bottom-8">

				{{ govukRadios({
					idPrefix: "name-change",
					name: "name-change",
					fieldset: {
					legend: {
						text: "Have you changed your name?",
						isPageHeading: false,
						classes: "govuk-visually-hidden"
						}
					},
					items: [
						{ value: "yes, redirect(update-name)", text: "Yes, I changed my name", checked: checked("name-change", "existingMentor") },
						{ value: "no", text: "No, I have the same name", checked: checked("name-change", "newMentor") }
					]
				}) }}

        		{{ govukButton({
          			text: "Continue"
        		}) }}
      		
			</form>
    	
		</div>
  	</div>

{% endblock %}