{% extends "layout.html" %}

{% set pageHeading = "Do you know your teacher reference number?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block pageNavigation %}

{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          What’s a teacher reference number?
          </span>
        </summary>

        <div class="govuk-details__text">
          <p>A teacher reference number (TRN) is a unique ID that helps us to check you’re a teacher.</p>
          <p class="govuk-body">Your number:</p>
              <ul class="govuk-list govuk-list--bullet">
              <li>is usually 7 digits, for example '4567814'</li>
              <li>may include the letters 'RP' or a slash '/'' symbol, for example 'RP99/12345'</li>
               </ul>
          <p>You can usually find it on your payslip, teachers’ pension documents, or teacher training records.</p>
          <p>QTS, GTC, DfE, DfES or DCSF numbers are the same as TRNs.</p>
          <p>You may not have a TRN if you qualified outside England.</p>
        </div>
      </details>

      <form class="form" action="trn-ect" method="post" class="govuk-!-margin-bottom-8">
        {{ govukRadios({
          idPrefix: "trn-look",
          name: "trn-look",
          fieldset: {
          legend: {
            text: "Do you know your teacher reference number (TRN)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
          },
          items: [
            {
              value: "yes, redirect(name-change-ect)",
              text: "Yes, I know my TRN",
              checked: checked("trn-look", "existingMentor")
            },
            {
              value: "no, redirect(trn-info)",
              text: "No, I do not know my TRN",
              checked: checked("trn-look", "newMentor")
            },
            {
              value: "notrn, redirect(trn-get)",
              text: "I do not have a TRN",
              checked: checked("trn-look", "Mentor")
            }

          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
