{% extends "layout.html" %}

{% set pageHeading = "Do you know your teacher reference number?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block pageNavigation %}

{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p class="govuk-body">Your teacher reference number (TRN) is used to check you're eligible for training and support.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a teacher reference number?
          </span>
        </summary>

        <div class="govuk-details__text">
          <p>A teacher reference number (TRN) is a unique ID that allows us to check you are a teacher.</p>
          <p>If you don’t know what your teacher reference number (TRN) is, this can usually be found on your payslip, teachers’ pension documentation or teacher training records.</p>
          <p>The TRN has previously been known as a QTS, GTC, DfE, DfES or DCSF number.</p>
          <p>You may not have a TRN if you qualified outside England or overseas.</p>
        </div>
      </details>

      <form class="form" action="trn-ect" method="post" class="govuk-!-margin-bottom-8">
        {{ govukRadios({
          idPrefix: "trn-look",
          name: "trn-look",
          items: [
            {
              value: "yes, redirect(name-change-ect)",
              text: "Yes, I know my TRN",
              checked: checked("trn-look", "existingMentor")
            },
            {
              value: "no, redirect(trn-info)",
              text: "No, I don't know my TRN",
              checked: checked("trn-look", "newMentor")
            },
            {
              value: "notrn, redirect(trn-get)",
              text: "I don't have a TRN",
              checked: checked("trn-look", "Mentor")
            }

          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
