{% extends "layout.html" %}

{% set pageHeading = "Confirm if you’ve updated your record" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      		<p class="govuk-body">If you want to be known by a different name at work and on training certificates, you must update your record with the Teaching Regulation Agency.</p>

      		<form class="form" action="qct-ect" method="post" class="govuk-!-margin-bottom-8">
        		
				{{ govukRadios({
          			idPrefix: "updated-name",
          			name: "updated-name",
          			fieldset: {
          				legend: {
            				text: "Have you updated your name with the Teaching Regulation Agency?",
            				isPageHeading: true,
            				classes: "govuk-fieldset__legend--s"
        				}
        			},
          			items: [
            			{ value: "yes",text: "Yes, my name has been updated",checked: checked("nameChange", "existingMentor") },
            			{ value: "no, redirect(name-not-updated)",text: "No, I need to update my name",checked: checked("nameChange", "newMentor") },
            			{ value: "notsure, redirect(name-maybe)", text: "I’m not sure", checked: checked("nameChange", "Mentor") }
          			]
        		}) }}

        		{{ govukButton({
          			text: "Continue"
        		}) }}
      		
			</form>
    	
		</div>
  	</div>

{% endblock %}