{% extends "layout.html" %}
{% set showBackLink = false %}

{% block page_title %}
    Page listings - Manage training for early career teachers - Department for Education - GOV.UK
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Prototype work</span>
                Page listings
            </h1>

            <p class="govuk-body-s">Last updated 3 May 2022</p>
            <p><a href="data">Data been stored as part of current session</a></p>

            <!-- ////////////////////////////////// -->

            <h2 class="govuk-heading-l">Access to the service</h2>
            <p>Various routes into the service either via sign in, access link or email.</p>
            {# <p>Induction Tutor is notified via email that they have been nominated. <span class="miro-link"><a href="https://miro.com/app/board/o9J_ldVNkCY=/?moveToWidget=3074457355250705583&cot=14">User journey on Miro</a></span></p> #}
            <h3 class="govuk-heading-m">Using the service start page</h3>
            <ul class="govuk-list govuk-list--bullet">

                <li><a class="govuk-link" href="/start" >Manage training for early career teachers*</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/how-to-set-up-your-programme" >Set up your school’s early career teacher training programme: step by step*</a></li>
                </ul>
                <li><a class="govuk-link" href="/sign-in" >Sign in*</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/how-to-get-an-account" >How to access this service*</a></li>
                    <li><a class="govuk-link" href="/nominations/resend-email" >Send your school a link to use this service*</a></li>
                    <li><a class="govuk-link" href="/nominations/local-authority" >What is your school’s local authority?*</a></li>
                    <li><a class="govuk-link" href="/nominations/choose-school" >What’s the name of your school?*</a></li>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                        <li><a class="govuk-link" href="/nominations/induction-tutor/already-nominated" >An induction tutor has already been nominated*</a></li>
                    </ul>
                    <li><a class="govuk-link" href="/nominations/confirm" >Confirm this is your school*</a></li>
                    <li><a class="govuk-link" href="/nominations/success" >Your school has been sent a link*</a></li>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                        <li><a class="govuk-link" href="/emails/tell-us-if-you-have-nqt" >(Email) - Does your school expect any early career teachers in the term ahead? *</a></li>
                    </ul>



                </ul>





            </ul>

            <h3 class="govuk-heading-m">Nominated as an induction tutor</h3>
            <ul class="govuk-list govuk-list--bullet">
             <li><a class="govuk-link" href="/emails/induction-nomination" >Nominated to be school induction tutor (email)</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <p>Resending as original email has been lost, deleted or link expired. <br /><span class="miro-link"><a href="https://miro.com/app/board/o9J_ldVNkCY=/?moveToWidget=3074457355253267755&cot=14">User journey on Miro</a></span></p>

                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                        <li><a class="govuk-link" href="/nominations/induction-tutor/already-nominated" >An induction tutor has already been nominated</a></li>
                    </ul>

                </ul>

    <li><a class="govuk-link" href="/choose-study-materials" >Choose accredited study materials for your early career teachers</a></li>

                <li><a class="govuk-link" href="/check-your-email" >Check your email</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/emails/link-to-sign-in" >Link to sign in (email)</a></li>
                    <li><a class="govuk-link" href="/schools/expired-link?sign-in-link=expired" >Expired link (email)</a></li>
                </ul>
                <li><a class="govuk-link" href="/signed-in" >You are now signed in</a></li>
                <li><a class="govuk-link" href="/privacy-policy?journey-mode=NoDecision" >Privacy policy</a></li>
                <li><a class="govuk-link" href="/cannot-use-this-service" >You do not have access to this service</a></li>
            </ul>







            <h2 class="govuk-heading-l">Confirm if school has ECTs and nominate an induction tutor</h2>
            <p>School admin staff (or those monitoring the "main GIAS email address") receive this email notification.</p>
            <ul class="govuk-list govuk-list--bullet">

                <li><a class="govuk-link" href="/emails/tell-us-if-you-have-nqt" >Does your school expect any early career teachers in the term ahead? (email)*</a></li>
            </ul>
            <p>Email links them to service to confirm ECTs and nominate induction tutor.</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/nominations/expect-early-career-teachers" >Do you expect any early career teachers to join your school this academic year?</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/nominations/confirmation?school-status=not-required" >Your information has been saved for this academic year (No ECT)</a></li>
                </ul>
                <li><a class="govuk-link" href="/nominations/induction-tutor/" >Nominate an induction tutor for your school*</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/nominations/expired-link?sign-in-link=" >This link has expired*</a></li>
                    <li><a class="govuk-link" href="/nominations/invalid-link?sign-in-link=" >This link provided is invalid*</a></li>
                </ul>
                <li><a class="govuk-link" href="/nominations/induction-tutor/full-name" >What’s the full name of your induction tutor?*</a></li>
                <li><a class="govuk-link" href="/nominations/induction-tutor/email-address" >What’s { name’s } email address?*</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/nominations/induction-tutor/email-already-in-use" >That email address is being used by another school</a></li>
                </ul>
                <li><a class="govuk-link" href="/nominations/induction-tutor/check-your-answers" >Check your answers*</a></li>

                <li><a class="govuk-link" href="/nominations/induction-tutor/confirmation" >Induction tutor nominated*</a></li>



            </ul>


            <!-- ////////////////////////////////// -->

            <h2 class="govuk-heading-l">Induction tutor sign up</h2>
            <p>Induction Tutor is notified via email that they have been nominated. <span class="miro-link"><a href="https://miro.com/app/board/o9J_ldVNkCY=/?moveToWidget=3074457355250705583&cot=14">User journey on Miro</a></span></p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/emails/induction-nomination" >Nominated to be school induction tutor (email)</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <p>Resending as original email has been lost, deleted or link expired. <br /><span class="miro-link"><a href="https://miro.com/app/board/o9J_ldVNkCY=/?moveToWidget=3074457355253267755&cot=14">User journey on Miro</a></span></p>
                    <li><a class="govuk-link" href="/nominations/resend-email" >Send your school a link to use this service</a></li>
                    <li><a class="govuk-link" href="/nominations/local-authority" >What is your school's local authority?</a></li>
                    <li><a class="govuk-link" href="/nominations/choose-school" >Find your school</a></li>
                    <li><a class="govuk-link" href="/nominations/confirm" >Confirm your details</a></li>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                        <li><a class="govuk-link" href="/nominations/induction-tutor/already-nominated" >An induction tutor has already been nominated</a></li>
                    </ul>
                    <li><a class="govuk-link" href="/nominations/success" >Your school has been sent a link</a></li>
                </ul>

                <li><a class="govuk-link" href="/start" >Manage training for early career teachers</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/how-to-get-an-account" >How to get an account for this service</a></li>
                    <li><a class="govuk-link" href="/choose-study-materials" >Choose accredited study materials for your early career teachers</a></li>
                </ul>
                <li><a class="govuk-link" href="/sign-in" >Sign in</a></li>
                <li><a class="govuk-link" href="/check-your-email" >Check your email</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/emails/link-to-sign-in" >Link to sign in (email)</a></li>
                    <li><a class="govuk-link" href="/schools/expired-link?sign-in-link=expired" >Expired link (email)</a></li>
                </ul>
                <li><a class="govuk-link" href="/signed-in" >You are now signed in</a></li>
                <li><a class="govuk-link" href="/privacy-policy?journey-mode=NoDecision" >Privacy policy</a></li>
                <li><a class="govuk-link" href="/cannot-use-this-service" >You do not have access to this service</a></li>
            </ul>

            <h2 class="govuk-heading-l">Changing induction tutor</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/schools/participants/induction-tutor/full-name" >What’s the full name of the new induction tutor?</a></li>
                <li><a class="govuk-link" href="/emails/email-address" >What’s full name’s email address?</a></li>
                <li><a class="govuk-link" href="/emails/check-your-answers" >Check your answers</a></li>
                <li><a class="govuk-link" href="/emails/confirm" >Are you sure you want to replace the induction tutor for your school?</a></li>
                <li><a class="govuk-link" href="/emails/confirmation" >Your school’s induction tutor has been changed</a></li>
            </ul>





            <!-- ////////////////////////////////// -->

            <h3 class="govuk-heading-m">Choose programme</h3>
            <p>What an induction tutor sees after first sign in, or if they have not yet chosen an induction programme. <span class="miro-link"><a href="https://miro.com/app/board/o9J_ldVNkCY=/?moveToWidget=3074457355290069818&cot=14">User journey on Miro</a></span></p>
            <ul class="govuk-list govuk-list--bullet">
                <!-- <li><a class="govuk-link" href="/schools/induction-programme-info" >Do you know how you want to run your 2021/22 induction for early career teachers?</a></li>
                <li><a class="govuk-link" href="/schools/induction-programme-info?eligible-funding=No" >Do you know how you want to run your 2021/22 induction for early career teachers? (Not eligible for funding)</a></li> -->
                <li><a class="govuk-link" href="/schools/choose-induction-programme?eligible-funding=" >How do you want to run your training in 2021 to 2022?</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/schools/choose-induction-programme?eligible-funding=No" >How do you want to run your training in 2021 to 2022? (No funding)</a></li>
                </ul>

                <li><a class="govuk-link" href="/schools/confirm-induction-programme" >Confirm your induction programme</a></li>
                <li><a class="govuk-link" href="/schools/provision-confirmed" >Your choice has been saved for 2021/22</a></li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p>// End of sign up journey for schools and choice of induction programme. //</p>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <!-- ////////////////////////////////// -->

            <h2 class="govuk-heading-l">Induction tutor/school management </h2>
            <p>All schools on sign in land at the Manage your training page, which has different functionality depending on induction programme chosen below.</p>
            <h3 class="govuk-heading-m">Core induction programme (CIP)</h3>
            <p>When a school is delivering their own using DfE accredited materials. <span class="miro-link"><a href="https://miro.com/app/board/o9J_ldVNkCY=/?moveToWidget=3074457355308879313&cot=14">User journey on Miro</a></span></p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                <li><a class="govuk-link" href="/schools/manage-your-training?inductionProgramme=CIP" >Manage your training</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/schools/materials/?inductionProgramme=CIP" >Do you know which accredited materials you want to use?</a></li>
                    <li><a class="govuk-link" href="/schools/materials/which?inductionProgramme=CIP" >Which training materials do you want this cohort to use?</a></li>
                    <li><a class="govuk-link" href="/schools/materials/confirmation?inductionProgramme=CIP" >Training materials confirmed</a></li>
                    <li><a class="govuk-link" href="/schools/materials/your-accredited-materials?inductionProgramme=CIP" >Your accredited materials</a></li>
                </ul>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a class="govuk-link" href="/schools/programme-choice?inductionProgramme=CIP" >Choose your induction programme</a></li>
                </ul>
                <!-- No longer needed -->
                <!-- <li><a class="govuk-link" href="/school-signed-in/cip/cip-cohort-detail" >2021/22 cohort: use DfE accredited materials</a></li> -->
                <!-- <li><a class="govuk-link" href="/school-signed-in/fip/fip-cohort-detail" >2021/2022 cohort: use a training provider</a></li> -->
            </ul>



            <h3 class="govuk-heading-m">Full induction programme (FIP)</h3>
            <p>When a school is using a training provider funded by DfE. <br /><span class="miro-link"><a href="https://miro.com/app/board/o9J_ldVNkCY=/?moveToWidget=3074457355306758748&cot=14">User journey on Miro</a></span></p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                <li><a class="govuk-link" href="/schools/manage-your-training?inductionProgramme=FIP" >Manage your training</a></li>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a class="govuk-link" href="/schools/sign-up-to-training-provider" >Signing up with a training provider</a></li>
                    <li><a class="govuk-link" href="/schools/programme-choice?inductionProgramme=FIP" >Choose your induction programme</a></li>
                    <li><a class="govuk-link" href="/schools/report/incorrect-signup?inductionProgramme=FIP" >Report that your school has been signed up incorrectly</a></li>
                    <li><a class="govuk-link" href="/schools/report/submitted?inductionProgramme=FIP" >Your report has been submitted</a></li>
                </ul>
                <p>Notified via email of a new partnership. <span class="miro-link"><a href="https://miro.com/app/board/o9J_ldVNkCY=/?moveToWidget=3074457354439630103&cot=14">User journey on Miro</a></span></p>
                <li><a class="govuk-link" href="/emails/provider-confirmed?inductionProgramme=FIP" >Provider confirmed (email)</a></li>

            </ul>

            <h3 class="govuk-heading-m">Deliver your own (DYO)</h3>
            <p>When a school designs and deliver their own programme based on the Early Career Framework (ECF).</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
                <li><a class="govuk-link" href="/schools/manage-your-training?inductionProgramme=DYO" >Manage your training</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/schools/programme-choice?inductionProgramme=DYO" >Choose your induction programme</a></li>
                </ul>
            </ul>


            <h3 class="govuk-heading-m">Not expecting any ECT (noECT)</h3>
            <p>When a school is not expecting to have any ECTs but has an induction tutor.</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
                <li><a class="govuk-link" href="/schools/manage-your-training?inductionProgramme=noECT" >Manage your training</a></li>
            </ul>


            <!-- Test -->
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


            <h3 class="govuk-heading-m">Add and manage early career teacher or mentor</h3>
            <p>How a school induction tutor adds ECTs and Mentors to a cohort. <span class="miro-link"><a href="https://miro.com/app/board/o9J_ldVNkCY=/?moveToWidget=3074457356227023262&cot=14">User journey on Miro</a></span></p>

            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/schools/what-each-person-does" >Check what each person needs to do in the early career teacher training programme</a></li>
                <li><a class="govuk-link" href="/schools/participants/" >Your early career teachers (ECTs) and mentors*</a></li>
                <li><a class="govuk-link" href="/schools/participants/details" >[Name of ECT/Mentor]</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/schools/participants/add/existing-mentor" >Do you want to add a mentor from another cohort? (Not in use)</a></li>
                    <li><a class="govuk-link" href="/schools/participants/add/which-mentor" >Which mentor do you want to add to the 2021 cohort? (Not in use)</a></li>
                </ul>
                <li><a class="govuk-link" href="/schools/participants/add/name" >What is the name of this [early career teacher/mentor]?*</a></li>
                <li><a class="govuk-link" href="/schools/participants/add/email-address" >What is [name]’s email address?*</a></li>
                <li><a class="govuk-link" href="/schools/participants/add/choose-mentor" >Who is the mentor for [name]?*</a></li>
                <li><a class="govuk-link" href="/schools/participants/add/check-your-answers" >Check your answers*</a></li>
                <li><a class="govuk-link" href="/schools/participants/add/confirmation" >[Name] has been added*</a></li>
            </ul>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/schools/participants/confirm-delete" >Confirm you want to remove [ Full name ]</a></li>
                <li><a class="govuk-link" href="/schools/participants/confirmation" >[Full name] has been removed from this cohort</a></li>
                <!-- <li><a class="govuk-link" href="#"></a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/choose-participant-type">Add your early career teachers and mentors</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/are-you-sure-sitmentor">Are you sure you want to add yourself as a mentor?</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/change-mentor-for-ect" >Who is the mentor for [ECT name]</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/change-participant-email-error">That email address is already in use</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/change-participant-email">Change participants email address</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/change-participant-name">Change participants name</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/choose-ect-for-cohort">What early career teachers would undefined look after in this cohort?</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/choose-mentor-for-ect">Who is the mentor for undefined?</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/cohort-participant-listing">Your early career teachers (ECTs) and mentors</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/confirm-participant-details">Confirm these details</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/confirm-participant-sitmentor">Confirm your details</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/enter-personal-details">Enter their details</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/mentor-from-existing-cohort">Which mentor do you want to add to the 2021 cohort?</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/new-or-existing-mentor">Do you want to add a mentor from another cohort?</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/participant-email-change">[Username] - email address updated</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/participant-mentor-change">[Username] - mentor updated</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/participant-status-approved">[Username] - approved</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/participant-status-investigate">[Username] - needs investigation</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/participant-status-not-started">[Username] - not started</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/participant-status-waiting-on-dqt-update">[Username] - waiting on updated details</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/participant-status-waiting-on-qts-status">[Username] - checking their QTS status</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/participant-status-waiting-to-be-added-to-dqt">[Username] - waiting to be added</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/success-mentor-added">You have added [username] to the 2021 cohort</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/success-participant-added-sit">You have been added to the 2021/22 cohort</a></li>
                <li><a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/success-participant-added">You have added undefined to the 2021 cohort</a></li> -->
            </ul>

            <h2 class="govuk-heading-l">Teacher or mentor validation</h2>
            <p>The nominated ECT or mentor is notified via email of a registration action in order to sign in to access materials. </p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/emails/particpant-email?participantType=ECT" >Email: Add your details ready for your early career teacher training programme</a></li>
                <li><a class="govuk-link" href="/schools/participants/register/">Register for your Early Career training and support</a></li>
                <li><a class="govuk-link" href="/privacy-policy?registering=Yes" >Privacy policy</a></li>
                <li><a class="govuk-link" href="/schools/participants/register/teacher-reference-number" >What’s your teacher reference number (TRN)?</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/schools/participants/register/national-insurance-number" >What’s your National Insurance number??</a></li>
                </ul>
                <li><a class="govuk-link" href="/schools/participants/register/date-of-birth" >What’s your date of birth?</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/schools/participants/register/cannot-find-your-details" >We cannot find your details</a></li>
                    <li><a class="govuk-link" href="/schools/participants/register/confirm-name" >Is this the name you used when you started your initial teacher training (ITT)?</a></li>
                    <li><a class="govuk-link" href="/schools/participants/register/name" >What was your full name when you started your intial teacher training?</a></li>
                    <li><a class="govuk-link" href="/schools/participants/register/cannot-find-your-details?register-validate=noMatch" >We still cannot find your details</a></li>
                </ul>
                <li><a class="govuk-link" href="/schools/participants/register/confirmation" >You’re eligible for this programme (multiple variations)</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/schools/participants/register/confirmation?register-validate=noMatch" >Information submitted</a></li>
                </ul>



                <!-- <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/schools/participants/register/get-teacher-reference-number" >How to get your teacher reference number (TRN)</a></li>
                </ul> -->

                <!-- <li><a class="govuk-link" href="/schools/participants/register/do-you-have-a-teacher-reference-number" >Do you have a teacher reference number (TRN)?</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/schools/participants/register/get-teacher-reference-number" >Get a teacher reference number (TRN)</a></li>
                </ul>
                <li><a class="govuk-link" href="/schools/participants/register/teacher-reference-number" >Do you know your teacher reference number (TRN)?</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/schools/participants/register/find-your-teacher-reference-number" >Request a TRN reminder</a></li>
                </ul>                 -->
                <!-- <li><a class="govuk-link" href="/schools/participants/register/changed-your-name" >Have you changed your name since you started your initial teacher training (ITT)?</a></li>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                    <li><a class="govuk-link" href="/schools/participants/register/update-record" >Have you updated your name with the Teaching Regulation Agency?</a></li>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
                        <li><a class="govuk-link" href="/schools/participants/register/name-not-updated" >What do you want to do now?</a></li>
                        <li><a class="govuk-link" href="/schools/participants/register/change-details" >Change your details on the Database of Qualified Teachers (DQT)</a></li>
                    </ul>
                </ul>
                <li><a class="govuk-link" href="/schools/participants/register/your-details" >Tell us your details</a></li>
                <li><a class="govuk-link" href="/schools/participants/register/check-your-answers?validated=" >Check your answers</a></li>
                <li><a class="govuk-link" href="/schools/participants/register/check-your-answers?validated=No" >Check your answers (not validated)</a></li> -->

            </ul>


            <h2 class="govuk-heading-l">Others (still to check)</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/guidance_1" >Guidance: Induction training and support for new teachers</a></li>
                <li><a class="govuk-link" href="/sign-out" >Sign out</a></li>
                <li><a class="govuk-link" href="/pseudo-email-training-provider-invite" >Training provider invite</a></li>
                <li><a class="govuk-link" href="/teacher-or-mentors/cip-validation/email-sign-in-ect-mentor" >Link to sign in ECT start</a></li>
                <li><a class="govuk-link" href="/teacher-or-mentors/cip-validation/pseudo-email-sign-in-ect" >Link to sign in</a></li>
            </ul>

            <h2 class="govuk-heading-l">Training provider signed in</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="/lead-provider/cohort-listing" >Cohorts</a></li>
                <li><a class="govuk-link" href="/lead-provider/dashboard" >Lorem Ipsum Education Ltd.</a></li>
                <li><a class="govuk-link" href="/lead-provider/find-and-add-schools-confirm" >Add partnerships with these schools</a></li>
                <li><a class="govuk-link" href="/lead-provider/find-and-add-schools-results" >Search results</a></li>
                <li><a class="govuk-link" href="/lead-provider/find-and-add-schools-success" >You have added partnerships with schools</a></li>
                <li><a class="govuk-link" href="/lead-provider/find-and-add-schools" >Find and add schools</a></li>
                <li><a class="govuk-link" href="/lead-provider/school-detail-zero" >Vale Valley Primary School</a></li>
                <li><a class="govuk-link" href="/lead-provider/school-detail" >Abacus Primary School</a></li>
                <li><a class="govuk-link" href="/lead-provider/your-schools" >Your schools (2021)</a></li>
                <li><a class="govuk-link" href="/lead-provider/school-listing-2022" >Your schools (2022)</a></li>
            </ul>
    </div>
</div>

{% endblock %}
