{% extends "layout.html" %}

{% set pageHeading = "Preload type of user data" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}

        <p class="govuk-!-padding-bottom-3">Preload the prototype with user data otherwise it will use default details.</p>

        <form class="form" action="/{{ defaults.sprintNo() }}/start" method="post" class="">

            {% set partnershipHtml %}
                {{ govukCheckboxes({
                    idPrefix: "FIPStatus",
                    name: "FIPStatus",
                    fieldset: {
                        legend: { text: "In partnership", isPageHeading: false, classes: "govuk-visually-hidden" }
                    },
                    items: [
                        { value: "inPartnership", text: "In partnership" }
                    ]
                }) }}
            {% endset -%}

            {{ govukRadios({
                idPrefix: "journey-mode",
                classes: "govuk-!-padding-bottom-3",
                name: "journey-mode",
                fieldset: {
                    legend: { text: "Programme and partnership options", isPageHeading: false, classes: "govuk-fieldset__legend--m" }
                },
                items: [
                    { value: "schoolNoDecision", text: "Not in partnership or not chosen provision yet", checked: checked("journey-mode", "schoolNoDecision"), hint: { text: "Includes privacy policy prompt" } },
                    { value: "schoolFIP", text: "Using an approved training provider (FIP)", conditional: { html: partnershipHtml}, checked: checked("journey-mode", "schoolFIP") },
                    { value: "schoolCIP", text: "Using the DfE accredited materials (CIP)", checked: checked("journey-mode", "schoolCIP") }
                ]
            }) }}

            {{ govukRadios({
                idPrefix: "schoolParticipantOptions",
                name: "schoolParticipantOptions",
                fieldset: {
                    legend: { text: "Participants", isPageHeading: true, classes: "govuk-fieldset__legend--m" }
                },
                items: [
                    { value: "cannotAddParticipants", text: "Cannot yet add", checked: checked("schoolParticipantOptions", "cannotAddParticipants") },
                    { value: "canAddParticipants", text: "Can add to cohort", checked: checked("schoolParticipantOptions", "canAddParticipants")},
                    { value: "hasAddedMentors", text: "Mentors already added to cohort", checked: checked("schoolParticipantOptions", "hasAddedMentors")}
                ]
            }) }}

            {{ govukRadios({
                idPrefix: "participantOptions",
                name: "participantOptions",
                fieldset: {
                    legend: { text: "Partipant validation", isPageHeading: true, classes: "govuk-fieldset__legend--m" }
                },
                items: [
                    { value: "participantCIP", text: "CIP participant", checked: checked("participantOptions", "participantCIP") },
                    { value: "participantFIP", text: "FIP participant", checked: checked("participantOptions", "participantFIP")},
                    { value: "participantSIT", text: "SIT as mentor CIP participant", checked: checked("ParticipantOptions", "participantSIT")}
                ]
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>
</div>
{% endblock %}
