{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Preload type of user data" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}

        <p class="govuk-!-padding-bottom-3">Preload the prototype with user data otherwise it will use default details.</p>

        <form class="form" action="/{{ defaults.sprintNo() }}/" method="post" class="">
            
            <!-- Programme choice -->            
            {{ govukRadios({
                idPrefix: "induction-programme",
                classes: "govuk-!-padding-bottom-3",
                name: "induction-programme",
                fieldset: {
                    legend: { text: "Induction programme", isPageHeading: false, classes: "govuk-fieldset__legend--m" }
                },
                items: [                    
                    { value: "FIP", text: "FIP - training provider, funded by the DfE", checked: checked("induction-programme", "FIP") },
                    { value: "CIP", text: "CIP - Deliver own programme using DfE accredited materials", checked: checked("induction-programme", "CIP") },
                    { value: "DYO", text: "DYO - Design and deliver own based ECF", checked: checked("induction-programme", "DYO") },                    
                    { value: "NoDecision", text: "Not chosen provision yet", checked: checked("induction-programme", "NoDecision") }
                ]
            }) }}
            
            {{ govukCheckboxes({
                idPrefix: "InPartnership",
                name: "InPartnership",
                fieldset: {
                    legend: { text: "Partnership created", isPageHeading: false, classes: "govuk-visually-hidden" }
                },
                items: [
                    { value: "Yes", text: "In partnership" }
                ]
            }) }}
            <!-- /////////////////////////////////////// -->

            <!-- Programme participant type -->
            {% set skipvalidationhtml %}
                {{ govukCheckboxes({
                    idPrefix: "skipValidation",
                    name: "skipValidation",
                    fieldset: {
                        legend: { text: "In partnership", isPageHeading: false, classes: "govuk-visually-hidden" }
                    },
                    items: [
                        { value: "notvalidating", text: "Not able to match journey" }
                    ]
                }) }}
            {% endset -%}
            {{ govukRadios({
                idPrefix: "participantOptions",
                name: "participantOptions",
                fieldset: {
                    legend: { text: "Programme", isPageHeading: true, classes: "govuk-fieldset__legend--m" }
                },
                items: [
                    { value: "participantCIP", text: "CIP participant", conditional: { html: skipvalidationhtml}, checked: checked("participantOptions", "participantCIP") },
                    { value: "participantFIP", text: "FIP participant", conditional: { html: skipvalidationhtml}, checked: checked("participantOptions", "participantFIP")}
                ]
            }) }}            
            <!-- /////////////////////////////////////// -->


            <!-- Induction tutor can add to cohort -->
            {{ govukRadios({
                idPrefix: "schoolParticipantOptions",
                name: "schoolParticipantOptions",
                fieldset: {
                    legend: { text: "Participants", isPageHeading: true, classes: "govuk-fieldset__legend--m" }
                },
                items: [
                    { value: "cannotAddParticipants", text: "Cannot yet add", checked: checked("schoolParticipantOptions", "cannotAddParticipants") },
                    { value: "canAddParticipants", text: "Can add to cohort", checked: checked("schoolParticipantOptions", "canAddParticipants")},
                    { value: "hasAddedMentors", text: "Mentors already added to cohort", checked: checked("schoolParticipantOptions", "hasAddedMentors")}
                ]
            }) }}
            <!-- /////////////////////////////////////// -->


            <!-- Know who provider is -->
            {{ govukCheckboxes({
                idPrefix: "providerType",
                name: "providerType",
                fieldset: {
                    legend: { text: "Provider is known (FIP only)", isPageHeading: true, classes: "govuk-fieldset__legend--m" }
                },
                items: [
                    { value: "providerKnown", text: "Yes provider is known", checked: checked("providerType", "providerKnown")}
                ]
            }) }}
            <!-- /////////////////////////////////////// -->


            <div class="govuk-inset-text">
                <p>There are <a href="https://docs.google.com/document/d/108aUddTCbHanZk8Q2l6WhzuD9iAL8dUn/edit">three status for validation</a>. Status <a href="https://docs.google.com/document/d/1vDlmDbz6BaUlGiC7wpusUV6B04mZ9ofubQNO0n2xK3Y/edit?ts=60fe8eb3#bookmark=id.1myxpp5aoqa">two and three </a> will show the same confirmation messaging with the changes applied within the backend.
              </div>
      
            <!-- Type of participant -->
            {% set betamentorhtml %}
            {{ govukCheckboxes({
                idPrefix: "betaMentor",
                name: "betaMentor",
                fieldset: {
                    legend: { text: "beta participant", isPageHeading: false, classes: "govuk-visually-hidden" }
                },
                items: [
                    { value: "beta", text: "In beta programme (CIP only)" }
                ]
            }) }}
        {% endset -%}


        {{ govukRadios({
            idPrefix: "participantType",
            name: "participantType",
            fieldset: {
                legend: { text: "Participant type", isPageHeading: true, classes: "govuk-fieldset__legend--m" }
            },
            items: [
                { value: "participantECT", text: "Early career teacher", checked: checked("participantType", "participantECT")},
                { value: "participantMentor", text: "Mentor", conditional: { html: betamentorhtml}, checked: checked("participantType", "participantMentor")},
                { value: "participantSIT", text: "SIT as mentor", checked: checked("participantType", "participantSIT")}
            ]
        }) }}
            <!-- /////////////////////////////////////// -->




            {{ govukButton({
                text: "Continue"
            }) }}

        </form>



        <form class="form" action="/{{ defaults.sprintNo() }}/emails/particpant-email" method="post" class="">
        </form>

    </div>
</div>
{% endblock %}
