{% extends "layout.html" %}

{% set pageHeading = "User research" %}
{% set pageSection = "Prototype work" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}
        <p>Last updated: 31 August 2021</p>
        
                    
        <!-- <h2 class="govuk-heading-m">Dashboard</h2>
        <p>Research for testing the dashboard variations, including the status of participants.</p>
        
        {{ govukButton({
            text: "Continue",
            href: "user-research/dashboard"
        }) }}        

            
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

        <h2 class="govuk-heading-m">Step by step</h2>
        <p>Research for testing the dashboard journeys, as well as delete and add functionality for ECT, Mentor and SIT Mentor.</p>
        
        <form action="/{{ defaults.sprintNo() }}/" method="post" >            
            

            
            {{ govukButton({
                text: "Start user research"
            }) }}
        </form>
        

        <h2 class="govuk-heading-m">Dashboards</h2>
        <p>Research for testing the dashboard journeys, as well as delete and add functionality for ECT, Mentor and SIT Mentor.</p>
        
        <form action="/{{ defaults.sprintNo() }}/emails/link-to-sign-in" method="post" >            
            <input type="hidden" name="InPartnership" id="InPartnership" value="Yes" />
            <input type="hidden" name="induction-programme" id="induction-programme" value="FIP" />
            <input type="hidden" name="user-research" id="user-research" value="Yes" />
            <input type="hidden" name="has-mentors" id="has-mentors" value="No" />

            
            {{ govukButton({
                text: "Start user research"
            }) }}
        </form>
        

    </div>
</div>

{% endblock %}
