{% extends "layout.html" %}

{% set pageHeading = "User research" %}
{% set pageSection = "Prototype work" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}        
        <p>Last updated: 12 July 2021</p>        
        <p>Information relating to the user research taking place.</p>        

        <form action="" method="post" >            
            {{ govukButton({
                text: "Start user research"            
            }) }}
        </form>        

    </div>
</div>

{% endblock %}