{% extends "layout.html" %}

{% set pageHeading = "User research" %}
{% set pageSection = "Prototype work" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading, pageSection) }}
        <p>Last updated: 13 October 2021</p>
        
                    
        <!-- <h2 class="govuk-heading-m">Dashboard</h2>
        <p>Research for testing the dashboard variations, including the status of participants.</p>
        
        {{ govukButton({
            text: "Continue",
            href: "user-research/dashboard"
        }) }}        
            
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

        <h2 class="govuk-heading-m">Dashboard</h2>
        <p>ECT and mentor pages showing eligibility options.</p>        
        <form action="/{{ defaults.sprintNo() }}/schools/manage-your-training" method="post" >            
            <input type="hidden" name="show-participant-not-eligible" id="show-participant-not-eligible" value="Yes" />
            <input type="hidden" name="show-participant-status-checking" id="show-participant-status-checking" value="Yes" />
            <input type="hidden" name="show-participant-status-eligible" id="show-participant-status-eligible" value="Yes" />
            <input type="hidden" name="training-programme" id="training-programme" value="FIP" />
            <input type="hidden" name="roles-seen" id="roles-seen" value="Yes" />            
            <input type="hidden" name="user-research" id="user-research" value="Yes" />
            <input type="hidden" name="InPartnership" id="InPartnership" value="Yes" />

            <!-- <input type="hidden" name="existing-ect-mentor-details" id="existing-ect-mentor-details" value="Yes" /> -->

            

            
            <input type="hidden" name="participant-fullname" id="participant-fullname" value="Kate Lloyd" />
            <input type="hidden" name="participant-email-address" id="participant-email-address" value="katel@test.dfe.gov.uk" />
            <input type="hidden" name="added-ect" id="added-ect" value="Yes" />

            
            <input type="hidden" name="participant-fullname-2" id="participant-fullname-2" value="Nicola Page" />
            <input type="hidden" name="participant-email-address-2" id="participant-email-address-2" value="nicolap@test.dfe.gov.uk" />
            <input type="hidden" name="added-ect-2" id="added-ect-2" value="Yes" />

            
            <input type="hidden" name="participant-fullname-mentor" id="participant-fullname-mentor" value="Brian Coult" />
            <input type="hidden" name="participant-email-address-mentor" id="participant-email-address-mentor" value="brianc@test.dfe.gov.uk" />
            <input type="hidden" name="added-mentor" id="added-mentor" value="Yes" /> 
            
            <!-- Sit Mentor -->
            <!-- <input type="hidden" name="induction-tutor-as-mentor" id="induction-tutor-as-mentor" value="Yes" />
            <input type="hidden" name="added-sitMentor" id="added-sitMentor" value="Yes" /> -->



            
             {{ govukButton({
                text: "Start user research"
            }) }}
        </form>


        <!-- <p>Nothing currently ready for research.</p> -->
        
        
        <!-- <h2 class="govuk-heading-m">Step by step</h2>
        <p>Research for testing the step by step guide and entrance to the service.</p>
        
        <form action="/{{ defaults.sprintNo() }}/" method="post" >            
            

            
            {{ govukButton({
                text: "Start user research"
            }) }}
        </form> -->
        

        
        

    </div>
</div>

{% endblock %}
