{% extends "layout.html" %}

{% block pageTitle %}
  Before you start
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
<a class="govuk-back-link" href="/sign-in">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Before you start
      </h1>

      <p class="govuk-body">You must be responsible for running the induction programme at your school.</p>

      <p class="govuk-body">Once you register, you can:</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>confirm which type of induction programme you want to run at your school</li>
        <li>tell us which early career teachers are starting a programme</li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-8">You must register by <span class="govuk-!-font-weight-bold">30 September</span> to start your induction programme.</p>

      <form class="form" action="register-school-2" method="post" class="govuk-!-margin-bottom-8">
        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
