{% extends "layout.html" %}

{% block pageTitle %}
  You can register later
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
<a class="govuk-back-link" href="/register-school/register-school-3">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You can register later
      </h1>

      <p class="govuk-body">See our guidance for <a href="#">schools choosing an induction programme</a>.</p>

      <p class="govuk-body">You can register when you are ready to confirm details about your induction programme.</p>

      <p class="govuk-body">You must register by <span class="govuk-!-font-weight-bold">30 September</span> to start your induction programme.</p>

    </div>
  </div>

{% endblock %}
