{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'Are you sure you want to remove ' + participant.name + '?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p>Their information will be deleted from this service.</p>

            <!-- Add logic to show for ppts who have yet to validate -->
            {% if data['participant-status'] != "Validated" %}
            <p>They will not be able to take part in the training programme.</p>
            {% endif %}

            <form method="post" action="confirmation" class="govuk-!-margin-top-7" >

                {{ govukInput({
                    classes: "govuk-!-width-two-thirds govuk-visually-hidden",
                    value: "Removed"
                } | decorateFormAttributes(['participants', id, 'status']) ) }}

                {{ govukButton({
                    text: "Confirm and remove"
                }) }}
            </form>

            <p><a href="../participants/">Cancel and go back to your ECTs and mentors</a></p>

        </div>
    </div>
{% endblock %}
