{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'Who’s ' + data['participant-fullname'] + '’s mentor?' %}
{% set pageSection = "Netherhall School - 2021 to 2022 cohort" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
			

			<p>You can tell us this later if you're not sure.</p>

			
			{% if data['linkaction'] == "change-mentor" %} 
      			<form class="form" action="../details" method="post" >
			{% else %}
				<form class="form" action="check-your-answers" method="post" >
			{% endif %}
        		
			{% if data['linkaction'] == "change-mentor" %}

					{{ govukRadios({
						idPrefix: "who-is-mentor",
						name: "who-is-mentor",						
						items: [
							{ value: "Henry Purcell", text: "Henry Purcell", checked: checked("who-is-mentor", "Henry Purcell") },
							{ value: "Berthe Morisot", text: "Berthe Morisot", checked: checked("who-is-mentor", "Berthe Morisot") },
							{ value: "Giotto di Bondone", text: "Giotto di Bondone", checked: checked("who-is-mentor", "Giotto di Bondone") }						
						]
					}) }}
					
					{{ govukButton({
						text: "Continue"
					}) }}

			{% else %}

					{{ govukRadios({
						idPrefix: "who-is-mentor",
						name: "who-is-mentor",						
						items: [
							{ value: "Henry Purcell", text: "Henry Purcell", checked: checked("who-is-mentor", "Henry Purcell") },
							{ value: "Berthe Morisot", text: "Berthe Morisot", checked: checked("who-is-mentor", "Berthe Morisot") },
							{ value: "Giotto di Bondone", text: "Giotto di Bondone", checked: checked("who-is-mentor", "Giotto di Bondone") },
							{ value: "I'll assign a mentor later", text: "I'll assign a mentor later", checked: checked("who-is-mentor", "I'll assign a mentor later") }
						]
					}) }}

					{{ govukButton({
						text: "Continue"
					}) }}

			{% endif %}

					

      			</form>

		</div>
	</div>

{% endblock %}