{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data['persontypeAction'] == "mentor" %}	
	{% set pageHeading = 'What’s ' + data['participant-fullname-mentor'] + '’s email address? ' %}
{% else %}
	{% set pageHeading = 'What’s ' + data['participant-fullname'] + '’s email address? ' %}
{% endif %}
{% set pageSection = "Netherthorpe School - 2021 to 2022 cohort" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
      		
      		<!-- <p class="govuk-body govuk-!-margin-bottom-6">We will send them an email to sign in and add any further details.</p> -->
      		<!-- <form class="form" action="confirm-participant-details" method="post" class="govuk-!-margin-bottom-8">         -->
			
			<p>We’ll use this to contact them for more information. This is needed to check their eligibility with the Teaching Regulation Authority.</p>
			

			{% if data['linkaction'] == "change-email" %} 
				<form class="form" action="check-your-answers" method="post" class="govuk-!-margin-bottom-8">        
			{% elif ((data['persontypeAction'] == "mentor") or (data['has-mentors'] == "No"))  %}
				<form class="form" action="check-your-answers" method="post" class="govuk-!-margin-bottom-8">        
			{% else %}
				<form class="form" action="choose-mentor" method="post" class="govuk-!-margin-bottom-8">        
			{% endif %}

				{% if data['persontypeAction'] == "mentor" %}	

				{{ govukInput({
					label: {
						text: "Email address",
						classes: "govuk-visually-hidden"
					},
					hint: {
						text: "You can enter their personal or school email address."
					},
					classes: "govuk-!-width-two-thirds",
					id: "participant-email-address-mentor",
					name: "participant-email-address-mentor",
					value: data['participant-email-address-mentor'],
					type: "email",
					autocomplete: "email",
					spellcheck: false
				}) }}

				{% else %}

				{{ govukInput({
					label: {
						text: "Email address",
						classes: "govuk-visually-hidden"
					},
					hint: {
						text: "You can enter their personal or school email address."
					},
					classes: "govuk-!-width-two-thirds",
					id: "participant-email-address",
					name: "participant-email-address",
					value: data['participant-email-address'],
					type: "email",
					autocomplete: "email",
					spellcheck: false
				}) }}

				{% endif %}

				{{ govukButton({
					text: "Continue"
				}) }}
      		
			</form>
    	</div>
  </div>
{% endblock %}
