{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Is this the name you used when registering with the Teacher Regulation Agency?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block pageNavigation %}

{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			<div class="govuk-inset-text">
				<p><span class="govuk-!-font-weight-bold" >Name:</span> {{ defaults.userFullName() }}</p>
			</div>

			<p>You may have used a different version of your first name, for example ‘Rob’ or ‘Robert’ when registering. This includes changing your last name or spelling your name differently.<!--with the Teaching Regulation Agency.--></p>

				{% if data['validated'] == "No" %}

					<!-- <h2 class="govuk-heading-m">We cannot find your details</h2> -->

					<!-- <p class="govuk-body">Your induction tutor:</p>
					<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
						<li>you mistyped or entered some incorrect information</li>
						<li>you used a different version of your first name, for example ‘Rob’ or ‘Robert’ when registering with the Teaching Regulation Agency</li>											
					</ul> -->
		  
		  			<!-- {% if not data['NI'] %} 
						<p class="govuk-body">Entering your National Insurance number will help us to find your details.</p>
		  			{% endif %} -->

				{% endif %}
				
				

				<form class="form" action="name" method="post" >
				
      		
				{{ govukRadios({
					classes: "govuk-radios--inline",
					idPrefix: "register-correct-name",
					name: "register-correct-name",
					fieldset: {
					  legend: {
						text: "Have you changed your name?",
						isPageHeading: true,
						classes: "govuk-visually-hidden"
					  }
					},					
					items: [
						{ value: "yes", text: "Yes" },
					  	{ value: "no", text: "No" }
					]
				}) }}
			
		
			
				<!-- {% if data['validated'] == "No" %}
				<div class="govuk-inset-text">
					<p class="govuk-body">You can continue to register. Our support team may contact you for more information before you start your induction training.</p>
				</div>
				{% endif %} -->
			

				

        		{{ govukButton({
          			text: "Continue"					  
        		}) }}
      			</form>
    	
		</div>
  	</div>
{% endblock %}