{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Is this the name you used when you started your initial teacher training (ITT)?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block pageNavigation %}

{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			<div class="govuk-inset-text">
				<p><span class="govuk-!-font-weight-bold">Name:</span> {{ defaults.userFullName() }}</p>
			</div>
				

				<form class="form" action="cannot-find-your-details" method="post" >
				
      		
				{{ govukRadios({
					classes: "govuk-radios--inline",
					idPrefix: "name-changed",
					name: "name-changed",
					hint: {
						text: "Answer ‘no’ if your last name has changed, or you used a different version of your first name."
					},
					fieldset: {
					  legend: {
						text: "Have you changed your name?",
						isPageHeading: true,
						classes: "govuk-visually-hidden"
					  }
					},					
					items: [									
						{ value: "yes", text: "Yes", checked: checked("name-change", "yes") },
					  	{ value: "no, redirect(name)", text: "No", checked: checked("name-change", "no") }
					]
				}) }}
				

        		{{ govukButton({
          			text: "Continue"					  
        		}) }}
      			</form>
    	
		</div>
  	</div>
{% endblock %}