{% extends "layout.html" %}

{% set pageHeading = "What’s your teacher reference number (TRN)?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block pageNavigation %}

{% endblock %}
{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			<p>This unique ID is:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>usually 7 digits long, for example ’4567814’</li>
				<li>may include the letters ’RP’ or a slash ’/’ symbol, for example ’RP99/12345’</li>					
				<li>may also be called a QTS, GTC, DfE, DfES or DCSF number</li>
			</ul>
			
			<p>You can usually find it on your payslip, teachers’ pension documents, or teacher training records.</p>			
			<!-- <p>QTS, GTC, DfE, DfES or DCSF numbers are the same as TRNs.</p> -->
			<!-- <p>You may not have a TRN if you qualified outside England.</p> -->
			<!-- hint: {
				text: "Enter your TRN without ‘RP’ letters or a slash ‘/’ symbol."
			}, -->
			{% if data['linkaction'] == "change-trn" %}
				<form class="form" action="check-your-answers" method="post" class="govuk-!-margin-bottom-8">
				<input type="hidden" name="linkaction" id="changeaction" value="" />	
			{% else %}
				<form class="form" action="date-of-birth" method="post" class="govuk-!-margin-bottom-8">
			{% endif %}
				
				{{ govukInput({
					label: {
						text: "What is the name of the event?",
						classes: "govuk-visually-hidden",
						isPageHeading: false
					},
					classes: "govuk-!-width-three-quarters",
					id: "register-teacher-reference-number",
					name: "register-teacher-reference-number",
					value: data['register-teacher-reference-number']
				}) }}        		
				
				<p><a href="national-insurance-number">I do not have a TRN number </a></p>
				
        		{{ govukButton({
        			text: "Continue"
        		}) }}

			
      		
			</form>
    	

	
			

			


		</div>
  	</div>

{% endblock %}
