{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "National appropriate body?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p>Read our guidance to <a href="https://www.gov.uk/government/publications/statutory-teacher-induction-appropriate-bodies/find-an-appropriate-body" target="_blank">find an appropriate body (opens in new tab)</a>.</p>

            {# <p class="govuk-body">You can also contact your <a href="#">appropriate body</a>.</p> #}

            <form class="form" action="region" method="post" class="govuk-!-margin-bottom-8">

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    items: [
                        { value: "Yes, redirect(national-organisation)", text: "Yes" },
                        { value: "No", text: "No" }
                    ]
                } | decorateFormAttributes("newYear-abNational")) }}


                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>

{% endblock %}
