{% extends "layout.html" %}

{% set pageHeading = "Confirm your choice" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block pageNavigation %}
<a class="govuk-back-link" href="/sprint-16/school-nominate-school-lead/nominate-school-lead-options">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p class="govuk-body">You have chosen to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>opt out of notifications because you don’t expect to have any early career teachers starting in 2021</li>
      </ul>



      <form class="form" action="/sprint-16/school-nominate-school-lead/nominate-school-lead-optout" method="post" class="govuk-!-margin-bottom-8">
        {{ govukButton({
          text: "Confirm"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
