{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if hasMentors %}
    {% set pageHeading = 'Who will ' + participant.name + '’s mentor be?' %}
{% else %}
    {% set pageHeading = 'You cannot assign a mentor to this ECT' %}
{% endif %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p>If the mentor is not listed below, you’ll need to <a href="/prelive/schools/participants/add/">add a new mentor</a>.</p>

            {% if hasMentors %}
            <!-- If mentors exist in the cohort -->

                <form class="form" action="confirmation" method="post" >


                {{ govukRadios({
                    items: mentors
                } | decorateFormAttributes(['participants', id, 'mentor']) ) }}

                <div class="govuk-visually-hidden">
                {{ govukCheckboxes({
                    classes: "govuk-checkboxes--small ",
                    items: [
                        { value: "Yes", text: "Mentor assigned", checked: "true" }
                    ]
                } | decorateFormAttributes(['participants', id, 'mentorAssigned']) ) }}
                </div>


                {{ govukButton({
                    text: "Continue"
                }) }}

                <!-- Check if participant is TransferringIn -->
                <!-- This is just a trigger to suggest on the front end that an ECT is on a different programme to show that flow -->

                </form>

            {% else %}
            <!-- no mentors to choose from -->
            <p>You have not added any mentors. </p>
                <!-- Brian - I edited this to remove the word "cohort". As far as I know, we don't use it in user-facing content. -->
                <p><a class="govuk-link govuk-link--no-visited-state" href="#">Add a new mentor</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
