{% extends "layout.html" %}

{% block pageTitle %}
  Your school is now registered
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {{ govukPanel({
        titleText: "Your school is now registered"
      }) }}

      <p class="govuk-body">You can use your email address to sign in at any time. No password required.</p>
      <p class="govuk-body">Continue to your account for more guidance and next steps.</p>

      <form class="form" action="/school-signed-in/sign-in-prompt-induction-decision" method="post" class="govuk-!-margin-bottom-8">

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
