{% extends "layout.html" %}

{% set pageHeading = "Confirm your details" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">
      
      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
			
      		<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Your school</h2>

      		{{ govukSummaryList({
        		rows: [
          			{ key: { text: "Name" }, value: { text: data['school-lookup'] } },
          			{ key: { text: "URN" }, value: { text: "9348523" } },
          			{ key: { text: "Address" }, value: { html: "School lane<br> Mill Road<br> Norwich<br> NR16 2HU" } }
        		]
      		}) }}
      		
			<p class="govuk-body"><a class="govuk-link--no-visited-state" href="local-authority">Change school</a></p>      	

      		<form class="form" action="confirmation" method="post" class="govuk-!-margin-bottom-8">

        		{{ govukButton({
          			text: "Confirm and send"
        		}) }}
      	
			</form>

    	</div>
  	</div>

{% endblock %}