{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Your school has been sent a link" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-margin-bottom-8">

      {{ govukPanel({
        titleText: pageHeading
      }) }}
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>Use the link to sign in to our service to:</p> 
      <ul class="govuk-list govuk-list--bullet">
        <li>nominate an induction tutor for your school</li>
        <li>tell us how you'll run your early career teacher training programme</li>
      </ul>

      <h2 class="govuk-heading-m">If you do not get an email</h2>

      <p><a href="https://interactions.signin.education.gov.uk//6a7c391c-b14e-41d0-bf1a-a720f6b387f5/usernamepassword?clientid=services&redirect_uri=https://services.signin.education.gov.uk:443/auth/cb">Sign in to the DfE </a>and make sure that your email address is up to date in GIAS.</p>

      <p>When this has been updated, you can <a href="local-authority"> send a new link to your school.</a></p>

    </div>
  </div>

{% endblock %}
