{% extends "layout.html" %}
{% set title = 'Registration complete' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-bottom-8">
      {{ govukPanel({
        titleText: title
      }) }}
      </div>

      <h3 class="govuk-heading-m">What happens next</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>We have sent you an email to confirm and  sign in to the service.</li>
      </ul>

      <p class="govuk-body skip-to">Skip to: <a href="/teacher-or-mentors/validation/email-sign-in-ect-mentor">email that the ECT/Mentor receives</a></p>
    </div>
  </div>
{% endblock %}
