{% extends "layout.html" %}
{% set title = 'Name changes' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block pageNavigation %}
<a class="govuk-back-link" href="/teacher-or-mentors/validation/trn-ect">Back</a>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ title }}</h1>

      <p class="govuk-body"><p>Your name must match the same held in the Database of Qualified Teachers (DQT) to confirm eligible for training and support.</p>
      <p>If it doesn't match, you cannot continue with your training and support.</p>


      <form class="form" action="/teacher-or-mentors/validation/name-change-ect" method="post" class="govuk-!-margin-bottom-8">

        {{ govukRadios({
          idPrefix: "name-change",
          name: "name-change",
          fieldset: {
          legend: {
            text: "Has your name changed since you became a qualified teacher?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
        }
        },
          items: [
            {
              value: "existingMentor",
              text: "Yes, I have changed my name",
              checked: checked("name-change", "existingMentor")
            },
            {
              value: "newMentor",
              text: "No, I have the same name",
              checked: checked("name-change", "newMentor")
            }

          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
