{% extends "_wizard-form.html" %}
{% set title = "Have you updated your name on the Database of Qualified Teachers (DQT)?" %}

{% block form %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--xl govuk-!-margin-bottom-6'
      }
    },
    items: [
      {
        text: 'Yes, I have updated my name'
      },
      {
        text: 'No, I have not updated my name'
      },
      {
        text: 'I don’t know'
      }
    ]
  } | decorateFormAttributes(['teacher-or-mentor-validation', 'name-updated'])) }}
{% endblock %}
