{% extends "layout.html" %}
{% block pageTitle %}Sign in{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    text: "Back",
    href: "/teacher-or-mentors/validation/start-registration"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Sign in
      </h1>

      <form class="form" action="/teacher-or-mentors/validation/sign-in-check-email-ect" method="post">
        {{ govukInput({
          label: {
            text: "Email address"
          },
          classes: "govuk-input--width-20",
          id: "sign-in-email-address",
          name: "sign-in-email-address"
        }) }}

        {{ govukButton({
          text: "Sign in"
        }) }}
      </form>

      <h2 class="govuk-heading-m">How you can access this service</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="/teacher-or-mentors/validation/sign-in-check-account-ect">Check if you have an account</a></li>
        <li>Contact us: <a class="govuk-link" href="/teacher-or-mentors/validation/sign-in-check-account-ect">ecf-support@digital.education.gov.uk</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
