{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Confirm" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


            {# <p class="govuk-body">You can also contact your <a href="#">appropriate body</a>.</p> #}



        </div>
    </div>

{% endblock %}
