{% extends "layout.html" %}
{% set schoolSignedIn = true %}

<!-- This is just here to show what we could pull in Jo, not what we should use :-) -->
{% set pageHeading = 'Tell us which of these ' + data.abType + ' appropriate bodies from ' + data.abRegion + ' ?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


            {# <p class="govuk-body">You can also contact your <a href="#">appropriate body</a>.</p> #}

            <form class="form" action="confirm" method="post" class="govuk-!-margin-bottom-8">

                {% if data['abRegion'] == "East Midlands and the Humber"  %}

                {{ govukRadios({
                    items: [
                        { value: "Derby", text: "Derby" },
                        { value: "Derbyshire", text: "Derbyshire" },
                        { value: "Doncaster", text: "Doncaster" },
                        { value: "East Riding of Yorkshire", text: "East Riding of Yorkshire" },
                        { value: "Kingston upon Hull", text: "Kingston upon Hull" },
                        { value: "Leicestershire", text: "Leicestershire" },
                        { value: "North Lincolnshire", text: "North Lincolnshire" },
                        { value: "Nottingham", text: "Nottingham" },
                        { value: "Nottinghamshire", text: "Nottinghamshire" },
                        { value: "Rotherham", text: "Rotherham" },
                        { value: "York", text: "York" }
                    ]
                } | decorateFormAttributes("abName")) }}

                {% elif data['abRegion'] == "East of England and North-East London"  %}

                {{ govukRadios({
                    items: [
                       { value: "Barking and Dagenham", text: "Barking and Dagenham" },
                       { value: "Cambridgeshire", text: "Cambridgeshire" },
                       { value: "Essex", text: "Essex" },
                       { value: "Hackney", text: "Hackney" },
                       { value: "Haringey", text: "Haringey" },
                       { value: "Havering", text: "Havering" },
                       { value: "Newham", text: "Newham" },
                       { value: "Norfolk", text: "Norfolk" },
                       { value: "Peterborough", text: "Peterborough" },
                       { value: "Redbridge", text: "Redbridge" },
                       { value: "Southend-On-Sea", text: "Southend-On-Sea" },
                       { value: "Suffolk", text: "Suffolk" },
                       { value: "Thurrock", text: "Thurrock" },
                       { value: "Tower Hamlets", text: "Tower Hamlets" },
                       { value: "Waltham Forest", text: "Waltham Forest" }

                    ]
                } | decorateFormAttributes("abName")) }}

                {% elif data['abRegion'] == "Lancashire and West Yorkshire"  %}

                {{ govukRadios({
                    items: [
                        { value: "Blackburn with Darwen", text: "Blackburn with Darwen" },
                        { value: "Blackpool", text: "Blackpool" },
                        { value: "Bolton", text: "Bolton" },
                        { value: "Bradford", text: "Bradford" },
                        { value: "Calderdale", text: "Calderdale" },
                        { value: "Halton", text: "Halton" },
                        { value: "Kirklees", text: "Kirklees" },
                        { value: "Knowsley", text: "Knowsley" },
                        { value: "Lancashire", text: "Lancashire" },
                        { value: "Leeds", text: "Leeds" },
                        { value: "Liverpool", text: "Liverpool" },
                        { value: "Manchester", text: "Manchester" },
                        { value: "Rochdale", text: "Rochdale" },
                        { value: "Salford", text: "Salford" },
                        { value: "Sefton", text: "Sefton" },
                        { value: "St Helens", text: "St Helens" },
                        { value: "Stockport", text: "Stockport" },
                        { value: "Trafford", text: "Trafford" },
                        { value: "Wakefield", text: "Wakefield" },
                        { value: "Warrington", text: "Warrington" },
                        { value: "Wigan", text: "Wigan" },
                        { value: "Wirral", text: "Wirral" }

                    ]
                } | decorateFormAttributes("abName")) }}

                {% elif data['abRegion'] == "North of England"  %}

                {{ govukRadios({
                    items: [
                        { value: "Darlington", text: "Darlington" },
                        { value: "Durham", text: "Durham" },
                        { value: "Gateshead", text: "Gateshead" },
                        { value: "North Tyneside", text: "North Tyneside" },
                        { value: "North Yorkshire", text: "North Yorkshire" },
                        { value: "Northumberland", text: "Northumberland" },
                        { value: "Redcar and Cleveland", text: "Redcar and Cleveland" },
                        { value: "South Tyneside", text: "South Tyneside" },
                        { value: "Stockton-on-Tees", text: "Stockton-on-Tees" },
                        { value: "Sunderland", text: "Sunderland" }
                    ]
                } | decorateFormAttributes("abName")) }}

                {% elif data['abRegion'] == "North-West London and South-Central England"  %}

                {{ govukRadios({
                    items: [
                        { value: "Barnet", text: "Barnet" },
                        { value: "Bedford", text: "Bedford" },
                        { value: "Bracknell Forest", text: "Bracknell Forest" },
                        { value: "Brent", text: "Brent" },
                        { value: "Buckinghamshire", text: "Buckinghamshire" },
                        { value: "Camden", text: "Camden" },
                        { value: "Central Bedfordshire", text: "Central Bedfordshire" },
                        { value: "City of Westminster", text: "City of Westminster" },
                        { value: "Ealing", text: "Ealing" },
                        { value: "Enfield", text: "Enfield" },
                        { value: "Hammersmith and Fulham", text: "Hammersmith and Fulham" },
                        { value: "Harrow", text: "Harrow" },
                        { value: "Hertfordshire", text: "Hertfordshire" },
                        { value: "Hillingdon", text: "Hillingdon" },
                        { value: "Hounslow", text: "Hounslow" },
                        { value: "Islington", text: "Islington" },
                        { value: "Kensington and Chelsea", text: "Kensington and Chelsea" },
                        { value: "Luton", text: "Luton" },
                        { value: "Milton Keynes", text: "Milton Keynes" },
                        { value: "North Northamptonshire", text: "North Northamptonshire" },
                        { value: "Reading", text: "Reading" },
                        { value: "West Berkshire", text: "West Berkshire" },
                        { value: "West Northamptonshire", text: "West Northamptonshire" },
                        { value: "Windsor and Maidenshead", text: "Windsor and Maidenshead" },
                        { value: "Wokingham", text: "Wokingham" }
                    ]
                } | decorateFormAttributes("abName")) }}

                {% elif data['abRegion'] == "South-East England and South London"  %}

                {{ govukRadios({
                    items: [
                        { value: "Bexley", text: "Bexley" },
                        { value: "Brighton and Hove", text: "Brighton and Hove" },
                        { value: "Croydon", text: "Croydon" },
                        { value: "Greenwich", text: "Greenwich" },
                        { value: "Hampshire", text: "Hampshire" },
                        { value: "Kent", text: "Kent" },
                        { value: "Kingston upon Thames", text: "Kingston upon Thames" },
                        { value: "Lambeth", text: "Lambeth" },
                        { value: "Lewisham", text: "Lewisham" },
                        { value: "Medway", text: "Medway" },
                        { value: "Merton", text: "Merton" },
                        { value: "Portsmouth", text: "Portsmouth" },
                        { value: "Richmond upon Thames", text: "Richmond upon Thames" },
                        { value: "Southwark", text: "Southwark" },
                        { value: "Sutton", text: "Sutton" },
                        { value: "Wandsworth", text: "Wandsworth" },
                        { value: "West Sussex", text: "West Sussex" }
                    ]
                } | decorateFormAttributes("abName")) }}

                {% elif data['abRegion'] == "South-West England"  %}

                {{ govukRadios({
                    items: [
                        { value: "Bristol", text: "Bristol" },
                        { value: "Devon", text: "Devon" },
                        { value: "Dorset", text: "Dorset" },
                        { value: "Gloucestershire", text: "Gloucestershire" },
                        { value: "Plymouth", text: "Plymouth" },
                        { value: "Somerset", text: "Somerset" },
                        { value: "South Gloucestershire", text: "South Gloucestershire" },
                        { value: "Swindon", text: "Swindon" },
                        { value: "Wiltshire", text: "Wiltshire" }
                    ]
                } | decorateFormAttributes("abName")) }}


                {% elif data['abRegion'] == "West Midlands"  %}

                {{ govukRadios({
                    items: [
                        { value: "Birmingham", text: "Birmingham" },
                        { value: "Cheshire East", text: "Cheshire East" },
                        { value: "Cheshire West and Chester", text: "Cheshire West and Chester" },
                        { value: "Coventry", text: "Coventry" },
                        { value: "Sandwell", text: "Sandwell" },
                        { value: "Shropshire", text: "Shropshire" },
                        { value: "Solihull", text: "Solihull" },
                        { value: "Staffordshire", text: "Staffordshire" },
                        { value: "Telford and Wrekin", text: "Telford and Wrekin" },
                        { value: "Walsall", text: "Walsall" },
                        { value: "Warwickshire", text: "Warwickshire" },
                        { value: "Wolverhampton", text: "Wolverhampton" },
                        { value: "Worcestershire", text: "Worcestershire" }
                    ]
                } | decorateFormAttributes("abName")) }}


                {% endif %}





                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>

{% endblock %}
