{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'Which ' + data.abType + ' have you appointed?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{# <link rel="stylesheet" href="assets/css/accessible-autocomplete.min.css" /> #}

<link rel="stylesheet" href="/public/css/accessible-autocomplete.min.css">

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <div class="govuk-inset-text">
                  <p>Remember to contact the appropriate body directly to appoint them for your ECTs, if you have not done so already.</p>
            </div>

            {% if not data['setup'] %}
                <form class="form" action="/schools/training-programme/success" method="post" class="govuk-!-margin-bottom-7">
            {% else %}
                <form class="form" action="confirm" method="post" class="govuk-!-margin-bottom-7">
            {% endif %}

                <label for="abName"></label>


                <div class="autocomplete-wrapper govuk-!-width-two-thirds govuk-!-margin-bottom-7">
                    <select name="abName" id="abName">

                    {% if data['abType'] == "teaching school hub" %}

                        <option value=""></option>
                        <option value="Barnsley and Doncaster Teaching School Hub">Barnsley and Doncaster Teaching School Hub</option>
                        <option value="DRET Teaching School Hub">DRET Teaching School Hub</option>
                        <option value="Flying High Teaching School Hub">Flying High Teaching School Hub</option>
                        <option value="L.E.A.D. Teaching School Hub Lincolnshire">L.E.A.D. Teaching School Hub Lincolnshire</option>
                        <option value="Leicester & Leicestershire TSH">Leicester & Leicestershire TSH</option>
                        <option value="Leicestershire & Rutland TS Hub">Leicestershire & Rutland TS Hub</option>
                        <option value="Pathfinder Teaching School Hub">Pathfinder Teaching School Hub</option>
                        <option value="Potentia TSH">Potentia TSH</option>
                        <option value="Redhill Teaching Hub">Redhill Teaching Hub</option>
                        <option value="South Yorkshire Teaching Hub">South Yorkshire Teaching Hub</option>
                        <option value="Spencer Teaching School Hub">Spencer Teaching School Hub</option>
                        <option value="The Vantage Teaching School Hub North Humber">The Vantage Teaching School Hub North Humber</option>
                        <option value="Alpha Teaching School Hub">Alpha Teaching School Hub</option>
                        <option value="Cambridgeshire and Peterborough Teaching School Hub">Cambridgeshire and Peterborough Teaching School Hub</option>
                        <option value="Chafford Hundred Teaching School Hub">Chafford Hundred Teaching School Hub</option>
                        <option value="East London Teaching School Hub">East London Teaching School Hub</option>
                        <option value="Inspiration Teaching School Hub">Inspiration Teaching School Hub</option>
                        <option value="London District East Teaching School Hub">London District East Teaching School Hub</option>
                        <option value="North East London Teaching School Hub">North East London Teaching School Hub</option>
                        <option value="Saffron Teaching School Hub">Saffron Teaching School Hub</option>
                        <option value="The Julian Teaching School Hub">The Julian Teaching School Hub</option>
                        <option value="Unity Teaching School Hub">Unity Teaching School Hub</option>
                        <option value="Bright Futures Teaching School Hub - Manchester & Stockport">Bright Futures Teaching School Hub - Manchester & Stockport</option>
                        <option value="Bright Futures Teaching School Hub - Salford & Trafford">Bright Futures Teaching School Hub - Salford & Trafford</option>
                        <option value="Calderdale and Kirklees Teaching School Hub">Calderdale and Kirklees Teaching School Hub</option>
                        <option value="Embrace Teaching School Hub (SW Lancashire)">Embrace Teaching School Hub (SW Lancashire)</option>
                        <option value="Exceed Teaching School Hub">Exceed Teaching School Hub</option>
                        <option value="Generate Teaching Hub">Generate Teaching Hub</option>
                        <option value="Inspire Learning Teaching School Hub NW">Inspire Learning Teaching School Hub NW</option>
                        <option value="Leeds Teaching School Hub">Leeds Teaching School Hub</option>
                        <option value="Rainbow Teaching School Hub">Rainbow Teaching School Hub</option>
                        <option value="Selby and Wakefield Teaching School Hub">Selby and Wakefield Teaching School Hub</option>
                        <option value="Star Teaching School Hub Bolton, Bury, Rochdale">Star Teaching School Hub Bolton, Bury, Rochdale</option>
                        <option value="Star Teaching School Hub North West Lancashire">Star Teaching School Hub North West Lancashire</option>
                        <option value="Star Teaching School Hub Pennine Lancashire">Star Teaching School Hub Pennine Lancashire</option>
                        <option value="The East Manchester Teaching Hub">The East Manchester Teaching Hub</option>
                        <option value="NELT Teaching School Hub">NELT Teaching School Hub</option>
                        <option value="Northern Lights TSH: South Tyne & Wear">Northern Lights TSH: South Tyne & Wear</option>
                        <option value="One Cumbria Teaching School Hub">One Cumbria Teaching School Hub</option>
                        <option value="Red Kite Teaching School Hub">Red Kite Teaching School Hub</option>
                        <option value="Tees Valley Teaching School Hub">Tees Valley Teaching School Hub</option>
                        <option value="The Three Rivers Teaching School Hub">The Three Rivers Teaching School Hub</option>
                        <option value="Alban Teaching School Hub">Alban Teaching School Hub</option>
                        <option value="Astra Teaching School Hub, Buckinghamshire">Astra Teaching School Hub, Buckinghamshire</option>
                        <option value="Central London Teaching School Hub">Central London Teaching School Hub</option>
                        <option value="Chiltern Teaching School Hub">Chiltern Teaching School Hub</option>
                        <option value="North West London Teaching School Hub (NWLTSH)">North West London Teaching School Hub (NWLTSH)</option>
                        <option value="Northamptonshire Teaching School Hub">Northamptonshire Teaching School Hub</option>
                        <option value="Oxfordshire Teaching School Hub">Oxfordshire Teaching School Hub</option>
                        <option value="Teach West London">Teach West London</option>
                        <option value="TSH Berkshire">TSH Berkshire</option>
                        <option value="GLF West Sussex Teaching School Hub">GLF West Sussex Teaching School Hub</option>
                        <option value="Harris City Academy Crystal Palace Teaching School Hub">Harris City Academy Crystal Palace Teaching School Hub</option>
                        <option value="HISP Teaching School Hub">HISP Teaching School Hub</option>
                        <option value="Kent Teaching School hub">Kent Teaching School hub</option>
                        <option value="London South Teaching School Hub">London South Teaching School Hub</option>
                        <option value="SFET Teaching School Hub">SFET Teaching School Hub</option>
                        <option value="STEP Ahead Teaching School Hub">STEP Ahead Teaching School Hub</option>
                        <option value="Thames Gateway Teaching School Hub">Thames Gateway Teaching School Hub</option>
                        <option value="Thames South Teaching School Hub">Thames South Teaching School Hub</option>
                        <option value="Wandle Teaching School Hub">Wandle Teaching School Hub</option>
                        <option value="Xavier Teaching School Hub">Xavier Teaching School Hub</option>
                        <option value="Balcarras">Balcarras</option>
                        <option value="Colyton Teaching School Hub">Colyton Teaching School Hub</option>
                        <option value="Five Counties Teaching School Hub - South Gloucestershire and Bath and North East Somerset">Five Counties Teaching School Hub - South Gloucestershire and Bath and North East Somerset</option>
                        <option value="Five Counties Teaching School Hubs Alliance (Bristol/North Somerset)">Five Counties Teaching School Hubs Alliance (Bristol/North Somerset)</option>
                        <option value="Five Counties Teaching School Hubs Alliance (Somerset)">Five Counties Teaching School Hubs Alliance (Somerset)</option>
                        <option value="Kingsbridge Teaching School Hub">Kingsbridge Teaching School Hub</option>
                        <option value="Odyssey Teaching School Hub">Odyssey Teaching School Hub</option>
                        <option value="One Cornwall Teaching School Hub (East Cornwall)">One Cornwall Teaching School Hub (East Cornwall)</option>
                        <option value="One Cornwall Teaching School Hub (West)">One Cornwall Teaching School Hub (West)</option>
                        <option value="South Central Teaching School Hub">South Central Teaching School Hub</option>
                        <option value="Swindon and Wiltshire Teaching School Hub">Swindon and Wiltshire Teaching School Hub</option>
                        <option value="Ark Teaching School Hub">Ark Teaching School Hub</option>
                        <option value="Arthur Terry Teaching School Hub - North Birmingham">Arthur Terry Teaching School Hub - North Birmingham</option>
                        <option value="Cheshire Teaching School Hub">Cheshire Teaching School Hub</option>
                        <option value="Coventry and Central Warwickshire Teaching School Hub">Coventry and Central Warwickshire Teaching School Hub</option>
                        <option value="Haybridge Teaching School Hub">Haybridge Teaching School Hub</option>
                        <option value="John Taylor Teaching School Hub">John Taylor Teaching School Hub</option>
                        <option value="Manor Teaching School Hub">Manor Teaching School Hub</option>
                        <option value="Prince Henry’s Teaching School Hub">Prince Henry’s Teaching School Hub</option>
                        <option value="STEP">STEP</option>
                        <option value="The Golden Thread Teaching School Hub">The Golden Thread Teaching School Hub</option>
                        <option value="Tudor Grange Teaching School Hub">Tudor Grange Teaching School Hub</option>


                    {% else %}

                        <option value=""></option>
                        <option value="Derby">Derby</option>
                        <option value="Derbyshire">Derbyshire</option>
                        <option value="Doncaster">Doncaster</option>
                        <option value="East Riding of Yorkshire">East Riding of Yorkshire</option>
                        <option value="Kingston upon Hull">Kingston upon Hull</option>
                        <option value="Leicestershire">Leicestershire</option>
                        <option value="North Lincolnshire">North Lincolnshire</option>
                        <option value="Nottingham">Nottingham</option>
                        <option value="Nottinghamshire">Nottinghamshire</option>
                        <option value="Rotherham">Rotherham</option>
                        <option value="York">York</option>
                        <option value="Barking and Dagenham">Barking and Dagenham</option>
                        <option value="Cambridgeshire">Cambridgeshire</option>
                        <option value="Essex">Essex</option>
                        <option value="Hackney">Hackney</option>
                        <option value="Haringey">Haringey</option>
                        <option value="Havering">Havering</option>
                        <option value="Newham">Newham</option>
                        <option value="Norfolk">Norfolk</option>
                        <option value="Peterborough">Peterborough</option>
                        <option value="Redbridge">Redbridge</option>
                        <option value="Southend-On-Sea">Southend-On-Sea</option>
                        <option value="Suffolk">Suffolk</option>
                        <option value="Thurrock">Thurrock</option>
                        <option value="Tower Hamlets">Tower Hamlets</option>
                        <option value="Waltham Forest">Waltham Forest</option>
                        <option value="Blackburn with Darwen">Blackburn with Darwen</option>
                        <option value="Blackpool">Blackpool</option>
                        <option value="Bolton">Bolton</option>
                        <option value="Bradford">Bradford</option>
                        <option value="Calderdale">Calderdale</option>
                        <option value="Halton">Halton</option>
                        <option value="Kirklees">Kirklees</option>
                        <option value="Knowsley">Knowsley</option>
                        <option value="Lancashire">Lancashire</option>
                        <option value="Leeds">Leeds</option>
                        <option value="Liverpool">Liverpool</option>
                        <option value="Manchester">Manchester</option>
                        <option value="Rochdale">Rochdale</option>
                        <option value="Salford">Salford</option>
                        <option value="Sefton">Sefton</option>
                        <option value="St Helens">St Helens</option>
                        <option value="Stockport">Stockport</option>
                        <option value="Trafford">Trafford</option>
                        <option value="Wakefield">Wakefield</option>
                        <option value="Warrington">Warrington</option>
                        <option value="Wigan">Wigan</option>
                        <option value="Wirral">Wirral</option>
                        <option value="Darlington">Darlington</option>
                        <option value="Durham">Durham</option>
                        <option value="Gateshead">Gateshead</option>
                        <option value="North Tyneside">North Tyneside</option>
                        <option value="North Yorkshire">North Yorkshire</option>
                        <option value="Northumberland">Northumberland</option>
                        <option value="Redcar and Cleveland">Redcar and Cleveland</option>
                        <option value="South Tyneside">South Tyneside</option>
                        <option value="Stockton-on-Tees">Stockton-on-Tees</option>
                        <option value="Sunderland">Sunderland</option>
                        <option value="Barnet">Barnet</option>
                        <option value="Bedford">Bedford</option>
                        <option value="Bracknell Forest">Bracknell Forest</option>
                        <option value="Brent">Brent</option>
                        <option value="Buckinghamshire">Buckinghamshire</option>
                        <option value="Camden">Camden</option>
                        <option value="Central Bedfordshire">Central Bedfordshire</option>
                        <option value="City of Westminster">City of Westminster</option>
                        <option value="Ealing">Ealing</option>
                        <option value="Enfield">Enfield</option>
                        <option value="Hammersmith and Fulham">Hammersmith and Fulham</option>
                        <option value="Harrow">Harrow</option>
                        <option value="Hertfordshire">Hertfordshire</option>
                        <option value="Hillingdon">Hillingdon</option>
                        <option value="Hounslow">Hounslow</option>
                        <option value="Islington">Islington</option>
                        <option value="Kensington and Chelsea">Kensington and Chelsea</option>
                        <option value="Luton">Luton</option>
                        <option value="Milton Keynes">Milton Keynes</option>
                        <option value="North Northamptonshire">North Northamptonshire</option>
                        <option value="Reading">Reading</option>
                        <option value="West Berkshire">West Berkshire</option>
                        <option value="West Northamptonshire">West Northamptonshire</option>
                        <option value="Windsor and Maidenshead">Windsor and Maidenshead</option>
                        <option value="Wokingham">Wokingham</option>
                        <option value="Bexley">Bexley</option>
                        <option value="Brighton and Hove">Brighton and Hove</option>
                        <option value="Croydon">Croydon</option>
                        <option value="Greenwich">Greenwich</option>
                        <option value="Hampshire">Hampshire</option>
                        <option value="Kent">Kent</option>
                        <option value="Kingston upon Thames">Kingston upon Thames</option>
                        <option value="Lambeth">Lambeth</option>
                        <option value="Lewisham">Lewisham</option>
                        <option value="Medway">Medway</option>
                        <option value="Merton">Merton</option>
                        <option value="Portsmouth">Portsmouth</option>
                        <option value="Richmond upon Thames">Richmond upon Thames</option>
                        <option value="Southwark">Southwark</option>
                        <option value="Sutton">Sutton</option>
                        <option value="Wandsworth">Wandsworth</option>
                        <option value="West Sussex">West Sussex</option>
                        <option value="Bristol">Bristol</option>
                        <option value="Devon">Devon</option>
                        <option value="Dorset">Dorset</option>
                        <option value="Gloucestershire">Gloucestershire</option>
                        <option value="Plymouth">Plymouth</option>
                        <option value="Somerset">Somerset</option>
                        <option value="South Gloucestershire">South Gloucestershire</option>
                        <option value="Swindon">Swindon</option>
                        <option value="Wiltshire">Wiltshire</option>
                        <option value="Birmingham">Birmingham</option>
                        <option value="Cheshire East">Cheshire East</option>
                        <option value="Cheshire West and Chester">Cheshire West and Chester</option>
                        <option value="Coventry">Coventry</option>
                        <option value="Sandwell">Sandwell</option>
                        <option value="Shropshire">Shropshire</option>
                        <option value="Solihull">Solihull</option>
                        <option value="Staffordshire">Staffordshire</option>
                        <option value="Telford and Wrekin">Telford and Wrekin</option>
                        <option value="Walsall">Walsall</option>
                        <option value="Warwickshire">Warwickshire</option>
                        <option value="Wolverhampton">Wolverhampton</option>
                        <option value="Worcestershire">Worcestershire</option>

                    {% endif %}




                        {# <option value="NELT Teaching School Hub">NELT Teaching School Hub</option>
                        <option value="Northern Lights TSH: South Tyne & Wear">Northern Lights TSH: South Tyne & Wear</option>
                        <option value="One Cumbria Teaching School Hub">One Cumbria Teaching School Hub</option>
                        <option value="Red Kite Teaching School Hub">Red Kite Teaching School Hub</option>
                        <option value="Tees Valley Teaching School Hub">Tees Valley Teaching School Hub</option>
                        <option value="The Three Rivers Teaching School Hub">The Three Rivers Teaching School Hub</option> #}

                    </select>
                </div>






                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>

    <script src="/public/javascripts/accessible-autocomplete.min.js"></script>
    <script type="text/javascript">
      var selectEl = document.querySelector('#abName')
      accessibleAutocomplete.enhanceSelectElement({
        autoselect: true,
        defaultValue: selectEl.options[selectEl.options.selectedIndex].innerHTML,
        minLength: 2,
        selectElement: selectEl
      })

      var queryStringParameters = window.location.search
      var previouslySubmitted = queryStringParameters.length > 0
      if (previouslySubmitted) {
        var submittedEl = document.querySelector('.submitted')
        submittedEl.classList.remove('submitted--hidden')
        var params = new URLSearchParams(document.location.search.split('?')[1])
        document.querySelector('.submitted__abName').innerHTML = params.get('abName')
      }
    </script>





{% endblock %}
