{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Which type of appropriate body?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


            {# <p class="govuk-body">You can also contact your <a href="#">appropriate body</a>.</p> #}

            <form class="form" action="region" method="post" class="govuk-!-margin-bottom-8">

                {{ govukRadios({
                    items: [
                        { value: "No", text: "Local authority" },
                        { value: "No, redirect(national-organisation)", text: "National organisation" },
                        { value: "Yes", text: "Teaching school hub" }
                    ]
                } | decorateFormAttributes("newYear-abType")) }}


                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>

{% endblock %}
