{% extends "layout.html" %}
{% set showPhaseBanner = false %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}

  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" />

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block content %}
<div class="pseudo-bg"></div>
<div class="email-metadata">
  <p><strong>From: </strong>Department for Education: Teacher Continuing Professional Development </p>
  <p><strong>Subject: </strong>Sign in to manage training for early career teachers</p>
</div>
<div class="pseudo-email-template">

<p>Hello {{ data.sitName }},</p>
<p>{{ data.schoolName }} has nominated you to be their induction tutor and manage training for early career teachers (ECTs).</p>
<p>Read our step-by-step guidance to find out how your programme should be set up: <a href="/how-to-set-up-your-programme">https://manage-training-for-early-career-teachers.education.gov.uk/how-to-set-up-your-programme</a></p>



<h2 class="govuk-heading-m">When and why to use this DfE service</h2>
<div class="govuk-inset-text">
    <p>We need information from you to arrange relevant funding and access to training materials.</p>
    <p>This is in addition to any information a training provider or appropriate body may ask you for.</p>
</div>


<p>Use our service to:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>tell us if you expect any ECTs to join your school in the term ahead</li>
    <li>choose or change how your school will run your ECT training programme</li>
    <li>nominate someone else to be the induction tutor for your school instead</li>
</ul>

<h2 class="govuk-heading-m">When to register your ECTs and mentors</h2>
<p>If your school is using a DfE-funded training provider or accredited materials, you need to register your ECTs and their mentors with us directly.</p>
<div class="govuk-inset-text">
    <p>An ECT will only become eligible for funded training once they receive their qualified teacher status (QTS).</p>
</div>

<p>You must use our service to tell us:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>the name and email address of each new ECT</li>
    <li>the name and email address of each mentor assigned to work with an ECT</li>
</ul>

<h2 class="govuk-heading-m">How to sign in and use our service</h2>
<ul class="govuk-list govuk-list--number">

<li>Follow this link: <a href="/start">https://manage-training-for-early-career-teachers.education.gov.uk/</a></li>
<li>Sign in using the email address we sent this message to. Be careful to enter your address correctly with no spaces. You do not need a password.</li>
<li>If you do not receive an email from the DfE when you try to sign in, check your spam or junk folder.</li>
</ul>

<p>If you have any questions, reply to this email.</p>
<p>Kind regards,</p>


<p>Teacher Continuing Professional Development<br />
Department for Education</p>
</div>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
