{% extends "layout.html" %}

{% set pageHeading = "Report that your school has been signed up incorrectly" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">
      
      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      		<p class="govuk-body govuk-!-margin-bottom-7">[School name] has received a confirmation from [Delivery partner] but you believe this is incorrect.</p>

      		<form class="form" action="report-submitted" method="post" >
        		
        		{{ govukRadios({
          			idPrefix: "school-challenge-reason",
          			name: "school-challenge-reason",
          			fieldset: {
            			legend: { text: "Tell us why", isPageHeading: false, classes: "govuk-fieldset__legend--m" }
          			},
          			items: [
						{ value: "alreadyPartnered", text: "I have already confirmed an agreement with another provider", checked: checked("school-challenge-reason", "alreadyPartnered")  },
						{ value: "notAgreedNotSigned", text: "We have not confirmed an agreement", checked: checked("school-challenge-reason", "notAgreedNotSigned") },
						{ value: "dontRecognise", text: "I do not recognise this training provider", checked: checked("school-challenge-reason", "dontRecognise") },
						{ value: "noInductions", text: "We do not have any early career teachers this year", checked: checked("school-challenge-reason", "noInductions") },
            			{ value: "mistake", text: "This looks like a mistake", checked: checked("school-challenge-reason", "mistake") }
          			]
        		}) }}

        		{{ govukButton({
          			text: "Submit"
        		}) }}

      		</form>
    	
		</div>
  </div>

{% endblock %}