{% extends "layout.html" %}
{% set showBackLink = true %}
{% set schoolSignedIn = false %}
{% set showadminPrimaryNav = true %}

{% set pageHeading = "Have you confirmed that Ambition Institute has submitted all relevant declarations?" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <form method="post" action="new-partnership" >

            {{ govukCheckboxes({
                fieldset: {
                    legend: {
                        text: title,
                        isPageHeading: false,
                        classes: 'govuk-visually-hidden'
                    }
                },
                items: [
                    { text: "Yes, the provider has confirmed this" }
                ]
            } | decorateFormAttributes(['schools', id, 'declarations']) ) }}


            {{ govukButton({
                text: "Continue"
            }) }}

            </form>

            {# We assume that the current provider has submitted any start declarations for the participants it has onboarded #}

        </div>
    </div>

{% endblock %}
