{% extends "layout.html" %}
{% set showBackLink = true %}
{% set schoolSignedIn = false %}
{% set showadminPrimaryNav = true %}

{% set pageHeading = "Which lead provider does the school want to change to?" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <form method="post" action="who" >

                {{ govukRadios({
                    fieldset: {
                        legend: {
                            text: title,
                            isPageHeading: false,
                            classes: 'govuk-visually-hidden'
                        }
                    },
                    items: [
                        { text: 'Ambition Institute' },
                        { text: 'Best Practice Network' },
                        { text: 'Capita' },
                        { text: 'Education Development Trust' },
                        { text: 'Teach First' },
                        { text: 'UCL Institute of Education' }
                    ]
                } | decorateFormAttributes(['schools', id, 'newleadProvider']) ) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

            {# We assume that the current provider has submitted any start declarations for the participants it has onboarded #}

        </div>
    </div>

{% endblock %}
