{% extends "layout.html" %}
{% set showBackLink = true %}
{% set schoolSignedIn = false %}
{% set showadminPrimaryNav = true %}

{% set pageHeading = 'Who will be switching to ' + (data.admin['new-partnership'] or 'Capita') + '?' %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <form method="post" action="check" >

                {{ govukCheckboxes({
                    fieldset: {
                        legend: {
                            text: title,
                            isPageHeading: false,
                            classes: 'govuk-visually-hidden'
                        }
                    },
                    items: [
                        { text: "Jane Doe" },
                        { text: "John Doe" },
                        { text: "Keanu Greeves" },
                        { text: "Tom Thanks" }
                    ]
                } | decorateFormAttributes(['schools', id, 'people']) ) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

            {# We assume that the current provider has submitted any start declarations for the participants it has onboarded #}

        </div>
    </div>

{% endblock %}
