{% extends "layout.html" %}
{% set showBackLink = true %}
{% set schoolSignedIn = false %}
{% set showadminPrimaryNav = true %}

{% set pageHeading = "Why are you changing this lead provider?" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


            <form method="post" action="change-lead-provider/switching-guidance" />

                {{ govukRadios({
                    fieldset: {
                    legend: {
                        text: title,
                        isPageHeading: true,
                        classes: 'govuk-fieldset__legend--xl govuk-!-margin-bottom-6'
                        }
                    },
                    items: [
                        { text: "The school has challenged the partnership" },
                        { text: "The school is switching to a different provider" }
                    ]
                } | decorateFormAttributes(['schools', 'why-changing']) ) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>


        </div>
    </div>

{% endblock %}
