{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Schools and Teachers" %}
{% set pageSection = "Prototype - Prelive" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

        	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
			<!-- <p>Testing deployment</p> -->
    		<ul class="govuk-list govuk-body-s">
          		<li>Last updated: 18 December 2022</li>
            	<li>Prototype version: {{releaseVersion}}</li>
        	</ul>
        	<h2 class="govuk-heading-m">Prelive - design work</h2>
        	<p>Version of the prototype that contains all the design work undertaken in 2022 not yet developed or implemented into live.</p>


        	{{ govukButton({
      			text: "Service start",
      			href: "/prelive/emails/tell-us-if-you-have-nqt"
    		}) }}

    		{{ govukButton({
      			text: "Page listings",
      			href: "/prelive/admin/listings",
      			classes: "govuk-button--secondary govuk-!-margin-left-1"
    		}) }}



            {{ govukButton({
      			text: "Preload options",
      			href: "/prelive/admin/preload",
      			classes: "govuk-button--secondary govuk-!-margin-left-1"
    		}) }}




    </div>
  </div>
{% endblock %}
