{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Privacy policy" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


          {% include "includes/privacypolicy_content.html" %}

      {% if data['registering'] == "Yes" %}
        <!-- Giving us your registration details to confirm you are eligible -->
        {% if data['participantType'] == "ECT" %}
          <form method="post" action="/prelive/schools/participants/register/teacher-reference-number" >
        {% else %}
          <form method="post" action="/prelive/schools/participants/register/have-trn" >
        {% endif %}
      {% else %}
        <form method="post" action="schools/training-programme/" >
          <input type="hidden" id="inductionProgramme" name="inductionProgramme" value="" />
          <input type="hidden" id="induction-tutor-seen-privacy-policy" name="induction-tutor-seen-privacy-policy" value="Yes" />
      {% endif %}

        {{ govukButton({
          text: "Continue"
          }) }}

      </form>

    </div>
    </div>
{% endblock %}
