{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "You are signed out" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

          <p>You can close this tab or <a href="sign-in">sign in again</a>.</p>

      </div>
    </div>
{% endblock %}
