{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = '' + data['participant-2-name'] +  ' has been registered with your school' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

        	{{ govukPanel({
            	titleText: pageHeading,
        		classes: "govuk-!-margin-bottom-7"
          	}) }}      

        	<h2 class="govuk-heading-m govuk-!-margin-top-7">What happens next</h2>
        	
        	<p>We’ll let this person know you’ve registered them at your school.</p>
        	
			<!-- If no TRN is entered -->
        	<!-- <p>We’ll ask them for the information we need to check they’re eligible for this training programme.</p> -->
        	<!-- end -->
			<p>They’re already training with the same provider used by your school. We’ll let your provider know about the transfer.</p>
        	<p>They’ll appear on your dashboard as ’transferring to your school’ until their start date.</p>

        	<!-- If ECT -->
			{% if data['paticipant-2-mentor'] %}
        	<p>You need to assign them a mentor.</p>  
			{% endif %}

			<!-- If FIP mentor -->
        	<!-- <p>They can continue training as a mentor even if they do not have an ECT assigned to them yet.</p>   -->
  
        	<p><a class="govuk-link govuk-link--no-visited-state" href="../../../participants/">Return to your ECTs and mentors</a></p>

    	</div>
    </div>
{% endblock %}
