{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Confirm your induction programme" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			<p class="govuk-body">You have chosen to:</p>
			<ul class="govuk-list govuk-list--bullet">
				{% if (data['induction-programme'] === "FIP") %}
					<li>use a training provider, funded by the DfE</li>
				{% elseif (data['induction-programme'] === "CIP") %}
					<li>deliver your own programme using DfE accredited materials</li>
				{% elseif (data['induction-programme'] === "DYO") %}
					<li>design and deliver your own programme based on the Early Career Framework (ECF)</li>
				{% elseif (data['induction-programme'] === "schoolNOECT") %}
					<li>opt out of notifications because you don’t expect to have any early career teachers starting in 2021</li>
				{% endif %}
			</ul>
      		
			<form method="post" action="provision-confirmed" >
								
				{{ govukButton({
					text: "Confirm"
		  		}) }}
				  
			</form>	
			
    </div>
  </div>
{% endblock %}
