{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'Who is the mentor for ' + data['participant-fullname'] + '?' %}
{% set pageSection = "{Name of school - 2021 to 2022 cohort}" %}  

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
			
      		<form class="form" action="check-your-answers" method="post" class="govuk-!-margin-bottom-8">
        		
				{{ govukRadios({
          			idPrefix: "who-is-mentor",
          			name: "who-is-mentor",
					hint: {
						text: "If you don't know, or haven't added them yet you can do this later."
					},
          			items: [
            			{ value: "Henry Purcell", text: "Henry Purcell", checked: checked("who-is-mentor", "Henry Purcell") },
            			{ value: "Berthe Morisot", text: "Berthe Morisot", checked: checked("who-is-mentor", "Berthe Morisot") },
            			{ value: "Giotto di Bondone", text: "Giotto di Bondone", checked: checked("who-is-mentor", "Giotto di Bondone") },
            			{ divider: "or" },
            			{ value: "Assign mentor later", text: "Assign mentor later", checked: checked("who-is-mentor", "Assign mentor later") }
          			]
        		}) }}

        		{{ govukButton({
          			text: "Continue"
        		}) }}

      		</form>
    	
		</div>
  </div>
{% endblock %}