{% extends "layout.html" %}
{% set showPhaseBanner = false %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block content %}
<div class="pseudo-bg"></div>
<div class="email-metadata">
  <p><strong>From: </strong>Department for Education: Teacher Continuing Professional Development </p>
  <p><strong>Subject: </strong>Sign in to manage induction</p>
</div>
<div class="pseudo-email-template">
<p>Hello,</p>
<p>[School name] has nominated you to be their induction tutor and use our service to manage training for early career teachers.</p>
<p>You can now:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>sign in with this email address</li>
  <li>manage your statutory induction programme for 2021/22</li>
</ul>
<p>You must complete these steps before your early career teachers (ECTs) start their statutory induction programme.<p>

<p>For example, if your ECTs are starting in September, you need to complete these steps before then.</p>
<p>Get started:</p>
<p><a href="/user-research/start">https://manage-training-for-early-career-teachers.education.gov.uk/</a></p>

<p>Teacher Continuing Professional Development<br />
<span style="color:#888888;">Department for Education</span></p>
</div>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
