{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "How do you want to run your training in 2021 to 2022?" %}
{% set pageSection = "Acme Primary School" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


			  <!-- <p class="govuk-body">You are choosing how you want to run your training/induction programme over 2 years.</p> -->
			  <!-- <p class="govuk-body">If you want to change your decision, you may need to contact the Department for Education (DfE).</p> -->
  
			  <!-- <h2 class="govuk-heading-m">How you can run your induction</h2>
			  
			  {% if data['eligible-funding'] == "No" %}
				  <p>Your school is eligible for two types of training/induction, funded/offered by the DfE: </p>
			  {% else %}			
				  <p>Your school is eligible for three types of training/induction, funded/offered by the DfE: </p>			
			  {% endif %}
			  <ul class="govuk-list govuk-list--bullet">
				  {% if data['eligible-funding'] != "No" %}
				  <li>Use a training provider, funded by the DfE (sometimes referred to as a ‘full induction programme’).</li>
				  {% endif %}
				  <li>Deliver your own programme using the DfE accredited materials (sometimes referred to as a ‘core induction programme’).</li>
				  <li>Design and deliver your own programmed based on the Early Career Framework (ECF).</li>
  
			  </ul>
			  {% if data['eligible-funding'] == "No" %}
			  <p>Only state-funded schools can receive DfE funding to use a training provider.</p>
			  {% endif %} -->
			  
  
			  <!-- <h2 class="govuk-heading-m">If you’re not sure what to choose</h2> -->
			  <p>If you’re not sure which option to choose, <a href="https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview">check our guidance on statutory changes and new training programmes</a>.</p>
			  <!-- <ul class="govuk-list govuk-list--bullet">
				  <li>the changes to statutory induction</li>
				  {% if data['eligible-funding'] == "No" %}
				  <li>the 2 approaches schools can take to run their induction</li>
				  {% else %}
				  <li>the 3 approaches schools can take to run their induction</li>
				  <li>how programmes are funded and more</li>
				  {% endif %}
				  
			  </ul> -->
			  
			  <!-- <p class="govuk-body">See our guidance on <a href="https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview">induction programmes for early career teachers.</a></p> -->
  
			  <p class="govuk-body">You can also contact your <a href="#">appropriate body</a>.</p>
			  <!-- <p class="govuk-body">If you are part of a MAT (multi academy trust), you may also want to consult them.</p> -->

			  <!-- { value: "FIP", text: "Use a DfE-approved training provider (without DfE funding)", checked: checked("induction-programme", "FIP") }, -->
      		<!-- <p class="govuk-hint">Not sure? <a href="https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview">Check our guidance</a>, contact your <a href="https://www.gov.uk/guidance/teaching-school-hubs#find-a-teaching-school-hub">local Teaching School Hub</a> or appropriate body.</p> -->

      		<form class="form" action="confirm" method="post" class="govuk-!-margin-bottom-8">
				
				
				{% if data['change-programme'] == "Yes" %}
				

					{% if data['induction-programme'] == "DYO" %}

						{{ govukRadios({
							idPrefix: "induction-programme",
							name: "induction-programme",
							items: [
								{ value: "FIP", text: "Use a training provider, funded by the DfE", checked: checked("induction-programme", "FIP") },
								{ value: "CIP", text: "Deliver your own programme using DfE accredited materials", checked: checked("induction-programme", "CIP") },							
								{ value: "noECT", text: "We do not expect any early career teachers to join", checked: checked("induction-programme", "noECT") }
							]
						}) }}

					{% elif data['induction-programme'] == "noECT" %}

						{{ govukRadios({
							idPrefix: "induction-programme",
							name: "induction-programme",
							items: [
								{ value: "FIP", text: "Use a training provider, funded by the DfE", checked: checked("induction-programme", "FIP") },
								{ value: "CIP", text: "Deliver your own programme using DfE accredited materials", checked: checked("induction-programme", "CIP") },							
								{ value: "DYO", text: "Design and deliver your own programme based on the Early Career Framework (ECF)", checked: checked("induction-programme", "DYO") }
							]
						}) }}

					{% elif data['induction-programme'] == "CIP" %}
						<!-- No work on this as yet -->
					{% elif data['induction-programme'] == "FIP" %}
						<!-- No work on this as yet -->
						<p>You have not selected how to run your training programme in the preload.</p>

					{% endif %}


				
				{% elif data['eligible-funding'] == "No" %}

					{{ govukRadios({
						idPrefix: "induction-programme",
						name: "induction-programme",
						items: [
							
							{ value: "CIP", text: "Deliver your own programme using DfE accredited materials", checked: checked("induction-programme", "CIP") },
							{ value: "DYO", text: "Design and deliver your own programme based on the Early Career Framework (ECF)", checked: checked("induction-programme", "DYO") },
							{ value: "temphold", text: "Use a training provider funded by your school ", checked: checked("induction-programme", "temphold") },
							{ value: "noECT", text: "We do not expect any early career teachers to join", checked: checked("induction-programme", "noECT") }
						]
					}) }}

				{% else %}

					{{ govukRadios({
						idPrefix: "induction-programme",
						name: "induction-programme",
						items: [
							{ value: "FIP", text: "Use a training provider, funded by the DfE", checked: checked("induction-programme", "FIP") },
							{ value: "CIP", text: "Deliver your own programme using DfE accredited materials", checked: checked("induction-programme", "CIP") },
							{ value: "DYO", text: "Design and deliver your own programme based on the Early Career Framework (ECF)", checked: checked("induction-programme", "DYO") },
							{ value: "noECT", text: "We do not expect any early career teachers to join", checked: checked("induction-programme", "noECT") }
						]
					}) }}

				{% endif %}				

				{{ govukButton({
					text: "Continue"
				}) }}
      		
			</form>
    	
		</div>
  	</div>

{% endblock %}