{% extends "layout.html" %}

{% set pageHeading = "What’s your National Insurance number?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
    		    
			  <!-- Check if we are adding extra layers to validate -->
			
			{% if data['linkaction'] == "change-ni" %}
			<!-- If using change link -->
			<form class="form" action="cannot-find-your-details" method="post" class="govuk-!-margin-bottom-8">
				<input type="hidden" name="linkaction" id="changeaction" value="" />	
			
			{% else %}
			
				{% if data['register-main-route'] == "tr-number" %}

			  		{% if data['register-cannot-validate'] == "Yes" %}				  	
					<form class="form" action="cannot-find-your-details" method="post">    	
						<!-- <input type="hidden" id="register-cant-validate" name="register-cant-validate"	value="Yes" /> -->
			  		{% elif data['register-validate'] == "No" %}
			 		<form class="form" action="confirmation" method="post">					
					{% endif %}									  
					
			  	{% else %}
    		
			  		<form class="form" action="date-of-birth" method="post">    
					<input type="hidden" id="register-main-route" name="register-main-route" value="ni-number" />		
				{% endif %}
				
			{% endif %}
								
					{{ govukInput({
						label: { text: "National Insurance number", classes: "govuk-visually-hidden" },
						hint: { text: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’." },
						classes: "govuk-!-width-two-thirds",
						id: "register-national-insurance-number",
						name: "register-national-insurance-number",
						spellcheck: false,
						value: data['register-national-insurance-number']
					}) }}

					{{ govukButton({
						text: "Continue"
					}) }}
				</form>
		
		</div>
	</div>

{% endblock %}