{% extends "layout.html" %}
{% set showPhaseBanner = false %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" />

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block content %}
<div class="pseudo-bg"></div>
<div class="email-metadata">
  <p><strong>From: </strong>Department for Education: Teacher Continuing Professional Development </p>
  <p><strong>Subject: </strong>Provider confirmed</p>
</div>
<div class="pseudo-email-template">
<p>Hello,</p>
<p>{Delivery partner name} has confirmed they will be delivering an induction programme to your early career teachers, starting in 2021.</p>

<p>Please check this with the person at your school who manages statutory inductions.</p>

<p><strong>If this is correct</strong></p>
<p>Nominate your induction lead/tutor:</p>
<p><a href="/sprint-16/school-nominate-school-lead/nominate-induction-tutor">https://manage-training-for-early-career-teachers.education.gov.uk/nominations/start?token=22345678as9fijhgt</a></p>

<p><strong>If this is a mistake</strong></p>
<p>If you have not confirmed an agreement with this provider or you have confirmed with someone else, report this now:</p>

<p><a href="../schools/report/incorrect-signup">https://manage-training-for-early-career-teachers.education.gov.uk//users/confirm_sign_in?login_token=22345678as9fijhgt</a>.
</p>
<p>Teacher Continuing Professional Development<br />
<span style="color:#888888;">Department for Education</span></p>
</div>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
