{% extends "layout.html" %}
{% block pageTitle %}Sign in{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    text: "Back",
    href: "/start"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">Testing redirect</h1>


      <!-- Redirect works on the value by adding redirect(URL) this will then override the action value -->
      <form class="form" action="4" method="post">
        
        {{ govukRadios({
          idPrefix: "where-do-you-live",
          name: "where-do-you-live",
          fieldset: {
            legend: { text: "Where do you live?", isPageHeading: false, classes: "govuk-visually-hidden" }
          },
          items: [
            { value: "england, redirect(1)", text: "England" },
            { value: "scotland, redirect(2)", text: "Scotland" },
            { value: "wales, redirect(3)", text: "Wales" },
            { value: "northern-ireland", text: "Northern Ireland" }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
      
    </div>
  </div>
{% endblock %}
