{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = true %}

{% set pageHeading = "This email address has already been added" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p class="govuk-body govuk-!-margin-bottom-6">This email address has already been used to add an early career teacher (ECT) or mentor</p>
      <p class="govuk-body govuk-!-margin-bottom-6">Use a different email address</p>
      <p class="govuk-body govuk-!-margin-bottom-6">View your ECTs and mentors</p>

      <form class="form" action="change-participant-email" method="post" class="govuk-!-margin-bottom-8">


        {{ govukButton({
          text: "Try again"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
