{% extends "layout.html" %}

{% set selectedCount = data['selected-count']  %}

{% if data['selected-count'] %}
    {% set pageHeading = "Add partnerships with these " + selectedCount + " schools" %}
{% else %}
    {% set pageHeading = "Add partnerships with these schools" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{# {% block pageTitle %}Confirm partnerships{% endblock %} #}

{% block pageNavigation %}
{% set page = 'schools' %}
{% include 'training-provider-signed-in/_training-provider-nav.html' %}
{{ govukBackLink({
  text: "Back",
  href: "/training-provider-signed-in/find-and-add-schools-results"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-three-quarters">
      
      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Only add partnerships with schools you have fully recruited (for example, you have signed a contract with them).</p>
      <p class="govuk-body">Schools will be notified.</p>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">MAT / Network</th>
            <th scope="col" class="govuk-table__header">Local authority</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body" id="table-body">
        </tbody>
      </table>

      <form class="form" action="training-provider-signed-in/find-and-add-schools-success" method="post" class="govuk-!-margin-bottom-8">
        <button type="submit" class="govuk-button" id="name-search-submit" name="SearchType" value="Text">Confirm</button>
      </form>

      <form class="form" action="training-provider-signed-in/find-and-add-schools-results" method="post" class="govuk-!-margin-bottom-8">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Change schools</button>
      </form>
    </div>
  </div>

  <script>
    const schools = {
      abacus: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Abacus Primary School</td>\n      <td class='govuk-table__cell'>Banforth Academies Trust</td>\n      <td class='govuk-table__cell '>Oxfordshire</td>\n    </tr>\n    ",
      banforth: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>The King's School Canterbury</td>\n      <td class='govuk-table__cell'>Banforth Academies Trust</td>\n      <td class='govuk-table__cell '>Canterbury</td>\n    </tr>",
      canterbury: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Canterbury Christ Church University</td>\n      <td class='govuk-table__cell'></td>\n      <td class='govuk-table__cell '>Canterbury</td>\n    </tr>",
      barton: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Barton Court Grammar School</td>\n      <td class='govuk-table__cell'>Banforth Academies Trust</td>\n      <td class='govuk-table__cell '>Hertfordshire</td>\n    </tr>",
      orchard: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>The Orchard School</td>\n      <td class='govuk-table__cell'>Abbey Multi Academy Trust</td>\n      <td class='govuk-table__cell '>Oxfordshire</td>\n    </tr>",
      pilgrim: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Pilgrims' Way Primary School</td>\n      <td class='govuk-table__cell'>Banforth Academies Trust</td>\n      <td class='govuk-table__cell '>Romford</td>\n    </tr>",
      stephen: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>St Stephen's Infant School</td>\n      <td class='govuk-table__cell'></td>\n      <td class='govuk-table__cell '>Bristol</td>\n    </tr>",
      stephenj: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>St Stephen's Junior School</td>\n      <td class='govuk-table__cell'></td>\n      <td class='govuk-table__cell '>Gloucester</td>\n    </tr>",
      langton: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Simon Langton Grammar School for Boys</td>\n      <td class='govuk-table__cell'>ABNEY TRUST</td>\n      <td class='govuk-table__cell '>Canterbury</td>\n    </tr>",
      blean: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Blean Primary School</td>\n      <td class='govuk-table__cell'></td>\n      <td class='govuk-table__cell '>Norfolk</td>\n    </tr>",
      sturry: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Sturry Church of England Primary School</td>\n      <td class='govuk-table__cell'></td>\n      <td class='govuk-table__cell '>Somerset</td>\n    </tr>",
      rose: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>St Rose's Special School</td>\n      <td class='govuk-table__cell'>BECKFOOT TRUST</td>\n      <td class='govuk-table__cell '>Stockport</td>\n    </tr>",
      uplands: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Uplands Community Primary School</td>\n      <td class='govuk-table__cell'>ACADEMY @ WORDEN</td>\n      <td class='govuk-table__cell '>Somerset</td>\n    </tr>",
      callowell: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Callowell Primary School</td>\n      <td class='govuk-table__cell'>Banforth Academies Trust</td>\n      <td class='govuk-table__cell '>Norfolk</td>\n    </tr>",
      archway: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Archway School</td>\n      <td class='govuk-table__cell'>Acer Trust</td>\n      <td class='govuk-table__cell '>Somerset</td>\n    </tr>",
      severn: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Severn View Academy</td>\n      <td class='govuk-table__cell'>Acer Trust</td>\n      <td class='govuk-table__cell '>North Lincolnshire</td>\n    </tr>",
      eastcomb: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Eastcombe Primary School</td>\n      <td class='govuk-table__cell'>BECKFOOT TRUST</td>\n      <td class='govuk-table__cell '>Stockport</td>\n    </tr>",
      thomas: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Thomas Keble School</td>\n      <td class='govuk-table__cell'></td>\n      <td class='govuk-table__cell '>Norfolk</td>\n    </tr>",
      amberley: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Amberley Parochial School</td>\n      <td class='govuk-table__cell'></td>\n      <td class='govuk-table__cell '>North Lincolnshire</td>\n    </tr>",
      maidenhill: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Maidenhill School</td>\n      <td class='govuk-table__cell'>Banforth Academies Trust</td>\n      <td class='govuk-table__cell '>Stockport</td>\n    </tr>",
      croft: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>The Croft Primary School</td>\n      <td class='govuk-table__cell'></td>\n      <td class='govuk-table__cell '>Stockport</td>\n    </tr>",
      wycliffe: "\n    <tr class='govuk-table__row'>\n      <td class='govuk-table__cell'>Wycliffe College</td>\n      <td class='govuk-table__cell'>Banforth Academies Trust</td>\n      <td class='govuk-table__cell '>North Lincolnshire</td>\n    </tr>"
    }

    const selectedCount = {{ data['selected-count'] }}
    const selectedSchools = '{{ data['selected-school'] }}'.split(',')
    console.log(selectedSchools)
    const tableBody = document.getElementById('table-body')
    selectedSchools.forEach(function(school) {tableBody.innerHTML += schools[school]})

  </script>

{% endblock %}
