{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% block pageTitle %}
  Choose type of participant
{% endblock %}

{% block pageNavigation %}
  {% if (data['schoolParticipantOptions'] === 'hasAddedMentors') %}
    <a class="govuk-back-link" href="/school-signed-in/school-add-participants-to-cohort/cohort-participant-listing">Back</a>
  {% elseif (data['schoolParticipantOptions'] === 'canAddParticipants' and data['journey-mode'] === 'schoolFIP') %}
    <a class="govuk-back-link" href="/school-signed-in/fip/fip-cohort-detail">Back</a>
  {% elseif (data['schoolParticipantOptions'] === 'canAddParticipants' and data['journey-mode'] === 'schoolCIP') %}
      <a class="govuk-back-link" href="/school-signed-in/cip/cip-cohort-detail">Back</a>
  {% endif %}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Add your early career teachers and mentors</h1>

      <p class="govuk-body">You need to add details of the early career teachers and mentors in this cohort.</p>
      <p class="govuk-body govuk-!-margin-bottom-8">This is so we can verify them before their induction starts.</p>

      <form class="form" action="/school-signed-in/school-add-participants-to-cohort/choose-participant-type" method="post" class="govuk-!-margin-bottom-8">

        {{ govukRadios({
          idPrefix: "participantType",
          name: "participantType",
          fieldset: {
            legend: {
              text: "Do you want to add an early career teacher (ECT) or a mentor?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "ect",
              text: "Early Career Teacher",
              checked: checked("participantType", "ect")
            },
            {
              value: "mentor",
              text: "Mentor",
              checked: checked("participantType", "mentor")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


    </div>
  </div>

{% endblock %}
