{% extends "layout.html" %}

{% block pageTitle %}
  Early career teachers and mentors
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
    homepageUrl: "/index",
    serviceName: "Manage training for early career teachers",
    serviceUrl: "/start",
  navigation: [
    {
      href: "#1",
      text: data['school-email-address'],
      active: false
    },
    {
      href: "/sign-out",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}


{% if (data['journey-mode'] === 'schoolFIP') %}
  <a class="govuk-back-link" href="/school-signed-in/fip/fip-cohort-detail">Back</a>
{% elseif (data['journey-mode'] === 'schoolCIP') %}
  <a class="govuk-back-link" href="/school-signed-in/cip/cip-cohort-detail">Back</a>
{% endif %}

{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">2021 cohort</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Your early career teachers (ECTs) and mentors</h1>

      <a class="govuk-button govuk-!-margin-bottom-8" href="/school-signed-in/school-add-participants-to-cohort/choose-participant-type">Add a new ECT or mentor</a>

    </div>

    <div class="govuk-grid-column-full">

      {%- from "govuk/components/tag/macro.njk" import govukTag -%}

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"> Full name </th>
            <th class="govuk-table__header" scope="col"> Type </th>
            <th class="govuk-table__header" scope="col"> Status </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/school-signed-in/school-add-participants-to-cohort/participant-status-not-started" class="govuk-link govuk-link--no-visited-state">Donato di Niccolò di Betto Bardi</a>
            </td>
            <td class="govuk-table__cell">
              Early Career Teacher
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "NOT STARTED",
                classes: "govuk-tag--grey"
              })}}
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/school-signed-in/school-add-participants-to-cohort/participant-status-waiting-on-dqt-update" class="govuk-link govuk-link--no-visited-state" class="govuk-link govuk-link--no-visited-state">Mary Cassatt</a>
            </td>
            <td class="govuk-table__cell">
              Early Career Teacher
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "WAITING ON DQT UPDATE",
                classes: "govuk-tag--yellow"
              })}}
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/school-signed-in/school-add-participants-to-cohort/participant-status-waiting-to-be-added-to-dqt" class="govuk-link govuk-link--no-visited-state">George Handel</a>
            </td>
            <td class="govuk-table__cell">
              Early Career Teacher
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "WAITING TO BE ADDED TO DQT",
                classes: "govuk-tag--yellow"
              })}}
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/school-signed-in/school-add-participants-to-cohort/participant-status-waiting-on-qts-status" class="govuk-link govuk-link--no-visited-state">Lilla Perry</a>
            </td>
            <td class="govuk-table__cell">
              Early Career Teacher
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "WAITING ON QTS STATUS",
                classes: "govuk-tag--yellow"
              })}}
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/school-signed-in/school-add-participants-to-cohort/participant-status-investigate" class="govuk-link govuk-link--no-visited-state">Jean-Philippe Rameau</a>
            </td>
            <td class="govuk-table__cell">
              Early Career Teacher
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "INVESTIGATE",
                classes: "govuk-tag--red"
              })}}
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/school-signed-in/school-add-participants-to-cohort/participant-status-approved" class="govuk-link govuk-link--no-visited-state">Henry Purcell</a>
            </td>
            <td class="govuk-table__cell">
              Mentor
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Approved",
                classes: "govuk-tag--green"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/school-signed-in/school-add-participants-to-cohort/participant-status-approved" class="govuk-link govuk-link--no-visited-state">Berthe Morisot</a>
            </td>
            <td class="govuk-table__cell">
              Mentor
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Approved",
                classes: "govuk-tag--green"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/school-signed-in/school-add-participants-to-cohort/participant-status-approved" class="govuk-link govuk-link--no-visited-state">Marie Bracquemond</a>
            </td>
            <td class="govuk-table__cell">
              Mentor
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Approved",
                classes: "govuk-tag--green"
              })}}
            </td>
          </tr>
        </tbody>
      </table>



    </div>
  </div>

{% endblock %}
