{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% block pageTitle %}
  Choose mentor
{% endblock %}

{% block pageNavigation %}
  <a class="govuk-back-link" href="/school-signed-in/school-add-participants-to-cohort/new-or-existing-mentor">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Which mentor do you want to add to the 2021 cohort?</h1>

      <form class="form" action="/school-signed-in/school-add-participants-to-cohort/success-mentor-added" method="post" class="govuk-!-margin-bottom-8">

        {{ govukRadios({
          idPrefix: "choose-existing-mentor",
          name: "choose-existing-mentor",
          items: [
            {
              value: "Ambrogio Lorenzetti",
              text: "Ambrogio Lorenzetti",
              hint: {
                text: "Also working with 2020 cohort"
              },
              checked: checked("choose-existing-mentor", "Ambrogio Lorenzetti")
            },
            {
              value: "Simone Martini",
              text: "Simone Martini",
              hint: {
                text: "Also working with 2019 cohort, 2020 cohort"
              },
              checked: checked("choose-existing-mentor", "Simone Martini")
            },
            {
              value: "Giotto di Bondone",
              text: "Giotto di Bondone",
              hint: {
                text: "Also working with 2019 cohort"
              },
              checked: checked("choose-existing-mentor", "Giotto di Bondone")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


    </div>
  </div>

{% endblock %}
