{% extends "layout.html" %}

{% block pageTitle %}
  Add a new mentor
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
    homepageUrl: "/index",
    serviceName: "Manage training for early career teachers",
    serviceUrl: "/start",
  navigation: [
    {
      href: "#1",
      text: data['school-email-address'],
      active: false
    },
    {
      href: "/sign-out",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}

  <a class="govuk-back-link" href="/school-signed-in/school-add-participants-to-cohort/choose-participant-type">Back</a>

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Do you want to add a mentor from another cohort?</h1>
      <p>Mentors can work across cohorts. You don't need to create a new account if they are already added to the platform.</p>

      <form class="form" action="/school-signed-in/school-add-participants-to-cohort/new-or-existing-mentor" method="post" class="govuk-!-margin-bottom-8">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          idPrefix: "new-or-existing-mentor",
          name: "new-or-existing-mentor",
          items: [
            {
              value: "existingMentor",
              text: "Yes, i want to add a mentor from an existing cohort",
              checked: checked("new-or-existing-mentor", "existingMentor")
            },
            {
              value: "newMentor",
              text: "No, i want to create a new mentor",
              checked: checked("new-or-existing-mentor", "newMentor")
            }
          ]
        }) }}
        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


    </div>
  </div>

{% endblock %}
