{% extends "layout.html" %}
{% set schoolSignedIn = true %}
{% set title = 'Do you want to add a mentor from another cohort?' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  <a class="govuk-back-link" href="/school-signed-in/school-add-participants-to-cohort/choose-participant-type">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p>Mentors can work across cohorts. You don’t need to add their details every time.</p>

      <form class="form" action="/school-signed-in/school-add-participants-to-cohort/new-or-existing-mentor" method="post" class="govuk-!-margin-bottom-8">
        {{ govukRadios({
          idPrefix: "new-or-existing-mentor",
          name: "new-or-existing-mentor",
          items: [
            {
              value: "existingMentor",
              text: "Yes, I want to add a mentor from another cohort",
              checked: checked("new-or-existing-mentor", "existingMentor")
            },
            {
              value: "newMentor",
              text: "No, I want to add a new one",
              checked: checked("new-or-existing-mentor", "newMentor")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
