{% extends "layout.html" %}
{% set schoolSignedIn = true %}
{% block pageTitle %}George Handel – Waiting to be added to DQT{% endblock %}

{% block pageNavigation %}
  <a class="govuk-back-link" href="/school-signed-in/school-add-participants-to-cohort/cohort-participant-listing">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      You have updated the mentor for this early career teacher.
    </h3>

  </div>
</div>

      <span class="govuk-caption-l">2021 cohort</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
        George Handel
        {{ govukTag({
          text: "PENDING",
          classes: "govuk-tag--yellow"
        }) }}
      </h1>

      <div class="govuk-inset-text">
        This person is being added to the teaching database. We will notify them when this is complete.
      </div>

      <h2 class="govuk-heading-m">Personal details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            George Handel
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            email@domain.com
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
              Early Career Teacher
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mentor
          </dt>
          <dd class="govuk-summary-list__value">
              <p>{{ data['choose-mentor-from-cohort'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/school-signed-in/school-add-participants-to-cohort/change-mentor-for-ect">
              Change<span class="govuk-visually-hidden"> participant type</span>
            </a>
          </dd>
        </div>
      </dl>
    </div>
  </div>
{% endblock %}
