{% extends "layout.html" %}

{% block pageTitle %}
  Mentor added
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
    homepageUrl: "/index",
    serviceName: "Manage training for early career teachers",
    serviceUrl: "/start",
  navigation: [
    {
      href: "#1",
      text: data['school-email-address'],
      active: false
    },
    {
      href: "/sign-out",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
          You have added {{ data['choose-existing-mentor'] }} to the 2021 cohort
        </h1>
      </div>


      <h2 class="govuk-heading-m">What happens next?</h2>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
        <li>they will get an email to sign in and add any further details we need</li>
        <li>you can view your early career teachers (ECTs) and mentors to see their status</li>
      </ul>

      <a class="govuk-button" href="/school-signed-in/school-add-participants-to-cohort/choose-participant-type">Add a new ECT or mentor</a>

      <p><a href="/school-signed-in/school-add-participants-to-cohort/cohort-participant-listing" class="govuk-link govuk-link--no-visited-state">View your ECTs and mentors</a></p>

    </div>
  </div>

{% endblock %}
