{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Registration complete" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <!-- // CIP ECT SKIP VALIDATION -->

      {% if ((data['participantOptions'] == "participantCIP") and (data['skipValidation'] == "notvalidating") and (data['participantType'] == "participantECT")) %}
      <div class="govuk-!-margin-bottom-8">
      {{ govukPanel({
        titleText: "We’re checking your details"
      }) }}
      </div>
      <h3 class="govuk-heading-m">What happens next</h3>
          <p class="govuk-body">We may need to contact you for more information to complete your registration.</p>
          <p class="govuk-body">Your training materials will be available in August. We’ll email you with a link to access them.</p>

      <!-- // CIP ECT -->

      {% elif ((data['participantOptions'] == "participantCIP") and (data['participantType'] == "participantECT")) %}
      <div class="govuk-!-margin-bottom-8">
      {{ govukPanel({
        titleText: "Registration complete"
      }) }}
      </div>
      <h3 class="govuk-heading-m">What happens next</h3>
        <p class="govuk-body">Your training materials will be available in August. We’ll email you with a link to access them.</p>

      <!-- CIP Mentor -->

      {% elif ((data['participantOptions'] == "participantCIP") and (data['participantType'] == "participantMentor")) %}
      <div class="govuk-!-margin-bottom-8">
      {{ govukPanel({
        titleText: "Registration complete"
      }) }}
      </div>
      <h3 class="govuk-heading-m">What happens next</h3>
        <p class="govuk-body">We’ll send you an email in the next 48 hours with a link to access training materials.</p>

      <!-- CIP SIT as Mentor -->

      {% elif ((data['participantOptions'] == "participantCIP") and (data['participantType'] == "participantSIT")) %}
      <div class="govuk-!-margin-bottom-8">
      {{ govukPanel({
        titleText: "Registration complete"
      }) }}
      </div>
      <h3 class="govuk-heading-m">What happens next</h3>
        <p class="govuk-body">We’ll send you an email in the next 48 hours with a link to access training materials.</p>
        <p class="govuk-body"><a href="email-sign-in-ect-mentor">Manage induction for your school</a></p>

      <!-- FIP SIT as mentor -->

      {% elif ((data['participantOptions'] == "participantFIP") and (data['participantType'] == "participantSIT")) %}
      <div class="govuk-!-margin-bottom-8">
      {{ govukPanel({
        titleText: "Registration complete"
      }) }}
      </div>
      <h3 class="govuk-heading-m">What happens next</h3>
          <p class="govuk-body">Your training provider will contact you soon.</p>
          <p class="govuk-body"><a href="email-sign-in-ect-mentor">Manage induction for your school</a></p>

      <!-- FIP ECT/Mentor SKIP Validation -->

      {% elif ((data['participantOptions'] == "participantFIP") and (data['skipValidation'] == "notvalidating")) %}
      <div class="govuk-!-margin-bottom-8">
      {{ govukPanel({
        titleText: "We’re checking your details"
      }) }}
      </div>
      <h3 class="govuk-heading-m">What happens next</h3>
          <p class="govuk-body">We may need to contact you for more information to complete your registration.</p>
          <p class="govuk-body">Your training provider will also contact you soon.</p>

      <!-- SIT as Mentor SKIP Validation -->

      {% elif ((data['participantOptions'] == "participantFIP") and (data['skipValidation'] == "notvalidating") and (data['participantType'] == "participantSIT")) %}
      <div class="govuk-!-margin-bottom-8">
      {{ govukPanel({
        titleText: "We’re checking your details"
      }) }}
      </div>
      <h3 class="govuk-heading-m">What happens next</h3>
          <p class="govuk-body">We may need to contact you for more information to complete your registration.</p>
          <p class="govuk-body">Your training provider will also contact you soon.</p>
          <p class="govuk-body"><a href="email-sign-in-ect-mentor">Manage induction for your school</a></p>


      {% else %}
        <form class="form" action="/admin/preload" method="post">
      {% endif %}



      <!-- <p class="govuk-body skip-to">Skip to: <a href="email-sign-in-ect-mentor">email that the ECT/Mentor receives</a></p> -->
    </div>
  </div>
{% endblock %}
