{% extends "layout.html" %}
{% set showPhaseBanner = false %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" />

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block content %}
<div class="pseudo-bg"></div>
<div class="email-metadata">
  {% if data['participantType'] == "participantECT" %}

  <p><strong>From: </strong>Department for Education: Teacher Continuing Professional Development </p>
  <p><strong>Subject: </strong>Get set up to start your early career teacher training programme </p>
</div>
<div class="pseudo-email-template">


<p>Hello, [First name]</p>

<p>[school_name] has let us know that you’ll be joining them in 2021.</p>

<p><strong>About your early career teacher training programme</strong></p>
<p>All early career teachers now do a 2-year programme of high quality professional development and mentoring.</p>
<p>These programmes are underpinned by the Early Career Framework (ECF). This sets out what all early career teachers should learn about, and learn how to do, during the first 2 years of their careers.</p>
<p>Find out more by reading this guidance: <a class="govuk-link" href="https://www.gov.uk/government/publications/early-career-framework">https://www.gov.uk/government/publications/early-career-framework</a></p>
<p><strong>Get set up to start your programme</strong></p>
<p>Before you can start, we need to check your details on the Teaching Regulation Agency records to make sure you qualify for this training and support.</p>

<p>We need to ask you for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>your <a href="https://www.gov.uk/guidance/request-a-reminder-for-a-teacher-reference-number-trn">teacher reference number (TRN)</a>.</li>
  <li>date of birth</li>
  <li>National Insurance number (optional)</li>
</ul>

<p>Sign in to our online service to tell us this information as soon as possible:</p>
<p><a class="govuk-link--no-visited-state" href="start-registration">https://manage-training-for-early-career-teachers.education.gov.uk//users/confirm_sign_in?login_token=22345678as9fijhgt.</a></p>

<p>If you have any questions, reply to this email.<br />
<p>Teacher Continuing Professional Development<br />
<span style="color:#888888;">Department for Education</span></p>



{% elif ((data['participantType'] == "participantMentor") or (data['participantType'] == "participantSIT")) %}


<p><strong>From: </strong>Department for Education: Teacher Continuing Professional Development </p>
<p><strong>Subject: </strong>Get set up to start your early career teacher mentoring programme </p>
</div>
<div class="pseudo-email-template">


<p>Hello, [First name]</p>

<p>[school_name] has nominated you to mentor early career teachers (also known as NQTs).</p>

<p><strong>What’s a mentor?</strong></p>
<p>Early career teachers (ECTs) now do a 2-year induction including a programme of coaching and mentoring based on the early career framework.</p>
<p>You’ll play a really important part in this, helping support early career teachers develop the skills they need to thrive.</p>
<p>Find out more by reading this guidance: <a class="govuk-link" href="https://www.gov.uk/government/publications/early-career-framework">https://www.gov.uk/government/publications/early-career-framework</a></p>
<p><strong>What you need to do now</strong></p>
<p>We need to check your details on the Teaching Regulation Agency records to make sure you qualify for this mentor training and support.</p>

<p>We need to ask you for:</p>
<ul class="govuk-list govuk-list--bullet">
<li>your <a href="https://www.gov.uk/guidance/request-a-reminder-for-a-teacher-reference-number-trn">teacher reference number (TRN)</a>.</li>
<li>date of birth</li>
<li>National Insurance number (optional)</li>
</ul>

<p>Sign in to our online service to tell us this information as soon as possible:</p>
<p><a class="govuk-link--no-visited-state" href="start-registration">https://manage-training-for-early-career-teachers.education.gov.uk//users/confirm_sign_in?login_token=22345678as9fijhgt.</a></p>

<p>If you have any questions, reply to this email.<br />
<p>Teacher Continuing Professional Development<br />
<span style="color:#888888;">Department for Education</span></p>


{% endif %}






</div>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
