{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Sign in" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      {% if data['participantType'] == "participantSIT" %}
        <form class="form" action="/sprint-16/teacher-or-mentors/cip-validation/two-roles" method="post">
          {% else %}
            <form class="form" action="/sprint-16/teacher-or-mentors/cip-validation/sign-in-check-email-ect" method="post">
          {% endif %}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          classes: "govuk-!-width-two-thirds",
          id: "sign-in-email-address",
          name: "sign-in-email-address"
        }) }}

        {{ govukButton({
          text: "Sign in"
        }) }}
      </form>

      <h2 class="govuk-heading-m">How you can access this service</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="sign-in-check-account-ect">Check if you have an account</a></li>
        <li>Contact us: <a class="govuk-link" href="sign-in-check-account-ect">ecf-support@digital.education.gov.uk</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
