{% extends "layout.html" %}

{% set pageHeading = "What would you like to do?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p class="govuk-body"><p>You’re registered as an induction tutor and a mentor, so we need to check what you want to sign in and do today.</p>


      <form class="form" action="qct-ect" method="post" class="govuk-!-margin-bottom-8">


        {{ govukRadios({
          idPrefix: "role-change",
          name: "role-change",
          fieldset: {
          legend: {

            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
        }
        },
          items: [
            {
              value: "mentor, redirect(/sprint-16/teacher-or-mentors/cip-validation/sign-in-check-email-ect)",
              text: "I want to add information about myself as a mentor",
              checked: checked("role-change", "rolementor")
            },
            {
              value: "sit, redirect(/sprint-16/school-signed-in/cip/cip-choose-cohort)",
              text: "I want to manage induction for my school",
              checked: checked("role-change", "rolesit")
            }

          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
