{% extends "layout.html" %}

{% block pageTitle %}
  Nominate an induction tutor
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
<a class="govuk-back-link" href="/sign-in">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Nominate an induction tutor</h1>

      <p class="govuk-body">This is someone who is responsible for running induction at your school.</p>
      <p class="govuk-body">They will:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>confirm the type of induction programme your school wants to run</li>
        <li>tell us which early career teachers and mentors are starting a programme</li>
        <li>receive any future notifications about this service</li>
      </ul>

      <form class="form" action="/school-resend-nomination-email/resend-nomination-2" method="post" class="govuk-!-margin-bottom-8">
        <div class="govuk-form-group">
            {{ govukInput({
            label: {
              text: "School location",
              classes: "govuk-label--m"
            },
            hint: {
              text: "Enter town, city or postcode"
            },
            classes: "govuk-input--width-20",
            id: "school-location",
            name: "school-location"
          }) }}
        </div>
        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
