{% extends "layout.html" %}

{% block pageTitle %}
  Instructions have been emailed to the school
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-margin-bottom-8">
      {% from "govuk/components/panel/macro.njk" import govukPanel %}
      {{ govukPanel({
        titleText: "Your school has been sent a link"
      }) }}
      </div>

      <h3 class="govuk-heading-m">What happens next</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>your school will receive an email with a link to nominate an induction tutor</li>
        <li>this link will expire in 7 days</li>
        <li>we cannot disclose the email address but it will generally go to school administration</li>
        <li>if your school does not receive this email, contact: <a href="#">ecf-support@digital.education.gov.uk</a></li>
      </ul>

    </div>
  </div>

{% endblock %}
