{% extends "layout.html" %}
{% set title = 'Your school has been sent a link' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-margin-bottom-8">

      {{ govukPanel({
        titleText: title
      }) }}
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>we have sent a link to the email address your school has listed on our register, <a href="https://get-information-schools.service.gov.uk/">Get Information about Schools</a> (GIAS)</li>
      <li>your school will follow this link to nominate an induction lead or tutor</li>
    </ul>

    </div>
  </div>

{% endblock %}
