{% extends "layout.html" %}

{% set pageHeading = "Send your school a link to nominate an induction tutor" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block pageNavigation %}
  <a class="govuk-back-link" href="/sign-in">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
      <p>You need to nominate an ‘induction tutor’ to set up your induction programme for early career teachers.</p>
      <p>This is someone who can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>confirm details about your induction programme</li>
        <li>add information about your early career teachers and mentors</li>
      </ul>
      <p>Schools are sent a unique link to nominate someone but you can send a new link if this has expired or if the email is lost.</p>

      <h2 class="govuk-heading-m">How does this work?</h2>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>you enter a few details to find your school</li>
        <li>we will send a nomination link to your school's email address on our register, Get Information about Schools (GIAS)</li>
        <li>it will be an administration email, for example, office@, admin@ or head@</li>
        <li>if you’re not sure, <a href="https://interactions.signin.education.gov.uk//b02185d5-b6c8-4292-9155-446a44fb67c1/usernamepassword?clientid=services&redirect_uri=https://services.signin.education.gov.uk:443/auth/cb">sign in to DfE</a> and check that your GIAS email address is up to date </li>
      </ul>

      <form class="form" action="/school-resend-nomination-email/resend-nomination-2-1" method="post" class="govuk-!-margin-bottom-8">


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
