{% extends "layout.html" %}

{% block pageTitle %}
  Your school has been sent a link
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
  homepageUrl: "/index",
  serviceName: "Manage training for early career teachers",
  serviceUrl: "/start"
}) }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-margin-bottom-8">
      {% from "govuk/components/panel/macro.njk" import govukPanel %}
      {{ govukPanel({
        titleText: "Your school has been sent a link"
      }) }}
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>your school will receive an email with a link to nominate an induction tutor</li>
      <li>this link will expire in 21 days</li>
      <li>
        we cannot disclose the email address. It will be an administration email, for example, office@, admin@ or head@
      </li>
      <li>
        if your school does not receive this email, ensure your school email address is correct on our register,
        <a class="govuk-link" href="https://www.get-information-schools.service.gov.uk/">Get information about schools</a>
      </li>
      <li>if your school does not receive this email, contact: <a class="govuk-link govuk-link--no-visited-state" href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a>
</li>
    </ul>

    </div>
  </div>

{% endblock %}
