{% extends "layout.html" %}

{% block pageTitle %}
  Confirm your details
{% endblock %}

{% block pageNavigation %}
  <a class="govuk-back-link" href="/school-resend-nomination-email/resend-nomination-2">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Confirm your details</h1>
      <p class="govuk-body">We will send a link to the email address your school has listed on our register, <a href="https://get-information-schools.service.gov.uk/">Get Information about Schools</a>.</p>

      <p class="govuk-body govuk-!-margin-bottom-7">Your school will follow this link to nominate an induction lead or tutor.</p>

      <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Your school</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['school-lookup']
            }
          },
          {
            key: {
              text: "URN"
            },
            value: {
              text: "9348523"
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "School lane<br> Mill Road<br> Norwich<br> NR16 2HU"
            }
          }
        ]
      }) }}
      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/school-resend-nomination-email/resend-nomination-1">Change school</a></p>
      </div>

      <form class="form" action="/school-resend-nomination-email/resend-nomination-4" method="post" class="govuk-!-margin-bottom-8">


        {{ govukButton({
          text: "Confirm"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
