{% extends "layout.html" %}
{% set showBackLink = true %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'Is ' + participant.name + ' transferring to another school where they’ll continue their induction?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p>If they’re leaving your school for a different reason, you must contact your training provider to remove them instead. Reasons may include:</p>

               <ul class="govuk-list govuk-list--bullet">
                  <li>leaving teaching</li>
                  <li>taking a break from teaching</li>
                  <li>taking a teaching job outside of England</li>
                </ul>

            <p>If this person is moving to work at a new school where they’ll continue their induction, confirm below.</p>

            <form method="post" action="leaving-date" >
                <!-- <input type="hidden" name="induction-tutor-as-mentor" id="induction-tutor-as-mentor" value="Yes" />
                <input type="hidden" name="participant-1-sit-mentor-added" id="participant-1-sit-mentor-added" value="Yes" />
                <input type="hidden" name="link-action" id="link-action" value="" /> -->
                {{ govukButton({
                    text: "Confirm"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
