{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Which type of appropriate body have you appointed?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p class="govuk-body">If your school works with more than one, first tell us about the appropriate body appointed for the majority of your ECTs. You can add the others later.</p>

            <form class="form" action="lookup" method="post" >

                {{ govukRadios({
                    items: [
                        { value: "local authority", text: "Local authority" },
                        { value: "national organisation, redirect(national-organisation)", text: "National organisation" },
                        { value: "teaching school hub", text: "Teaching school hub" }
                    ]
                } | decorateFormAttributes("appropriateBodyTypeChange")) }}

                {% if not data['appropriateBody'] %}
                <p class="govuk-body govuk-!-margin-bottom-7"><a class="govuk-link" href="/schools/training-programme/success">I do not know the appropriate body yet</a></p>
                {% endif %}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>

{% endblock %}
