{% extends "layout.html" %}
{% set schoolSignedIn = true %}
{% block pageTitle %}Lilla Perry – Waiting on QTS status{% endblock %}

{% block beforeContent %}
  {% include "includes/back.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">2021 cohort</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
        Lilla Perry
        {{ govukTag({
          text: "PENDING",
          classes: "govuk-tag--yellow"
        }) }}
      </h1>

      <div class="govuk-inset-text">
        We are checking their Qualified Teacher Status (QTS). This is usually updated in a month. You don’t need to do anything.
      </div>

      <h2 class="govuk-heading-m">Personal details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Lilla Perry
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="">
              Change<span class="govuk-visually-hidden"> change name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            email@domain.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="">
              Change<span class="govuk-visually-hidden"> change email</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
              Early Career Teacher
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mentor
          </dt>
          <dd class="govuk-summary-list__value">
              Not yet assigned
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="">
              Change<span class="govuk-visually-hidden"> mentor</span>
            </a>
          </dd>
        </div>
      </dl>
    </div>
  </div>
{% endblock %}
