{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageSection = "Acme Primary School" %}
{% set pageHeading = "An induction tutor has already been nominated for your school" %}

{% block content %}
	
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			<p class="govuk-body">Ask your colleagues for more information about who they nominated.</p>
			<p class="govuk-body"><a href="mailto:email@domain.com">Contact the DfE</a> if you need to change your induction tutor.</p>
      		
    	</div>
  	</div>

{% endblock %}