{% extends "layout.html" %}

{% set pageHeading = "What’s your induction tutor's email address?" %}
{% set pageSection = "Acme Primary School" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">
      
      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
      		
			
      		<form class="form" action="confirmation" method="post" class="govuk-!-margin-bottom-8">
        		<div class="govuk-form-group">
          			


					{{ govukInput({
            			label: { text: "" },
            			hint: {
              				text: "We'll use this address to contact them with more information."
            			},
						classes: "govuk-!-width-two-thirds",
						id: "induction-tutor-email",
						name: "induction-tutor-email",
						type: "email",
						autocomplete: "email",
						spellcheck: false,
						value: data['induction-tutor-email']
          			}) }}
          			
					
        		</div>

				
				<input type="hidden" name="school-status" id="school-status" value="Signed up" />
				<input type="hidden" name="induction-tutor-nominated" id="induction-tutor-nominated" value="Yes" />
        		{{ govukButton({
          			text: "Continue"
        		}) }}
      	
			</form>

		</div>
  </div>

  {% endblock %}