{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Check your answers" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block pageNavigation %}

{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			{% if not data['linkaction']%}  

				{% if data['validated'] == "No" %}

					<h2 class="govuk-heading-m">We cannot find your details</h2>

					<p class="govuk-body">This could be because:</p>
					<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
						<li>you used a different version of your first name, for example ‘Rob’ or ‘Robert’</li>
						<li>your last name is different to the version held by the Teaching Regulation Agency</li>
						<li>you mistyped or entered some incorrect information</li>
					</ul>
		  
		  			{% if not data['NI'] %} 
						<p class="govuk-body">Entering your National Insurance number will help us to find your details.</p>
		  			{% endif %}

				{% endif %}

			{% endif %}      		

      		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
        		<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-one-half">TRN</dt>
					<dd class="govuk-summary-list__value">{{ data['trnd'] }}</dd>
					<dd class="govuk-summary-list__actions"><a class="govuk-link" href="what-is-your-teacher-reference-number?linkaction=change-trn">Change<span class="govuk-visually-hidden"> personal details</span></a></dd>
			  	</div>

				<div class="govuk-summary-list__row">
          			<dt class="govuk-summary-list__key govuk-!-width-one-half">Name</dt>
          			<dd class="govuk-summary-list__value">{{ data['fullName'] }}</dd>
          			<dd class="govuk-summary-list__actions"><a class="govuk-link" href="your-details?linkaction=hide">Change<span class="govuk-visually-hidden"> personal details</span></a></dd>
        		</div>

        		

        		<div class="govuk-summary-list__row">
          			<dt class="govuk-summary-list__key govuk-!-width-one-half">Date of birth</dt>
          			<dd class="govuk-summary-list__value">{{ data['dob-day'] }} {{ data['dob-month'] | toMonth }} {{ data['dob-year'] }}</dd>
          			<dd class="govuk-summary-list__actions"><a class="govuk-link" href="your-details?linkaction=hide">Change<span class="govuk-visually-hidden"> personal details</span></a></dd>
        		</div>

        		<div class="govuk-summary-list__row">
          			<dt class="govuk-summary-list__key govuk-!-width-one-half">National Insurance number</dt>
          			<dd class="govuk-summary-list__value">{{ data['NI'] }}</dd>
          			<dd class="govuk-summary-list__actions"><a class="govuk-link" href="your-details?linkaction=hide">Change<span class="govuk-visually-hidden"> personal details</span></a></dd>
        		</div>
			</dl>

			{% if not data['linkaction']%}  
				{% if data['validated'] == "No" %}
					<p class="govuk-body">You can continue to register. Our support team may contact you for more information before you start your induction training.</p>
				{% endif %}
			{% endif %}

      		<form class="form" action="confirmation" method="post" >
        		{{ govukButton({
          			text: "Confirm and send"
        		}) }}
      		</form>
    	
		</div>
  	</div>
{% endblock %}