{% extends "layout.html" %}

{% block pageTitle %}
Your accredited materials
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
    homepageUrl: "/index",
    serviceName: "Manage training for early career teachers",
    serviceUrl: "/start",
  navigation: [
    {
      href: "#1",
      text: data['school-email-address'],
      active: false
    },
    {
      href: "/sign-out",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
<a class="govuk-back-link" href="/school-signed-in/cip/cip-cohort-detail">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">2021 cohort</span>
<h1 class="govuk-heading-xl">Your accredited materials</h1>

<p class="govuk-body-l"><strong>Your choice: </strong>{{ data['cip-course-choice'] }}</p>

<h2 class="govuk-heading-m">Changing your materials</h2>
<p>Each set of accredited materials is different. Before you change your materials:</p>
<ul class='govuk-list govuk-list--bullet'>
  <li>make sure the materials you want to change to are right for your school</li>
  <li>if your early career teachers and mentors have started their programme, they will lose any progress on the service</li>
</ul>

<p class="govuk-body">If you want to change the materials you are using, contact: <a class="govuk-link govuk-link--no-visited-state" href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a>
</p>
    </div>
  </div>

{% endblock %}
