{% extends "layout.html" %}
{% set schoolSignedIn = true %}
{% set title = 'Add early career teachers and mentors' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  <a class="govuk-back-link" href="/school-signed-in/cip/cip-cohort-detail">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">2021 cohort</span>
        {{ title }}
      </h1>

      <p class="govuk-body">From <strong>July</strong>, you can confirm which early career teachers and mentors are starting a programme this year.</p>
      <p class="govuk-body">We will let you know when you can get started.</p>

      <p class="govuk-body">For each early career teacher and mentor, you will need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>first name</li>
        <li>last name</li>
        <li>teacher reference number (TRN)</li>
        <li>date of birth</li>
      </ul>
    </div>
  </div>
{% endblock %}
