{% extends "layout.html" %}

{% block pageTitle %}
  What training materials do you want this cohort to use?
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
    homepageUrl: "/index",
    serviceName: "Manage training for early career teachers",
    serviceUrl: "/start",
  navigation: [
    {
      href: "#1",
      text: data['school-email-address'],
      active: false
    },
    {
      href: "/sign-out",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
<a class="govuk-back-link" href="/school-signed-in/cip/cip-cohort-detail">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m">2021</span>
      <h1 class="govuk-heading-l">Which training materials do you want to use?</h1>

      <p class="govuk-body">You cannot change your selection after 30 September 2021. <a href="https://www.early-career-framework.education.gov.uk/">Explore these materials</a> if you’re not sure.</p>

      <form class="form" action="/school-signed-in/cip/cip-cohort-detail" method="post" class="govuk-!-margin-bottom-8">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          idPrefix: "cip-course-choice",
          name: "cip-course-choice",

          items: [
            {
              value: "ambition",
              text: "Ambition Institute",
              checked: checked("cip-course-choice", "ambition")
            },
            {
              value: "EDT",
              text: "Education Development Trust",
              checked: checked("cip-course-choice", "EDT")
            },
            {
              value: "TeachFirst",
              text: "Teach First",
              checked: checked("cip-course-choice", "TeachFirst")
            },
            {
              value: "UCL",
              text: "UCL Early Career Teacher Consortium",
              checked: checked("cip-course-choice", "UCL")
            }
          ]
        }) }}
        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
