{% extends "layout.html" %}
{% set showBackLink = true %}
{% set pageHeading = "Edit notes" if data.support.notes else "Add notes" %}
{% set pageSection = "Jane Doe" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/prelive/support/participant" method="post">
      {% set labelHtml %}
        <span class="govuk-heading-xl govuk-!-margin-bottom-0">
          <span class="govuk-caption-xl">{{ pageSection }}</span>
          {{ pageHeading }}
        </span>
      {% endset %}

      {{ govukTextarea({
        label: {
          html: labelHtml,
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        rows: 15,
        hint: {
          html: "Give details about any changes made to this participant.<br />Notes are for internal use only."
        }
      } | decorateFormAttributes(['support', 'notes']) ) }}

      {{ govukButton({
        text: 'Save'
      }) }}
    </form>
  </div>
</div>
{% endblock %}
