{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Is this the name you used when you started your initial teacher training (ITT)?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block pageNavigation %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <div class="govuk-inset-text">
        <p><span class="govuk-!-font-weight-bold">Name:</span> {{ data.sitName }}</p>
      </div>

      <form class="form" action="cannot-find-your-details" method="post" >

        {{ govukRadios({
          classes: "govuk-radios--inline",
          hint: {
            text: "Answer ‘no’ if your last name has changed, or you used a different version of your first name."
          },
          fieldset: {
            legend: {
              text: "Have you changed your name?",
              isPageHeading: true,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            { value: "Yes", text: "Yes" },
            { value: "No, redirect(name)", text: "No" }
          ]
        } | decorateFormAttributes('register-name-correct')) }}


            {{ govukButton({
                text: "Continue"
            }) }}

      </form>

    </div>
    </div>
{% endblock %}
