{% if ((data['inductionProgramme'] == "FIP") or (data['inductionProgrammeYearTwo'] == "FIP")) %}
        
        <!-- Checks in progres tab FIP -->
        {% include "includes/checksinprogress_fip.html" %}    

        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Training or eligible for training</h2>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


                {% if data['providerPartnership'] == "Yes" %}
                    <p>We’ve confirmed these people are eligible for this programme. Your training provider will contact them directly.</p>
                {% else %}
                    <p>We’ve confirmed these people are eligible for this programme. Once you choose a training provider, they’ll contact your ECTs and mentors directly.</p>
                {% endif %}



            </div>
        </div>

       
        {% if hasAnyEligibleECTsNewYear %}
        <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-1">ECF-based training start date 2022 to 2023</h2> -->
        <table class="govuk-table govuk-!-margin-bottom-7">
            {% include "includes/dash_fip_head_eligible.html" %}
            <tbody class="govuk-table__body">
                {% for id, participant in data.participants %}
                    <!-- Only those with a status eligible and type is ECT -->                    
                    {% if participant.status == "Eligible" and participant.role == "ECT" and participant.programme == "FIP" and participant.cohort == "2022" %}
                        {% include "includes/dash_fip_row_eligible.html" %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if hasAnyEligibleECTs %}
        <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-1">ECF-based training start date 2021 to 2022</h2> -->
        <table class="govuk-table">
            {% include "includes/dash_fip_head_eligible.html" %}
            <tbody class="govuk-table__body">
                {% for id, participant in data.participants %}
                    <!-- Only those with a status eligible and type is ECT -->
                    {% if participant.status == "Eligible" and participant.role == "ECT" and participant.programme == "FIP" and participant.cohort == "2021" %}
                        {% include "includes/dash_fip_row_eligible.html" %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    

{% elif ((data['inductionProgramme'] == "CIP") or (data['inductionProgrammeYearTwo'] == "CIP")) %}  

        <!-- Checks in progress tab CIP -->
        {% include "includes/checksinprogress_cip.html" %}
        
        {% if hasAnyEligibleParticipants %}
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Training or eligible for training</h2>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p>We’ve confirmed these people are eligible for this programme. They have access to their materials.</p>
                </div>
            </div>

            <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-1">ECF-based training start date 2022 to 2023</h2> -->
            <table class="govuk-table">
                {% include "includes/dash_cip_head.html" %}
                <tbody class="govuk-table__body">
                    {% for id, participant in data.participants %}
                        <!-- Only those with a status eligible and type is ECT -->
                        {% if participant.status == "Eligible" and participant.role == "ECT" and participant.programme == "CIP" and participant.cohort == "2022" %}
                            {% include "includes/dash_cip_row.html" %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>                    

            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">ECF-based training start date 2021 to 2022</h2>
            <table class="govuk-table">
                {% include "includes/dash_cip_head.html" %}
                <tbody class="govuk-table__body">
                    {% for id, participant in data.participants %}
                        <!-- Only those with a status eligible and type is ECT -->
                        {% if participant.status == "Eligible" and participant.role == "ECT" and participant.programme == "CIP" and participant.cohort == "2021" %}
                            {% include "includes/dash_cip_row.html" %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>                    


        {% endif %}

{% endif %}            



