{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'We cannot find ' + participant.name + '’s record' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block pageNavigation %}

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p class="govuk-body">Check the information you entered is correct.</p>

            {% if data.participants[id].type == "ect" or data.participants[id].type == "mentor" %}
                <p>We need to find {{ participant.name }} in the Teaching Regulation Agency records to make sure they’re eligible for this funded programme.</p>
            {% else %}
                <p>We need to find {{ participant.name }} in the Teaching Regulation Agency records so we can transfer their record to your school.</p>
            {% endif %}

            <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                <!-- Name -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Name</dt>
                    <dd class="govuk-summary-list__value">{{ participant.name }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="name?linkaction=cannotFind">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                </div>
                <!-- TRN -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">TRN</dt>
                    <dd class="govuk-summary-list__value">{{ participant.trnNumber }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="teacher-reference-number?linkaction=cannotFind">Change<span class="govuk-visually-hidden"> teacher reference number</span></a></dd>
                </div>
                <!-- Date of birth -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Date of birth</dt>
                    <dd class="govuk-summary-list__value">
                        {{ isoDateFromDateInputs(participant['dobYear'], participant['dobMonth'], participant['dobDay']) | dateWithYear }}
                    </dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="date-of-birth?linkaction=cannotFind">Change<span class="govuk-visually-hidden"> date of birth</span></a></dd>
                </div>
            </dl>

            <h3 class="govuk-heading-m">If this information is correct</h3>
            {# <p class="govuk-body">We cannot find this person's training record based on the information you’ve entered.</p> #}
            <p>Contact us for help to register this person at your school: <a class="govuk-link govuk-link--no-visited-state" href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a></p>

            {# <p>Speak to support etc etc etc</p> #}
            {# {% if data.participants[id].type == "ect" or data.participants[id].type == "mentor" %} #}
                {# <p>You can still continue to register {{ participant.name }}. We'll contact them to check their information.</p>
                <form class="form" action="email-address" method="post" >
            {% else %}
                <form class="form" action="cannot-add" method="post" >
            {% endif %}
                {{ govukButton({
                    text: "Confirm and continue"
                }) }}
            </form> #}

        </div>
    </div>
{% endblock %}
