{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if participant.nationalInsuranceNumber %}
    {% set pageHeading = 'We still cannot find ' + participant.name + '’s record' %}
{% else %}
    {% set pageHeading = 'We cannot find ' + participant.name + '’s record' %}
{% endif %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block pageNavigation %}

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


            {% if participant.nationalInsuranceNumber %}
            <p class="govuk-body">This could be because the information does not match their Teaching Regulation Agency (TRA) record.</p>
            {% else %}
            <p class="govuk-body">Check the information you entered is correct.</p>
            <p class="govuk-body">We need to find {{ participant.name }} in the Teaching Regulation Agency records to make sure they’re eligible for this funded programme. When participants move school, we need to find their record so it can be transferred to your school. </p>
            {% endif %}




            <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                <!-- Name -->
                {# <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Name</dt>
                    <dd class="govuk-summary-list__value">{{ participant.name }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="name?linkaction=cannotFind">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                </div> #}
                <!-- TRN -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">TRN</dt>
                    <dd class="govuk-summary-list__value">{{ participant.trnNumber }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> teacher reference number</span></a></dd>
                    {# <dd class="govuk-summary-list__actions"><a class="govuk-link" href="teacher-reference-number?linkaction=cannotFind">Change<span class="govuk-visually-hidden"> teacher reference number</span></a></dd> #}
                </div>
                <!-- Date of birth -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Date of birth</dt>
                    <dd class="govuk-summary-list__value">
                        {{ isoDateFromDateInputs(participant['dobYear'], participant['dobMonth'], participant['dobDay']) | dateWithYear }}
                    </dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a></dd>
                    {# <dd class="govuk-summary-list__actions"><a class="govuk-link" href="date-of-birth?linkaction=cannotFind">Change<span class="govuk-visually-hidden"> date of birth</span></a></dd> #}
                </div>

                <!-- NI -->
                {% if participant.nationalInsuranceNumber %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">National Insurance number</dt>
                    <dd class="govuk-summary-list__value">{{ participant.nationalInsuranceNumber }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> national insurance number</span></a></dd>
                </div>
                {% endif %}



            </dl>



            {% if participant.nationalInsuranceNumber %}

                <h3 class="govuk-heading-m">If you are sure this information is correct</h3>

                <p class="govuk-body">Contact us for help to register this ECT at your school: <a class="govuk-link govuk-link--no-visited-state" href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a></p>

            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/schools/participants/">Return to your ECTs and mentors</a></p>


            {% else %}

                <h3 class="govuk-heading-m">If this information is correct</h3>

                <p class="govuk-body">We may be able to find their record using their National Insurance number.</p>
                <form class="form" action="national-insurance-number" method="post" >

                {{ govukButton({
                    text: "Continue"
                }) }}


            {% endif %}






                 <div class="govuk-!-padding-top-5 key">
                    {{ govukCheckboxes({
                        classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                        items: [
                            { value: "Yes", text: "NI number fails to help validate" }
                        ]
                    } | decorateFormAttributes(['participants', id, 'niNumberFail']) ) }}

                </div>


            </form>

        </div>
    </div>
{% endblock %}
