{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'We cannot find ' + participant.name + '’s record' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block pageNavigation %}

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}        

            <p class="govuk-body">Check the information you entered is correct.</p>

            {% if data.participants[id].role == "ECT" or data.participants[id].role == "Mentor" %}
                <p>We need to find {{ participant.name }} in the Teaching Regulation Agency records to make sure they’re eligible for this funded programme.</p>
            {% else %}
                <p>We need to find {{ participant.name }} in the Teaching Regulation Agency records so we can transfer their record to your school.</p>
            {% endif %}

            <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                <!-- Name -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Name</dt>
                    <dd class="govuk-summary-list__value">{{ participant.name }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="name?linkaction=cannotFind">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                </div>
                <!-- TRN -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">TRN</dt>
                    <dd class="govuk-summary-list__value">{{ participant.trnNumber }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="teacher-reference-number?linkaction=cannotFind">Change<span class="govuk-visually-hidden"> teacher reference number</span></a></dd>
                </div>
                <!-- Date of birth -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Date of birth</dt>
                    <dd class="govuk-summary-list__value">
                        {{ isoDateFromDateInputs(participant['dobYear'], participant['dobMonth'], participant['dobDay']) | dateWithYear }}
                    </dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="date-of-birth?linkaction=cannotFind">Change<span class="govuk-visually-hidden"> date of birth</span></a></dd>
                </div>
            </dl>

            <h3 class="govuk-heading-s">If this information is correct.</h3>

            <p>We may be able to find their record using their National Insurance number.</p>
            <form class="form" action="national-insurance-number" method="post" >



                {{ govukButton({
                    text: "Continue"
                }) }}


                 <div class="govuk-!-padding-top-5 key">
                    {{ govukCheckboxes({
                        classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                        items: [
                            { value: "Yes", text: "NI number fails to help validate" }
                        ]
                    } | decorateFormAttributes(['participants', id, 'niNumberFail']) ) }}

                </div>


            </form>

        </div>
    </div>
{% endblock %}
