{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'We cannot find ' + participant.name + '’s details?' %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block pageNavigation %}

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p class="govuk-body">Check the information you entered is correct.</p>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <!-- Name -->
                {% include "includes/summary_name.html" %}
                <!-- TRN -->
                {% include "includes/summary_trn.html" %}
                <!-- Date of birth -->
                {% include "includes/summary_dob.html" %}
            </dl>

            <form class="form" action="cannot-add" method="post" >
                {{ govukButton({
                    text: "Confirm and continue"
                }) }}
            </form>




    </div>
    </div>
{% endblock %}
