{% extends "layout.html" %}
{% set showBackLink = true %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Check you’re reporting this for the correct academic year" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p class="govuk-body">If a teacher has already started their ECF-based training or mentoring at another school in the 2021 to 2022 academic year:</p>
            <div class="govuk-inset-text">
                <a href="what-we-need?cohort=2021" class="govuk-link govuk-link--no-visited-state">Report a transferring ECT or mentor who started training in the 2021 to 2022 academic year</a>
            </div>

            <p class="govuk-body">If a teacher has not started their ECF-based training or mentoring at another school:</p>
            <div class="govuk-inset-text">
                <a href="name?cohort=2022" class="govuk-link govuk-link--no-visited-state">Register a new ECT or mentor</a>
            </div>

            <p class="govuk-body">If you need support to report a transfer, contact us: <a class="govuk-link govuk-link--no-visited-state" href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a></p>

        </div>
    </div>
{% endblock %}
