{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Check your answers" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            {# <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Details matched with Teacher Regulations Agency record</h2> #}
            <p>You cannot edit their name, TRN or date of birth as we have matched them with a Teacher Regulations Agency record.</p>





            <dl class="govuk-summary-list govuk-!-margin-bottom-8">

                <!-- Name -->
                {% include "includes/summary_name.html" %}

                <!-- TRN -->
                {% include "includes/summary_trn.html" %}
                <!-- Date of birth -->
                {% if participant.dobDay %}
                    {% include "includes/summary_dob.html" %}
                {% endif %}
            </dl>

            <dl class="govuk-summary-list govuk-!-margin-bottom-7">

                <!-- Name -->
                {# {% include "includes/summary_name.html" %} #}

                <!-- Induction start date -->
                {% if participant.inductionDay %}
                    {% include "includes/summary_induction_date.html" %}
                {% endif %}

                <!-- TRN -->
                {# {% include "includes/summary_trn.html" %} #}
                <!-- Date of birth -->
                {# {% if participant.dobDay %}
                    {% include "includes/summary_dob.html" %}
                {% endif %} #}

                {% if participant.nationalInsuranceNumber %}
                    {% include "includes/summary_ni.html" %}
                {% endif %}

                <!-- Joining Date -->
                {% if participant.joiningDay %}
                    {% include "includes/summary_joining.html" %}
                {% endif %}
                <!-- Email -->
                {% if participant.email %}
                    {% include "includes/summary_email.html" %}
                {% endif %}



                {% if participant.cohort %}
                    {% include "includes/summary_cohort.html" %}
                {% endif %}



                {% if data.participants[id].abConfirm == "Yes" or data.participants[id].appropriateBodyName %}
                {% if data.participants[id].type == "ECT" %}
                    {% include "includes/summary_aBody.html" %}
                {% endif %}
                {% endif %}


                <!-- Mentor details -->
                {# {% if not data.participants[id].isMentor %}
                    {% if participant.mentor %}
                        {% include "includes/summary_mentor.html" %}
                    {% endif %}
                {% endif %} #}

                <!-- Training -->
                <!-- If adding ECT or MENTOR -->
                {% if data.participants[id].type == "ECT" or data.participants[id].type == "Mentor" %}
                    {% include "includes/summary_training_ect_mentor.html" %}
                <!-- If Transferring -->
                {% elif data.participants[id].type == "Transfer" %}
                    {% include "includes/summary_training_transfer.html" %}
                {% endif %}




            </dl>

                <form class="form" action="confirmation" method="post" >

                {% if data['cya-action'] %}<input type="hidden" name="cya-action" id="cya-action" value="" />{% endif %}

                {% if data.participants[id].type == "sitMentor" %}

                    {{ govukInput({
                        classes: "govuk-!-width-two-thirds govuk-visually-hidden",
                        value: "Eligible"
                    } | decorateFormAttributes(['participants', id, 'status']) ) }}

                    <input type="hidden" name="sitMentor" id="sitMentor" value="Yes" />

                <!-- If transferring in -->
                {% elif data.participants[id].type == "Transfer" %}
                    {{ govukInput({
                        classes: "govuk-!-width-two-thirds govuk-visually-hidden",
                        value: "TransferIn"
                    } | decorateFormAttributes(['participants', id, 'status']) ) }}

                <!-- Otherwise if TRN provided  -->
                {% else %}

                    <!-- No QTS -->
                    {% if data.participants[id].noQTS == "Yes" %}

                        {{ govukInput({
                            classes: "govuk-!-width-two-thirds govuk-visually-hidden",
                            value: "CheckingQTS"
                        } | decorateFormAttributes(['participants', id, 'status']) ) }}

                    <!-- Eligible -->
                    {% else %}

                        {{ govukInput({
                            classes: "govuk-!-width-two-thirds govuk-visually-hidden",
                            value: "Eligible"
                        } | decorateFormAttributes(['participants', id, 'status']) ) }}

                    {% endif %}

                {% endif %}


                {{ govukButton({
                    text: "Confirm and add"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
