{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Check your answers" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


            <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                
                {% include "includes/summary_name.html" %}
                {% if participant.inductionDay %}
                    {% include "includes/summary_induction_date.html" %}
                {% endif %}
                
                {% include "includes/summary_trn.html" %}
                {% include "includes/summary_dob.html" %}
                
                {% if participant.nationalInsuranceNumber %}
                    {% include "includes/summary_ni.html" %}
                {% endif %}
                
                {% if participant.joiningDay %}
                    {% include "includes/summary_joining.html" %}
                {% endif %}
                                
                {% include "includes/summary_email.html" %} 

                {% if data.participants[id].role == "ECT" %}
                    {% include "includes/summary_cohort.html" %}
                {% endif %}

                {% if data.participants[id].abConfirm == "Yes" or data.participants[id].appropriateBodyName %}
                    {% if data.participants[id].role == "ECT" %}
                        {% include "includes/summary_aBody.html" %}
                    {% endif %}
                {% endif %}                                    

                {% if data.participants[id].role == "ECT" %}
                    {% include "includes/summary_training_ect_mentor.html" %}
                {% elif data.participants[id].role == "Transfer" %}
                    {% include "includes/summary_training_transfer.html" %}
                {% endif %}

            </dl>

            <form class="form" action="confirmation" method="post" >
                
                {% include "includes/hidden_status_set.html" %}

                {{ govukButton({
                    text: "Confirm and add"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
