{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if hasMentors %}
    {% set pageHeading = 'Who will ' + participant.name + '’s mentor be?' %}
{% else %}
    {% set pageHeading = 'You cannot assign a mentor to this ECT' %}
{% endif %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            {% if hasMentors %}
            <!-- If mentors exist in the cohort -->

                <p>You can tell us this later if you’re not sure.</p>

                {% if data['linkaction'] == "change-mentor" %}
                <!-- Change from CYA -->
                <form class="form" action="../details" method="post" >
                {% else %}
                <!-- Add journey -->
                    {% if data.participants[id].type == "ect" %}
                        {% if data['inductionProgramme'] == "FIP" %}
                            <form class="form" action="current-providers" method="post" >
                        {% elif data['inductionProgramme'] == "CIP" %}
                            <form class="form" action="current-training-materials" method="post" >
                        {% endif %}
                    {% elif data.participants[id].type == "ectTransfer" %}
                        <!-- TransferIn -->
                        <form class="form" action="current-training-programme" method="post" >
                    {% endif %}
                {% endif %}

                    {{ govukRadios({
                        items: mentors
                    } | decorateFormAttributes(['participants', id, 'mentor']) ) }}

                    {{ govukButton({
                        text: "Continue"
                    }) }}


                    {% if data.participants[id].type == "ectTransfer" or data.participants[id].type == "mentorTransfer" %}
                    <!-- Check if participant is TransferringIn -->
                        <!-- This is just a trigger to suggest on the front end that an ECT is on a different programme to show that flow -->
                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small govuk-visually-hidden",
                            items: [
                                { value: "No", text: "No match", checked: true }
                            ]
                        } | decorateFormAttributes(['participants', id, 'programmeMatch']) ) }}


                    {% endif %}

                </form>

            {% else %}
            <!-- no mentors to choose from -->
                <p>You do not have any mentors in your cohort.</p>
                <p><a class="govuk-link govuk-link--no-visited-state" href="#">Add a new mentor</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
