{% extends "layout.html" %}
{% set schoolSignedIn = true %}


{% if hasMentors %}
    {% set pageHeading = 'Who will ' + participant.name + '’s mentor be?' %}      
{% else %}
    {% set pageHeading = 'You cannot assign a mentor to this ECT' %}
{% endif %}

{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}            

            {% if hasMentors %}

                <p>You can tell us this later if you’re not sure.</p>

                {% if data['linkaction'] == "change-mentor" %}
                <form class="form" action="../details" method="post" >
                {% else %}

                    {% if data.participants[id].type == "ect" %}
                    <form class="form" action="programme-check" method="post" >
                    {% elif data.participants[id].type == "ectTransfer" %}
                    <form class="form" action="programme-transfer-check" method="post" >
                    {% endif %}
                
                {% endif %}

                    {{ govukRadios({
                        items: mentors
                    } | decorateFormAttributes(['participants', id, 'mentor']) ) }}

                    {{ govukButton({
                        text: "Continue"
                    }) }}
                    
                    {% if data.participants[id].type == "ectTransfer" or data.participants[id].type == "mentorTransfer" %}
                    <input type="hidden" id="transferProgramme" value="" name="transferProgramme" />
                    <!-- <input type="hidden" id="transferProgramme" value="different" name="transferProgramme" /> -->
                    {% endif %}
                </form>
            
            {% else %}

                <p>You do not have any mentors in your cohort.</p>
                <p><a class="govuk-link govuk-link--no-visited-state" href="name?participantType=mentor">Add a new mentor</a></p>

            {% endif %}
        </div>
    </div>
{% endblock %}
