{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = true %}

{% set sitMentorName = 'defaults.sitName()' %}

{% if data['linkaction'] == "change-mentor-details"%}
    {% set pageHeading = 'The mentor for ' + data['participant-1-name'] +  ' has been updated' %}
{% else %}
    <!-- If ECT -->
    {% if ((data['participantType'] == "ECT") or (data['participantType'] == "ECT-transfer" )) %}
        {% if data['participant-2-added'] == "Yes" %}
            {% set pageHeading = '' + data['participant-2-name'] +  ' has been added as an ECT' %}
        {% elif data['participant-1-added'] == "Yes" %}
            {% set pageHeading = '' + data['participant-1-name'] +  ' has been added as an ECT' %}
        {% endif %}
    <!-- Mentor -->
    {% elif data['participantType'] == "mentor"  %}
        {% if data['participant-2-mentor-added'] == "Yes" %}
            {% set pageHeading = '' + data['participant-2-mentor-name'] +  ' has been added as a mentor' %}
        {% elif data['participant-1-mentor-added'] == "Yes" %}
            {% set pageHeading = '' + data['participant-1-mentor-name'] +  ' has been added as a mentor' %}
        {% endif %}
    <!-- sitMentor -->
    {% elif data['participantType'] == "sitMentor" %}
        {% set pageHeading = 'You’ve been added as a mentor' %}
    {% else %}
        {% set pageHeading = 'Full Name has been added' %}
    {% endif %}
{% endif %}

{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ govukPanel({
                titleText: pageHeading,
                classes: "govuk-!-margin-bottom-7"
            }) }}

            {% if data['linkaction'] == "change-mentor-details"%}<!-- If using page for change mentor confirmation -->
                <p><a class="govuk-link govuk-link--no-visited-state" href="../../participants/">Return to your ECTs and mentors</a></p>
            {% else %}

                {% if data['participant-1-sit-mentor-added'] == "Yes" %}
                    <p>We’ll send you an email in the next few days that explains what information we need from you.</p>
                {% else %}

                    <h2 class="govuk-heading-m">What happens next</h2>
                    <p>We’ll send them an email in the next few days. We’ll ask them to use our service to tell us their:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>full name</li>
                        <li>teacher reference number (TRN)</li>
                        <li>date of birth</li>
                        <li>National Insurance number (optional)</li>
                    </ul>
                {% endif %}

                <p><a class="govuk-link govuk-link--no-visited-state" href="../../participants/?participantType=">View your ECTs and mentors</a></p>

            {% endif %}
        </div>
    </div>
{% endblock %}
