{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data.participants[id].role == "ECT" or data.participants[id].role == "Transfer" %}
	{% set pageHeading = 'What’s ' + participant.name + '’s date of birth?' %}
<!-- {% elif data.participants[id].role == "sitMentor" %}
    {% set pageHeading = 'What’s your date of birth?' %}     -->
{% endif %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

        	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			  	{% if data.participants[id].role == "ECT" %}
				  	<form class="form" action="email-address" method="post">
				{% elif data.participants[id].role == "Transfer" %}
					<form class="form" action="joining-date" method="post">
      		    {% endif %}


				{{ govukDateInput({
					id: 'session-date-dob',
					fieldset: {
						legend: {
							text: pageHeading,
							classes: "govuk-visually-hidden"
						}
					},
					items: [
						{ name: '[participants][' + id + '][dobDay]', value: data.participants[id]['dobDay'], classes: "govuk-input--width-2", label: 'Day' },
						{ name: '[participants][' + id + '][dobMonth]', value: data.participants[id]['dobMonth'], classes: "govuk-input--width-2", label: 'Month' },
						{ name: '[participants][' + id + '][dobYear]', value: data.participants[id]['dobYear'], classes: "govuk-input--width-4", label: 'Year' }
					],
					hint: { text: "For example, 14 7 1990" }
				}) }}

        		{{ govukButton({
          			text: "Continue"
        		}) }}

      		</form>

    	</div>
  	</div>
{% endblock %}
