{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'What’s ' + participant.name + '’s date of birth?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

        	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      		{% if data['cya-action'] == "change-dob" %}
      		<form class="form" action="check-your-answers" method="post" class="govuk-!-margin-bottom-8">
        		<input type="hidden" name="cya-action" id="cya-action" value="" />
      		{% else %}

                <!-- Add journey -->
			  	{% if data.participants[id].type == "ect" or data.participants[id].type == "mentor" %}

                    {% if data.participants[id].dbMatched == "Yes" %}
                        {% if data['linkaction'] == "cannotFind" %}
                            <form class="form" action="email-address" method="post">
                            <input type="hidden" name="linkaction" id="linkaction" value="" />
                        {% else %}
                            <form class="form" action="cannot-find-their-details" method="post">
                        {% endif %}
                    {% else %}
				  	    <form class="form" action="email-address" method="post">
                    {% endif %}
				{% else %}

                    {% if data.participants[id].dbMatched == "Yes" %}
                        {% if data['linkaction'] == "cannotFind" %}
                            <form class="form" action="joining-date" method="post">
                            <input type="hidden" name="linkaction" id="linkaction" value="" />
                        {% else %}
                            <form class="form" action="cannot-find-their-details" method="post">
                        {% endif %}
                    {% else %}
					    <form class="form" action="joining-date" method="post">
                    {% endif %}
				{% endif %}
      		{% endif %}


				{{ govukDateInput({
					id: 'session-date-dob',
					fieldset: {
						legend: {
							text: pageHeading,
							classes: "govuk-visually-hidden"
						}
					},
					items: [
						{
							name: '[participants][' + id + '][dobDay]',
							value: data.participants[id]['dobDay'],
							classes: "govuk-input--width-2",
							label: 'Day'
						},
						{
							name: '[participants][' + id + '][dobMonth]',
							value: data.participants[id]['dobMonth'],
							classes: "govuk-input--width-2",
							label: 'Month'
						},
						{
							name: '[participants][' + id + '][dobYear]',
							value: data.participants[id]['dobYear'],
							classes: "govuk-input--width-4",
							label: 'Year'
						}
					],
					hint: {
						text: "For example, 14 7 1990"
					}
				}) }}





        		{{ govukButton({
          			text: "Continue"
        		}) }}




      		</form>

    	</div>
  	</div>
{% endblock %}
