{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = '' + participant.name + ' has been training in a different way to your school' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            {# <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Their programme</th>
                        <!-- Default school programme -->
                        {% if data['inductionProgramme'] == "FIP" %}
                            <!-- Then we need to show CIP information -->
                            <td class="govuk-table__cell">Using DfE-accredited materials</td>
                            <td class="govuk-table__cell">Provided by {{ data.leadProviderMaterialsTransfer }}</td>
                        {% elif data['inductionProgramme'] == "CIP" %}
                        <!-- Then we need to show FIP information -->
                            <td class="govuk-table__cell">Using a DfE-funded training provider</td>
                            <td class="govuk-table__cell">Provided by {{ data.leadProvider }} and {{ data.deliveryPartner }}</td>
                        {% endif %}
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Your school’s programme</th>
                        <!-- Default school programme -->
                        {% if data['inductionProgramme'] == "FIP" %}

                            <td class="govuk-table__cell">Using a DfE-funded training provider</td>
                            <td class="govuk-table__cell">Provided by {{ data.leadProvider }} and {{ data.deliveryPartner }}</td>
                        {% elif data['inductionProgramme'] == "CIP" %}
                            <td class="govuk-table__cell">Using DfE-accredited materials</td>
                            <td class="govuk-table__cell">Provided by { data.leadProviderMaterialsTransfer }}</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table> #}

            <table class="govuk-table govuk-!-margin-bottom-7">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header"></th>                        
                        <th scope="col" class="govuk-table__header">{{ participant.name }}</th>
                        <th scope="col" class="govuk-table__header">Your school</th>

                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__cell govuk-!-width-one-quarter">Programme</th>
                        {% if data['inductionProgramme'] == "FIP" %}
                            <td class="govuk-table__cell govuk-!-width-one-third"> DfE-accredited materials</td>
                            <td class="govuk-table__cell govuk-!-width-one-third"> DfE-funded training</td>                            
                        {% elif data['inductionProgramme'] == "CIP" %}                            
                            <td class="govuk-table__cell govuk-!-width-one-third"> DfE-funded training</td>
                            <td class="govuk-table__cell govuk-!-width-one-third"> DfE-accredited materials</td>
                        {% endif %}
                    </tr>

                    <tr class="govuk-table__row">
                        <th class="govuk-table__cell govuk-!-width-one-quarter">Provided by</th>
                        {% if data['inductionProgramme'] == "FIP" %}                            
                            <td class="govuk-table__cell govuk-!-width-one-third"> {{ data.leadProviderMaterialsTransfer }}</td>
                            <td class="govuk-table__cell govuk-!-width-one-third">  {{ data.leadProvider }} and {{ data.deliveryPartner }}</td>
                        {% elif data['inductionProgramme'] == "CIP" %}                            
                            <td class="govuk-table__cell govuk-!-width-one-third"> {{ data.leadProvider }} and {{ data.deliveryPartner }}</td>
                            <td class="govuk-table__cell govuk-!-width-one-third"> {{ data.leadProviderMaterials }}</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>

            <!-- If CIP -->
            {% if data['inductionProgramme'] == "FIP" %}
            <p>The school they’re moving from chose to deliver their own training programme using DfE-accredited materials. They do not use a training provider.</p>
            {% elif data['inductionProgramme'] == "CIP" %}
            <p>The school they’re moving from chose to use a DfE-funded provider to deliver their training.</p>
            {% endif %}
            <p class="govuk-!-margin-bottom-7">Your school needs to choose the best way for {{ participant.name }} to continue with their training.</p>

            {{ govukButton({
                text: "Continue",
                href: "programme"
            }) }}


        </div>
    </div>
{% endblock %}
