{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data['inductionProgramme'] == "CIP" %}
    {% set pageHeading = '' + participant.name + ' is currently training using a provider, funded by the DfE' %}
{% elif data['inductionProgramme'] == "FIP" %}
    {% set pageHeading = '' + participant.name + ' is currently training using DfE-accredited materials' %}
{% endif %}
{% set pageHeading = '' + participant.name + ' has been training in a different way to your school' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Their programme</th>
              {% if data['inductionProgramme'] == "CIP" %} 
              <td class="govuk-table__cell">Using DfE-accredited materials</td>
              <td class="govuk-table__cell">Provided by { data.leadProviderMaterialsTransfer }}</td>
              {% elif data['inductionProgramme'] == "FIP" %}
              <td class="govuk-table__cell">Using a DfE-funded training provider</td>
              <td class="govuk-table__cell">Provided by {{ data.leadProvider }} and {{ data.deliveryPartner }}</td>
              {% endif %}
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Your school's programme</th>
              {% if data['inductionProgramme'] == "FIP" %}
              <td class="govuk-table__cell">Using a DfE-funded training provider</td>
              <td class="govuk-table__cell">Provided by {{ data.leadProvider }} and {{ data.deliveryPartner }}</td>
              {% elif data['inductionProgramme'] == "CIP" %}
              <td class="govuk-table__cell">Using DfE-accredited materials</td>
              <td class="govuk-table__cell">Provided by { data.leadProviderMaterialsTransfer }}</td> 
            </tr>
            {% endif %}
          </tbody>
        </table>

        <!-- If CIP -->
        <p>The school they're moving from chose to design and deliver their own training programme using DfE-accredited materials. They do not use a training provider.</p>

        <!-- If FIP -->
        <p>The school they're moving from chose to use a DfE-funded provider to deliver their training.</p>
        
        <p>Your school needs to choose the best way for NAME to continue with their training.</p>
            
                                        
            <form class="form" action="programme" method="post" >                            

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
