{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data['inductionProgramme'] == "CIP" %}
    {% set pageHeading = '' + participant.name + ' is currently training using a provider, funded by the DfE' %}
{% elif data['inductionProgramme'] == "FIP" %}
    {% set pageHeading = '' + participant.name + ' is currently training using DfE accredited materials' %}
{% endif %}
{% set pageHeading = '' + participant.name + ' is training on a different programme to your school' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
            
            <div class="govuk-inset-text">
            {% if data['inductionProgramme'] == "CIP" %}                
                <p>They are training on a programme using a lead provider and delivery partner funded by DfE.</p>                                                                            
            {% elif data['inductionProgramme'] == "FIP" %}                
                <p>They are training on a programme delivered using DfE accredited materials supplied by {{ data.leadProviderMaterialsTransfer }}. </p>                                        
            {% endif %}
            </div>
            
            <!-- <p>{{ participant.name }} is currently training using a provider, funded by the DfE.</p>                     -->
            
                {% if data['inductionProgramme'] == "CIP" %}                    
                    <p>This is different to your school, which is delivering your own programme using DfE accredited materials supplied by {{ data.leadProviderMaterials }}.</p>
                {% elif data['inductionProgramme'] == "FIP" %}                
                    <p>This is different to your school, which is training using {{ data.leadProvider }} and {{ data.deliveryPartner }}, funded by the DfE.</p>                
                {% endif %}
            
                                        
            <form class="form" action="programme" method="post" >                            

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
