{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if ((data['participantType'] == "ECT") or (data['participantType'] == "ECT-transfer" )) %}
    {% if data['participant-1-added'] %}
        {% set pageHeading = 'Do you know ' + data['participant-2-name'] + '’s teacher reference number (TRN)?' %}
    {% else %}
        {% set pageHeading = 'Do you know ' + data['participant-1-name'] + '’s teacher reference number (TRN)?' %}
    {% endif %}
{% elif data['participantType'] == "mentor" %}
    {% if data['participant-1-mentor-added'] %}
        {% set pageHeading = 'Do you know ' + data['participant-2-mentor-name'] + '’s teacher reference number (TRN)?' %}
    {% else %}
        {% set pageHeading = 'Do you know ' + data['participant-1-mentor-name'] + '’s teacher reference number (TRN)?' %}
    {% endif %}
{% else %}
    {% if data['induction-tutor'] == "Yes" %}
        {% set pageHeading = 'Do you know ' + data['participant-2-name'] + '’s teacher reference number (TRN)?' %}
    {% endif %}
{% endif %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block pageNavigation %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }} 

            <p class="govuk-body">We need this to find their training record, and confirm they’re eligible for this programme.</p>                           

            {% if data['cya-action'] == "change-know-trn" %}

                <form class="form" action="check-your-answers" method="post" class="govuk-!-margin-bottom-8">
            
            {% else %}
            
                <form class="form" action="email-address" method="post" class="govuk-!-margin-bottom-8">            
            
            {% endif %}
                
                <!-- If type is ECT -->
                {% if ((data['participantType'] == "ECT") or (data['participantType'] == "ECT-transfer" )) %}

                    {{ govukRadios({
                        classes: "govuk-radios--inline",                    
                        fieldset: {
                        legend: {
                            text: "Do you know this person’s teacher reference number (TRN)?",
                            isPageHeading: true,
                            classes: "govuk-visually-hidden"
                        }
                        },
                        items: [
                            { value: "Yes, redirect(teacher-reference-number)", text: "Yes" },
                            { value: "No", text: "No" }
                        ]                
                    } | decorateFormAttributes('participant-2-know-trn' if data['participant-1-added'] else 'participant-1-know-trn')) }}
                
                <!-- If type is Mentor -->
                {% elif data['participantType'] == "mentor" %}

                    {{ govukRadios({
                        classes: "govuk-radios--inline",                    
                        fieldset: {
                        legend: {
                            text: "Do you know this person’s teacher reference number (TRN)?",
                            isPageHeading: true,
                            classes: "govuk-visually-hidden"
                        }
                        },
                        items: [
                            { value: "Yes, redirect(teacher-reference-number)", text: "Yes" },
                            { value: "No", text: "No" }
                        ]                
                    } | decorateFormAttributes('participant-2-mentor-know-trn' if data['participant-1-mentor-added'] else 'participant-1-mentor-know-trn')) }}

                {% endif %}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}