{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'You must contact {lead provider}' %}  
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}            
            

            
            <p>Your school must check {lead provider} is able to train this person.</p>
            <p>{lead provider} then needs to confirm this directly with us too. We can then arrange the correct funding.</p>
                    
            
            <form class="form" action="check-your-answers" method="post" >                
        
                {{ govukButton({                
                    text: "Continue"
                }) }}
                
            </form>
            
        </div>
    </div>
{% endblock %}
