{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data.participants[id].transferProgramme == "different" %}
    {% set pageHeading = 'You must contact ACME provider' %}  
{% else %}
    {% set pageHeading = 'You must contact ' + participant.leadProvider + '' %}  
{% endif %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}            
            
            {% if data.participants[id].type == "ect" %}
            <!-- If ECT will train with a new provider -->            
            <p>Your school must check {{ participant.leadProvider }} is able to train this person.</p>
            <p>{{ participant.leadProvider }} then needs to confirm this directly with us too. We can then arrange the correct funding.</p>
            <p>You can continue to register {{ participant.name }}.</p>

            {% elif data.participants[id].type == "ectTransfer" %}
           
           <!-- If ECT will continue with their current provider at their new school --> 

            <p>Your school must check {% if data.participants[id].transferProgramme == "different" %}ACME Provider{% else %}{{ participant.leadProvider }}{% endif %} is able to continue training this person when they transfer to your school.</p>
            <p>{% if data.participants[id].transferProgramme == "different" %}ACME Provider{% else %}{{ participant.leadProvider }}{% endif %} needs to confirm this directly with us too. We can then update our records.</p>
            <p>You can continue to register this person.</p>  
            
            {% endif %}
            
            <form class="form" action="check-your-answers" method="post" >                
        
                {{ govukButton({                
                    text: "Continue"
                }) }}
                
            </form>
            
        </div>
    </div>
{% endblock %}
