{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'Is ' + participant.name + ' known by another name?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

        	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        	<p class="govuk-!-margin-bottom-7">They are registered under a different name in the records held by the Teaching Regulation Agency (TRA).</p>

            <form class="form" action="cannot-add" method="post" class="govuk-!-margin-bottom-8">

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    fieldset: {
                    legend: {
                        text: pageHeading,
                        isPageHeading: true,
                        classes: "govuk-visually-hidden"
                    }
                    },
                    items: [
                        { value: "Yes, redirect(name)", text: "Yes" },
                        { value: "No", text: "No" }
                    ]
                } | decorateFormAttributes(['participants', id, 'differentName']) ) }}


        		{{ govukButton({
          			text: "Continue"
        		}) }}

      		</form>

    	</div>
  	</div>
{% endblock %}
