{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data.participants[id].differentName == "Yes" %}
    {% set pageHeading = 'What other name is ' + participant.name + ' known by?' %}
{% elif data.participants[id].role == "ECT" or data.participants[id].role == "Transfer" %}
    {% set pageHeading = 'What’s this ECT’s full name?' %}
{% elif data.participants[id].role == "Mentor" or data.participants[id].role == "mentorTransfer" %}
    {% set pageHeading = 'What’s this mentor’s full name?' %}
{% endif %}

{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            {% if data.participants[id].differentName == "Yes" %}
            <p>We need to match their name with the record held by the Teaching Regulation Agency (TRA).</p>
            {% endif %}

            <!--{% if data['linkaction'] == "cannotFind" %}
                {% if data.participants[id].role == "Transfer" %}
                    <form class="form" action="joining-date" method="post">
                {% else %}
                    <form class="form" action="email-address" method="post">
                {% endif %}

                    <input type="hidden" name="linkaction" id="linkaction" value="" />
=
                    {{ govukCheckboxes({
                        classes: "govuk-checkboxes--small govuk-visually-hidden",
                        items: [
                            { value: "", text: "Is not matched", checked: "true" }
                        ]
                    } | decorateFormAttributes(['participants', id, 'noRecordsMatched']) ) }}

            {% else %}-->
            <!-- {% endif %} -->

            {% if data.participants[id].differentName == "Yes" %}
                <form class="form" action="checking-teacher-profiles" method="post">

                    {{ govukCheckboxes({
                    classes: "govuk-checkboxes--small govuk-visually-hidden",
                    items: [ { value: "No", text: "Not known by different name", checked: "true" } ]
                } | decorateFormAttributes(['participants', id, 'differentName']) ) }}

            {% else %}
                <form class="form" action="teacher-reference-number" method="post">
            {% endif %}

                {{ govukInput({
                    label: {
                        text: pageHeading,
                        classes: "govuk-visually-hidden",
                        isPageHeading: false
                    },
                    classes: "govuk-!-width-two-thirds"
                } | decorateFormAttributes(['participants', id, 'name']) ) }}

                <!-- Sets programme choice at ECT level -->
                {% include "includes/hidden_programme_value.html" %}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

            </div>
        </div>
{% endblock %}
