{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'What’s this person’s full name?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            
            <!--{% if data['linkaction'] == "cannotFind" %}
                {% if data.participants[id].role == "Transfer" %}
                    <form class="form" action="joining-date" method="post">
                {% else %}
                    <form class="form" action="email-address" method="post">
                {% endif %}

                    <input type="hidden" name="linkaction" id="linkaction" value="" />
=
                    {{ govukCheckboxes({
                        classes: "govuk-checkboxes--small govuk-visually-hidden",
                        items: [
                            { value: "", text: "Is not matched", checked: "true" }
                        ]
                    } | decorateFormAttributes(['participants', id, 'noRecordsMatched']) ) }}

            {% else %}-->
            <!-- {% endif %} -->

            {% if data.participants[id].role == "ECT" %}
            <form class="form" action="teacher-reference-number" method="post">                        
            {% elif data.participants[id].role == "Transfer" %}
            <form class="form" action="teacher-reference-number" method="post">
            {% endif %}
        
                {{ govukInput({
                    label: {
                        text: pageHeading,
                        classes: "govuk-visually-hidden",
                        isPageHeading: false
                    },
                    classes: "govuk-!-width-two-thirds"
                } | decorateFormAttributes(['participants', id, 'name']) ) }}

                <!-- Hidden programme set -->
                {% include "includes/hidden_programme_value.html" %}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>
            
            </div>
        </div>
{% endblock %}
