{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'What’s this person’s full name?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <!-- ////// CHECK THIS IS STILL NEEDED //////// -->
            {% if data['cya-action'] == "change-name" %}
                <form class="form" action="check-your-answers" method="post">
                    <input type="hidden" id="cya-action" name="cya-action" value="" />

            {% elif data['details-change-action'] == "change-name" %}
                <form class="form" action="../details" method="post">
                    <input type="hidden" id="details-change-action" name="details-change-action" value="" />
            <!-- ////// END //////// -->

            {% else %}

                {% if data['linkaction'] == "cannotFind" %}

                    {% if data.participants[id].type == "transfer" %}
                        <form class="form" action="joining-date" method="post">
                    {% else %}
                        <form class="form" action="email-address" method="post">
                    {% endif %}

                    <input type="hidden" name="linkaction" id="linkaction" value="" />

                    {{ govukCheckboxes({
                        classes: "govuk-checkboxes--small govuk-visually-hidden",
                        items: [
                            { value: "", text: "Is not matched", checked: "true" }
                        ]
                    } | decorateFormAttributes(['participants', id, 'noRecordsMatched']) ) }}

                {% else %}

                    <!-- <form class="form" action="teacher-reference-number" method="post"> -->
                    <form class="form" action="induction-start-date" method="post">

                {% endif %}

            {% endif %}

                {{ govukInput({
                    label: {
                        text: pageHeading,
                        classes: "govuk-visually-hidden",
                        isPageHeading: false
                    },
                    classes: "govuk-!-width-two-thirds"
                } | decorateFormAttributes(['participants', id, 'name']) ) }}



                {% if data['inductionProgrammeYearTwo'] == "CIP" %}

                    {{ govukInput({
                        classes: "govuk-visually-hidden",
                        value: "CIP"
                    } | decorateFormAttributes(['participants', id, 'programme']) ) }}


                {% elif data['inductionProgramme'] == "CIP" %}
                <!-- CIP -->
                    {{ govukInput({
                        classes: "govuk-visually-hidden",
                        value: "CIP"
                    } | decorateFormAttributes(['participants', id, 'programme']) ) }}
                {% else %}
                <!-- FIP -->
                    {{ govukInput({
                        classes: "govuk-visually-hidden",
                        value: "FIP"
                    } | decorateFormAttributes(['participants', id, 'programme']) ) }}
                {% endif %}





                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>
        </div>
    </div>
{% endblock %}
