{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'Have you asked ' + participant.newLeadprovider + ' to train this ECT?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p>{{ participant.newLeadprovider }} will need to confirm they can train this person.</p>

            <form class="form" action="check-your-answers" method="post" >

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    fieldset: {
                    legend: {
                        text: "Do you know this person’s teacher reference number (TRN)?",
                        isPageHeading: true,
                        classes: "govuk-visually-hidden"
                    }
                    },
                    items: [
                        { value: "Yes", text: "Yes" },
                        { value: "No, redirect(check)", text: "No" }

                    ]

                } | decorateFormAttributes(['participants', id, 'partnershipWithProvider']) ) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
