{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'Will ' + participant.name + ' be training with your school’s current providers?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
            
            <!-- <div class="govuk-inset-text">
                <ul class="govuk-list">
                    <li>Lead provider: {{ data.leadProvider }}</li>
                    <li>Delivery partner: {{ data.deliveryPartner }}</li>                    
                </ul>            
            </div> -->

            <!-- <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third"><p class="govuk-!-font-weight-bold">Lead provider</p></div>
                <div class="govuk-grid-column-two-thirds"><p>{{ data.leadProvider }}</p></div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third"><p class="govuk-!-font-weight-bold">Delivery partner</p></div>
                <div class="govuk-grid-column-two-thirds"><p>{{ data.deliveryPartner }}</p></div>
            </div> -->
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Lead provider</h2>
            <p class="govuk-!-margin-bottom-1">{{ data.leadProvider }}</p>

            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Delivery partner</h2>
            <p>{{ data.deliveryPartner }}</p>

            {% if data['linkaction'] == "change-programme-check" %}
            <form class="form" action="../details" method="post" >
            {% else %}
            <form class="form" action="check-your-answers" method="post" >
            {% endif %}
                
                {{ govukRadios({
                    classes: "govuk-radios--inline",                    
                    fieldset: {
                        legend: {
                            text: pageHeading,
                            isPageHeading: true,
                            classes: "govuk-visually-hidden"
                        }
                    },
                    items: [
                        { value: "Yes", text: "Yes" },
                        { value: "No, redirect(programme-change)", text: "No" }
                    ]                                    
                } | decorateFormAttributes(['participants', id, 'programmeCheck']) ) }}                                                                     

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>
            
        </div>
    </div>
{% endblock %}
