{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data['participant-1-added'] %}
{% set pageHeading = 'Will ' + data['participant-2-name'] + ' be training with your school’s current providers?' %}
{% else %}
{% set pageHeading = 'Will ' + data['participant-1-name'] + ' be training with your school’s current providers?' %}
{% endif %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
            
            <div class="govuk-inset-text">
                <ul class="govuk-list">
                    <li>Lead provider: {{ data.leadProvider }}</li>
                    <li>Delivery partner: {{ data.deliveryPartner }}</li>                    
                </ul>
            
            </div>

            {% if data['linkaction'] == "change-programme-check" %}
            <form class="form" action="../details" method="post" >
            {% else %}
            <form class="form" action="check-your-answers" method="post" >
            {% endif %}

                <!-- If type is ECT -->
                {% if ((data['participantType'] == "ECT") or (data['participantType'] == "ECT-transfer" )) %}

                    {{ govukRadios({
                        classes: "govuk-radios--inline",                    
                        fieldset: {
                        legend: {
                            text: pageHeading,
                            isPageHeading: true,
                            classes: "govuk-visually-hidden"
                        }
                        },
                        items: [
                            { value: "Yes", text: "Yes" },
                            { value: "No, redirect(programme-change)", text: "No" }
                        ]                
                    } | decorateFormAttributes('participant-2-programme-check' if data['participant-1-added'] else 'participant-1-programme-check')) }}
        
                <!-- If type is Mentor -->
                {% elif data['participantType'] == "mentor" %}

                    {{ govukRadios({
                        classes: "govuk-radios--inline",                    
                        fieldset: {
                        legend: {
                            text: pageHeading,
                            isPageHeading: true,
                            classes: "govuk-visually-hidden"
                        }
                        },
                        items: [
                            { value: "Yes", text: "Yes" },
                            { value: "No, redirect(programme-change)", text: "No" }
                        ]                
                    } | decorateFormAttributes('participant-2-mentor-programme-check' if data['participant-1-mentor-added'] else 'participant-1-mentor-programme-check')) }}

                {% endif %}
                
                <input type="hidden" name="cya-action" id="cya-action" value="" />
                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>
            
        </div>
    </div>
{% endblock %}
