{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'Will ' + participant.name + ' continue with their current training programme?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <!-- This is going to be if on a different programme -->
            <p>This is the same programme as other ECTs at your school.</p>            
            
            <!-- <p>This is a different programme to other ECTs at your school.</p>             -->
            <!-- // -->
            <div class="govuk-inset-text">
                <ul class="govuk-list">
                    <li>Lead provider: ACME Provider</li>
                    <li>Delivery partner: ACME Delivery Partner</li>                    
                </ul>            
            </div>

            {% if data['linkaction'] == "change-programme-check" %}
            <form class="form" action="../details" method="post" >
            {% else %}
            <form class="form" action="check-your-answers" method="post" >
            {% endif %}
            
                {{ govukRadios({
                    classes: "govuk-radios--inline",                    
                    fieldset: {
                    legend: {
                        text: pageHeading,
                        isPageHeading: true,
                        classes: "govuk-visually-hidden"
                    }
                    },
                    items: [
                        { value: "Yes", text: "Yes" },
                        { value: "No, redirect(programme-check)", text: "No" }
                    ]                
                } | decorateFormAttributes(['participants', id, 'programmeCheckTransfer']) ) }} 		
                                                    
                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>
            
        </div>
    </div>
{% endblock %}
