{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data['inductionProgramme'] == "CIP" %}
    {% set pageHeading = 'Will ' + participant.name + ' use your school’s current training materials?' %}
{% else %}
    {% set pageHeading = 'Will ' + participant.name + ' be training with your school’s current providers?' %}
{% endif %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            {% if data['inductionProgramme'] == "CIP" %}
                <!-- CIP -->
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Materials supplier</h2>
                <p>{{ data.leadProviderMaterials }}</p>
                <!-- FIP -->
            {% elif data['inductionProgramme'] == "FIP" %}
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Lead provider</h2>
                <p class="govuk-!-margin-bottom-1">{{ data.leadProvider }}</p>
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Delivery partner</h2>
                <p>{{ data.deliveryPartner }}</p>
            {% endif %}

            {% if data['linkaction'] == "change-programme-check" %}
            <form class="form" action="../details" method="post" >
            {% else %}

                {% if data.participants[id].transferProgramme == "different"%}

                    {% if data['inductionProgramme'] == "CIP" %}
                        <form class="form" action="check-your-answers" method="post" >
                    {% elif data['inductionProgramme'] == "CIP" %}
                        <form class="form" action="confirm-partnership" method="post" >
                    {% endif %}
                {% else %}
                <form class="form" action="check-your-answers" method="post" >
                {% endif %}
            {% endif %}

                {% if data['inductionProgramme'] == "CIP" %}

                    {{ govukRadios({
                        classes: "govuk-radios--inline",
                        fieldset: {
                            legend: {
                                text: pageHeading,
                                isPageHeading: true,
                                classes: "govuk-visually-hidden"
                            }
                        },
                        items: [
                            { value: "Yes", text: "Yes" },
                            { value: "No, redirect(lead-provider)", text: "No" }
                        ]
                    } | decorateFormAttributes(['participants', id, 'usingCurrentProgramme']) ) }}

                {% elif data['inductionProgramme'] == "FIP" %}

                    {{ govukRadios({
                        classes: "govuk-radios--inline",
                        fieldset: {
                            legend: {
                                text: pageHeading,
                                isPageHeading: true,
                                classes: "govuk-visually-hidden"
                            }
                        },
                        items: [
                            { value: "Yes", text: "Yes" },
                            { value: "No, redirect(programme-change)", text: "No" }
                        ]
                    } | decorateFormAttributes(['participants', id, 'usingCurrentProgramme']) ) }}

                {% endif %}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
