{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'Will ' + participant.name + ' be training with ' + data.leadProvider + '?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}            

            <!-- {% if data['cya-action'] == "change-programme-change" %}
            <form class="form" action="../details" method="post" >
            {% else %} -->
            <form class="form" action="check-your-answers" method="post" >
            <!-- {% endif %} -->
            
                {{ govukRadios({
                    classes: "govuk-radios--inline",                    
                    fieldset: {
                    legend: {
                        text: "pageHeading",
                        isPageHeading: true,
                        classes: "govuk-visually-hidden"
                    }
                    },
                    items: [
                        { value: "Yes", text: "Yes" },
                        { value: "No, redirect(lead-provider)", text: "No" }
                    ]                
                } | decorateFormAttributes(['participants', id, 'programmeChange']) ) }}                     
            
                {{ govukButton({                
                    text: "Continue"
                }) }}
                
            </form> 
                            
        </div>
    </div>
{% endblock %}
