{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if ((data['participantType'] == "ECT") or (data['participantType'] == "ECT-transfer" )) %}
    {% if data['participant-1-added'] %}
        {% set pageHeading = 'When do you expect ' + data['participant-2-name'] + ' to start their induction programme?' %}
    {% else %}
        {% set pageHeading = 'When do you expect ' + data['participant-1-name'] + ' to start their induction programme?' %}
    {% endif %}
{% elif data['participantType'] == "mentor" %}
    {% if data['participant-1-mentor-added'] %}
        {% set pageHeading = 'When do you expect ' + data['participant-2-mentor-name'] + ' to begin mentoring ECTs?' %}
    {% else %}
        {% set pageHeading = 'When do you expect ' + data['participant-1-mentor-name'] + ' to begin mentoring ECTs?' %}
    {% endif %}
{% else %}
    {% if data['induction-tutor'] == "Yes" %}
        {% set pageHeading = 'When do you expect ' + data['participant-2-name'] + ' to begin mentoring ECTs?' %}
    {% endif %}
{% endif %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <!-- If coming from the CYA page -->
            {% if data['cya-action'] == "change-start-date" %}
                <form class="form" action="check-your-answers" method="post" class="govuk-!-margin-bottom-8">
                    <input type="hidden" id="cya-action" name="cya-action" value="" /><!-- Clears the link action-->

            <!-- If coming from the participant details page -->
            {% elif ((data['details-change-action'] == "change-participant-1-start-date" ) or (data['details-change-action'] == "change-participant-1-start-date-2")) %}
                <form class="form" action="../details" method="post">
                    <input type="hidden" id="details-change-action" name="details-change-action" value="" /><!-- Clears the link action-->
                    <input type="hidden" id="details-change-action-2" name="details-change-action-2" value="" /><!-- Clears the link action-->

            <!-- Default add participant journey -->
            {% else %}

                {% if ((data['participantType'] == "ECT") or (data['participantType'] == "ECT-transfer" )) %}
                    <!-- If a mentor is in the system -->
                    {% if ((data['participant-1-mentor-added'] == "Yes") or (data['participant-2-mentor-added'] == "Yes") or (data['participant-1-sit-mentor-added'] == "Yes")) %}
                        {% if data['participant-1-added'] == "Yes" %}
                            <form class="form" action="choose-mentor" method="post" class="govuk-!-margin-bottom-8">
                        {% else %}
                            <form class="form" action="choose-mentor" method="post" class="govuk-!-margin-bottom-8">
                        {% endif %}
                        <!-- No mentor currently added -->
                    {% else %}						
                        <form class="form" action="check-your-answers" method="post" class="govuk-!-margin-bottom-8">
                    {% endif %} 

                {% elif data['participantType'] == "mentor" %}
                    <!-- We have no need to go to choose mentor as they are a mentor -->
                    <form class="form" action="check-your-answers" method="post" class="govuk-!-margin-bottom-8">
                {% endif %}      	        	

            {% endif %}

                {% if ((data['participantType'] == "ECT") or (data['participantType'] == "ECT-transfer" )) %}

                    {{ govukRadios({
                        items: [
                            
                            { value: "Spring 2022", text: "Spring 2022" },
                            { value: "Summer 2022", text: "Summer 2022" }
                        ]
                    } | decorateFormAttributes('participant-2-start-date' if data['participant-1-added'] else 'participant-1-start-date')) }}

                {% elif data['participantType'] == "mentor" %}

                    {{ govukRadios({
                        items: [
                            
                            { value: "Spring 2022", text: "Spring 2022" },
                            { value: "Summer 2022", text: "Summer 2022" }
                        ]
                    } | decorateFormAttributes('participant-2-mentor-start-date' if data['participant-1-mentor-added'] else 'participant-1-mentor-start-date' )) }}

                    {% else %}
                        <!-- Dont really need this but its just incase someone looks at the page independently -->
                        <p>You have not selected a participant type to choose a start date.</p>

                    {% endif %}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>
        </div>
    </div>
{% endblock %}
