{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data.participants[id].type == "sitMentor" %}
    {% set pageHeading = 'What’s your teacher reference number (TRN)?' %}
{% else %}
    {% set pageHeading = 'What’s ' + participant.name + '’s teacher reference number (TRN)?' %}
{% endif %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block pageNavigation %}

{% endblock %}
{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

        	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      		<p class="govuk-body">This unique ID:</p>
      		<ul class="govuk-list govuk-list--bullet">
        		<li>is usually 7 digits long, for example ’4567814’</li>
        		<li>may include the letters ‘RP’ or a slash ‘/’ symbol, for example ‘RP99/12345’</li>
        		<li>may also be called a QTS, GTC, DfE, DfES or DCSF number</li>
      		</ul>

			{% if ((data['cya-action'] == "change-trn") or (data['cya-action'] == "change-know-trn")) %}
			    <form class="form" action="check-your-answers" method="post">
				<input type="hidden" id="cya-action" name="cya-action" value="" /><!-- Clears the cya change link action -->
			{% else %}
                <!-- Look for if coming from cannot find in database -->
                {% if data['linkaction'] == "cannotFind" %}
                        {% if data.participants[id].type == "ect" or data.participants[id].type == "mentor" %}
                            <form class="form" action="email-address" method="post">
                        {% else %}
                            <form class="form" action="joining-date" method="post">
                        {% endif %}
                        <input type="hidden" name="linkaction" id="linkaction" value="" />
                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small govuk-visually-hidden",
                            items: [
                                { value: "", text: "Is not matched", checked: "true" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'dbMatched']) ) }}
                <!-- Otherwise normal path -->
                {% else %}
                    <form class="form" action="date-of-birth" method="post" class="govuk-!-margin-bottom-8">
                {% endif %}

			{% endif %}

				{{ govukInput({
					label: { text: pageHeading, classes: "govuk-visually-hidden", isPageHeading: false },
					classes: "govuk-!-width-two-thirds",
                    inputmode: "numeric",
                    pattern: "[0-9]*"
				} | decorateFormAttributes(['participants', id, 'trnNumber']) ) }}

            	{{ govukButton({
              		text: "Continue"
            	}) }}

                {% if data['linkaction'] != "cannotFind" %}

                <div class="govuk-!-padding-top-5 key">

                    {% if data.participants[id].type == "ect" or data.participants[id].type == "mentor" %}


                    {{ govukCheckboxes({
                        classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                        items: [
                            { value: "No", text: "No induction registered" }
                        ]
                    } | decorateFormAttributes(['participants', id, 'regInduction']) ) }}


                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                            items: [
                                { value: "Yes", text: "Fail validation" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'dbMatched']) ) }}

                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small ",
                            items: [
                                { value: "Yes", text: "No QTS" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'noQTS']) ) }}

                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small ",
                            items: [
                                { value: "Yes", text: "Participant already doing ECF-based training" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'existingMatch']) ) }}

                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small ",
                            items: [
                                { value: "Yes", text: "Mentor at multiple schools" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'eroMultiMentor']) ) }}

                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small ",
                            items: [
                                { value: "Yes", text: "ERO" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'eroMentor']) ) }}

                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                            items: [
                                { value: "Yes", text: "Completed induction" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'competedInduction']) ) }}

                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                            items: [
                                { value: "Yes", text: "Ineligible (Active flags)" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'ineligible']) ) }}

                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                            items: [
                                { value: "Yes", text: "Exempt from induction" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'exempt']) ) }}



                    {% elif data.participants[id].type == "ectTransfer" %}

                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small ",
                            items: [
                                { value: "No", text: "Training using different LP and DP" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'trainingMatch']) ) }}

                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small ",
                            items: [
                                { value: "No", text: "Training using same LP and different DP" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'dpMatch']) ) }}

                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small",
                            items: [
                                { value: "Yes", text: "Training on different main programme"}
                            ]
                        } | decorateFormAttributes(['participants', id, 'diffInductionProgramme']) ) }}

                        {% if data.participants[id].type == "ectTransfer" or data.participants[id].type == "mentorTransfer" %}
                             {{ govukCheckboxes({
                                classes: "govuk-checkboxes--small",
                                items: [
                                    { value: "Yes", text: "Is mentor" }
                                ]
                            } | decorateFormAttributes(['participants', id, 'isMentor']) ) }}

                            {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small ",
                            items: [
                                { value: "Yes", text: "ERO or mentor at multiple schools" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'eroMultiMentor']) ) }}
                        {% endif %}
                    
                    {% elif data.participants[id].type == "sitMentor" %}
                        
                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                            items: [
                                { value: "Yes", text: "Fail validation" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'dbMatched']) ) }}

                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                            items: [
                                { value: "Yes", text: "Ineligible (Active flags)" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'ineligible']) ) }}


                    {% endif %}








                        <!-- {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small",
                            items: [
                                { value: "Yes", text: "Training on different programme to school"}
                            ]
                        } | decorateFormAttributes(['participants', id, 'diffInductionProgramme']) ) }} -->

                    {% endif %}
                </div>

      		</form>
    	</div>
    </div>
{% endblock %}
