{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'What’s ' + participant.name  +  '’s teacher reference number (TRN)?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block pageNavigation %}

{% endblock %}
{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

        	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p class="govuk-body">This unique ID:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>is usually 7 digits long, for example ’4567814’</li>
                <li>may include the letters ‘RP’ or a slash ‘/’ symbol, for example ‘RP99/12345’</li>
                <li>may also be called a QTS, GTC, DfE, DfES or DCSF number</li>
            </ul>

            {# {% include "includes/cya_cannotfind_form.html" %} #}


            <form class="form" action="date-of-birth" method="post" class="govuk-!-margin-bottom-8">

                {{ govukInput({
                    label: { text: pageHeading, classes: "govuk-visually-hidden", isPageHeading: false },
                    classes: "govuk-!-width-two-thirds",
                    inputmode: "numeric",
                    pattern: "[0-9]*"
                } | decorateFormAttributes(['participants', id, 'trnNumber']) ) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                    {% if data.participants[id].role == "Mentor" %}
                        <a class="govuk-link" href="trn-guidance">They do not have a TRN</a>
                    {% elif data.participants[id].role == "sitMentor" %}
                        <a class="govuk-link" href="trn-guidance">I do not have a TRN</a>
                    {% endif%}
                </div>



                <div class="key">
                    {{ govukCheckboxes({
                        classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                        items: [ { value: "Yes", text: "Details not matched in DQT" } ]
                    } | decorateFormAttributes(['participants', id, 'noRecordsMatchedDQT']) ) }}

                    {{ govukCheckboxes({
                        classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                        items: [ { value: "Yes", text: "Details matched in Teacher Profiles" } ]
                    } | decorateFormAttributes(['participants', id, 'RecordsMatchedTP']) ) }}

                    {{ govukCheckboxes({
                        classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                        items: [ { value: "Yes", text: "Name given does not match record" } ]
                    } | decorateFormAttributes(['participants', id, 'knownByOtherName']) ) }}

                    {% if data.participants[id].role == "ECT" %}
                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                            items: [ { value: "Yes", text: "Already registered as a Mentor" } ]
                        } | decorateFormAttributes(['participants', id, 'mentorECT']) ) }}
                        <!-- This wipes any previous clear -->
                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small govuk-visually-hidden",
                            items: [ { value: "No", text: "Already registered as an ECT", checked: checked } ]
                        } | decorateFormAttributes(['participants', id, 'ectMentor']) ) }}

                    {% elif data.participants[id].role == "Mentor" %}

                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                            items: [ { value: "Yes", text: "Already registered as an ECT" } ]
                        } | decorateFormAttributes(['participants', id, 'ectMentor']) ) }}
                        <!-- This wipes any previous clear -->
                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small govuk-visually-hidden",
                            items: [ { value: "No", text: "Already registered as a Mentor", checked: checked } ]
                        } | decorateFormAttributes(['participants', id, 'mentorECT']) ) }}

                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                            items: [ { value: "Yes", text: "Mentoring at more than 1 school" } ]
                        } | decorateFormAttributes(['participants', id, 'multiMentor']) ) }}

                    {% endif %}


                </div>

                <!-- Other options for confirmation pages etc -->
                {# <div class="key">
                    {% if data.participants[id].role == "ECT" or data.participants[id].role == "Mentor" %}
                        {% include "includes/trnKey_ectMentor.html" %}
                    {% elif data.participants[id].role == "sitMentor" %}
                        {% include "includes/trnkey_sitmentor.html" %}
                    {% endif %}
                </div> #}


            </form>

        </div>

    </div>
{% endblock %}
