{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "What the mentor needs to do if they do not have a TRN" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block pageNavigation %}

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p class="govuk-body">If the mentor:</p>
            <ul class="govuk-list govuk-list--bullet">
                    <li>had one but cannot find it, they can use the service to <a href="https://find-a-lost-trn.education.gov.uk/start" class="govuk-link" rel="noreferrer noopener" target="_blank">find a lost TRN (opens in new tab)</a></li>
                    <li>has never had one, they can use our guide to <a href="https://manage-training-for-early-career-teachers.education.gov.uk/participants/start-registration/get-a-trn" class="govuk-link" rel="noreferrer noopener" target="_blank">get a TRN (opens in new tab)</a></li>
            </ul>

            <p class="govuk-body">You cannot register the mentor on this service without a TRN, as we use this information to check their eligibility for DfE funding.</p>

            <p class="govuk-body">The mentor does not need to be a teacher to have a TRN.</p>

            <!-- <h2 class="govuk-heading-m">If the mentor has lost their TRN</h2>

            <p>Ask the mentor to use the service to <a href="https://find-a-lost-trn.education.gov.uk/start" class="govuk-link" rel="noreferrer noopener" target="_blank">find their lost teacher reference number (opens in new tab)</a>.</p>
            
            <h2 class="govuk-heading-m">If the mentor has never had a TRN</h2>

            <p class="govuk-body">The mentor needs to get a TRN, as they cannot access DfE-funded training and materials without one. They do not need to be a teacher to do this.</p>

            <p class="govuk-body"><a href="https://manage-training-for-early-career-teachers.education.gov.uk/participants/start-registration/get-a-trn" class="govuk-link" rel="noreferrer noopener" target="_blank">Instructions for mentors: how to get a TRN (opens in new tab)</a></p> -->


        </div>
    </div>
{% endblock %}
