{% extends "layout.html" %}
{% set showBackLink = true %}
{% set schoolSignedIn = true %}

{% set pageHeading = "What we need from you" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <!-- <div class="govuk-inset-text">
            <p>Do you want to tell us about a teacher who started their ECF-based training or mentoring in the 2012 to 2022 academic year?</p>
            <p>You need to do this in the 2021 to 2022 cohort tab.</p>
            </div> -->

            <p>We need to find the right person in our database so we can transfer their record to your school.</p>
            <p>To do this, you need to tell us their:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>full name</li>
                <li>teacher reference number (TRN)</li>
                <li>date of birth</li>
                <li>email address (personal or school)</li>
                <li>start date at your school</li>
            </ul>
            <p>If your school does not have this information, contact the person directly to ask for it.</p>

        {% if data['inductionProgramme'] == "FIP" %}
            <div class="govuk-inset-text">
            <p>Before you add an ECT or mentor, you should let them know that we:
                                  <ul class="govuk-list govuk-list--bullet">
                                  <li>use their personal data to arrange DfE funding</li>
                                  <li>need to share this data with training providers and other organisations involved in ECT induction and ECF-based training</li>
                                  </ul> </p>
            <p><a class="govuk-link govuk-link--no-visited-state" href="../privacy-policy/">Read our privacy policy</a></p>
            </div>
        {% endif %}

        {% if data['inductionProgramme'] == "CIP" %}
            <div class="govuk-inset-text">
            <p>Before you add an ECT or mentor, you should let them know that we:
                                  <ul class="govuk-list govuk-list--bullet">
                                  <li>use their personal data to arrange DfE funding</li>
                                  <li>need to share this data with training providers and other organisations involved in ECT induction and ECF-based training</li>
                                  </ul> </p>
            <p><a class="govuk-link govuk-link--no-visited-state" href="../privacy-policy/">Read our privacy policy</a></p>
            </div>
        {% endif %}
            
            <form method="post" action="name" >            
                
                {{ govukButton({
                    text: "Continue"
                }) }}            

            </form>
        </div>
    </div>
{% endblock %}
