{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Who do you want to add?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}



            {% if data['cohort'] == "2022" %}
                <form class="form" action="check-transfer" method="post" class="govuk-!-margin-bottom-8">
            {% elif data['cohort'] == "2021" %}
                <form class="form" action="what-we-need" method="post" class="govuk-!-margin-bottom-8">
            {% else %}
                <form class="form" action="what-we-need" method="post" class="govuk-!-margin-bottom-8">
            {% endif %}
            

                {{ govukRadios({
                    items: [
                        { value: "ectTransfer", text: "A teacher transferring from another school where they’ve started ECF-based training or mentoring", hint: { text: "" } },
                        { value: "ect, redirect(name)", text: "A new ECT" },
                        { value: "mentor, redirect(name)", text: "A new mentor" }
                    ]
                } | decorateFormAttributes(['participants', id, 'type']) ) }}

                <!-- Assign programme type -->
                {% if data['inductionProgramme'] == "CIP" %}
                <!-- CIP -->
                    {{ govukInput({
                        classes: "govuk-visually-hidden",
                        value: "CIP"
                    } | decorateFormAttributes(['participants', id, 'programme']) ) }}
                {% else %}
                <!-- FIP -->
                    {{ govukInput({
                        classes: "govuk-visually-hidden",
                        value: "FIP"
                    } | decorateFormAttributes(['participants', id, 'programme']) ) }}
                {% endif %}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
