{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Who do you want to add?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

                    {% if data['inductionProgramme'] == "FIP" %}
                      
                              <p>Before you add an ECT or mentor, you should let them know that we:
                                  <ul class="govuk-list govuk-list--bullet">
                                  <li>use their personal data to arrange DfE funding</li>
                                  <li>need to share this data with training providers and other organisations involved in ECT induction and ECF-based training</li>
                                  </ul> </p>
                              <p><a class="govuk-link govuk-link--no-visited-state" href="../privacy-policy/">Read our privacy policy</a></p>
                     
                    {% endif %}

                    {% if data['inductionProgramme'] == "CIP" %}
                       <div class="govuk-inset-text">
                              <p>Before you add an ECT or mentor, you should let them know that we:
                                  <ul class="govuk-list govuk-list--bullet">
                                  <li>use their personal data to arrange DfE funding</li>
                                  <li>need to share this data with training materials suppliers and other organisations involved in ECT induction and ECF-based training</li>
                                  </ul> </p>
                              <p><a class="govuk-link govuk-link--no-visited-state" href="../privacy-policy/">Read our privacy policy</a></p>
                       </div> 
                    {% endif %}


            {% if data['cohort'] == "2022" %}
                <form class="form" action="check-transfer" method="post" class="govuk-!-margin-bottom-8">
            {% elif data['cohort'] == "2021" %}
                <form class="form" action="what-we-need" method="post" class="govuk-!-margin-bottom-8">
            {% else %}
                <form class="form" action="what-we-need" method="post" class="govuk-!-margin-bottom-8">
            {% endif %}
            

                {{ govukRadios({
                    items: [
                        { value: "ectTransfer", text: "A teacher transferring from another school where they’ve started ECF-based training or mentoring", hint: { text: "" } },
                        { value: "ect, redirect(name)", text: "A new ECT" },
                        { value: "mentor, redirect(name)", text: "A new mentor" }
                    ]
                } | decorateFormAttributes(['participants', id, 'type']) ) }}

                <!-- Assign programme type -->
                {% if data['inductionProgramme'] == "CIP" %}
                <!-- CIP -->
                    {{ govukInput({
                        classes: "govuk-visually-hidden",
                        value: "CIP"
                    } | decorateFormAttributes(['participants', id, 'programme']) ) }}
                {% else %}
                <!-- FIP -->
                    {{ govukInput({
                        classes: "govuk-visually-hidden",
                        value: "FIP"
                    } | decorateFormAttributes(['participants', id, 'programme']) ) }}
                {% endif %}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
