{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Who do you want to add?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


            <form class="form" action="what-we-need" method="post" class="govuk-!-margin-bottom-7">

                {{ govukRadios({
                    items: [
                        { value: "Transfer", text: "A teacher transferring from another school where they’ve started ECF-based training or mentoring", hint: { text: "" } },
                        { value: "ECT", text: "A new ECT" },
                        { value: "Mentor", text: "A new mentor" }
                    ]
                } | decorateFormAttributes(['participants', id, 'type']) ) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
