{% extends "layout.html" %}

{% set pageHeading = "Tell us your details" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

    		<p class="govuk-body">We need to check your details on the Teaching Regulation Agency records.</p>

    		{% if data['validated'] == "No" %}
    			<form class="form" action="check-your-answers" method="post">
    		{% else %}
    			<form class="form" action="check-your-answers" method="post">
    		{% endif %}

				<div class="govuk-form-group">
					<label class="govuk-label govuk-!-width-three-quarters bold-label" for="trnd">Teacher reference number (TRN)</label>
					<span id="email-hint" class="govuk-hint">Your TRN is between 6 and 7 characters long. Enter your TRN without ‘RP’ letters or a slash ‘/’ symbol.</span>
					<input class="govuk-input govuk-input--width-10" id="trnd" name="trnd" type="text" aria-describedby="trnd" value="{{ data['trnd'] }}">
				</div>

				<div class="govuk-form-group">
					<label class="govuk-label govuk-!-width-three-quarters bold-label" for="fullName">Full name</label>
					<span id="email-hint" class="govuk-hint">Your full name exactly as it appears on the Teaching Regulation Agency records.</span>
					<input class="govuk-input govuk-!-width-three-quarters" id="fullName" name="fullName" type="text" aria-describedby="Full Name" value="{{ data['fullName'] }}">
				</div>

				<div class="govuk-form-group">
					<label class="govuk-label bold-label govuk-!-width-three-quarters" for="dobNumb">Date of birth</label>        
					<div id="passport-issued-hint" class="govuk-hint">For example, 12 11 1990</div>
					<div class="govuk-date-input" id="dob">
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="dob">Day</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['dob-day'] }}">
							</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="dob-month">Month</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['dob-month'] }}">
							</div>
						</div>
						<div class="govuk-date-input__item">
							<div class="govuk-form-group">
								<label class="govuk-label govuk-date-input__label" for="dob-year">Year</label>
								<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['dob-year'] }}">
							</div>
						</div>
					</div>
				</div>

				<div class="govuk-form-group">
					<label class="govuk-label bold-label govuk-!-width-three-quarters" for="NI">National Insurance number (optional)</label>
					<div id="national-insurance-number-hint" class="govuk-hint">
						It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.
					  </div>
					<!-- <span id="nin-hint" class="govuk-hint">This will help us match your details.</span> -->
					<input class="govuk-input govuk-!-width-three-quarters" id="NI" name="NI" type="text" aria-describedby="NI" value="{{ data['NI'] }}">
				</div>

				{{ govukButton({
					text: "Continue"
				}) }}

			</form>
		</div>
	</div>

{% endblock %}