{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = true %}

{% if ((data['dashboard-variation'] == "New") or (data['dashboard-variation'] == "New-2")) %}
	{% if data['neworexistingmentor'] == "existingMentor"  %}	  
		{% set title = '' + data['choose-existing-mentor'] +  ' has been added' %}
	{% else %}
		{% set title = '' + data['participant-fullname'] +  ' has been added' %}
	{% endif %}
{% else %}
	{% if data['neworexistingmentor'] == "existingMentor"  %}	  
		{% set title = 'You have added ' + data['choose-existing-mentor'] +  ' to the 2021 cohort' %}
	{% else %}
		{% set title = 'You have added ' + data['participant-fullname'] +  ' to the 2021 cohort' %}
	{% endif %}
{% endif %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

			{% if ((data['dashboard-variation'] == "New") or (data['dashboard-variation'] == "New-2")) %}		  

				<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
					<h1 class="govuk-panel__title">{{ title }}</h1>
				</div>
			 
				<!-- <p>We have sent an email to {{ data['participant-fullname'] }} asking them to sign in and add any further details we need.</p> -->
				
				<p>We will send {{ data['participant-fullname'] }} an email to add more details such as their TRN (teacher reference number)</p>
				<h2 class="govuk-heading-m">What happens next</h2>
				
				
				<p>When they have added their details we will verify:</p>
				<ul class="govuk-list govuk-list--bullet">
					
					<li>they are a qualified teacher and are eligible for induction</li>
					<li>if anything needs to be checked or updated</li>
				</ul>


				
				<!-- <p>We will verify that they are a qualified teacher and are eligible for induction.</p> -->
				<h2 class="govuk-heading-m">What you can do now</h2>
			 	<ul class="govuk-list govuk-!-margin-bottom-5">
        			<li><a class="govuk-link" href="enter-personal-details?persontypeAction=early careers teacher">Add a new early career teacher</a></li>
					<li><a class="govuk-link" href="new-or-existing-mentor?persontypeAction=mentor">Add a new mentor</a></li>				
					<li><a class="govuk-link" href="cohort-participant-listing">Check your early career teachers (ECT) and mentors</a></li>
      			</ul>


      		{% else %}

      			<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        			<h1 class="govuk-panel__title">{{ title }}</h1>
      			</div>

      			<h2 class="govuk-heading-m">What happens next?</h2>
      			<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
        			<li>they will get an email to sign in and add any further details we need</li>
        			<li>you can view your early career teachers (ECTs) and mentors to see their status</li>
      			</ul>

      			<a class="govuk-button" href="choose-participant-type">Add a new ECT or mentor</a>

      			<p><a href="cohort-participant-listing" class="govuk-link govuk-link--no-visited-state">View your ECTs and mentors</a></p>

      {% endif %}


    </div>
  </div>
{% endblock %}
