{% extends "layout.html" %}

{% block pageTitle %}
  2021 cohort
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
    homepageUrl: "/index",
    serviceName: "Manage training for early career teachers",
    serviceUrl: "/start",
  navigation: [
    {
      href: "#1",
      text: data['school-email-address'],
      active: false
    },
    {
      href: "/sign-out",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block pageNavigation %}
  <a class="govuk-back-link" href="/school-signed-in/fip/fip-choose-cohort">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if (data['estimated-ects'] === undefined) %}


      {% else %}

        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
        {% set html %}
        <h3 class="govuk-notification-banner__heading">
          Estimated number of participants has been updated
        </h3>
        {% endset %}

        {{ govukNotificationBanner({
        html: html,
        type: 'success'
        }) }}

      {% endif %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">2021 cohort</h1>
      <p class="govuk-body-l govuk-!-margin-bottom-8">Use an approved training provider</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            Next steps
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="/school-signed-in/fip/fip-choose-provision">
                  Choose your induction programme
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--green">
                Done
              </strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="/school-signed-in/fip/fip-find-training-provider" aria-describedby="eligibility-status">
                  Sign up with a training provider
                </a>
              </span>
              {% if (data['FIPStatus'] == "inPartnership") %}
                <strong class="govuk-tag app-task-list__tag govuk-tag govuk-tag--green">
                  Done
                </strong>
              {% else %}
                <strong class="govuk-tag app-task-list__tag govuk-tag--yellow">
                  To do
                </strong>
              {% endif %}
            </li>


            {% if (data['schoolParticipantOptions'] === "hasAddedMentors") %}
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    <a class="govuk-link--no-visited-state" href="/school-signed-in/school-add-participants-to-cohort/cohort-participant-listing">Add early career teachers and mentors</a>
                </span>
                <strong class="govuk-tag app-task-list__tag govuk-tag--blue">
                  In progress
                </strong>
              </li>
              {% elseif (data['schoolParticipantOptions'] === "canAddParticipants") %}
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                      <a class="govuk-link--no-visited-state" href="/school-signed-in/school-add-participants-to-cohort/choose-participant-type">Add early career teachers and mentors</a>
                  </span>
                  <strong class="govuk-tag app-task-list__tag govuk-tag--yellow">
                    TO DO
                  </strong>
                </li>
            {% elseif (data['schoolParticipantOptions'] === "cannotAddParticipants") %}
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    <a class="govuk-link--no-visited-state" href="/school-signed-in/fip/fip-add-participants">Add early career teachers and mentors</a>
                </span>
                <strong class="govuk-tag app-task-list__tag govuk-tag--grey">
                  Cannot start yet
                </strong>
              </li>
            {% endif %}


          </ul>
        </li>
      </ol>

    </div>
  </div>

{% endblock %}
