{% extends "layout.html" %}

{% block pageTitle %}
  Sign up with a training provider
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
  homepageUrl: "/start",
  serviceName: "Induction for early career teachers",
  serviceUrl: "/start",
  navigation: [
    {
      href: "#1",
      text: data['school-email-address'],
      active: false
    },
    {
      href: "/sign-out",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
<a class="govuk-back-link" href="/school-signed-in/fip/fip-cohort-detail">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m">2021</span>
      <h1 class="govuk-heading-l">Sign up with a training provider</h1>

      {% if (data['FIPStatus'] == "inPartnership") %}

        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Your provider details</h2>
        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Delivery partner"
              },
              value: {
                text: "XYZ Education LTD."
              }
            },
            {
              key: {
                text: "Lead provider"
              },
              value: {
                text: "Educational Development Trust"
              }
            }
          ]
        }) }}

        <p class="govuk-body">If this doesn’t look right, <a href="/school-challenging-partnership/school-challenge-2">report that your school has been signed up incorrectly</a>.</p>
        </div>


      {% else %}

        <p class="govuk-body">You need to sign a contract with a training provider so they can deliver your programme.</p>
        <p class="govuk-body"><a class="govuk-link--no-visited-state" href="#" aria-describedby="eligibility-status">Find a provider</a></p>
        <h3 class="govuk-heading-m">Updates</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>you'll get an email when the provider has confirmed your contract with the DfE</li>
          <li>this may take a few weeks but this page will automatically update</li>
        </ul>

      {% endif %}

    </div>
  </div>

{% endblock %}
