{% extends "layout.html" %}

{% block pageTitle %}
  Sign up with a training provider
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
    homepageUrl: "/index",
    serviceName: "Manage training for early career teachers",
    serviceUrl: "/start",
  navigation: [
    {
      href: "#1",
      text: data['school-email-address'],
      active: false
    },
    {
      href: "/sign-out",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
<a class="govuk-back-link" href="/school-signed-in/fip/fip-cohort-detail">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {% if (data['FIPStatus'] == "inPartnership") %}

      <span class="govuk-caption-l">2021 cohort</span>
      <h1 class="govuk-heading-xl">Sign up with a training provider</h1>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Your provider details</h2>
        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Delivery partner"
              },
              value: {
                text: "XYZ Education LTD."
              }
            },
            {
              key: {
                text: "Lead provider"
              },
              value: {
                text: "Educational Development Trust"
              }
            }
          ]
        }) }}

        <p class="govuk-body">If this doesn’t look right, <a href="/school-challenging-partnership/school-challenge-2">report that your school has been signed up incorrectly</a>.</p>
        </div>


      {% else %}

      <span class="govuk-caption-l">2021 cohort</span>
      <h1 class="govuk-heading-xl">Have you signed up with a training provider?</h1>

      <p class="govuk-body">The easiest way to sign up to this programme is to contact your local Teaching School Hub.</p>
<p class="govuk-body">They will talk you through how to access this support for your early career teachers and
  mentors. Not sure? <a class="govuk-link" href="https://www.gov.uk/guidance/teaching-school-hubs#find-a-teaching-school-hub">Find your local Teaching School Hub</a>.</p>
<p class="govuk-body">Training providers are also recruiting schools across the country so you may hear from them.</p>

<h2 class="govuk-heading-l">Getting confirmation</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>when you have confirmed an agreement directly with your training provider, they will update the DfE (this may take
    a few weeks)
  </li>
  <li>this page will be automatically updated</li>
</ul>


      {% endif %}

    </div>
  </div>

{% endblock %}
