{% extends "layout.html" %}

{% block pageTitle %}
  2021
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
  homepageUrl: "/index",
  serviceName: "Induction for early career teachers",
  serviceUrl: "/start",
  navigation: [
    {
      href: "#1",
      text: data['school-email-address'],
      active: false
    },
    {
      href: "/sign-out",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
<a class="govuk-back-link" href="/school-signed-in/fip/fip-choose-cohort">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if (data['estimated-ects'] === undefined) %}


      {% else %}

        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
        {% set html %}
        <h3 class="govuk-notification-banner__heading">
          Estimated number of participants has been updated
        </h3>
        {% endset %}

        {{ govukNotificationBanner({
        html: html,
        type: 'success'
        }) }}

      {% endif %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">2021</h1>
      <p class="govuk-body-l govuk-!-margin-bottom-8">Using a training provider funded by the DfE</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            Next steps
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="/school-signed-in/fip/fip-estimated-participants" aria-describedby="eligibility-status">
                  Add estimated numbers of teachers and mentors
                </a>
              </span>
              {% if (data['estimated-ects'] === undefined) %}
                <strong class="govuk-tag app-task-list__tag govuk-tag--yellow">
                  Action required
                </strong>
              {% elseif (data['estimated-ects'] == "") %}
                <strong class="govuk-tag app-task-list__tag govuk-tag--yellow">
                  Action required
                </strong>
              {% else %}
                <strong class="govuk-tag app-task-list__tag">
                  Complete
                </strong>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="/school-signed-in/fip/fip-find-training-provider" aria-describedby="eligibility-status">
                  Sign up with a provider
                </a>
              </span>
              {% if (data['FIPStatus'] == "inPartnership") %}
                <strong class="govuk-tag app-task-list__tag">
                  Complete
                </strong>
              {% else %}
                <strong class="govuk-tag app-task-list__tag govuk-tag--yellow">
                  Action required
                </strong>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="#" aria-describedby="eligibility-status">
                  Read and accept privacy and data policy
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--yellow">
                Action required
              </strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Add teachers and mentors
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--grey">
                Cannot start yet
              </strong>
            </li>

          </ul>
        </li>
      </ol>

    </div>
  </div>

{% endblock %}
