{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Manage your training" %}
{% set pageSection = "Acorn Primary School" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p class="govuk-body-l govuk-!-margin-bottom-5">Check and complete steps for every academic year/cohort</p>

      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Your cohorts</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"> Year </th>
            <th class="govuk-table__header" scope="col"> Programme </th>
            <th class="govuk-table__header" scope="col"> Status </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link--no-visited-state" href="/school-signed-in/fip/fip-cohort-detail">2021</a>
            </td>
            <td class="govuk-table__cell">
              Use an approved training provider
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">
                To do
              </strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
