{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'You cannot add ' + participant.name + ' to another academic year' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p>We cannot add {{ participant.name }} to a different academic year based on the induction start date that you’ve entered.</p>
            <p>Contact us for help to register this person at your school: <a class="govuk-link govuk-link--no-visited-state" href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a></p>

            <p><a class="govuk-link govuk-link--no-visited-state" href="/prelive/schools/participants/">View your ECTs and mentors</a></p>
        </div>
    </div>
{% endblock %}
