{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'Will ' + participant.name + ' use your school’s current training materials?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Materials supplier</h2>
            <p>{{ data.leadProviderMaterials }}</p>



            {% if data['linkaction'] == "change-programme-check" %}
                <form class="form" action="../details" method="post" >
            {% else %}

                {% if data.participants[id].transferProgramme == "no"%}
                    <form class="form" action="check-your-answers" method="post" >
                {% else %}
                    <form class="form" action="check-your-answers" method="post" >
                {% endif %}
            {% endif %}


                    {{ govukRadios({
                        classes: "govuk-radios--inline",
                        fieldset: {
                            legend: {
                                text: pageHeading,
                                isPageHeading: true,
                                classes: "govuk-visually-hidden"
                            }
                        },
                        items: [
                            { value: "Yes", text: "Yes" },
                            { value: "No, redirect(which-supplier)", text: "No" }
                        ]
                    } | decorateFormAttributes(['participants', id, 'usingCurrentMaterials']) ) }}



                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
