{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data['inductionProgramme'] == "CIP" %}
<!-- {% if data.participants[id].role == "Mentor" %}
        {% set pageHeading = 'Will ' + participant.name + ' continue mentoring ECTs using the same materials?' %}
    {% else %}
        {% set pageHeading = 'Will ' + participant.name + ' continue with their current materials?' %}
    {% endif %} -->
{% elif data['inductionProgramme'] == "FIP" %}
    {% set pageHeading = 'Will ' + participant.name + ' continue with their current training programme?' %}
{% endif %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            {% if data['inductionProgramme'] == "CIP" %}
               
                {% if data.participants[id].transferProgramme == "differentLPandDP" %}
                    
                    <p>These are different materials to those used by other ECTs and mentors at your school.</p>
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Materials supplier</h2>
                    <p>{{ data.leadProviderMaterialsTransfer }}</p>
                    <form class="form" action="current-training-materials" method="post" >
                
                {% else %}
                
                    <p>These are the same materials used by other ECTs and mentors at your school</p>
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Materials supplier</h2>
                    <p>{{ data.leadProviderMaterials }}</p>
                    <form class="form" action="which-supplier" method="post" >
                
                {% endif %}

                        {{ govukRadios({
                            classes: "govuk-radios--inline",
                            fieldset: {
                                legend: { text: pageHeading, isPageHeading: true, classes: "govuk-visually-hidden" }
                            },
                            items: [
                                { value: "Yes, redirect(check-your-answers)", text: "Yes" },
                                { value: "No", text: "No" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'usingCurrentTrainingMaterials']) ) }}

            {% elif data['inductionProgramme'] == "FIP" %}
                

                {% if data.participants[id].transferProgramme == "differentDP" %}
                    {# DIFFERENT FIP #}
                    <p>This is the same lead provider, but a different delivery partner to other ECTs and mentors at your school.</p>
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Lead provider</h2>
                    <p class="govuk-!-margin-bottom-1">{{ data.leadProvider }}</p>
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Delivery partner</h2>
                    <p>{{ data.deliveryPartnerTransfer }}</p>
                    <form class="form" action="current-providers" method="post" >

                {% elif data.participants[id].transferProgramme == "differentLPandDP" %}

                
                    <p>This is a different programme to other ECTs and mentors at your school.</p>
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Lead provider</h2>
                    <p class="govuk-!-margin-bottom-1">{{ data.leadProviderTransfer }}</p>
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Delivery partner</h2>
                    <p>{{ data.deliveryPartnerTransfer }}</p>
                    <form class="form" action="current-providers" method="post" >
                
                {% else %}

                
                    <p>This is the same programme, lead provider and delivery partner as other ECTs and mentors at your school.</p>
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Lead provider</h2>
                    <p class="govuk-!-margin-bottom-1">{{ data.leadProvider }}</p>
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Delivery partner</h2>
                    <p>{{ data.deliveryPartner }}</p>
                    <form class="form" action="provider" method="post" >
                {% endif %}
                        
                        {{ govukRadios({
                            classes: "govuk-radios--inline",
                            fieldset: {
                                legend: { text: pageHeading, isPageHeading: true, classes: "govuk-visually-hidden" }
                            },
                            items: [
                                { value: "Yes, redirect(check-your-answers)", text: "Yes" },
                                { value: "No", text: "No" }
                            ]
                        } | decorateFormAttributes(['participants', id, 'usingCurrentTrainingProgramme']) ) }}

            {% endif %}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
