{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data['inductionProgramme'] == "CIP" %}
    {% set pageHeading = 'Will ' + participant.name + ' be training with ' + data.leadProviderMaterials + '?' %}
{% else %}
    {% set pageHeading = 'Will ' + participant.name + ' be training with ' + data.leadProvider + '?' %}
{% endif %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <!-- {% if data['cya-action'] == "change-provider" %}
            <form class="form" action="../details" method="post" >
            {% else %} -->
            <form class="form" action="check-your-answers" method="post" >
            <!-- {% endif %} -->

            {% if data['inductionProgramme'] == "FIP" %}

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    fieldset: {
                    legend: {
                        text: "pageHeading",
                        isPageHeading: true,
                        classes: "govuk-visually-hidden"
                    }
                    },
                    items: [
                        { value: "Yes", text: "Yes" },
                        { value: "No, redirect(which-provider)", text: "No" }
                    ]
                } | decorateFormAttributes(['participants', id, 'usingCurrentProvider']) ) }}

            {% elif data['inductionProgramme'] == "CIP" %}

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    fieldset: {
                    legend: {
                        text: "pageHeading",
                        isPageHeading: true,
                        classes: "govuk-visually-hidden"
                    }
                    },
                    items: [
                        { value: "Yes", text: "Yes" },
                        { value: "No, redirect(which-supplier)", text: "No" }
                    ]
                } | decorateFormAttributes(['participants', id, 'usingCurrentProvider']) ) }}

            {% endif %}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
