{% extends "layout.html" %}
{% set showBackLink = false %}
<!-- Not sure what this line is doing? -->
{% set schoolSignedIn = true %}


{% set pageHeading = "Manage your training" %}
{% set pageSection = "{Name of school}" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">								

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			<p><a class="govuk-link govuk-link--no-visited-state" href="../school-signed-in/school-add-participants-to-cohort/cohort-participant-listing?dashboard-variation=New">Your early career teachers and mentors</a></p>
      	
      		<!-- <h2 class="govuk-heading-m">2021 cohort</h2> -->
			<dl class="govuk-summary-list">
				
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Cohort year</dt>					
				  	<dd class="govuk-summary-list__value">2021</dd>
				  	<dd class="govuk-summary-list__actions"></dd>
				</div>				
				
				<!-- Using DfE accredited materials -->
				{% if data['programme'] == "cip" %}
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Programme</dt>					
						<dd class="govuk-summary-list__value">DfE accredited materials</dd>
						<dd class="govuk-summary-list__actions"><a class="govuk-link" href="../school-signed-in/cip/cip-choose-provision">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Materials</dt>
						<dd class="govuk-summary-list__value">
							{% if data['cip-course-choice'] %} 
								{{ data['cip-course-choice'] }}
							{% endif %}
						</dd>
						<dd class="govuk-summary-list__actions">
							{% if data['cip-course-choice'] %}  
								<a class="govuk-link" href="../school-signed-in/cip/cip-course-decision">Change<span class="govuk-visually-hidden"> accredited materials</span></a>
							{% else %}
								<a class="govuk-link" href="../school-signed-in/cip/cip-which-course">Add<span class="govuk-visually-hidden"> accredited materials</span></a>								
							{% endif %}
						</dd>						
					</div>										
				
				<!-- Using an approved training provider -->
				{% elif data['programme'] == "fip" %}
								
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Programme</dt>					
						<dd class="govuk-summary-list__value">Training provider, funded by the DfE</dd>
						<dd class="govuk-summary-list__actions"><a class="govuk-link" href="../school-signed-in/fip/fip-choose-provision">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Training provider</dt>
						<dd class="govuk-summary-list__value"></dd>
						<dd class="govuk-summary-list__actions">
							{% if data['cip-course-choice'] %}  
								<a class="govuk-link" href="../school-signed-in/fip/fip-find-training-provider">Change<span class="govuk-visually-hidden"> training provider</span></a>	
							{% else %}
								<a class="govuk-link" href="../school-signed-in/fip/fip-find-training-provider">Sign up<span class="govuk-visually-hidden"> to a training provider</span></a>							
							{% endif %}
						</dd>
					</div>					

				<!-- Do your own programme -->
				{% elif data['programme'] == "dyo" %}

					<!-- This part needs checking what sits around it to decide what is added here of the 2 options -->
					{% if data['sit-nqts'] == "nqtNo" %}
						<!-- DYO -->
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Programme</dt>					
							<dd class="govuk-summary-list__value">Expecting no early career teachers</dd>
							<dd class="govuk-summary-list__actions"><a class="govuk-link" href="../school-signed-in/dyo/dyo-cohort-nextsteps-noect">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
						</div>
					{% else %}
						<!-- DYO No ECT -->
						<div class="govuk-summary-list__row">
							<dt class="govuk-summary-list__key">Programme</dt>					
							<dd class="govuk-summary-list__value">Deliver your own</dd>
							<dd class="govuk-summary-list__actions"><a class="govuk-link" href="../school-signed-in/dyo/dyo-cohort-nextsteps">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
						</div>
					{% endif %}									

				{% endif %}
					
					<!-- Show amount of ECT and mentors -->
					<!-- <div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">ECTs and mentors</dt>					
						<dd class="govuk-summary-list__value">12</dd>
						<dd class="govuk-summary-list__actions"><a class="govuk-link" href="school-add-participants-to-cohort/cohort-participant-listing?dashboard-variation=New">View<span class="govuk-visually-hidden"> programme</span></a></dd>
					</div> -->
				</dl>

				{% if data['cip-course-choice'] %}						
				<p class="govuk-!-padding-top-3">Use these handbooks and training materials to help you plan your school’s  <a href="../../induction-tutor-materials/education-development-trust/year-one">{{ data['cip-course-choice'] }}</a> induction programme.</p>
				{% endif %}


			<p><br><br></p>

			<p>Temp links just for testing </p>
			<ul class="govuk-list">
				<li><a href="manage-your-training?programme=cip">CIP</a>
				| <a href="manage-your-training?programme=fip">FIP</a>
				| <a href="manage-your-training?programme=dyo">DYO</a></li>
			</ul>
				
	
		</div>
  	</div>
{% endblock %}
