{% extends "layout.html" %}
{% set pageHeading = "Nominate an induction tutor for [school name]" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p class="govuk-body">Your induction tutor will use our service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>choose how your school wants to run an induction</li>
        <li>complete some steps to set up a programme</li>
        <li>receive any further updates</li>
      </ul>

      <h3 class="govuk-heading-m">Who you can nominate</h3>

<p>Schools need to choose the best person to do these tasks.</p>
<p>For example, you can nominate someone who:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>coordinates the training, support and assessment that early career teachers receive at your school</li>
  </ul>
  <p>Or</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>can confirm details for your programme, such as study materials or training providers and information about your ECTs and mentors</li>
    </ul>
    <p>Or</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>wants to manage a number of schools, for example, if you’re supported by a MAT (multi-academy trust) or federation</li>
      </ul>

      <p>If you think this is your role, you can nominate yourself.</p>

      <form class="form" action="who-do-you-want-to-nominate" method="post" class="govuk-!-margin-bottom-8">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
