{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Choose your induction programme" %}
{% set pageSection = "2021 to 2022 cohort" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p class="govuk-body-l">
        <strong>You have chosen to:</strong>
        deliver your own programme using the DfE accredited materials
      </p>


      <h2 class="govuk-heading-m">Changing your programme</h2>
      <p class="govuk-body">If your school wants to use a training provider, funded by the DfE, you should:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>contact your local Teaching School Hub</li>
      </ul>
      <p class="govuk-body">
        They will talk you through how to access this support for your early career teachers and mentors.
        Not sure? <a class="govuk-link" href="https://www.gov.uk/guidance/teaching-school-hubs#find-a-teaching-school-hub">Find your local Teaching School Hub</a>.
      </p>


      <p class="govuk-body">
        If your school has decided to design and deliver your own programme based on the early career framework (ECF), you need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>contact: <a class="govuk-link govuk-link--no-visited-state" href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a></li>
      </ul>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          If you change your programme, your early career teachers and mentors will lose their progress on the service.
        </strong>
      </div>
    </div>
  </div>
{% endblock %}
