{% extends "layout.html" %}
{% set showPhaseBanner = false %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block content %}
<div class="pseudo-bg"></div>
<div class="email-metadata">
  <p><strong>From: </strong>Department for Education: Teacher Continuing Professional Development </p>
  <p><strong>Subject: </strong>Set up your NQT induction (Early Career Framework)</p>
</div>
<div class="pseudo-email-template">
<p>[school name],</p>

<p>From September 2021, statutory induction is changing. The ‘NQT year’ will become a 2 year induction programme for early career teachers (ECTs).</p>
<p>These programmes must be based on the early career framework (ECF), designed to help these new teachers develop a successful career. </p>

<p>There are 3 approaches schools can choose from. These are compliant with the statutory changes:</p>

    <ol class="govuk-list govuk-list--number">
      <li>A training provider leads the programme, funded by the Department for Education (DfE).</li>
      <li>The school delivers their own programme using DfE accredited materials.</li>
      <li>The school designs and delivers their own programme based on the ECF.</li>
    </ol>

<p>We’ve created an online service to help schools access the support offered by the Department of Education (DfE) and set up their programme.</p>

<h2 class="govuk-heading-m">What schools can do now</h2>
<p>If you are expecting any early career teachers in September, nominate your induction tutor.</p>
<p>An ‘induction tutor’ is someone at your school who usually manages statutory inductions for early career teachers.</p>
<p>They coordinate the training, support and assessment these new teachers receive. If you think this is your role, you can nominate yourself.</p>

<p>Nominate your induction tutor:</p>

<p><a href="/school-nominate-school-lead/nominate-school-lead-options">https://manage-training-for-early-career-teachers.education.gov.uk/nominations/start?token=22345678as9fijhgt</a></p>
<p>(Do not share this link. It is set up for your school only)</p>

<h2 class="govuk-heading-m">When do schools need to do this?</h2>
<p>Schools should nominate an induction tutor as soon as possible, so they receive updates directly.</p>
<p>Induction tutors need to set up their programme before their early career teachers start their induction.</p>
<p>For example, if they are starting in September 2021, these steps must be completed by then.</p>

<h2 class="govuk-heading-m">Where to get more information</h2>
<p class="govuk-body">We have published guidance on:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the new statutory changes</li>
  <li>the 3 approaches schools can take to run their induction</li>
  <li>how programmes are funded and more</li>
</ul>
<p><a class="govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview">https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview</a></p>
<p>Schools can also contact their local Teaching School Hub or appropriate body. They can give you more information on the different approaches.</p>
<p>Not sure? Find your nearest hub:</p>
<p><a class="govuk-link--no-visited-state" href="https://www.gov.uk/guidance/teaching-school-hubs#find-a-teaching-school-hub">https://www.gov.uk/guidance/teaching-school-hubs#find-a-teaching-school-hub</a></p>

<p>If you are part of a MAT (multi academy trust), you may also want to consult with them.</p>
<p>Teacher Continuing Professional Development<br/>
<span style="color:#888888;">Department for Education</span></p>

</div>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
