{% extends "layout.html" %}

{% block pageTitle %}
Induction lead or tutor nominated
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
  homepageUrl: "/index",
  serviceName: "Manage training for early career teachers",
  serviceUrl: "/start"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-margin-bottom-8">

      {{ govukPanel({
        titleText: "Induction lead or tutor nominated"
      }) }}
      </div>

      <h3 class="govuk-heading-m">What happens next</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>the person you nominated will be notified</li>
        <li>they can sign in and manage your induction programme</li>
        <li>they will receive any future notifications about the service</li>
      </ul>

      <p class="govuk-body skip-to">Skip to: <a href="/school-lead-notification-and-sign-in/notification-of-school-lead">email that the Induction Tutor receives</a></p>

    </div>
  </div>

{% endblock %}
