{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "You cannot use this service yet" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      	<p>If your school induction tutor has added your information as an early career teacher (ECT) or mentor, we’ll contact you soon.</p>
		  
    
	</div>
  </div>
{% endblock %}
