
            <h3 class="govuk-heading-m">Assign a mentor</h3>
            <!-- <p>How a school induction tutor adds ECTs and Mentors to a cohort. <span class="miro-link"><a href="https://miro.com/app/board/o9J_ldVNkCY=/?moveToWidget=3074457356227023262&cot=14">User journey on Miro</a></span></p> -->

            <ul class="govuk-list govuk-list--bullet">                
                <li><a class="govuk-link" href="/schools/participants/add/choose-mentor" >Who will {FULL NAME}’s mentor be?</a>
                    <ul class="govuk-list govuk-list--bullet light-grey-listing">
                        <li><a class="govuk-link end" href="/schools/participants/add/choose-mentor" >You cannot assign a mentor to this ECT</a></li>
                    </ul>
                </li>
                <li><a class="govuk-link" href="/schools/participants/add/choose-mentor" >You cannot assign a mentor to this ECT</a></li>
                
            </ul>
            