
<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="/schools/participants/" >Your ECTs and mentors</a></li>
    <li><a class="govuk-link" href="/schools/participants/add/who-do-you-want-to-add" >Who do you want to add?</a></li>        
    <li><a class="govuk-link" href="/schools/participants/details" >[NAME] - Details page</a>
        <ul class="govuk-list govuk-list--bullet light-grey-listing">
            <li><a class="govuk-link" href="/schools/participants/change/why-change-name" >Why do you need to edit {NAME}’s name?</a></li>            
            <li><a class="govuk-link" href="/schools/participants/change/name" >What should we edit {NAME}’s name to?</a></li> 
            <li><a class="govuk-link end" href="/schools/participants/change/cannot-change" >You cannot make that change by editing {NAME}’s name</a></li> 
            <li><a class="govuk-link" href="/schools/participants/change/confirmation" >{NAME}’s name has been edited to {NEW NAME}</a></li>             
        </ul>

        <ul class="govuk-list govuk-list--bullet light-grey-listing">
            <li><a class="govuk-link" href="/schools/participants/change/email-address" >What’s {NAME}’s correct email address?</a></li>                        
            <li><a class="govuk-link" href="/schools/participants/change/confirmation" >{NAME}’s email address has been updated</a></li>             
        </ul>

        <ul class="govuk-list govuk-list--bullet light-grey-listing">
            <li><a class="govuk-link" href="/schools/participants/change/induction-start-date" >What’s {NAME}’s correct induction start date?</a></li>                        
            <li><a class="govuk-link" href="/schools/participants/change/confirmation" >{NAME}’s induction start date has been changed</a></li>             
        </ul>
    </li>        
</ul>

