<h3 class="govuk-heading-m">Transfer out an ECT or mentor</h3>
<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="/schools/participants/transfer-out/index" >Is {NAME} transferring to another school where they’ll continue their induction?</a></li>
    <li><a class="govuk-link" href="/schools/participants/transfer-out/leaving-date" >When is {NAME} leaving your school?</a></li>        
    <li><a class="govuk-link" href="/schools/participants/transfer-out/check-your-answers" >Check your answers</a></li>        
    <li><a class="govuk-link" href="/schools/participants/transfer-out/confirmation" >{NAME}’s leaving date has been submitted</a></li>        
</ul>



