<h2 class="govuk-heading-m">Teacher or mentor validation</h2>
<p>The nominated ECT or mentor is notified via email of a registration action in order to sign in to access materials. </p>
<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="/emails/particpant-email" >Email: Add your details ready for your early career teacher training programme</a></li>
    <li><a class="govuk-link" href="/schools/participants/register/">Register for DfE-funded early career teacher training</a>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
            <li><a class="govuk-link" href="/schools/participants/register/trn-guidance" >Get a teacher reference number (TRN)</a></li>
        </ul>
    </li>
    <li><a class="govuk-link" href="/sign-in" >Sign in</a>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2 light-grey-listing">
            <li><a class="govuk-link" href="/check-your-email" >Check your email</a></li>
            <li><a class="govuk-link" href="/emails/link-to-sign-in" >Email: Sign in to the Manage early career teacher training service</a></li>
            <li><a class="govuk-link" href="/signed-in" >You’re now signed in</a></li>                
        </ul>
    </li>
    
    <li><a class="govuk-link" href="/privacy-policy?registering=Yes" >Privacy policy</a></li>
    <li><a class="govuk-link" href="/schools/participants/register/teacher-reference-number" >What’s your teacher reference number (TRN)?</a>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2 light-grey-listing">
        <li><a class="govuk-link" href="/schools/participants/register/national-insurance-number" >What’s your National Insurance number??</a></li>
    </ul>
    </li>
    <li><a class="govuk-link" href="/schools/participants/register/date-of-birth" >What’s your date of birth?</a></li>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2 light-grey-listing">
        <li><a class="govuk-link" href="/schools/participants/register/cannot-find-your-details" >We cannot find your details</a></li>
        <li><a class="govuk-link" href="/schools/participants/register/confirm-name" >Is this the name you used when you started your initial teacher training (ITT)?</a></li>
        <li><a class="govuk-link" href="/schools/participants/register/name" >What was your full name when you started your intial teacher training?</a></li>
        <li><a class="govuk-link" href="/schools/participants/register/cannot-find-your-details?register-validate=noMatch" >We still cannot find your details</a></li>
    </ul>
    <li><a class="govuk-lin complete" href="/schools/participants/register/confirmation" >You’re registered and eligible for ECF-based training (multiple variations)</a></li>
</ul>