{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'You cannot make that change by editing ' + participant.name +'’s name' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            {% if data.participants[id].reasonChangeName == "Registered by mistake" %}

                {# {% if data.participants[id].validated == "Yes" %} #}

                    {% if data.participants[id].type == "ect" %}

                        {% if data.participants[id].programme == "FIP" %}

                            <p>As {{ participant.name }} has been registered with a training provider, you’ll need to contact the lead provider {{ data.leadProvider }} to withdraw them.</p>
                            <p>{{ data.leadProvider }} will confirm the change directly with us. We’ll then remove {{ participant.name }}’s information from your account.</p>
                            <p><a class="govuk-lin govuk-link--no-visited-statek" href="/schools/manage-your-training">Return to manage your training</a></p>

                        {% elif data.participants[id].programme == "CIP" %}

                            <p>If {{ participant.name }} should not have been registered on the service, all of their information must be removed.</p>
                            <p>We'll need to do this for you, as their information has already been processed as part of our funding eligibility checks.</p>
                            <p>Email our support team so we can remove this teacher's information: <a href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a></p>


                        {% endif %}

                    {% elif data.participants[id].type == "mentor" %}


                    {% endif %}

                {# {% else %} #}

                        {% if data.participants[id].type == "ect" %}

                            <p>If {{ participant.name }} should not have been registered, you need to <a href="/schools/participants/{{ id }}/remove/confirm">need to remove all their information from this service</a>.</p>

                        {% elif data.participants[id].type == "mentor" %}


                        {% endif %}


                {# {% endif %} #}




             {% elif data.participants[id].reasonChangeName == "Not started employment" %}

                {# {% if data.participants[id].validated == "Yes" %} #}




                    {% if data.participants[id].programme == "FIP" %}

                        {% if data.participants[id].type == "ect" %}

                            <h2 class="govuk-heading-m">Contact the lead provider to withdraw this ECT</h2>
                            <p>If you want to replace {{ participant.name }} because this ECT will not be serving their induction at your school, you’ll need to contact the lead provider {{ data.leadProvider }} to withdraw them.</p>
                            <p>{{ data.leadProvider }} will confirm the change directly with us. We’ll then remove {{ participant.name }}’s information from your account.</p>

                            <h2 class="govuk-heading-m">Add the other ECT to this service</h2>
                            <p>You need to do this separately so that:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>we can check their eligibility for DfE funding for ECF-based training, mentor support and time off timetable</li>
                                <li>their training can be recorded against the correct teacher reference number (TRN)</li>
                            </ul>
                            <p><a href="/schools/participants/add/">Add the new ECT</a></p>

                        {% elif data.participants[id].type == "mentor" %}

                            <h2 class="govuk-heading-m">Contact the lead provider to withdraw this mentor</h2>
                            <p>If you want to replace {{ participant.name }} because this mentor will not be serving their induction at your school, you’ll need to contact the lead provider {{ data.leadProvider }} to withdraw them.</p>
                            <p>{{ data.leadProvider }} will confirm the change directly with us. We’ll then remove {{ participant.name }}’s information from your account.</p>

                            <h2 class="govuk-heading-m">Add the other mentor to this service</h2>
                            <p>You need to do this separately so we can check their eligibility for DfE funding.</p>
                            <p><a href="/schools/participants/add/">Add the new mentor</a></p>

                        {% endif %}


                    {% elif data.participants[id].programme == "CIP" %}

                        {% if data.participants[id].type == "ect" %}

                            <h2 class="govuk-heading-m">Contact our support team to remove this ECT</h2>
                            <p>If you want to replace {{ participant.name }} because this ECT will not be serving their induction at your school, first all of {{ participant.name }}’s information must be removed.</p>
                            <p>We'll need to do this for you, as their information has already been processed as part of our funding eligibility checks.</p>
                            <p>Email our support team so we can remove this mentor's information: <a href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a></p>

                            <h2 class="govuk-heading-m">Add the other ECT to this service</h2>
                            <p>You need to do this separately so that:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>we can check their eligibility for DfE funding for ECF-based training, mentor support and time off timetable</li>
                                <li>their training can be recorded against the correct teacher reference number (TRN)</li>
                            </ul>
                            <p><a href="/schools/participants/add/">Add the new ECT</a></p>

                        {% elif data.participants[id].type == "mentor" %}

                            <h2 class="govuk-heading-m">Contact our support team to remove this mentor</h2>
                            <p>If you want to replace {{ participant.name }} because this teacher will not be mentoring at your school, first all of {{ participant.name }}’s information must be removed.</p>
                            <p>We'll need to do this for you, as their information has already been processed as part of our funding eligibility checks.</p>
                            <p>Email our support team so we can remove this mentor's information: <a href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a></p>

                            <h2 class="govuk-heading-m">Add the other mentor to this service</h2>
                            <p>You need to do this separately so we can check their eligibility for DfE funding.</p>
                            <p><a href="/schools/participants/add/">Add the new mentor</a></p>

                        {% endif %}


                    {% endif %}





            {% endif %}


        </div>
    </div>
{% endblock %}
