{% extends "layout.html" %}
{% set showBackLink = false %}



{% set pageHeading = " The email address for NAME has been changed" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ govukPanel({
                titleText: pageHeading,
                classes: "govuk-!-margin-bottom-7"
            }) }}

            <p><a class="govuk-link govuk-link--no-visited-state" href="../../participants/?linkaction=">Return to your ECTs and mentors</a></p>
        </div>
    </div>

{% endblock %}
