{% extends "layout.html" %}
{% set showBackLink = false %}



{% set pageHeading = "NAME'S email address has been changed" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<p>BRIAN - the pageHeading text for a name change is: NAME'S name has been changed</p>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ govukPanel({
                titleText: pageHeading,
                classes: "govuk-!-margin-bottom-7"
            }) }}

            <p><a class="govuk-link govuk-link--no-visited-state" href="../../participants/?linkaction=">Return to your ECTs and mentors</a></p>
        </div>
    </div>

{% endblock %}
