{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if not ((data['participant-1-mentor-added'] == "Yes") or (data['participant-2-mentor-added'] == "Yes") or ( data['participant-1-sit-mentor-added'] == "Yes" )) %}
	{% set pageHeading = 'You cannot assign a mentor to this ECT' %}
{% else %}
	{% if data['active-user'] == "ect-1" %}
    	{% set pageHeading = 'Who’s ' + data['participant-1-name'] + '’s mentor?' %}
  	{% elif data['active-user'] == "ect-2" %}
		{% set pageHeading = 'Who’s ' + data['participant-2-name'] + '’s mentor?' %}
	{% elif data['active-user'] == "mentor-1" %}
		{% set pageHeading = 'Who’s ' + data['participant-1-mentor-name'] + '’s mentor?' %}
	{% elif data['active-user'] == "mentor-2" %}
		{% set pageHeading = 'Who’s ' + data['participant-2-mentor-name'] + '’s mentor?' %}
	{% elif data['active-user'] == "sitMentor" %}
		{% set pageHeading = 'Who’s ' + data.sitName + '’s mentor?' %}
	{% else %}
		{% set pageHeading = 'Who’s this person’s mentor?' %}
	{% endif %}
{% endif %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

        	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      		{% if not ((data['participant-1-mentor-added'] == "Yes") or ( data['participant-1-sit-mentor-added'] == "Yes" )) %}
        	
				<p>You have not added any mentors.</p>
        <!-- Brian - I edited this to remove the word "cohort". As far as I know, we don't use it in user-facing content. -->
        		<p><a class="govuk-link govuk-link--no-visited-state" href="name?participantType=mentor">Add a new mentor</a></p>

      		{% else %}

      			<form class="form" action="confirmation" method="post" >

					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-visually-hidden">  Who’s {{data['participant-1-name'] }}’s mentor?</legend>
							<div class="govuk-radios">
							
							{% if data['active-user'] == "ect-1" %}

								{% if data['participant-1-mentor-added'] == "Yes" %}
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="participant-1-mentor" name="participant-1-mentor" type="radio" value="{{ data['participant-1-mentor-name'] }}">
									<label class="govuk-label govuk-radios__label" for="participant-1-mentor">{{ data['participant-1-mentor-name'] }}</label>
								</div>
								{% endif %}

								{% if data['participant-2-mentor-added'] == "Yes" %}
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="participant-1-mentor" name="participant-1-mentor" type="radio" value="{{ data['participant-2-mentor-name'] }}">
									<label class="govuk-label govuk-radios__label" for="participant-1-mentor">{{ data['participant-2-mentor-name'] }}</label>
								</div>
								{% endif %}

								{% if data['participant-1-sit-mentor-added'] == "Yes" %}
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="participant-1-mentor" name="participant-1-mentor" type="radio" value="{{ data.sitName }}">
									<label class="govuk-label govuk-radios__label" for="participant-1-mentor">{{ data.sitName }}</label>
								</div>
								{% endif %}		
								
							{% elif data['active-user'] == "ect-2" %}

								{% if data['participant-1-mentor-added'] == "Yes" %}
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="participant-2-mentor" name="participant-2-mentor" type="radio" value="{{ data['participant-1-mentor-name'] }}">
									<label class="govuk-label govuk-radios__label" for="participant-2-mentor">{{ data['participant-1-mentor-name'] }}</label>
								</div>
								{% endif %}

								{% if data['participant-2-mentor-added'] == "Yes" %}
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="participant-2-mentor" name="participant-2-mentor" type="radio" value="{{ data['participant-2-mentor-name'] }}">
									<label class="govuk-label govuk-radios__label" for="participant-2-mentor">{{ data['participant-2-mentor-name'] }}</label>
								</div>
								{% endif %}

								{% if data['participant-1-sit-mentor-added'] == "Yes" %}
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="participant-2-mentor" name="participant-2-mentor" type="radio" value="{{ data.sitName }}">
									<label class="govuk-label govuk-radios__label" for="participant-2-mentor">{{ data.sitName }}</label>
								</div>
								{% endif %}	

							{% endif %}

							</div>
						</fieldset>
					</div>


        <!-- <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-visually-hidden">  Who’s {{data['participant-1-name'] }}’s mentor?</legend>
            <div class="govuk-radios">

              {% if data['participant-1-mentor-added'] == "Yes" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="who-is-mentor" name="who-is-mentor" type="radio" value="{{ data['participant-1-mentor-name'] }}">
                <label class="govuk-label govuk-radios__label" for="who-is-mentor">{{ data['participant-1-mentor-name'] }}</label>
              </div>
              {% endif %}

              {% if data['participant-1-sit-mentor-added'] == "Yes" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="who-is-mentor" name="who-is-mentor" type="radio" value="{{ data.sitName }}">
                <label class="govuk-label govuk-radios__label" for="who-is-mentor">{{ data.sitName }}</label>
              </div>
              {% endif %}

              {% if not ((data['linkaction'] == "change-mentor") or (data['linkaction'] == "change-mentor-details")) %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="who-is-mentor-2" name="who-is-mentor" type="radio" value="I’ll assign a mentor later">
                <label class="govuk-label govuk-radios__label" for="who-is-mentor-2">I’ll asign a mentor later</label>
              </div>
              {% endif %} -->
            

        {{ govukButton({
          text: "Continue"
        }) }}
          </form>

      {% endif %}

    </div>
  </div>

{% endblock %}
