{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'What should we edit ' + participant.name + '’s name to?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <form class="form" action="confirmation" method="post">

                {{ govukInput({
                    label: {
                        text: pageHeading,
                        classes: "govuk-visually-hidden",
                        isPageHeading: false
                    },
                    classes: "govuk-!-width-two-thirds"
                } | decorateFormAttributes(['participants', id, 'nameNew']) ) }}
                

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
