{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'What should we change their name to?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <form class="form" action="confirmation" method="post">

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-visually-hidden" for="event-name">Full name</label>
                    {% if data['participantType'] == "mentor" %}
                        <input class="govuk-input govuk-!-width-two-thirds" id="participant-fullname-mentor" name="participant-fullname-mentor" type="text" value="{{ data['participant-fullname-mentor'] }}" >
                    {% else %}
                        {% if data['ect-participant-added'] %}
                            <input class="govuk-input govuk-!-width-two-thirds" id="participant-fullname-2" name="participant-fullname-2" type="text" value="{{ data['participant-fullname-2'] }}" >
                        {% else %}
                            <input class="govuk-input govuk-!-width-two-thirds" id="participant-fullname" name="participant-fullname" type="text" value="{{ data['participant-fullname'] }}" >
                        {% endif %}
                    {% endif %}
                </div>

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
