{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'What should we change their name to?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <form class="form" action="confirmation" method="post">

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-visually-hidden" for="event-name">Full name</label>
                    
                    {% if data['active-user'] == "ect-1" %}
                    <input class="govuk-input govuk-!-width-two-thirds" id="participant-1-name" name="participant-1-name" type="text" value="" >
                    {% elif data['active-user'] == "ect-2" %}
                    <input class="govuk-input govuk-!-width-two-thirds" id="participant-2-name" name="participant-2-name" type="text" value="" >
                    {% elif data['active-user'] == "mentor-1" %}
                    <input class="govuk-input govuk-!-width-two-thirds" id="participant-1-mentor-name" name="participant-1-mentor-name" type="text" value="" >
                    {% elif data['active-user'] == "mentor-2" %}
                    <input class="govuk-input govuk-!-width-two-thirds" id="participant-2-mentor-name" name="participant-2-mentor-name" type="text" value="" >
                    {% elif data['active-user'] == "sitMentor" %}
                    <input class="govuk-input govuk-!-width-two-thirds" id="participant-1-sitmentor-name" name="participant-1-sitmentor-name" type="text" value="" >
                    {% else %}
                        <input class="govuk-input govuk-!-width-two-thirds" id="random-name" name="random-name" type="text" value="" >
                    {% endif %}
                                                                                                                    
                </div>

                <!-- Clears the reason so can be used again -->
                <input type="hidden" name="change-name-reason" id="change-name-reason" value="" />
                <input type="hidden" name="change-email-reason" id="change-email-reason" value="" />


                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
