{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = true %}

{% set pageHeading = "You are not expecting any early career teachers this year" %}
{% set pageSection = "2021/22 cohort" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p class="govuk-body-l">If you employ early career teachers later this year, you can nominate an induction tutor to set up your programme.</p>



      <p class="govuk-body"><a href="https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview">Nominate an induction tutor</a></p>

  </div>
{% endblock %}
