{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Check your email" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
      
      		<p>If you have an account, we’ve sent you a link to sign in.</p>
      		
			<h2 class="govuk-heading-m">If you do not get an email</h2>
      		<ul class="govuk-list govuk-list--bullet">
            <li>check your spam or junk folder</li>
            <li>try signing in again, making sure your email address does not include any spaces</li>
        		<li>if you’re not registered, <a class="govuk-link" href="how-to-get-an-account">find out how to get an account</a></li>
				<li>if you still need help, contact us: <a href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a></li>
      		</ul>
      		
        	<p class="govuk-body skip-to">Skip to: <a href="emails/link-to-sign-in">Example email</a></p>      		
			
    	</div>
  	</div>
{% endblock %}
