{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "ECF Register and Partner" %}
{% set pageSection = "Archived prototype work" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p>Use this service to manage a school’s statutory induction programme for early career teachers.</p>

      	<ul class="govuk-list govuk-body-s">
            <li>Last updated: 14 September 2021</li>
            <li>Prototype version: {{releaseVersion}}</li>
        </ul>


        <h2 class="govuk-heading-m">Sprint 20</h2>
		    <p>This sprint will be focusing on further work on delete participant journey, the not eligible for FIP journey as well as more work with the various dashboards.</p>

      

        {{ govukButton({
          text: "Page by page listings and scenarios",
          href: "listings-20"          
        }) }}


        <p><a class="govuk-link govuk-link--no-visited-state" href="../index">Return to main service page</a></p>
        
    </div>
  </div>
{% endblock %}
