{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Sign in" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      	<form class="form" action="check-your-email" method="post">
			
			{{ govukInput({
				label: {
					text: "Email address"
				},
				classes: "govuk-!-width-two-thirds",
				id: "sign-in-email-address",
				name: "sign-in-email-address"
			}) }}

			{{ govukButton({
				text: "Sign in"
			}) }}
    	
		</form>

      	<h2 class="govuk-heading-m">How to access this service</h2>
      	<ul class="govuk-list govuk-list--bullet">
      		<li>enter your registered email address (the one we send emails to)</li>
      		<li>do not use your DfE Sign-in details</li>
        	<li>if you're not registered, <a class="govuk-link" href="how-to-get-an-account">find out how to get an account</a></li>

      	</ul>
    
	</div>
  </div>
{% endblock %}
