{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = true %}
{% set showManageSchools = false %}

{% set pageHeading = "Manage your training" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    {% include "includes/notification-banner.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


                {% set newYearHtml %}

                    <!-- New Year training has not been setup -->
                    {% if not data['NewYearInductionProgramme'] %}

                        <h3 class="govuk-heading-m">Tell us if any new ECTs will start training at your school in the 2022 to 2023 academic year</h3>

                        <p>We need to know:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>whether or not your school expects any new ECTs</li>
                            {% if data['inductionProgramme'] == "FIP" %}
                            <li>if you plan to change how you run training for any new ECTs</li>
                            {% else %}
                            <li>which training programme you want to use for any new ECTs</li>
                            {% endif %}
                        </ul>

                        <p>You can tell us this later if you do not know yet. You can also change your answers if you need to.</p>
                        <div class="govuk-inset-text">
                            <p>Do not include ECTs who started their training in the 2021 to 2022 academic year.</p>
                            <p>You can manage their training in the ‘2021 to 2022’ tab.</p>
                        </div>

                        <form action="/nominations/next-academic-year" method="post" >
                            <input type="hidden" name="NewYearInductionProgramme" id="NewYearInductionProgramme" value="Started"  />
                            {{ govukButton({
                                text: "Start now"
                            }) }}
                        </form>

                    <!-- Setup of training for the next academic year has happened -->
                    {% else %}

                        <!-- NoECTs expected  -->
                        <!-- //////////////////////////////////// -->
                        {% if data['NewYearInductionProgramme'] == "noECT" %}

                            <p>Your school has told us you do not expect any ECTs to join you in the 2022 to 2023 academic year.</p>
                            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/nominations/next-academic-year">Tell us if this has changed</a></p>

                        <!-- Expects to have ECTs -->
                        <!-- //////////////////////////////////// -->
                        {% else %}

                            {% if data['newYearChangeWhat'] == "nextYear-CIP" %}
                                {% if not data['nextYear-accredited-materials'] %}
                                <h2 class="govuk-heading-m">Choose your training materials</h2>
                                <p><a href="/schools/materials/?cohort=2022" class="govuk-link govuk-link--no-visited-state">Tell us which materials you’ll use</a></p>
                                <p class="govuk-!-margin-bottom-5">Read our guidance to <a href="/choose-study-materials" target="_blank">compare materials (opens in new tab)</a>.</p>
                                {% endif %}
                            {% endif %}

                            <!-- ALl training programmes require these first 3 rows induction length, ects and tutor-->
                            {% include "includes/mtLengthEctTutor.html" %}
                            <!-- //////////////////////////////////// -->

                            <!-- FIP -->
                            {% if data['NewYearInductionProgramme'] == "FIP" %}

                                <div class="govuk-summary-list__row ">
                                    <dt class="govuk-summary-list__key">Programme</dt>
                                    <dd class="govuk-summary-list__value">Training provider, funded by the DfE</dd>
                                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
                                </div>
                                <div class="govuk-summary-list__row ">
                                    <dt class="govuk-summary-list__key">Training provider</dt>
                                    <dd class="govuk-summary-list__value">
                                        {% if data['newYearProviderChange'] == "Yes" %}
                                            {% if data['newYearChangeWhat'] == "leadProvider" %}
                                                To be confirmed
                                            {% elif data['newYearChangeWhat'] == "deliveryPartner" %}
                                                {{ data.leadProvider }}
                                            {% endif %}
                                        {% elif data['NewYearHowRun'] %}
                                            To be confirmed
                                        {% else %}
                                            {{ data.leadProvider }}
                                        {% endif %}
                                        </dd>
                                    <dd class="govuk-summary-list__actions"></dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Delivery partner</dt>
                                    <dd class="govuk-summary-list__value">
                                        {% if data['newYearProviderChange'] == "Yes" %}
                                            {% if data['newYearChangeWhat'] == "leadProvider" %}
                                                To be confirmed
                                            {% elif data['newYearChangeWhat'] == "deliveryPartner" %}
                                                To be confirmed
                                            {% endif %}
                                        {% elif data['NewYearHowRun'] %}
                                            To be confirmed
                                        {% else %}
                                            {{ data.deliveryPartner }}
                                        {% endif %}
                                    </dd>
                                    <dd class="govuk-summary-list__actions"></dd>
                                </div>

                            {% elif data['NewYearInductionProgramme'] == "CIP" %}

                                <div class="govuk-summary-list__row ">
                                    <dt class="govuk-summary-list__key">Programme</dt>
                                    <dd class="govuk-summary-list__value">DfE accredited materials</dd>
                                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice?nextYear">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
                                </div>
                                <div class="govuk-summary-list__row ">
                                    <dt class="govuk-summary-list__key">Materials supplier</dt>
                                    <dd class="govuk-summary-list__value">
                                        {% if data['nextYear-accredited-materials'] %}
                                            {{ data['nextYear-accredited-materials'] }}
                                        {% endif %}
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        {% if data['nextYear-accredited-materials'] %}
                                            <a class="govuk-link" href="materials/change?cohort=2022">Change<span class="govuk-visually-hidden"> accredited materials</span></a>
                                        {% else %}
                                            <a class="govuk-link" href="materials/?cohort=2022">Choose<span class="govuk-visually-hidden"> accredited materials</span></a>
                                        {% endif %}
                                    </dd>
                                </div>

                            {% elif data['NewYearInductionProgramme'] == "DYO" %}

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Programme</dt>
                                    <dd class="govuk-summary-list__value">Design and deliver your own programme based on the Early Career Framework (ECF)</dd>
                                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
                                </div>

                            {% endif %}
                            <!-- //////////////////////////////////// -->

                            <!-- All training will need appropriate body row -->
                            {% include "includes/mtAB.html" %}
                            <!-- //////////////////////////////////// -->

                        </dl>
                        {% endif %}
                    {% endif %}

                {% endset -%}
                <!-- // NEW year -->

                {% set pastDayHtml %}

                    <!-- ///// Start of 2021 //// -->
                    <dl class="govuk-summary-list govuk-!-margin-bottom-3">
                        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                            <dt class="govuk-summary-list__key">Length of induction</dt>
                            <dd class="govuk-summary-list__value">2 years</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">ECTs and mentors</dt>
                            <dd class="govuk-summary-list__value">
                            {% if data['inductionProgramme'] == "CIP" %}
                                4
                            {% else %}
                                12
                            {% endif %}</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="participants/?cohort=2021">Manage<span class="govuk-visually-hidden"> ECTs or mentors</span></a></dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Induction tutor</dt>
                            <dd class="govuk-summary-list__value">{{ data.sitName }}</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="participants/induction-tutor/full-name?induction-tutor=Yes">Change<span class="govuk-visually-hidden"> your SIT</span></a></dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Programme</dt>
                            <dd class="govuk-summary-list__value">
                                {% if data['inductionProgramme'] == "FIP" %}
                                    Training provider, funded by the DfE
                                {% elif data['inductionProgramme'] == "CIP" %}
                                    DfE accredited materials
                                {% elif data['inductionProgramme'] == "DYO" %}
                                    Design and deliver your own programme based on the Early Career Framework (ECF)
                                {% elif data['inductionProgramme'] == "noECT" %}
                                    Expecting no early career teachers
                                {% elif (data['inductionProgramme'] === "temphold") %}
                                    You’ve chosen to use a training provider funded by your school
                                {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
                        </div>

                        <!-- Using an approved training provider -->
                        {% if data['inductionProgramme'] == "FIP" %}
                            <!-- Needed for if we show the actions line or not -->
                            {% if data['fipPartnership'] != "Yes" %}
                            <div class="govuk-summary-list__row">
                            {% else %}
                            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                            {% endif %}
                                <dt class="govuk-summary-list__key">Training provider</dt>
                                <dd class="govuk-summary-list__value">{% if data['fipPartnership'] == "Yes" %}{{ data.leadProvider }}{% endif %}</dd>
                                {% if data['fipPartnership'] != "Yes" %}
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="sign-up-to-training-provider">Sign up<span class="govuk-visually-hidden"> to a training provider</span></a>
                                </dd>
                                {% endif %}
                            </div>
                            {% if data['fipPartnership'] == "Yes" %}
                                <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                                    <dt class="govuk-summary-list__key">Delivery partner</dt>
                                    <dd class="govuk-summary-list__value">{{ data.deliveryPartner }}</dd>
                                </div>
                            {% endif %}
                        <!-- Using DfE accredited materials -->
                        {% elif data['inductionProgramme'] == "CIP" %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Materials</dt>
                                <dd class="govuk-summary-list__value">{% if data['accredited-materials'] %}{{ data['accredited-materials'] }}{% else %}{% endif %}</dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if data['accredited-materials'] %}
                                        <a class="govuk-link" href="materials/change">Change<span class="govuk-visually-hidden"> accredited materials</span></a>
                                    {% else %}
                                        <a class="govuk-link" href="materials/">Add<span class="govuk-visually-hidden"> accredited materials</span></a>
                                    {% endif %}
                                </dd>
                            </div>
                        {% endif %}

                    </dl>

                    {% include "includes/mt-message.html" %}
                    <!-- ///// End of 2021 //// -->

                {% endset -%}

                <!-- We are not using this yet - as it will show the 2nd year of an induction programme -->
                {% set pastWeekHtml %}
                    <!-- ///// Start of 2020 //// -->
                    {% include "includes/myt_pastYear.html" %}
                    <!-- ///// End of 2020 //// -->
                {% endset -%}

                {% set pastArchiveHtml %}
                    <!-- ///// Start of 2019 //// -->
                    <p>Previous years information will go here.</p>
                    <!-- ///// End of 2019 //// -->
                {% endset -%}

                {{ govukTabs({
                    items: [
                        { label: "2022 to 2023", id: "new-year", panel: { html: newYearHtml } },
                        { label: "2021 to 2022", id: "current-year", panel: { html: pastDayHtml } }
                    ]
                }) }}

        </div>
    </div>

{% endblock %}
