{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = true %}
{% set showManageSchools = false %}

{% set pageHeading = "Manage your training" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

                <!-- Top section with Induction tutor, total ects and mentors -->
                {% include "includes/mtLengthEctTutor.html" %}                

                <!-- Checks in progress -->
                {% set newAcademicYearHtml %}

                    <!-- Not setup -->
                    {% if not data['inductionProgrammeYearTwo'] %}
                        
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">New ECTs starting this year</h2>                        
                        
                        <p><a href="/nominations/">Tell us if any new ECTs will start training</a> at your school in the 2022 to 2023 academic year and how you will run your ECF-based training.</p>
                        <p>You can then add new ECTs to this academic year.</p>                        
                        
                    {% else %}
                        
                        {% if data['inductionProgrammeYearTwo'] == "noECTs" %}                        
                            <p>You’ve told us you do not expect any new ECTs to start training at your school in the 2022 to 2023 academic year.</p>
                            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/nominations/next-academic-year">Tell us if this has changed</a></p>                    
                        {% else %}
                            
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Year 1</h3>                        
                        
                            {% if data['newYearChangeWhat'] == "nextYear-CIP" %}
                                {% if not data['nextYear-accredited-materials'] %}
                                    <h2 class="govuk-heading-m">Choose your training materials</h2>
                                    <p><a href="/schools/materials/" class="govuk-link govuk-link--no-visited-state">Tell us which materials you’ll use</a></p>
                                    <p class="govuk-!-margin-bottom-5">Read our guidance to <a href="/choose-study-materials" target="_blank">compare materials (opens in new tab)</a>.</p>
                                {% endif %}
                            {% endif %}

                            {% if data['inductionProgrammeYearTwo'] == "FIP" %}
                                <dl class="govuk-summary-list govuk-!-margin-bottom-3">                                
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">ECTs</dt>
                                        <dd class="govuk-summary-list__value">
                                            {% if data['inductionProgramme'] == "noECTs" %}0
                                            {% elif data['inductionProgramme'] == "CIP" %}6
                                            {% elif data['inductionProgramme'] == "FIP" %}0
                                            {% else %}0
                                            {% endif %}
                                        </dd>
                                        <dd class="govuk-summary-list__actions"></dd>                                        
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Mentors</dt>
                                        <dd class="govuk-summary-list__value">
                                            {% if data['inductionProgramme'] == "noECTs" %}0
                                            {% elif data['inductionProgramme'] == "CIP" %}6
                                            {% elif data['inductionProgramme'] == "FIP" %}0
                                            {% else %}0
                                            {% endif %}
                                        </dd>
                                        <dd class="govuk-summary-list__actions"></dd>                                        
                                    </div>
                                    <div class="govuk-summary-list__row ">
                                        <dt class="govuk-summary-list__key">Programme</dt>
                                        <dd class="govuk-summary-list__value">Training provider, funded by the DfE</dd>
                                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
                                    </div>
                                    <div class="govuk-summary-list__row ">
                                        <dt class="govuk-summary-list__key">Training provider</dt>
                                        <dd class="govuk-summary-list__value">
                                            {% if data['newYearStayLeadProvider'] %}
                                                {% if data['newYearStayLeadProvider'] == "No" %}
                                                    To be confirmed
                                                {% elif data['newYearStayLeadProvider'] == "Yes" %}
                                                    {{ data.leadProvider }}
                                                {% endif %}
                                            {% else %}
                                                {% if data['inductionProgrammeYearTwoProviderChange'] == "Yes" %}
                                                    {% if data['newYearChangeWhat'] == "leadProvider" %}
                                                        To be confirmed
                                                    {% elif data['newYearChangeWhat'] == "deliveryPartner" %}
                                                        {{ data.leadProvider }}
                                                    {% endif %}
                                                {% elif data['NewYearHowRun'] %}
                                                    To be confirmed
                                                {% else %}
                                                    {{ data.leadProvider }}
                                                {% endif %}
                                            {% endif %}
                                        </dd>
                                        <dd class="govuk-summary-list__actions"></dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Delivery partner</dt>
                                        <dd class="govuk-summary-list__value">
                                            {% if data['newYearStayLeadProvider'] %}
                                                To be confirmed
                                            {% else %}
                                                {% if data['inductionProgrammeYearTwoProviderChange'] == "Yes" %}
                                                    {% if data['newYearChangeWhat'] == "leadProvider" %}
                                                        To be confirmed
                                                    {% elif data['newYearChangeWhat'] == "deliveryPartner" %}
                                                        To be confirmed
                                                    {% endif %}
                                                {% elif data['NewYearHowRun'] %}
                                                    To be confirmed
                                                {% else %}
                                                    {{ data.deliveryPartner }}
                                                {% endif %}
                                            {% endif %}
                                        </dd>
                                        <dd class="govuk-summary-list__actions"></dd>
                                    </div>

                            {% elif data['inductionProgrammeYearTwo'] == "CIP" %}

                                {% if not data['nextYear-accredited-materials'] %}                                
                                    <p><a href="/schools/materials/?cohort=2022" class="govuk-link govuk-link--no-visited-state">Tell us which materials you’ll use</a>. Read our guidance to <a href="/choose-study-materials" target="_blank">compare materials (opens in new tab)</a>.</p>
                                {% endif %}

                                <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                                    <div class="govuk-summary-list__row ">
                                        <dt class="govuk-summary-list__key">Programme</dt>
                                        <dd class="govuk-summary-list__value">DfE accredited materials</dd>
                                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice?nextYear">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
                                    </div>
                                    <div class="govuk-summary-list__row ">
                                        <dt class="govuk-summary-list__key">Materials supplier</dt>
                                        <dd class="govuk-summary-list__value">
                                            {% if data['nextYear-accredited-materials'] %}{{ data['nextYear-accredited-materials'] }}{% endif %}
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            {% if data['nextYear-accredited-materials'] %}
                                                <a class="govuk-link" href="materials/change?cohort=2022">Change<span class="govuk-visually-hidden"> accredited materials</span></a>
                                            {% else %}
                                                <a class="govuk-link" href="materials/?cohort=2022">Tell us<span class="govuk-visually-hidden"> accredited materials</span></a>
                                            {% endif %}
                                        </dd>
                                    </div>
                            {% elif data['inductionProgrammeYearTwo'] == "DYO" %}
                                <dl class="govuk-summary-list govuk-!-margin-bottom-3">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Programme</dt>
                                        <dd class="govuk-summary-list__value">Design and deliver your own programme based on the early career framework (ECF)</dd>
                                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
                                    </div>
                            {% elif data['inductionProgrammeYearTwo'] == "temphold" %}
                                <dl class="govuk-summary-list govuk-!-margin-bottom-3">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Programme</dt>
                                        <dd class="govuk-summary-list__value">You’ve chosen to use a training provider funded by your school</dd>
                                        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
                                    </div>
                            {% endif %}                        
                        
                            {% include "includes/mtAB.html" %}                        

                        </dl>
                    {% endif %}
                {% endif %}

                <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Year 2 ECF-based training</h2>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-7">                        
                    
                        {% include "includes/academic_years/year2.html" %}
            
            {% endset -%}            

            {% set currentAcademicYearHtml %}
                <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Year 1</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                        
                    {% include "includes/academic_years/year2.html" %}

                <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">2020 to 2021 academic year</h2>                
                <p>You told us you did not expect any new ECTs to start training at your school in the 2020 to 2021 academic year.</p>


            {% endset -%}


            {{ govukTabs({
                items: [
                    { label: "2022 to 2023 academic year", id: "checking", panel: { html: newAcademicYearHtml } },
                    { label: "2021 to 2022 academic year", id: "ECT", panel: { html: currentAcademicYearHtml } }
                ]
            }) }}

        </div>
    </div>

{% endblock %}
