{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = true %}
{% set showManageSchools = false %}

{% set pageHeading = "Manage your training" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    {% include "includes/notification-banner.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            {# Multiple admission years dashboard #}
            {% if data['multi-cohort'] == "Yes" %}

                {% set newYearHtml %}

                    <!-- NoECT expected no matter current programme then all users will be shown the following information -->
                    {% if (( data['newYear-inductionProgramme'] == "noECT" ) or (data['newYear-expectECT'] == "No" )) %}

                        {% include "includes/ectNotExpected.html" %}

                    <!-- Expects to have ECTs -->
                    {% elif data['newYear-expectECT'] == "Yes" %}

                        <!-- School currently FIP -->
                        {% if data['inductionProgramme'] == "FIP" %}
                            <!-- No change -->
                            {% if data['newYear-changeProviders'] == "No" %}
                                {% include "includes/manage_training_fip_nochange.html" %}
                            <!-- Change needed -->
                            {% elif data['newYear-changeProviders'] == "Yes" %}
                                {% if data['newYear-why-changing'] == "nextYear-DYO" %}
                                    <!-- Next academic year they want to switch to DIY -->
                                    {% include "includes/manage_training_fip_switch_diy.html" %}
                                {% elif data['newYear-why-changing'] == "changeLeadProvider" %}
                                    <!-- Next academic year they want to switch Lead Provider -->
                                    {% include "includes/manage_training_fip_ChangeLP.html" %}
                                {% elif data['newYear-why-changing'] == "changeDeliveryPartner" %}
                                    <!-- Next academic year they want to switch Delivery Partner -->
                                    {% include "includes/manage_training_fip_ChangeDP.html" %}
                                {% elif data['newYear-why-changing'] == "nextYear-CIP" %}
                                    <!-- Next academic year they want to switch to CIP -->
                                    {% include "includes/manage_training_fip_switch_cip.html" %}
                                {% endif %}
                            {% endif %}

                        <!-- School currently CIP -->
                        {% elif data['inductionProgramme'] == "CIP" %}
                            {% if data['newYear-inductionProgramme'] == "CIP" %}
                                {% include "includes/manage_training_fip_switch_cip.html" %}
                            {% elif data['newYear-inductionProgramme'] == "FIP" %}
                                {% include "includes/manage_training_cip_switch_fip.html" %}
                            {% elif data['newYear-inductionProgramme'] == "DYO" %}
                                {% include "includes/manage_training_fip_switch_diy.html" %}
                            {% endif %}
                        <!-- School currently DIY -->
                        {% elif data['inductionProgramme'] == "DYO" %}
                            {% if data['newYear-inductionProgramme'] == "CIP" %}
                                {% include "includes/manage_training_fip_switch_cip.html" %}
                            {% elif data['newYear-inductionProgramme'] == "FIP" %}
                                {% include "includes/manage_training_cip_switch_fip.html" %}
                            {% elif data['newYear-inductionProgramme'] == "DYO" %}
                                {% include "includes/manage_training_fip_switch_diy.html" %}
                            {% endif %}
                        <!-- School currently on noECT -->
                        {% elif data['inductionProgramme'] == "noECT" %}
                            {% if data['newYear-inductionProgramme'] == "CIP" %}
                                {% include "includes/manage_training_fip_switch_cip.html" %}
                            {% elif data['newYear-inductionProgramme'] == "FIP" %}
                                {% include "includes/manage_training_cip_switch_fip.html" %}
                            {% elif data['newYear-inductionProgramme'] == "DYO" %}
                                {% include "includes/manage_training_fip_switch_diy.html" %}
                            {% endif %}
                        {% endif %}

                    <!-- Setup how to run training for next academic year -->
                    {% else %}
                        <h3 class="govuk-heading-m">Tell us if any new ECTs will start training at your school in the 2022 to 2023 academic year</h3>
                        <!-- FIP -->
                        {% if data['inductionProgramme'] == "FIP" %}
                            <p>We need to know:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>whether or not your school expects any new ECTs</li>
                                <li>if you plan to change how you run training for any new ECTs</li>
                            </ul>
                        <!-- All other programmes -->
                        {% else %}
                            <p>We need to know:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>whether or not your school expects any new ECTs</li>
                                <li>which training programme you want to use for any new ECTs</li>
                            </ul>
                        {% endif %}

                        <p>You can tell us this later if you do not know yet. You can also change your answers if you need to.</p>
                        <div class="govuk-inset-text">
                            <p>Do not include ECTs who started their training in the 2021 to 2022 academic year.</p>
                            <p>You can manage their training in the ‘2021 to 2022’ tab.</p>
                        </div>

                        <form action="/nominations/next-academic-year" method="post" >
                            <input type="hidden" name="newYear-inductionProgramme" id="newYear-inductionProgramme" value="Started"  />
                            {{ govukButton({
                                text: "Start now"
                            }) }}
                        </form>

                    {% endif %}

                {% endset -%}
                <!-- // NEW year -->

                {% set pastDayHtml %}

                    <!-- ///// Start of 2021 //// -->
                    <dl class="govuk-summary-list govuk-!-margin-bottom-3">
                        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                            <dt class="govuk-summary-list__key">Length of induction</dt>
                            <dd class="govuk-summary-list__value">2 years</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">ECTs and mentors</dt>
                            <dd class="govuk-summary-list__value">12</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="participants/?cohort=2021">Manage<span class="govuk-visually-hidden"> ECTs or mentors</span></a></dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Induction tutor</dt>
                            <dd class="govuk-summary-list__value">{{ data.sitName }}</dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="participants/induction-tutor/full-name?induction-tutor=Yes">Change<span class="govuk-visually-hidden"> your SIT</span></a></dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Programme</dt>
                            <dd class="govuk-summary-list__value">
                                {% if data['inductionProgramme'] == "FIP" %}
                                    Training provider, funded by the DfE
                                {% elif data['inductionProgramme'] == "CIP" %}
                                    DfE accredited materials
                                {% elif data['inductionProgramme'] == "DYO" %}
                                    Design and deliver your own programme based on the Early Career Framework (ECF)
                                {% elif data['inductionProgramme'] == "noECT" %}
                                    Expecting no early career teachers
                                {% elif (data['inductionProgramme'] === "temphold") %}
                                    You’ve chosen to use a training provider funded by your school
                                {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="programme-choice">Change<span class="govuk-visually-hidden"> programme</span></a></dd>
                        </div>

                        <!-- Using an approved training provider -->
                        {% if data['inductionProgramme'] == "FIP" %}
                            <!-- Needed for if we show the actions line or not -->
                            {% if data['fipPartnership'] != "Yes" %}
                            <div class="govuk-summary-list__row">
                            {% else %}
                            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                            {% endif %}
                                <dt class="govuk-summary-list__key">Training provider</dt>
                                <dd class="govuk-summary-list__value">{% if data['fipPartnership'] == "Yes" %}{{ data.leadProvider }}{% endif %}</dd>
                                {% if data['fipPartnership'] != "Yes" %}
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="sign-up-to-training-provider">Sign up<span class="govuk-visually-hidden"> to a training provider</span></a>
                                </dd>
                                {% endif %}
                            </div>
                            {% if data['fipPartnership'] == "Yes" %}
                                <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                                    <dt class="govuk-summary-list__key">Delivery partner</dt>
                                    <dd class="govuk-summary-list__value">{{ data.deliveryPartner }}</dd>
                                </div>
                            {% endif %}
                        <!-- Using DfE accredited materials -->
                        {% elif data['inductionProgramme'] == "CIP" %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Materials</dt>
                                <dd class="govuk-summary-list__value">{% if data['accredited-materials'] %}{{ data['accredited-materials'] }}{% else %}{% endif %}</dd>
                                <dd class="govuk-summary-list__actions">
                                    {% if data['accredited-materials'] %}
                                        <a class="govuk-link" href="materials/change">Change<span class="govuk-visually-hidden"> accredited materials</span></a>
                                    {% else %}
                                        <a class="govuk-link" href="materials/">Add<span class="govuk-visually-hidden"> accredited materials</span></a>
                                    {% endif %}
                                </dd>
                            </div>
                        {% endif %}

                        {# <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Appropriate body</dt>
        <dd class="govuk-summary-list__value">{{ data.abName }}</dd>
        <dd class="govuk-summary-list__actions">
        {% if data['abName'] %}
            <a class="govuk-link" href="appropriate-body/type">Change<span class="govuk-visually-hidden"> your appropriate body</span></a></dd>
        {% else %}
            <a class="govuk-link" href="appropriate-body/type">Add<span class="govuk-visually-hidden"> your appropriate body</span></a></dd>
        {% endif %}
    </div> #}
    <!-- Can we switch to the standard "Add" for unpopulated and "Change" for populated? "Tell us" is a bit iffy grammatically and I'd rather go with the extablished content for the pattern than start reinventing the wheel. The subsequent screen will clarify, anyway. -->
                    </dl=

                    {% include "includes/mt-message.html" %}
                    <!-- ///// End of 2021 //// -->

                {% endset -%}

                <!-- We are not using this yet - as it will show the 2nd year of an induction programme -->
                {% set pastWeekHtml %}
                    <!-- ///// Start of 2020 //// -->
                    {% include "includes/myt_pastYear.html" %}
                    <!-- ///// End of 2020 //// -->
                {% endset -%}



                {% set pastArchiveHtml %}
                    <!-- ///// Start of 2019 //// -->
                    <p>Previous years information will go here.</p>
                    <!-- ///// End of 2019 //// -->
                {% endset -%}

                {{ govukTabs({
                    items: [
                        { label: "2022 to 2023", id: "new-year", panel: { html: newYearHtml } },
                        { label: "2021 to 2022", id: "current-year", panel: { html: pastDayHtml } }
                    ]
                }) }}

                <!-- { label: "2020 to 2021", id: "past-week", panel: { html: pastWeekHtml } } -->

            {% else %}

               {% include "includes/single-dashboard.html" %}

            {% endif %}

        </div>
    </div>
{% endblock %}
