{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Sign up with a training provider" %}
{% set pageSection = "2021 cohort" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p class="govuk-body">You need to <a class="govuk-link" href="https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview#FPL">choose one of the 6 DfE-funded training providers (opens in a new tab)</a>.</p>

      <h2 class="govuk-heading-m">How to make your choice</h2>
      <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/guidance/teaching-school-hubs">Contact your local teaching school hub (opens in a new tab)</a> to ask for guidance, and confirm your choice of provider.</p>
      <p class="govuk-body">You do not need to let the DfE know which provider you choose. Your training provider will contact us to arrange funding.</p>
      <p class="govuk-body-s govuk-!-margin-top-9"><a href="manage-your-training?fipPartnership=Yes">Partnership created</a></p>

    </div>
  </div>
{% endblock %}
