{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Who is the mentor for [ECT name]" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block pageNavigation %}
  <a class="govuk-back-link" href="participant-status-not-started">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
      
      <p class="govuk-body govuk-!-margin-bottom-6">If you’re not sure or you haven’t added them yet, you can do this later.</p>
      <form class="form" action="participant-mentor-change" method="post" class="govuk-!-margin-bottom-8">
        {{ govukRadios({
          idPrefix: "choose-mentor-from-cohort",
          name: "choose-mentor-from-cohort",
          items: [
            {
              value: "Henry Purcell",
              text: "Henry Purcell",
              checked: checked("choose-mentor-from-cohort", "Henry Purcell")
            },
            {
              value: "Berthe Morisot",
              text: "Berthe Morisot",
              checked: checked("choose-mentor-from-cohort", "Berthe Morisot")
            },
            {
              value: "Giotto di Bondone",
              text: "Giotto di Bondone",
              checked: checked("choose-mentor-from-cohort", "Giotto di Bondone")
            },
            {
              divider: "or"
            },
            {
              value: "Assign later",
              text: "Assign later",
              checked: checked("choose-mentor-from-cohort", "Assign mentor later")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
