{% extends "layout.html" %}
{% set schoolSignedIn = true %}


{% if data['dashboard-variation'] == "New" %}            
	{% set pageHeading = "Check your answers" %}	
	{% set pageSection = "Cohort 2021 to 2022" %}  
{% else %}
	{% set pageHeading = "Confirm these details" %}
	{% set pageSection = "" %}
{% endif %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      {% if data['dashboard-variation'] == "New" %}            
      
      	<dl class="govuk-summary-list govuk-!-margin-bottom-9">
	        <div class="govuk-summary-list__row">
          		<dt class="govuk-summary-list__key">Name</dt>
          		<dd class="govuk-summary-list__value">            	       
					  
					{% if data['neworexistingmentor'] == "existingMentor"  %}
						{{ data['choose-existing-mentor'] }}
					{% else %}
            			{{ data['participant-fullname'] }}            		
					{% endif %}
          		</dd>
          		<dd class="govuk-summary-list__actions">            		
            		<a class="govuk-link" href="enter-personal-details">Change<span class="govuk-visually-hidden"> name</span></a>            		
          		</dd>
        	</div>
			
			{% if not data['neworexistingmentor'] == "existingMentor"  %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key"> Email address</dt>
				<dd class="govuk-summary-list__value">
					{{ data['participant-email-address'] }}					
				</dd>
				<dd class="govuk-summary-list__actions"><a class="govuk-link" href="enter-email-address">Change<span class="govuk-visually-hidden"> email address</span></a></dd>
		  	</div>        				
			{% endif %}

				{% if (data['schoolParticipantOptions'] === 'hasAddedMentors' and data['participantType'] === 'ect') %}
				<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Mentor
				</dt>
				<dd class="govuk-summary-list__value">
					{{ data['choose-mentor-from-cohort'] }}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="choose-mentor-for-ect">
					Change<span class="govuk-visually-hidden"> mentor</span>
					</a>
				</dd>
				</div>
				{% elif (data['schoolParticipantOptions'] === 'hasAddedMentors' and data['participantType'] === 'mentor') %}
				<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Early career teachers
				</dt>
				<dd class="govuk-summary-list__value">
					{{ data['chooseEct'] }}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="choose-ect-for-cohort">
					Change<span class="govuk-visually-hidden"> ect</span>
					</a>
				</dd>
				</div>
				{% elif (data['schoolParticipantOptions'] === 'hasAddedMentors' and data['participantType'] === 'sitmentor') %}
				<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Early career teachers
				</dt>
				<dd class="govuk-summary-list__value">
					{{ data['chooseEct'] }}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="choose-ect-for-cohort">
					Change<span class="govuk-visually-hidden"> ect</span>
					</a>
				</dd>
				</div>

        {% endif %}
      </dl>
      
	  <form class="form" action="success-participant-added" method="post" class="govuk-!-margin-bottom-8">
        {{ govukButton({
          text: "Confirm and add"
        }) }}
      </form>

      {% else %}
      
      <p class="govuk-body">We will send this person an email to sign in and add any further details.</p>
      

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Details
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['participantType'] === 'ect') %}
            {{ data['participant-fullname'] }} {{ data['choose-existing-mentor'] }}<br />
            {{ data['participant-email-address'] }}

            {% elseif (data['participantType'] === 'mentor') %}

            {{ data['participant-fullname'] }} {{ data['choose-existing-mentor'] }}<br />
            {{ data['participant-email-address'] }}

            {% elseif (data['participantType'] === 'sitmentor') %}
              School induction tutor name <br>
              schoolinduction@email.com
            {% endif %}

          </dd>
          <dd class="govuk-summary-list__actions">
            {% if (data['participantType'] === 'ect') %}
            <a class="govuk-link" href="enter-personal-details">
              Change<span class="govuk-visually-hidden"> personal details</span>
            </a>
            {% elseif (data['participantType'] === 'mentor' and data['neworexistingmentor'] === 'existingMentor') %}
            <a class="govuk-link" href="mentor-from-existing-cohort">
              Change<span class="govuk-visually-hidden"> personal details</span>
            </a>
            {% elseif (data['participantType'] === 'mentor') %}
            <a class="govuk-link" href="enter-personal-details">
              Change<span class="govuk-visually-hidden"> personal details</span>
            </a>

            {% elseif (data['participantType'] === 'sitmentor') %}

            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['participantType'] === 'ect') %}
              Early career teacher
            {% elseif (data['participantType'] === 'mentor') %}
              Mentor
              {% elseif (data['participantType'] === 'sitmentor') %}
                Mentor
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="choose-participant-type">
              Change<span class="govuk-visually-hidden"> participant type</span>
            </a>
          </dd>
        </div>

        {% if (data['schoolParticipantOptions'] === 'hasAddedMentors' and data['participantType'] === 'ect') %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mentor
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['choose-mentor-from-cohort'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="choose-mentor-for-ect">
              Change<span class="govuk-visually-hidden"> mentor</span>
            </a>
          </dd>
        </div>
        {% elif (data['schoolParticipantOptions'] === 'hasAddedMentors' and data['participantType'] === 'mentor') %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Early career teachers
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['chooseEct'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="choose-ect-for-cohort">
              Change<span class="govuk-visually-hidden"> ect</span>
            </a>
          </dd>
        </div>
        {% elif (data['schoolParticipantOptions'] === 'hasAddedMentors' and data['participantType'] === 'sitmentor') %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Early career teachers
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['chooseEct'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="choose-ect-for-cohort">
              Change<span class="govuk-visually-hidden"> ect</span>
            </a>
          </dd>
        </div>

        {% endif %}
      </dl>

	  
	  <form class="form" action="success-participant-added" method="post" class="govuk-!-margin-bottom-8">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      {% endif %}

     
    </div>
  </div>
{% endblock %}
