{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data['dashboard-variation'] == "New" %}
  {% set pageHeading = "Enter their details" %}
{% else %}
  {% set pageHeading = "Enter their details" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      {% if data['dashboard-variation'] != "New" %}
      <p class="govuk-body govuk-!-margin-bottom-6">We will send them an email to sign in and add any further details.</p>
      {% endif %}

      <form class="form" action="confirm-participant-details" method="post" class="govuk-!-margin-bottom-8">
        {{ govukInput({
          label: {
            html: 'Full name'
          },
          value: data['participant-fullname'],
          classes: "govuk-!-width-two-thirds",
          id: "participant-fullname",
          name: "participant-fullname"
        }) }}

        {{ govukInput({
          label: {
            text: "Email address"
          },
        hint: {
          text: "You can use their personal or work email address"
        },
          classes: "govuk-!-width-two-thirds",
          id: "participant-email-address",
          name: "participant-email-address",
          value: data['participant-email-address'],
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
