{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = true %}
{% set title = 'You have added ' + data['participant-fullname'] +  ' to the 2021 cohort' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
          {{ title }}
        </h1>
      </div>

      <h2 class="govuk-heading-m">What happens next?</h2>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
        <li>they will get an email to sign in and add any further details we need</li>
        <li>you can view your early career teachers (ECTs) and mentors to see their status</li>
      </ul>

      <a class="govuk-button" href="choose-participant-type">Add a new ECT or mentor</a>

      <p><a href="cohort-participant-listing" class="govuk-link govuk-link--no-visited-state">View your ECTs and mentors</a></p>
    </div>
  </div>
{% endblock %}
