{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Confirm you want to change your appropriate body?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p class="govuk-body">This change will only apply to ECTs and mentors who have started their training in the 2022 to 2023 academic year.</p>
            <p class="govuk-body govuk-!-margin-bottom-7">If your school works with more than one appropriate body, this is the one who will be appointed for the majority of your ECTs.</p>

            <form class="form" action="type" method="post" >

                <input type="hidden" name="changeAB" id="changeAB" value="Yes" />

                {{ govukButton({
                    text: "Confirm and continue"
                }) }}

            </form>

        </div>
    </div>

{% endblock %}
