{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Your choice has been saved for 2021/22" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-bottom-8">
      {{ govukPanel({
        titleText: pageHeading,
        html: ""
      }) }}
      </div>

      {% if (data['journey-mode'] === "schoolDYO") %}
      <h3 class="govuk-heading-m">What happens next</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>we will send you any relevant updates</li>
        <li>you do not need to sign in to the service to set up your programme</li>
        <li>if you change your mind about how you want to run your induction, contact: <a class="govuk-link" href="continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a></li>
      </ul>

      <h3 class="govuk-heading-m">What you can do now</h3>
      <p>The <a class="govuk-link" href="https://www.gov.uk/government/publications/early-career-framework">Early Career Framework (ECF)</a> covers 8 standards. For every standard there are statements for early career teachers to “learn that” and “learn how to”.</p>
      <p class="govuk-body">You need to design training that covers all of these statements.</p>
      <p class="govuk-body">You must also ask your appropriate body what evidence you need to demonstrate that your programme is:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>based on the ECF</li>
        <li>meets the statutory requirements</li>
      </ul>

      <h3 class="govuk-heading-m">What you need to do before your induction starts</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>make sure your early career teacher has enough time off in their timetable to complete training</li>
        <li>make sure that your induction tutor and mentor have the time to carry out their roles</li>
      </ul>

      <p><a class="govuk-link" href="https://www.gov.uk/government/publications/induction-for-early-career-teachers-england"> See our statutory guidance</a> for details on time off, roles and responsibilities.</p>

      <form class="form" action="/sprint-16/school-signed-in/no-decision/provision-confirmed" method="post" class="govuk-!-margin-bottom-8">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


      {% elif (data['journey-mode'] === "schoolNOECT") %}
      <h3 class="govuk-heading-m">What happens next</h3>
      <p>We will contact [school name] in the next academic year.</p>
      <p>If you do employ early career teachers later this year, you can <a class="govuk-link" href="/sprint-16/school-nominate-school-lead/nominate-school-lead-2">nominate someone to set up your programme.</a></p>

      <form class="form" action="/sprint-16/school-signed-in/no-decision/provision-confirmed" method="post" class="govuk-!-margin-bottom-8">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      {% elif (data['journey-mode'] === "schoolFIP") %}

      <p>You can now view the next steps for your programme.</p>

      <form class="form" action="/sprint-16/school-signed-in/no-decision/provision-confirmed" method="post" class="govuk-!-margin-bottom-8">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      {% elif (data['journey-mode'] === "schoolCIP") %}

      <p>You can now view the next steps for your programme.</p>

      <form class="form" action="/sprint-16/school-signed-in/no-decision/provision-confirmed" method="post" class="govuk-!-margin-bottom-8">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      {% endif %}



    </div>
  </div>
{% endblock %}
