{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Check your answers" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block pageNavigation %}

{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			{% if data['skipValidation'] == "notvalidating" %}

			<h2 class="govuk-heading-m">We cannot find your details</h2>

			<p class="govuk-body">This could be because:</p>
			<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
				<li>you used a different version of your first name, for example ‘Rob’ or ‘Robert’</li>
				<li>your last name is different to the version held by the Teaching Regulation Agency</li>
				<li>you mistyped or entered some incorrect information</li>
			</ul>
		  
		  {% if not data['NI'] %} 
			<p class="govuk-body">Entering your National Insurance number will help us to find your details.</p>
		  {% endif %}

			{% endif %}

      		<!-- <p class="govuk-body">Check the following details are correct before continuing.</p> -->

      		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
        		<div class="govuk-summary-list__row">
          			<dt class="govuk-summary-list__key">Full name</dt>
          			<dd class="govuk-summary-list__value">{{ data['fullName'] }}</dd>
          			<dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> personal details</span></a></dd>
        		</div>

        		<div class="govuk-summary-list__row">
          			<dt class="govuk-summary-list__key">TRN</dt>
          			<dd class="govuk-summary-list__value">{{ data['trnd'] }}</dd>
          			<dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> personal details</span></a></dd>
        		</div>

        		<div class="govuk-summary-list__row">
          			<dt class="govuk-summary-list__key">Date of birth</dt>
          			<dd class="govuk-summary-list__value">{{ data['dob-day'] }} {{ data['dob-month'] }} {{ data['dob-year'] }}</dd>
          			<dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> personal details</span></a></dd>
        		</div>

        		<div class="govuk-summary-list__row">
          			<dt class="govuk-summary-list__key">National Insurance number</dt>
          			<dd class="govuk-summary-list__value">{{ data['NI'] }}</dd>
          			<dd class="govuk-summary-list__actions"><a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> personal details</span></a></dd>
        		</div>
			</dl>

      		<form class="form" action="confirmation" method="post" >
        		{{ govukButton({
          			text: "Confirm and send"
        		}) }}
      		</form>
    	
		</div>
  	</div>
{% endblock %}