{% extends "layout.html" %}

{% set pageHeading = "Do you know your teacher reference number (TRN)?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block pageNavigation %}

{% endblock %}
{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			<p>You can usually find it on your payslip, teachers’ pension documents, or teacher training records.</p>
			  
<!-- 			
					<ul class="govuk-list govuk-list--bullet">
						<li>is usually 7 digits, for example '4567814'</li>
						<li>may include the letters 'RP' or a slash '/'' symbol, for example 'RP99/12345'</li>
					</ul> -->
					
					<!-- <p>QTS, GTC, DfE, DfES or DCSF numbers are the same as TRNs.</p> -->
					<!-- <p>You may not have a TRN if you qualified outside England.</p> -->



      		<!-- <details class="govuk-details" data-module="govuk-details">
        		<summary class="govuk-details__summary">
          			<span class="govuk-details__summary-text">What’s a teacher reference number?</span>
        		</summary>

				<div class="govuk-details__text">
					<p>A teacher reference number (TRN) is a unique ID that helps us to check you’re a teacher.</p>
					<p class="govuk-body">Your number:</p>
					<ul class="govuk-list govuk-list--bullet">
						<li>is usually 7 digits, for example '4567814'</li>
						<li>may include the letters 'RP' or a slash '/'' symbol, for example 'RP99/12345'</li>
					</ul>
					<p>You can usually find it on your payslip, teachers’ pension documents, or teacher training records.</p>
					<p>QTS, GTC, DfE, DfES or DCSF numbers are the same as TRNs.</p>
					<p>.</p>
				</div>
      		</details> -->

      		<form class="form" action="changed-your-name" method="post" class="govuk-!-margin-bottom-8">
        		
				{{ govukRadios({
					classes: "govuk-radios--inline",
          			idPrefix: "trn-know",
          			name: "trn-know",		
					  hint: {
						text: "It’s usually 7 digits, for example ‘4567814’ and may include the letters ‘RP’ or a slash ‘/’ symbol, for example ‘RP99/12345’"
					  },			 
          			fieldset: {
          				legend: {
            				text: "Do you know your teacher reference number (TRN)?", 
							isPageHeading: false, 
							classes: "govuk-visually-hidden"
	          			}
          			},
          			items: [
            			{ value: "yes", text: "Yes", checked: checked("trn-know", "yes") },
            			{ value: "no, redirect(find-your-teacher-reference-number)", text: "No", checked: checked("trn-know", "no") }
            			

          			]
        		}) }}
				
				
        		{{ govukButton({
        			text: "Continue"
        		}) }}

				<!-- <p><a href="get-teacher-reference-number">I do not have a TRN</a></p> -->
      		
			</form>
    	
		</div>
  	</div>

{% endblock %}