{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Check your answers" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

          {{ govukSummaryList({
            rows: [
              {
                key: { text: "Name" },
                value: { text: data['induction-tutor-fullname'] },
                actions: {
                  items: [
                    {
                      href: "full-name?linkaction=change-induction-name",
                      text: "Change",
                      visuallyHiddenText: "name of induction tutor"
                    }
                  ]
                }
              },
              {
                key: { text: "Email address" },
                value: { text:  data['induction-tutor-email']  },
                actions: {
                  items: [
                    {
                      href: "email-address?linkaction=change-induction-email",
                      text: "Change",
                      visuallyHiddenText: "email address of induction tutor"
                    }
                  ]
                }
              }
            ]
          }) }}

          <form class="form" action="confirmation" method="post" class="govuk-!-margin-bottom-8">

            <input type="hidden" name="linkaction" id="linkaction" value="" />
            <input type="hidden" name="nominate-induction-tutor" id="nominate-induction-tutor" value=""  />

            {{ govukButton({
              text: "Confirm and nominate"
            }) }}

          </form>
    </div>
  </div>
{% endblock %}
