{% extends "layout.html" %}

{% set pageHeading = "Nominate an induction tutor for your school" %}
{% set pageSection = " " + data.schoolName + " " %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


          <p>Your induction tutor will be our single point of contact for ECF-based training at your school. They’ll use our service to::</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>report how your school will run training for early career teachers (ECTs)</li>
              <li>register ECTs and their mentors</li>
              <li>tell us about any changes your school needs to make</li>
          </ul>
          

          <h3 class="govuk-heading-m">Who you can nominate</h3>

          <p><a href="../../schools/what-each-person-does?link-action=view" >Read more about the induction tutor role in our guidance</a>.</p>
          <p class="govuk-!-margin-bottom-7">If you’re supported by a MAT (multi-academy trust) or federation, you can choose someone who manages training for a number of schools.</p>

          <form class="form" action="full-name" method="post" class="govuk-!-margin-bottom-8">

            <input type="hidden" name="nominate-induction-tutor" id="nominate-induction-tutor" value="active"  />
            {{ govukButton({
                text: "Continue"
            }) }}

          </form>
      </div>
    </div>

{% endblock %}
