{% extends "layout.html" %}

{% set pageHeading = "How to access this service" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			<h2 class="govuk-heading-m govuk-!-margin-bottom-3">Schools</h2>
      		<p><a href="nominations/resend-email">Send your school a link</a> to access this service. You'll be asked to nominate someone to set up your training programme.</p>

      		<h2 class="govuk-heading-m govuk-!-margin-bottom-3">School induction tutors</h2> 
        	<p class="govuk-body">If you can not sign in with your email address, make sure your school has nominated you to set up their training programme.</p>
      		
			<h2 class="govuk-heading-m govuk-!-margin-bottom-3">Early career teachers and mentors</h2>
      		<p class="govuk-body">Have you received an email to provide your information? <a href="participants/start-registration">Register for your early career teacher training now </a></p>
      		
			<h2 class="govuk-heading-m govuk-!-margin-bottom-3">Training providers</h2>
      		<p class="govuk-body">The Department for Education creates your account.<br>Contact: <a class="govuk-link govuk-link--no-visited-state" href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a></p>
      		
			
			<!-- <h2 class="govuk-heading-m">Schools</h2>
      		<p>We have sent schools a link to nominate someone.</p>
      		<p>These emails were sent to the school’s email address on our register, <a class="govuk-link govuk-link--no-visited-state" href="https://www.get-information-schools.service.gov.uk/">Get Information about Schools (GIAS)</a> .</p>
      		<p>It will be an administration email, for example, office@, admin@ or head@.</p>
      		<p>If your school has not received the email:</p>
      		<ul class="govuk-list govuk-list--bullet">
        		<li><a class="govuk-link govuk-link--no-visited-state" href="https://interactions.signin.education.gov.uk//07a67b92-4f1d-423b-9477-4ddd675887de/usernamepassword?clientid=services&redirect_uri=https://services.signin.education.gov.uk:443/auth/cb">sign in to DfE</a> and check that your GIAS email address is up to date</li>
        		<li><a class="govuk-link govuk-link--no-visited-state" href="nominations/resend-email">send a new email link</a></li>
      		</ul>

      		<h2 class="govuk-heading-m">New teachers or mentors</h2>
      		<p>You only need to sign in to our service if your school is delivering your programme using DfE accredited materials.</p>
      		<p>We will send you sign in details before you start your programme.</p>
      		
			<h2 class="govuk-heading-m">Training providers</h2>
      		<p>The Department for Education creates your account.</p>
			<p>Contact: <a class="govuk-link govuk-link--no-visited-state" href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a></p>

			 -->
    	</div>
  	</div>
{% endblock %}
