{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "ECF Register and Partner" %}
{% set pageSection = "Archived prototype work" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p>Use this service to manage a school’s statutory induction programme for early career teachers.</p>

      	<ul class="govuk-list govuk-body-s">
            <li>Last updated: 1 November 2021</li>
            <li>Prototype version: {{releaseVersion}}</li>
        </ul>


        <h2 class="govuk-heading-m">Sprint 23</h2>
		    <p>This sprint focused on:</p>
        <ul class="govuk-list govuk-list--bullet">
        	<li>futher work on validating teachers flow without them knowing their TRN</li>			
			    <li>start looking at multiple cohorts, dashboard and flows</li>          	
			    <li>allow SIT to change who is the SIT</li>
			    <li>allow school funded FIP to change their induction type</li>
			    <li>option to clean up any futher page from a GDS/Pattern point of view</li> 
        </ul> 

      

        {{ govukButton({
          text: "Page by page listings and scenarios",
          href: "listings-23"          
        }) }}


        <p><a class="govuk-link govuk-link--no-visited-state" href="../index">Return to main service page</a></p>
        
    </div>
  </div>
{% endblock %}
