{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if ((data['register-name-correct'] == "Yes") or ((data['register-cannot-validate'] == "Yes") and ( data['register-name-correct'] == "No" ))) %}
  {% set pageHeading = "We still cannot find your details" %}
{% else %}
  {% set pageHeading = "We cannot find your details" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block pageNavigation %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p class="govuk-body">Check the information you entered is correct.</p>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        {% if data['register-teacher-reference-number'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">TRN</dt>
          <dd class="govuk-summary-list__value">{{ data['register-teacher-reference-number'] }}</dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="teacher-reference-number?linkaction=change-trn">Change<span class="govuk-visually-hidden"> teacher reference number</span></a></dd>
          </div>
        {% endif %}
        {% if data['register-national-insurance-number'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">National Insurance number</dt>
                <dd class="govuk-summary-list__value">{{ data['register-national-insurance-number'] }}</dd>
                <dd class="govuk-summary-list__actions"><a class="govuk-link" href="national-insurance-number?linkaction=change-ni">Change<span class="govuk-visually-hidden"> National Insurance number</span></a></dd>
            </div>
        {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">Date of birth</dt>
                <dd class="govuk-summary-list__value">{{ data['register-dob-day'] }} {{ data['register-dob-month'] | toMonth }} {{ data['register-dob-year'] }}</dd>
                <dd class="govuk-summary-list__actions"><a class="govuk-link" href="date-of-birth?linkaction=change-dob">Change<span class="govuk-visually-hidden"> date of birth</span></a></dd>
            </div>
        {% if ((data['register-full-name'] ) or ( data['register-name-correct'] == "Yes" )) %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Name</dt>
          <dd class="govuk-summary-list__value">
            {% if data['register-name-correct'] == "Yes" %}
              {{ data.userFullName }}
            {% else %}
              {{ data['register-full-name'] }}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="name?linkaction=change-name">Change<span class="govuk-visually-hidden"> full name</span></a></dd>
          </div>
          {% endif %}
      </dl>


      <!-- If we have checked the name then it superseeds the intial validation -->
      {% if ((data['register-name-correct'] == "Yes") or ((data['register-cannot-validate'] == "Yes") and ( data['register-name-correct'] == "No" ))) %}

        <div class="govuk-inset-text">Our support team may contact you for more information to help us complete our checks.</div>
        <form class="form" action="confirmation" method="post" >
          <input type="hidden" name="register-cannot-validate" id="register-cannot-validate" value="Yes" />
          {{ govukButton({
            text: "Continue",
            classes: "govuk-button"
        }) }}
        </form>

      {% else %}

        <!-- If main route is using TRN -->
        {% if data['register-main-route'] == "tr-number" %}

          {% if data['register-national-insurance-number'] %}

            <div class="govuk-inset-text">
              <p class="govuk-body">Confirming the full name we have for you may help us find your details.</p>
            </div>
            <form class="form" action="confirm-name" method="post" >
              {{ govukButton({
                text: "Continue to confirm your name"
              }) }}
            </form>

          {% else %}

          <div class="govuk-inset-text">Tell us your National Insurance number to help us to find your details.</div>
          <form class="form" action="national-insurance-number" method="post" >
            {{ govukButton({
              text: "Add your National Insurance number"
            }) }}
          </form>

          {% endif %}

        <!-- If main route is using NI Number -->
        {% elif data['register-main-route'] == "ni-number"  %}

          <div class="govuk-inset-text">Confirming the full name we have for you may help us find your details.</div>
          <form class="form" action="confirm-name" method="post" >
            {{ govukButton({
              text: "Continue to confirm your name"
            }) }}
          </form>

        {% endif %}



      {% endif %}


    </div>
    </div>
{% endblock %}
