{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = true %}

{% if data['inductionProgramme'] == "FIP" %}

    {% if data['participantType'] == "ECT" %}
        {% set pageHeading = 'You’re registered and eligible for ECF-based training' %}
    {% elif data['participantType'] == "Mentor" %}
        {% set pageHeading = 'You’re registered and eligible for DfE-funded mentor training' %}
    {% endif %}
{% elif data['inductionProgramme'] == "CIP" %}

    {% if data['participantType'] == "ECT" %}
        {% set pageHeading = 'You’re registered and eligible for ECF-based training' %}
    {% elif data['participantType'] == "Mentor" %}
        {% set pageHeading = 'You’re registered to mentor ECTs' %}
    {% endif %}


{% endif %}


<!-- ///////////////// -->
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ govukPanel({
                titleText: pageHeading,
                classes: "govuk-!-margin-bottom-7"
            }) }}
            
            

            {% if data['inductionProgramme'] == "FIP" %}

                {% if data['participantType'] == "ECT" %}

                    {% include "includes/USERconfirmation_EligibleFipECT.html" %}            
            
                {% elif data['participantType'] == "Mentor" %}

                    {% include "includes/USERconfirmation_EligibleFipMentor.html" %}            

                {% endif %}
            
            {% elif data['inductionProgramme'] == "CIP" %}

                {% if data['participantType'] == "ECT" %}

                    {% include "includes/USERconfirmation_EligibleCipECT.html" %}            
            
                {% elif data['participantType'] == "Mentor" %}

                    {% include "includes/USERconfirmation_EligibleCipMentor.html" %}            

                {% endif %}

            {% endif %}

        </div>
    </div>
{% endblock %}
