{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Have you been given a teacher reference number (TRN)?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block pageNavigation %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }} 

            <p class="govuk-body">You’ll have a TRN if you hold, or are working towards qualified teacher status (QTS) in England.</p>               
            <p>You can usually find it on your payslip, teachers’ pension documents, or teacher training records.</p>
            
            <form class="form" action="teacher-reference-number" method="post" >

                {{ govukRadios({
                    classes: "govuk-radios--inline",                    
                    fieldset: {
                    legend: {
                        text: "Have you changed your name?",
                        isPageHeading: true,
                        classes: "govuk-visually-hidden"
                    }
                    },
                    items: [
                    { value: "Yes", text: "Yes" },
                    { value: "No, redirect(trn-guidance)", text: "No" }
                    ]
                } | decorateFormAttributes('register-have-trn')) }}


                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}