{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data['newYearChangeWhat'] == "leadProvider" %}
    {% set pageHeading = "Confirm that you want to use a different lead provider for your new ECTs" %}
{% elif data['newYearChangeWhat'] == "deliveryPartner" %}
    {% set pageHeading = "Confirm that you want to use a different delivery partner for your new ECTs" %}
{% endif %}

{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <!-- This page is only shown to schools currently on FIP programme  -->
            {% if data['newYearChangeWhat'] == "leadProvider" %}

                <p>You do not want to use {{ data.leadProvider }} as the lead provider of training for new ECTs starting induction in the 2022 to 2023 academic year.</p>

                {# <p>{{ data.leadProvider }} and {{ data.deliveryPartner }} will not be able to deliver training for ECTs and mentors starting in the 2022 to 2023 academic year.</p>
                <p>They can continue delivering training to ECTs and mentors who started in the 2021 to 2022 academic year however.</p> #}
            {% elif data['newYearChangeWhat'] == "deliveryPartner" %}

            <p>You want to use {{ data.leadProvider }} with another delivery partner to provide training for new ECTs starting induction in the 2022 to 2023 academic year.</p>
            <p>You do not want {{ data.deliveryPartner }}  to be the delivery partner for these new ECTs.</p>

                {# <p>{{ data.deliveryPartner }} will not be able to deliver training for ECTs and mentors starting in the 2022 to 2023 academic year.</p>
                <p>They can continue delivering training to ECTs and mentors who started in the 2021 to 2022 academic year however.</p> #}
            {% endif %}

            <form method="post" action="/prelive/schools/appropriate-body" class="govuk-!-margin-top-7" >

                <input type="hidden" name="inductionProgrammeYearTwo" id="inductionProgrammeYearTwo" value="FIP" />

                {{ govukButton({
                    text: "Confirm"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
