{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Your choice has been saved for this academic year" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
          titleText: pageHeading,
          classes: "govuk-!-margin-bottom-7"
        }) }}

        <h3 class="govuk-heading-m">What happens next</h3>
        <p>We will contact {{ data.schoolName }} in the next academic year.</p>
        <p>If you do employ career teachers later this year, you can sign in to this service to let us know.</p>

    </div>
  </div>

{% endblock %}
