{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = true %}


{% if data['newYear-continue-same-programme'] %}
    {% set pageHeading = "Your information has been saved" %}
{% elif data['newYear-expects-ect'] %}
    {% set pageHeading = "Your information has been saved for the next academic year" %}
{% else %}
    {% set pageHeading = "Your information has been saved for this academic year" %}
{% endif %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
          titleText: pageHeading,
          classes: "govuk-!-margin-bottom-7"
        }) }}

        <h3 class="govuk-heading-m">What happens next</h3>

        {% if data['newYear-expects-ect'] %}

            <p>We’ll contact {{ data.schoolName }} in the next academic year.</p>
            <p>If you do employ ECTs later this year, you can sign in to this service to let us know.</p>

            <p><a href="/schools/manage-your-training">Return to manage your training</a></p>

        {% else %}

            <p>We’ll contact {{ data.schoolName }} again in the next academic year.</p>
            <p>If you do employ ECTs later this year, sign in to this service to let us know.</p>

        {% endif %}

    </div>
  </div>

{% endblock %}
