{% extends "layout.html" %}

{% set pageHeading = "Do you expect any early career teachers to join your school this academic year?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

          <form class="form" action="induction-tutor/" method="post" class="govuk-!-margin-bottom-8">

            {{ govukRadios({
              hint: {
                text: "These are teachers who have finished their initial teacher training. It does not include teachers who started or completed their statutory induction before 1 September 2022."
              },
              items: [
                { value: "yes", text: "Yes" },
                { value: "no, redirect(../confirmation)", text: "No" },
                { value: "not-sure", text: "We do not know yet" }
              ]
            } | decorateFormAttributes('school-expects-ect-this-year')) }}

            {{ govukButton({
                text: "Continue"
            }) }}

          </form>
      </div>
  </div>

{% endblock %}
