{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Does your school expect any new ECTs in the 2022 to 2023 academic year?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

        	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			<p>Do not include:
            <ul  class="govuk-list govuk-list--bullet">
            <li>ECTs who started training in the 2021 to 2022 academic year</li>
            <li>any other teachers who started or completed their statutory induction before 1 September 2022</li>
            </ul>
            </p>
			<p>ECTs are teachers who have finished their initial teacher training.</p>
          	

            {# If not already training using FIP then always look to see how they will run programme like new #}
            {% if (( data['inductionProgramme'] == "CIP") or ( data['inductionProgramme'] == "DYO" ) or ( data['inductionProgramme'] == "noECT" )) %}
                <form class="form" action="/schools/training-programme/how-will-you-run" method="post">
            {% elif data['inductionProgramme'] == "FIP" %}
    			<!-- Checked --><form class="form" action="/schools/training-programme/same" method="post">
            {% endif %}

				{{ govukRadios({
				    classes: "govuk-radios--inline",
				    items: [
					    { value: "Yes", text: "Yes" },
					    { value: "No, redirect(/nominations/confirmation)", text: "No" }
				    ]
				} | decorateFormAttributes('newYear-expectECT')) }}

				<!-- Just for dashboard to set noECT / overridden if user chooses yes on next page -->
				<!-- Checked --><input type="hidden" name="newYear-inductionProgramme" id="newYear-inductionProgramme" value="noECT" >

            	{{ govukButton({
                	text: "Continue"
            	}) }}

          	</form>
      	</div>
  	</div>

{% endblock %}
