{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Does your school expect any ECTs in the next academic year?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

        	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			<p>ECTs are teachers who have finished their initial teacher training.</p>
          	<p>It does not include teachers who started or completed their statutory induction before 1 September 2022.</p>

            {# If not already training using FIP then always look to see how they will run programme like new #}
            {% if (( data['inductionProgramme'] == "CIP") or ( data['inductionProgramme'] == "DYO" )) %}
                <form class="form" action="/schools/training-programme/how-will-you-run" method="post" class="govuk-!-margin-bottom-8">
            {% elif data['inductionProgramme'] == "FIP" %}
    			<form class="form" action="/schools/training-programme/same" method="post" class="govuk-!-margin-bottom-8">
            {% endif %}

				{{ govukRadios({
				    classes: "govuk-radios--inline",
				    items: [
					    { value: "Yes", text: "Yes" },
					    { value: "No, redirect(/nominations/confirmation)", text: "No" }
				    ]
				} | decorateFormAttributes('newYear-expectECT')) }}

				<!-- Just for dashboard to set noECT / overridden if user chooses yes on next page -->
				<input type="hidden" name="newYear-inductionProgramme" id="newYear-inductionProgramme" value="noECT" >

            	{{ govukButton({
                	text: "Continue"
            	}) }}

          	</form>
      	</div>
  	</div>

{% endblock %}
