{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Does your school expect any new ECTs in the 2022 to 2023 academic year?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

        	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            
			<p class="govuk-body">Do not include:</p>
            <ul  class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
                <li>ECTs who started training in the 2021 to 2022 academic year</li>
                <li>any other teachers who started or completed their statutory induction before 1 September 2022</li>
            </ul>
			<p class="govuk-body">ECTs are teachers who have finished their initial teacher training.</p>

			
            <!-- If FIP last academic year  -->
            {% if data['inductionProgramme'] == "FIP" %}
    			<form class="form" action="/schools/training-programme/same" method="post">
            <!-- All others will be asked how they will run their training this next academic year -->
            {% else %}
                <form class="form" action="/schools/training-programme/how-will-you-run" method="post">
            {% endif %}

				{{ govukRadios({
				    classes: "govuk-radios--inline",
				    items: [
					    { value: "Yes", text: "Yes" },
					    { value: "No, redirect(/nominations/confirmation)", text: "No" }
				    ]
				} | decorateFormAttributes('inductionProgrammeYearTwoECTs')) }}

				<!-- Just for dashboard to set noECTs / overridden on next page if user chooses yes -->
                <input type="hidden" name="inductionProgrammeYearTwo" id="inductionProgrammeYearTwo" value="noECTs" >

                {{ govukButton({
                	text: "Continue"
            	}) }}

                <!-- //////////////////////// KEY ////////////////////////////// -->
				{% if data['inductionProgramme'] == "FIP" %}
					<div class="govuk-visually-hidden key">
                        {{ govukCheckboxes({
                            classes: "govuk-checkboxes--small govuk-!-padding-bottom-1",
                            items: [
                                { value: "No", text: "LP/DP combo no longer valid" }
                            ]
                        } | decorateFormAttributes(['validProviderDelivery']) ) }}
					</div>
				{% endif %}
                <!-- //////////////////////// END OF KEY ////////////////////////////// -->


          	</form>
      	</div>
  	</div>

{% endblock %}
