{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Do you expect any ECTs to join your school in the next academic year?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

          <form class="form" action="/schools/training-programme/question-2" method="post" class="govuk-!-margin-bottom-8">

            {{ govukRadios({
              classes: "govuk-radios--inline",
              hint: {
                text: "These are teachers who have finished their initial teacher training. It does not include teachers who started or completed their statutory induction before 1 September 2022."
              },
              items: [
                { value: "Yes", text: "Yes" },
                { value: "No, redirect(/nominations/confirmation)", text: "No" }

              ]
            } | decorateFormAttributes('newYear-expects-ect')) }}

            {{ govukButton({
                text: "Continue"
            }) }}

          </form>
      </div>
  </div>

{% endblock %}
