{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Study materials saved" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-bottom-8">
      {{ govukPanel({
        titleText: pageHeading
      }) }}
      </div>
      <p class="govuk-body"><a href="cip-cohort-detail"> Back to 2021 cohort</a></p>
    </div>
  </div>
{% endblock %}
