{% extends "layout.html" %}
{% set showPhaseBanner = false %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}

    <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" />

    {% for stylesheetUrl in extensionConfig.stylesheets %}
      <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
    {% endfor %}
{% endblock %}

{% block content %}
<div class="pseudo-bg"></div>
<div class="email-metadata">
  <p><strong>From: </strong>Department for Education: Teacher Continuing Professional Development </p>
  <p><strong>Subject: </strong>Does your school expect any early career teachers in the term ahead?</p>
</div>

<div class="pseudo-email-template">
  <p>Hello,</p>

  <p>Do you expect any early career teachers (ECTs) to begin their early career induction training at {{ data.schoolName }} in the term ahead?</p>

  <div class="govuk-inset-text">
    <p>Update the DfE here: <a class="govuk-link--no-visited-state" href="../nominations/expect-early-career-teachers?school-status=email-clicked">https://manage-training-for-early-career-teachers.education.gov.uk/nominations/start?token=22345678as9fijhgt</a></p>
  </div>
  <p>You only need to answer ‘yes’ or ‘no’.</p>

  <h2 class="govuk-heading-m">What happens next</h2>
  <p>If you choose ‘yes’, we’ll guide you to set up your 2-year training programme, following the new statutory requirements.</p>
  <p>If you choose ‘no’, we will not contact you until next term.</p>

  <h2 class="govuk-heading-m">Where to get more help and support</h2>

  <p>Read our step-by-step guide to find out what’s changed this year, and what you need to do:</p>
  <p><a class="govuk-link--no-visited-state" href="../how-to-set-up-your-programme">https://localhost:3000/how-to-set-up-your-programme</a></p>
  <p>If you have any questions, reply to this email.</p>
  <p>Kind regards,</p>

  <p>Teacher Continuing Professional Development
  <br>Department for Education</p>

</div>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
