{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Check your email" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <p>If you have an account, we’ve sent you a link to sign in.</p>
      <h2 class="govuk-heading-m">If you do not get an email</h2>
      <ol class="govuk-list govuk-list--number">
        <li>Check your spam or junk folder.</li>
        <li>Try signing in again, making sure your email address does not include any spaces.</li>
      </ol>

      <p>If you're not registered, <a class="govuk-link" href="how-to-get-an-account">find out how to get an account</a>.</p>
      <p>If you still need help, contact us: <a href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a>.</p>

      <p class="govuk-body govuk-!-font-size-14 skip-to">Skip to: <a href="/participants/validate/{{ id }}/link-to-sign-in">Example email</a></p>

    </div>
  </div>
{% endblock %}
