{% extends "layout.html" %}
{% set showPhaseBanner = false %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}

<link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" />

{% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}

{% endblock %}

{% block content %}
    <div class="pseudo-bg"></div>

        {% if data.participants[id].role == "ECT" %}

            <div class="email-metadata">
                <p><strong>From: </strong>Department for Education: Teacher Continuing Professional Development </p>
                <p><strong>Subject: </strong>Add your details ready for your early career teacher training programme</p>
            </div>

            <div class="pseudo-email-template">

                <p>Hello, {{ data.participants[id].name }}</p>
                <p>{{ data.schoolName }} has let us know that you’ll be joining them soon. They’re organising a training programme for you.</p>
                <p><strong>About your training programme</strong></p>
                <p>All early career teachers now complete a 2-year induction programme. This includes structured training and support to help you get your teaching career off to the best possible start.</p>
                <p>You can contact your school for more information about your training.</p>

                <p><strong>Register to start your programme</strong></p>
                <p>Before you can start, we need to check your details in the Teaching Regulation Agency records. This is to make sure you qualify for this training and support.</p>

                <p>We need to ask you for:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>your <a href="https://www.gov.uk/guidance/request-a-reminder-for-a-teacher-reference-number-trn">teacher reference number (TRN)</a>.</li>
                    <li>date of birth</li>
                    <li>National Insurance number (optional)</li>
                </ul>

                <p>You need to tell us this as soon as possible so you’re ready to start your programme.</p>
                <p>Use your email address to sign in to our service to register: <a class="govuk-link--no-visited-state" href="/participants/validate/{{ id }}/start">https://manage-training-for-early-career-teachers.education.gov.uk//users/confirm_sign_in?login_token=22345678as9fijhgt.</a></p>
                <p>If you have any questions, reply to this email.<br />
                <p>Teacher Continuing Professional Development<br />
                <span style="color:#888888;">Department for Education</span></p>

            </div>


        {% elif data.participants[id].role == "Mentor" %}




        {% elif data.participants[id].role == "sitMentor" %}




        {% endif %}







{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
