{% extends "layout.html" %}

{% if not data['link-action'] %}
    {% set showBackLink = false %}
{% endif %}
{% set schoolSignedIn = true %}

{% set pageHeading = "ECTs or mentors that need to validate their credentials" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p>This illustrates the user flows that an ECT or Mentor will go through when validating their details that the school induction tutor did not enter.</p>

                <!-- Contacted ECTs -->
                {% if ((data['inductionProgramme'] == "FIP") or (data['NewYearInductionProgramme'] == "FIP")) %}

                    <!-- Check to see if there are any ECT that have status contacted -->
                    {% if hasAnyContacted %}
                        <table class="govuk-table govuk-!-margin-bottom-9">
                            {% include "includes/validate_fip_head.html" %}
                            <tbody class="govuk-table__body">
                                {% for id, participant in data.participants %}
                                    {% if participant.status == "Contacted" and participant.programme == "FIP" %}
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell "><a href="/participants/validate/{{ id }}/email" class="govuk-link govuk-link--no-visited-state">{{ participant.name }}</a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>

                    {% endif %}
                {% elif ((data['inductionProgramme'] == "CIP") or (data['NewYearInductionProgramme'] == "CIP")) %}
                    {% if hasAnyContacted %}
                        <table class="govuk-table govuk-!-margin-bottom-9">
                            {% include "includes/validate_fip_head.html" %}
                            <tbody class="govuk-table__body">
                                {% for id, participant in data.participants %}
                                    {% if participant.status == "Contacted" and participant.programme == "CIP" %}
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell "><a href="/participants/validate/{{ id }}/email" class="govuk-link govuk-link--no-visited-state">{{ participant.name }}</a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                {% endif %}

        </div>
    </div>
{% endblock %}
