{% extends "layout.html" %}
{% set schoolSignedIn = true %}


{% set pageHeading = "Are you sure you want to remove this training provider for the next academic year?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}







                <!-- Brian -if the school selects any reason EXCEPT no ECTs-->
                <p>{{ data.leadProvider }} and {{ data.deliveryPartner }} will not be able to run training for your school in the academic year 2022 to 2023.</p>




            <form method="post" action="submitted" class="govuk-!-margin-top-7" >
                <input type="hidden" name="providerPartnership" id="providerPartnership" value="" />
                {{ govukButton({
                    text: "Confirm and remove"
                }) }}
            </form>


        </div>
    </div>
{% endblock %}
