{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data['newYear-inductionProgramme'] %}

    {% if data['inductionProgramme'] == "FIP" %}
        {% set pageHeading = "Are you sure you want to change how you’ll run your training?" %}
    {% else %}
        {% set pageHeading = "Are you sure this is how you want to run your training?" %}
    {% endif %}
{% elif data['change-programme'] == "Yes" %}
  {% set pageHeading = "Are you sure you want to change how you’ll run your training?" %}
{% else %}
  {% set pageHeading = "Confirm your training programme" %}
{% endif %}

{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <!-- Check to make sure its the newYear programme flow we are on -->
            {% if data['newYear-inductionProgramme'] == "" %}

                {% if (data['newYear-why-changing'] == "nextYear-FIP") %}
                    <p>You’ve chosen to use a training provider, funded by the DfE.</p>
                    <p>You’ll need to:
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                        <li>choose a training provider </li>
                        <li>add your ECTs and mentors</li>
                    </ul>
                {% elif (data['newYear-why-changing'] == "nextYear-CIP") %}
                    <p>You’ve chosen to deliver your own programme using DfE accredited materials.</p>
                    <p>You’ll need to:
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                        <li>choose your training materials</li>
                        <li>add your ECTs and mentors</li>
                    </ul>
                {% elif (data['newYear-why-changing'] == "nextYear-DYO") %}
                    <!-- noECT to DIY  -->
                    <p>You’re choosing to design and deliver your own programme based on the early career framework (ECF).</p>
                    <p class="govuk-body">You’ll need to design a 2-year programme of support and training that covers every ’learn that’ and ’learn how to’ statement in the <a class="govuk-link" href="https://www.gov.uk/government/publications/early-career-framework">early career framework (ECF)</a>.</p>
                    <p class="govuk-!-margin-bottom-7"><a class="govuk-link" href="https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview#schools-designing-and-delivering-their-own-ecf-based-induction"> See our statutory guidance</a> for information about funding, time off timetable, and roles.</p>
                {% endif %}


            {% elif data['newYear-inductionProgramme'] == "FIP" %}
                <p>You’ve chosen to use a training provider, funded by the DfE.</p>
                    <p>You’ll need to:
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                        <li>choose a training provider </li>
                        <li>add your ECTs and mentors</li>
                    </ul>

            {% elif data['newYear-inductionProgramme'] == "CIP" %}

                    <p>You’ve chosen to deliver your own programme using DfE accredited materials.</p>
                    <p>You’ll need to:
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                        <li>choose your training materials</li>
                        <li>add your ECTs and mentors</li>
                    </ul>

            {% elif data['newYear-inductionProgramme'] == "DYO" %}

<!-- noECT to DIY  -->
                    <p>You’re choosing to design and deliver your own programme based on the early career framework (ECF).</p>
                    <p class="govuk-body">You’ll need to design a 2-year programme of support and training that covers every ’learn that’ and ’learn how to’ statement in the <a class="govuk-link" href="https://www.gov.uk/government/publications/early-career-framework">early career framework (ECF)</a>.</p>
                    <p class="govuk-!-margin-bottom-7"><a class="govuk-link" href="https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview#schools-designing-and-delivering-their-own-ecf-based-induction"> See our statutory guidance</a> for information about funding, time off timetable, and roles.</p>




            <!-- Not the newYear programme flow -->
            {% else %}

                <!-- if changing programme -->
                {% if data['change-programme'] == "Yes" %}

                    {% if (data['inductionProgramme'] === "FIP") %}

                    <p>You're choosing to use a training provider, funded by the DfE.</p>
                    <p>You’ll need to:
                        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                        <li>choose a training provider </li>
                        <li>add your ECTs and mentors</li>
                        </ul>

                    {% elseif (data['inductionProgramme'] === "CIP") %}

                    <p>You're choosing to deliver your own programme using DfE-accredited materials.</p>
                    <p>You’ll need to:
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                        <li>choose your training materials</li>
                        <li>add your ECTs and mentors</li>
                    </ul>

                    {% elseif (data['inductionProgramme'] === "DYO") %}

                    <!-- noECT to DIY  -->
                    <p>You're choosing to design and deliver your own programme based on the Early Career Framework (ECF).</p>
                    <p class="govuk-body">You’ll need to design a 2-year programme of support and training that covers every ’learn that’ and ’learn how to’ statement in the <a class="govuk-link" href="https://www.gov.uk/government/publications/early-career-framework">Early Career Framework (ECF)</a>.</p>
                    <p><a class="govuk-link" href="https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview#schools-designing-and-delivering-their-own-ecf-based-induction"> See our statutory guidance</a> for information about funding, time off, and roles.</p>

                    {% elseif (data['inductionProgramme'] === "noECT") %}

                    <!-- DIY to noECT -->
                    <p>You've told us that you're not expecting any early career teachers (ECTs) to join this year.</p>
                    <p>Your school will not receive any more messages about statutory inductions for ECTs until the next academic year.</p>
                    <p>If any ECTs do join your school this year, you need to use this service to let us know.</p>

                    {% endif %}

                {% else %}

                    <p class="govuk-body">You’ve chosen to
                    {% if (data['inductionProgramme'] === "FIP") %}
                        use a training provider, funded by the DfE.
                    {% elseif (data['inductionProgramme'] === "CIP") %}
                        deliver your own programme using DfE accredited materials.
                    {% elseif (data['inductionProgramme'] === "DYO") %}
                        design and deliver your own programme based on the Early Career Framework (ECF).
                    {% elseif (data['inductionProgramme'] === "noECT") %}
                        opt out of notifications, because you do not expect any early career teachers to join this academic year.
                    {% elseif (data['inductionProgramme'] === "temphold") %}
                        use a training provider funded by your school.
                    {% endif %}
                    </p>

                {% endif %}
            {% endif %}

            <form method="post" action="success" >
                {% if data['change-programme'] == "Yes" %}
                <!-- This removes the change-programme value so we are out of that loop -->
                <!-- <input type="hidden" name="change-programme" id="change-programme" value="" /> -->
                {% endif %}

                {{ govukButton({
                    text: "Confirm"
                }) }}
            </form>

        </div>
    </div>
{% endblock %}
