{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data['NewYearInductionProgramme'] %}
    {% if data['inductionProgramme'] == "FIP" %}
        <!-- If you get here then you are currently on FIP but switching -->
        {% set pageHeading = "Are you sure you want to change how you’ll run your training?" %}
    {% else %}
        {% set pageHeading = "Are you sure this is how you want to run your training?" %}
    {% endif %}
{% elif data['change-programme'] == "Yes" %}
    {% set pageHeading = "Are you sure you want to change how you’ll run your training?" %}
{% else %}
    {% set pageHeading = "Confirm your training programme" %}
{% endif %}

{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <!-- Check to make sure its the newYear programme flow we are on then only 3 options for content -->
            {% if data['NewYearInductionProgramme'] != "" %}

                {% if ((data['newYearChangeWhat'] == "switchFIP") or (data['NewYearHowRun'] == "FIP" )) %}
                    <p class="govuk-body">You’ve chosen to use a training provider, funded by the DfE.</p>
                    <p class="govuk-body">You’ll need to:
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                        <li>choose a training provider </li>
                        <li>add your ECTs and mentors</li>
                    </ul>
                {% elif ((data['newYearChangeWhat'] == "switchCip") or (data['NewYearHowRun'] == "CIP" )) %}
                    <p class="govuk-body">You’ve chosen to deliver your own programme using DfE accredited materials.</p>
                    <p class="govuk-body">You’ll need to:
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                        <li>choose your training materials</li>
                        <li>add your ECTs and mentors</li>
                    </ul>
                {% elif ((data['newYearChangeWhat'] == "switchDyo") or (data['NewYearHowRun'] == "DYO" )) %}
                    <!-- noECT to DIY  -->
                    <p class="govuk-body">You’re choosing to design and deliver your own programme based on the early career framework (ECF).</p>
                    <p class="govuk-body">You’ll need to design a 2-year programme of support and training that covers every ’learn that’ and ’learn how to’ statement in the <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/early-career-framework" rel="noreferrer noopener" target="_blank">early career framework (ECF) (opens in new tab)</a>.</p>
                    <p class="govuk-!-margin-bottom-7"><a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview#schools-designing-and-delivering-their-own-ecf-based-induction" rel="noreferrer noopener" target="_blank"> See our statutory guidance (opens in new tab)</a> for information about funding, time off timetable, and roles.</p>
                {% endif %}


            {% else %}

                <!-- if changing programme -->
                {% if data['change-programme'] == "Yes" %}

                    {% if (data['inductionProgramme'] === "FIP") %}

                    <p>You're choosing to use a training provider, funded by the DfE.</p>
                    <p>You’ll need to:
                        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                        <li>choose a training provider </li>
                        <li>add your ECTs and mentors</li>
                        </ul>

                    {% elseif (data['inductionProgramme'] === "CIP") %}

                    <p>You're choosing to deliver your own programme using DfE-accredited materials.</p>
                    <p>You’ll need to:
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                        <li>choose your training materials</li>
                        <li>add your ECTs and mentors</li>
                    </ul>

                    {% elseif (data['inductionProgramme'] === "DYO") %}

                    <!-- noECT to DIY  -->
                    <p>You're choosing to design and deliver your own programme based on the Early Career Framework (ECF).</p>
                    <p class="govuk-body">You’ll need to design a 2-year programme of support and training that covers every ’learn that’ and ’learn how to’ statement in the <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/early-career-framework" rel="noreferrer noopener" target="_blank">Early Career Framework (ECF) (opens in new tab)</a>.</p>
                    <p><a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview#schools-designing-and-delivering-their-own-ecf-based-induction" rel="noreferrer noopener" target="_blank"> See our statutory guidance (opens in new tab)</a> for information about funding, time off, and roles.</p>

                    {% elseif (data['inductionProgramme'] === "noECT") %}

                    <!-- DIY to noECT -->
                    <p>you’ve told us that you're not expecting any early career teachers (ECTs) to join this year.</p>
                    <p>Your school will not receive any more messages about statutory inductions for ECTs until the next academic year.</p>
                    <p>If any ECTs do join your school this year, you need to use this service to let us know.</p>

                    {% endif %}

                {% else %}

                    <p class="govuk-body">You’ve chosen to
                    {% if (data['inductionProgramme'] === "FIP") %}
                        use a training provider, funded by the DfE.
                    {% elseif (data['inductionProgramme'] === "CIP") %}
                        deliver your own programme using DfE accredited materials.
                    {% elseif (data['inductionProgramme'] === "DYO") %}
                        design and deliver your own programme based on the Early Career Framework (ECF).
                    {% elseif (data['inductionProgramme'] === "noECT") %}
                        opt out of notifications, because you do not expect any early career teachers to join this academic year.
                    {% elseif (data['inductionProgramme'] === "temphold") %}
                        use a training provider funded by your school.
                    {% endif %}
                    </p>

                {% endif %}
            {% endif %}

            <form method="post" action="/schools/appropriate-body/" >
                <!-- This will assign correct induction programme to new academic year -->
                {% if ((data['newYearChangeWhat'] == "switchFIP") or (data['NewYearHowRun'] == "FIP" )) %}
                    <input type="hidden" id="NewYearInductionProgramme" name="NewYearInductionProgramme" value="FIP" />
                {% elif ((data['newYearChangeWhat'] == "switchCip") or (data['NewYearHowRun'] == "CIP" )) %}
                    <input type="hidden" id="NewYearInductionProgramme" name="NewYearInductionProgramme" value="CIP" />
                {% elif ((data['newYearChangeWhat'] == "switchDyo") or (data['NewYearHowRun'] == "DYO" )) %}
                    <input type="hidden" id="NewYearInductionProgramme" name="NewYearInductionProgramme" value="DYO" />
                {% endif %}

                {{ govukButton({
                    text: "Confirm"
                }) }}
            </form>

        </div>
    </div>
{% endblock %}
