{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Remember to confirm your programme choice later" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

    
                <p>You must tell us how you want to run your programme as soon as possible.</p>   
                
                <p>We need this information to make sure:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>your ECTs and mentors can access the materials they need</li>
                  <li>we pay the right training provider (if you use one)</li>
                </ul>

                <div class="govuk-inset-text">
                <p>We'll send you a reminder before any deadlines.</p> 

                <p>You can add new ECTs and mentors before you confirm your programme choice.</p> 
                </div> 

            <form method="post" action="success" class="govuk-!-margin-top-7" >

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
