{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = 'Will you use ' + data.leadProvider + ' with an alternative delivery partner?' %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p class="govuk-body">This is for:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>new ECTs starting ECF-based training in the 2022 to 2023 academic year</li>
                <li>any mentors due to start mentor training in the same year</li>
            </ul>
            
            <form class="form" action="new-page" method="post" >

                    {{ govukRadios({
                        classes: "govuk-radios--inline",
                        fieldset: {
                            legend: { text: "pageHeading", isPageHeading: false, classes: "govuk-visually-hidden" }
                        },
                        items: [
                            { value: "Yes", text: "Yes" },
                            { value: "No", text: "No" }                            
                        ]
                    } | decorateFormAttributes('newYearStayLeadProvider')) }}
                

            {{ govukButton({
                text: "Continue"
            }) }}

            </form>

        </div>
    </div>

{% endblock %}
