{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if data['newYearStayLeadProvider'] == "Yes" %}
    {% set pageHeading = 'What to do next' %}
{% elif data['newYearStayLeadProvider'] == "No" %}
    {% set pageHeading = "What to do next" %}
{% endif %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
                
                {% if data['newYearStayLeadProvider'] == "Yes" %}

                    <p class="govuk-body">Contact {{ data.leadProvider }} as soon as possible.</p>
                    <p class="govuk-body">They'll arrange a new delivery partner for the ECF-based training and mentor training starting in the 2022 to 2023 academic year.</p>
                    <p class="govuk-body">{{ data.leadProvider }} will then report the new partnership to us, so we can make sure your school receives the correct funding.</p>

                {% elif data['newYearStayLeadProvider'] == "No" %}

                    

                    <p>Contact the lead provider as soon as possible.</p>
                    <p>They'll arrange a new delivery partner for the ECF-based training and mentor training starting in the 2022 to 2023 academic year.</p>
                    <p class="govuk-body">Your new lead provider will then report the new partnership to us and we'll make sure your school receives the correct funding.</p>

                    

                {% endif %}



                

                <form method="post" action="/schools/appropriate-body/" class="govuk-!-margin-top-7" >                

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

        </div>
    </div>

{% endblock %}

