{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Will you use the same training programme again?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <!-- This page is only shown to schools currently on FIP programme  -->
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Lead provider</h2>
            <p class="govuk-!-margin-bottom-1">{{ data.leadProvider }}</p>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Delivery partner</h2>
            <p>{{ data.deliveryPartner }}</p>

            <p class="govuk-!-margin-bottom-5 govuk-!-margin-top-5">Read our guidance to <a href="x">check your options (open in new window)</a>.</p>

            <form class="form" action="success" method="post" >

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    items: [
                        { value: "Yes", text: "Yes" },
                        { value: "No, redirect(why-are-you-changing)", text: "No" }
                    ]
                } | decorateFormAttributes('newYearProviderChange')) }}

                <!-- { value: "notSure, redirect(confirm-choice-later)", text: "I do not know yet" } -->

                <p class="govuk-!-margin-bottom-5"><a href="confirm-choice-later">I do not know yet</a></p>
                <!-- Just for dashboard to remove the NoECT that we set on previous page -->
				<input type="hidden" name="inductionProgrammeYearTwo" id="inductionProgrammeYearTwo" value="" />

                {{ govukButton({
                    text: "Continue"
                }) }}

          </form>
      </div>
  </div>

{% endblock %}
