{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "Will you use the same training programme again?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p>Read our guidance to <a href="x">check your options</a>.</p>

            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Lead provider</h2>
            <p class="govuk-!-margin-bottom-1">{{ data.leadProvider }}</p>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Delivery partner</h2>
            <p>{{ data.deliveryPartner }}</p>

            <form class="form" action="success" method="post" class="govuk-!-margin-bottom-8">

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    items: [
                        { value: "Yes", text: "Yes" },
                        { value: "No, redirect(why-are-you-changing)", text: "No" }
                    ]
                } | decorateFormAttributes('newYear-continue-same-programme')) }}

                <!-- Just for dashboard to remove the NoECT that we set on previous page -->
				<input type="hidden" name="newYear-training" id="newYear-training" value="" >

                {{ govukButton({
                    text: "Continue"
                }) }}

          </form>
      </div>
  </div>

{% endblock %}
