{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = true %}

<!-- Brian - If FIP user coming from /schools/training-programme/confirm-choice-later, H1 should be 'you’ve submitted your information' -->


<!-- If appropriate body has been chosen as part of the journey -->
{% if data['abName'] %}
    {% set pageHeading = "You’ve submitted your training information and reported your appropriate body" %}
<!-- otherwise -->
{% else %}
    {% set pageHeading = "You’ve submitted your training information" %}
{% endif %}

{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ govukPanel({
                titleText: pageHeading,
                html: "Academic year<br><strong>2022 to 2023</strong>",
                classes: "govuk-!-margin-bottom-7"
            }) }}

            {% if data['NewYearInductionProgramme'] != "" %}

                <!-- if school is currently training with FIP and is not looking to change -->
                {% if data['NewYearInductionProgramme'] == "FIP" %}

                    {% if ((data['newYearChangeWhat'] == "leadProvider") or (data['newYearChangeWhat'] == "deliveryPartner")) %}

                        <h2 class="govuk-heading-m">What happens next</h2>
                        {% if data['newYearChangeWhat'] == "deliveryPartner" %}
                            <p>We’ll let {{ data.deliveryPartner }} know that your school wants to make a change for ECTs and mentors starting in the 2022 to 2023 academic year.</p>
                        {% elif data['newYearChangeWhat'] == "leadProvider" %}
                            <p>We’ll let {{ data.leadProvider }} and {{ data.deliveryPartner }} know that your school wants to make a change for ECTs and mentors starting in the 2022 to 2023 academic year.</p>
                        {% endif %}
                        <p>They may contact you to confirm this.</p>

                        <h2 class="govuk-heading-m">What to do next</h2>
                        <p>As soon as possible:</p>
                        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                            <li>confirm the change with your new lead provider
                            {% if not data['abName'] %}
                            <li>tell us which appropriate body you’ve appointed for your ECTs</li>
                            {% endif %}
                            <li>add the new ECTs and mentors to this service so we can check their eligibility for DfE funding</li>
                            <li>use this service to tell us which mentor has been assigned to each ECT</li>
                        </ul>

                        <p><a href="https://manage-training-for-early-career-teachers.education.gov.uk/how-to-set-up-your-programme" rel="noreferrer noopener" target="_blank">Read our step by step guidance (opens in new tab)</a> if you need more help.</p>

                    {% else %}
                        <!-- Not looking to make any changes to their FIP training -->
                        <h2 class="govuk-heading-m">What to do next</h2>
                        <p class="govuk-body">As soon as possible:</p>
                        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                            {% if not data['abName'] %}
                            <li>tell us which appropriate body you’ve appointed for your ECTs</li>
                            {% endif %}
                            <li>add the new ECTs and mentors to this service so we can check their eligibility for DfE funding</li>
                            <li>use this service to tell us which mentor has been assigned to each ECT</li>
                        </ul>

                    {% endif %}


                <!-- School has switched from FIP or is choosing any of the other training programmes -->
                {% elif ((data['newYearChangeWhat'] == "switchFIP") or (data['NewYearHowRun'] == "FIP" )) %}

                    <h2 class="govuk-heading-m">What to do next</h2>
                    <p>As soon as possible:</p>
                    <ol class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>Register with one of the 6 DfE-funded training providers. You do not need to let the DfE know which provider you choose. Your training provider will contact us directly to arrange the funding.</li>
                        {% if not data['abName'] %}
                        <li>Tell us which appropriate body you’ve appointed for your ECTs.</li>
                        {% endif %}
                        <li>add the new ECTs and mentors to this service so we can check their eligibility for DfE funding</li>
                        <li>use this service to tell us which mentor has been assigned to each ECT</li>
                    </ol>

                    <p><a href="https://manage-training-for-early-career-teachers.education.gov.uk/how-to-set-up-your-programme" rel="noreferrer noopener" target="_blank">Read our step by step guidance (opens in new tab)</a> if you need more help.</p>

                {% elif ((data['newYearChangeWhat'] == "switchCip") or (data['NewYearHowRun'] == "CIP" )) %}

                    <h2 class="govuk-heading-m">What to do next</h2>
                    <p>As soon as possible:</p>
                    <ol class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>choose the DfE-accredited materials you want to use - you may need to create an account to access the materials</li>                                                
                        {% if not data['abName'] %}
                        <li>tell us which appropriate body you’ve appointed for your ECTs</li>
                        {% endif %}
                        <li>add the new ECTs and mentors to this service so we can check their eligibility for DfE funding</li>
                        <li>use this service to tell us which mentor has been assigned to each ECT</li>
                    </ol>
                    {# <p><a href="../how-to-set-up-your-programme">Read our step by step guidance (opens in new tab)</a> if you need more help.</p> #}

                {% elif ((data['newYearChangeWhat'] == "switchDyo") or (data['NewYearHowRun'] == "DYO" )) %}

                    <h2 class="govuk-heading-m">What to do next</h2>
                    <p class="govuk-body">You need to design a 2-year programme of support and training that covers every ‘learn that’ and ‘learn how to’ statement in the <a  href="https://www.gov.uk/government/publications/early-career-framework" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Early Career Framework (ECF) (opens in new tab)</a>.</li>
                    <p class="govuk-body">Contact your appropriate body to find out what evidence is needed to demonstrate that your programme:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>is based on the ECF</li>
                        <li>meets the statutory requirements</li>
                    </ul>
                    <p class="govuk-body">You do not need to add information about your ECTs and mentors to this service.</p>
                    <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/government/collections/induction-training-and-support-for-early-career-teachers-ects" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank"> See our guidance collection (opens in new tab)</a> for more information about induction, training and support for ECTs.</p>

                {% endif %}


                <p class="govuk-link govuk-!-margin-top-5"><a href="../manage-your-training#new-year" class="govuk-link govuk-link--no-visited-state">Continue to manage your training</a></p>





            {% else %}
            <!-- //////////////// end of new year //////////// -->

                {# Programme is FIP #}
                {% if (data['inductionProgramme'] === "FIP") %}
                    <h2 class="govuk-heading-m">What to do next</h2>
                    <p>As soon as possible:</p>
                    <ol class="govuk-list govuk-list--number govuk-list--spaced">
                        <li>Register with one of the 6 DfE-funded training providers. You do not need to let the DfE know which provider you choose. Your training provider will contact us directly to arrange the funding.</li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/appropriate-body/?setup=No">Tell us which appropriate body you’ve appointed</a> for your ECTs.</li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/participants/">Add your ECTs and mentors to this service</a> so we can check their eligibility for DfE funding.</li>
                        <li>Use this service to tell us which mentor has been assigned to each ECT.</li>
                    </ol>

                    <p><a href="https://manage-training-for-early-career-teachers.education.gov.uk/how-to-set-up-your-programme" rel="noreferrer noopener" target="_blank">Read our step by step guidance (opens in new tab)</a> if you need more help.</p>
                    <p class="govuk-link govuk-!-margin-top-7"><a href="../manage-your-training">Continue to manage your training</a></p>
                {# Programme is CIP #}
                {% elif (data['inductionProgramme'] === "CIP") %}
                    <h2 class="govuk-heading-m">What to do next</h2>
                    <p>As soon as possible:</p>
                    <ol class="govuk-list govuk-list--number govuk-list--spaced">
                        <li><a href="https://support-for-early-career-teachers.education.gov.uk/" rel="noreferrer noopener" target="_blank">Choose the DfE-accredited materials you want to use (opens in new tab)</a> - you may need to create an account to access the materials.</li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/which">Tell us which materials you want to use.</a></li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/appropriate-body/?setup=No">Tell us which appropriate body you’ve appointed</a> for your ECTs.</li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/schools/participants/">Add your ECTs and mentors to this service</a> so we can check their eligibility for DfE funding.</li>
                        <li>Use this service to tell us which mentor has been assigned to each ECT.</li>
                    </ol>
                    <p><a href="../how-to-set-up-your-programme">Read our step by step guidance (opens in new tab)</a> if you need more help.</p>
                    <p class="govuk-link govuk-!-margin-top-7"><a href="../manage-your-training">Continue to manage your training</a></p>
                {# Programme is DIY #}
                {% elif (data['inductionProgramme'] === "DYO") %}
                    <h2 class="govuk-heading-m">What to do next</h2>
                    <p>You need to design a 2-year programme of support and training that covers every ‘learn that’ and ‘learn how to’ statement in the <a  href="https://www.gov.uk/government/publications/early-career-framework" class="govuk-link" rel="noreferrer noopener" target="_blank">Early Career Framework (ECF) (opens in new tab)</a>.</li>
                    <p>Contact your appropriate body to find out what evidence is needed to demonstrate that your programme:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>is based on the ECF</li>
                            <li>meets the statutory requirements</li>
                        </ul>


                    <p>You do not need to add information about your ECTs and mentors to this service.</p>
                    <p><a class="govuk-link" href="https://www.gov.uk/government/collections/induction-training-and-support-for-early-career-teachers-ects" class="govuk-link" rel="noreferrer noopener" target="_blank"> See our guidance collection (opens in new tab)</a> for more information about induction, training and support for ECTs.</p>
                {% elif (data['inductionProgramme'] === "noECT") %}
                    <h2 class="govuk-heading-m">What to do next</h2>
                    <p>Your school will not receive any more messages about statutory inductions for ECTs until the next academic year.</p>
                    <p>If any ECTs do join your school this year, you need to use this service to let us know.</a></p>
                <!-- This is an option was looking at with Shani for future. -->
                {% elif (data['inductionProgramme'] === "temphold") %}
                    <h2 class="govuk-heading-m">What to do next</h2>
                    <p>You need to <a href="https://www.gov.uk/guidance/funding-and-eligibility-for-ecf-based-training" class="govuk-link" rel="noreferrer noopener" target="_blank">make your own arrangements with a training provider (opens in new tab)</a>, approved by the DfE.</p>
                    <p>You do not need to add information about your ECTs and mentors to this service.</p>
                    <p>If you change your mind about how you want to run your training, email <a class="govuk-link" href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a>.</p>
                    <p class="govuk-link govuk-!-margin-top-7"><a href="../manage-your-training">Continue to manage your training</a></p>
                {% endif %}

            {% endif %}
            {# // of next or first academic year  #}

        </div>
    </div>

{% endblock %}
