{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "What change do you plan to make?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p class="govuk-body">The change will only apply for ECTs and mentors starting in the 2022 to 2023 academic year.</p>

            <form class="form" action="confirm-change-cohort-programme" method="post" >

                {# {% if data['inductionProgramme'] == "FIP" %} #}

                    {{ govukRadios({
                        fieldset: {
                            legend: { text: "pageHeading", isPageHeading: false, classes: "govuk-visually-hidden" }
                        },
                        items: [
                            { value: "leadProvider", text: "Leave Best Practice Network and use a different lead provider" },
                            { value: "deliveryPartner", text: "Stay with Best Practice Network but change your delivery partner, Blueprint Alliance" },
                            { value: "switchCip, redirect(/schools/training-programme/confirm)", text: "Deliver your own programme using DfE-accredited materials" },
                            { value: "switchDyo, redirect(/schools/training-programme/confirm)", text: "Design and deliver your own programme based on the Early Career Framework (ECF)" }
                        ]
                    } | decorateFormAttributes('newYearChangeWhat')) }}


                {# {% elif data['inductionProgramme'] == "CIP" %}

                    {{ govukRadios({
                        fieldset: {
                            legend: { text: "pageHeading", isPageHeading: false, classes: "govuk-visually-hidden" }
                        },
                        items: [
                            { value: "leadProvider", text: "Leave Best Practice Network and use a different lead provider" },
                            { value: "deliveryPartner", text: "Stay with Best Practice Network but change our delivery partner, Blueprint Alliance" },
                            { value: "switchFip", text: "Use a training provider, funded by the DfE" },
                            { value: "switchDyo, redirect(/schools/training-programme/confirm)", text: "Design and deliver our own programme based on the Early Career Framework (ECF)" }
                        ]
                    } | decorateFormAttributes('newYearChangeWhat')) }}

                {% elif data['inductionProgramme'] == "DYO" %}

                    {{ govukRadios({
                        fieldset: {
                            legend: { text: "pageHeading", isPageHeading: false, classes: "govuk-visually-hidden" }
                        },
                        items: [
                            { value: "switchFip", text: "Use a training provider, funded by the DfE" },
                            { value: "switchCip, redirect(/schools/training-programme/confirm)", text: "Deliver our own programme using DfE-accredited materials" },
                            { value: "switchDyo, redirect(/schools/training-programme/confirm)", text: "Design and deliver our own programme based on the Early Career Framework (ECF)" }
                        ]
                    } | decorateFormAttributes('newYearChangeWhat')) }}

                {% endif %} #}

            {{ govukButton({
                text: "Continue"
            }) }}

            </form>

        </div>
    </div>

{% endblock %}
