{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% set pageHeading = "How do you want to change your training programme?" %}
{% set pageSection = " " + data.schoolName + " " %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <p>The change will only apply for ECTs and mentors starting in the 2022 to 2023 academic year.</p>

            <form class="form" action="confirm-change-cohort-programme" method="post" >

                {{ govukRadios({
                    fieldset: {
                        legend: { text: "pageHeading", isPageHeading: false, classes: "govuk-visually-hidden" }
                    },
                    items: [                    
                        { value: "changeLeadProvider", text: "Change to a different lead provider" },            
                        { value: "changeDeliveryPartner", text: "Stay with Education Development Trust, but change our delivery partner" },                    
                        { value: "changeInudctionProgramme, redirect(/schools/training-programme/)", text: "Use DfE-accredited training materials, or design our own programme" }                    
                    ]
                } | decorateFormAttributes('newYear-why-changing')) }}                    


            {{ govukButton({
                text: "Continue"
            }) }}

            </form>
        
        </div>
    </div>

{% endblock %}