{% extends "_wizard-form.html" %}
{% set title = 'Have you confirmed that Ambition Institute has submitted all relevant declarations for this school?' %}

{% block form %}
  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--l govuk-!-margin-bottom-6'
      }
    },
    items: [
      {
        text: "Yes, they have submitted their declarations"
      }
    ]
  } | decorateFormAttributes(['admin', 'declarations']) ) }}
{% endblock %}

We assume that the current provider has submitted any start declarations for the participants it has onboarded
