{% extends "_wizard-form.html" %}
{% set title = 'Have you confirmed that Ambition Institute knows the partnership is ending?' %}

{% block form %}
  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: 'govuk-fieldset__legend--l govuk-!-margin-bottom-6'
      }
    },
    
    items: [
      {
        text: "Yes, the school confirmed this"
      }
    ]
  } | decorateFormAttributes(['admin', 'end-partnership']) ) }}
{% endblock %}
