{% extends "_wizard-page.html" %}
{% set title = 'What you need to do to switch a lead provider' %}

{% block page %}
<h1 class="govuk-heading-xl">{{ title }}</h1>

<p>Set out what the support agent should get from the school.</p>

<ul class="govuk-list govuk-list--bullet">
  <li>who is the new provider</li>
  <li>agreements with new and old providers</li>
  <li>old provider submitted all declarations</li>
  <li>know who will be switched - everyone or just some of the participants</li>
</ul>
{% endblock %}
