{% extends "layout.html" %}

{% block pageTitle %}
  Continue to your account
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Dashboard
      </h1>

      <p class="govuk-body">You should not be seeing this page.</p>

    </div>
  </div>

{% endblock %}
