{% extends "layout.html" %}

{% block pageTitle %}
  Guidance
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Guidance</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Guidance article
      </h1>
      <p class='govuk-body govuk-!-margin-bottom-0 gem-c-contents-list__title'>Contents</p>
      <ol class="govuk-list gem-c-contents-list__list govuk-!-margin-bottom-7">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active">
          Guidance article
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#">Lorem ipsum dolor sit amet</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#">Proin eu sapien metus</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#">Etiam eleifend consequat ligula</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link" href="#">Nulla sed libero tincidunt</a>
        </li>
      </ol>

    </div>
  </div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
      <h1 class="govuk-heading-m">
        Heading goes here
      </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu sapien metus. Nulla sed libero tincidunt, gravida diam non, ullamcorper tellus. Proin dignissim quam vitae ullamcorper blandit. Donec ut est at nisl mollis commodo vel eget mi. Integer et ante sed ipsum ultricies consequat. Nulla non feugiat libero. Suspendisse sit amet aliquam augue. Etiam eleifend consequat ligula.</p>
      <p>This paragraph has a link to <a href="/url/of/onward/page">find out more about this subject</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu sapien metus. Nulla sed libero tincidunt, gravida diam non, ullamcorper tellus. Proin dignissim quam vitae ullamcorper blandit. Donec ut est at nisl mollis commodo vel eget mi. Integer et ante sed ipsum ultricies consequat. Nulla non feugiat libero. Suspendisse sit amet aliquam augue. Etiam eleifend consequat ligula.</p>
      <h1 class="govuk-heading-m">
        Heading goes here
      </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu sapien metus. Nulla sed libero tincidunt, gravida diam non, ullamcorper tellus. Proin dignissim quam vitae ullamcorper blandit. Donec ut est at nisl mollis commodo vel eget mi. Integer et ante sed ipsum ultricies consequat. Nulla non feugiat libero. Suspendisse sit amet aliquam augue. Etiam eleifend consequat ligula.</p>
      <p>This paragraph has a link to <a href="/url/of/onward/page">find out more about this subject</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu sapien metus. Nulla sed libero tincidunt, gravida diam non, ullamcorper tellus. Proin dignissim quam vitae ullamcorper blandit. Donec ut est at nisl mollis commodo vel eget mi. Integer et ante sed ipsum ultricies consequat. Nulla non feugiat libero. Suspendisse sit amet aliquam augue. Etiam eleifend consequat ligula.</p>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="http://localhost:3000/guidance_1">
                Guidance article
              </a>
            </li>
            <li>
              <a href="http://localhost:3000/guidance_1">
                Guidance article
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>


  </div>

{% endblock %}
