{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Schools and Teachers" %}
{% set pageSection = "Prototype work" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

        	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
			<!-- <p>Testing deployment</p> -->
    		<ul class="govuk-list govuk-body-s">
          		<li>Last updated: 20 January 2023</li>
            	<li>Prototype version: {{releaseVersion}}</li>
        	</ul>
            <p>Version of the prototype mirroring the current live service. Does not contain any content or design work not yet approved for build or gone through user research.</p>
        	<p>Use this service to manage a school’s statutory induction programme for early career teachers.</p>

        	{{ govukButton({
      			text: "Service start",
                href: "/emails/tell-us-if-you-have-nqt"
    		}) }}

            <br>
    		{{ govukButton({
      			text: "Page listings",
      			href: "admin/listings",
      			classes: "govuk-button--secondary"
    		}) }}

        	{{ govukButton({
      			text: "Preload options",
      			href: "/admin/preload",
      			classes: "govuk-button--secondary govuk-!-margin-left-1"
    		}) }}

        	{% include "includes/break.html" %}


			{# <h2 class="govuk-heading-m">Appropriate body demo</h2>
        	<p>Quick links to allow demo of the appropriate body functionality.</p>

			<form action="/schools/appropriate-body/" method="post" >

				<input type="hidden" id="cohort" name="cohort" value="2022" />

				<input type="hidden" name="inductionProgramme" id="inductionProgramme" value="FIP" />
				<input type="hidden" name="accredited-materials" id="accredited-materials" value="Teach First" />
				<input type="hidden" name="rolesexplanation" id="rolesexplanation" value="Seen" />
				<input type="hidden" name="inductionProgrammeYearTwoECTs" id="inductionProgrammeYearTwoECTs" value="Yes" />
				<input type="hidden" name="inductionProgrammeYearTwoProviderChange" id="inductionProgrammeYearTwoProviderChange" value="No" />


				{{ govukButton({
					text: "Continue"
				 }) }}
			</form>

			{% include "includes/break.html" %} #}


        	<h2 class="govuk-heading-m">User research</h2>
        	<p>Area of the prototype for user research purposes, including link to share with user testing participants.</p>
            {# <p>No current user research taking place.</p> #}
        	{{ govukButton({
            	text: "Continue",
            	href: "admin/user-research/"
        	}) }}

        	{% include "includes/break.html" %}

    		<h2 class="govuk-heading-m">Prelive - design work</h2>
        	<p>Version of the prototype that contains all the design work undertaken in 2022 not yet developed or implemented into live.</p>


            	{{ govukButton({
                	text: "Continue to Blue Sky prototype",
                    href: "https://dfe-manage-training-ect.herokuapp.com/"
            	}) }}




    </div>
  </div>
{% endblock %}
