
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">ECF Register and Partner</span>
      <h1 class="govuk-heading-xl">
        Prototype admin
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="index-group">
        <h2 class="govuk-heading-m">All users</h2>
        <dl class='govuk-list app-list--definition'>
          <dt><a href='/start-testing' class="govuk-link--no-visited-state">User testing start</a></dt>
          <dd>Link to share with user testing participants</dd>
          <dt><a href='/start' class="govuk-link--no-visited-state">Start page</a></dt>
          <dd>Front door to the service, probably hosted on GOVUK</dd>
        </dl>
      </div>

      <div class="index-group">
        <h2 class="govuk-heading-m">School Decision Maker</h2>
        <dl class='govuk-list app-list--definition'>
          <dt><a href='/pseudo-email-school-invite' class="govuk-link--no-visited-state">School invite email</a></dt>
          <dd>Email sent to school, alterting them to the new service</dd>
          <dt><a href='/register-school/register-school-2' class="govuk-link--no-visited-state">Register school</a></dt>
          <dd>The first step in the school registration process</dd>
          <dt><a href='school-signed-in/sign-in-prompt-induction-decision' class="govuk-link--no-visited-state">Choose induction programme (newly registered schools)</a></dt>
          <dd>Schools who have just registered will need to make this decision before they proceed to a dashboard</dd>
        </dl>
      </div>

      <div class="index-group">
        <h2 class="govuk-heading-m">Training Providers (LPs / DPs)</h2>
        <dl class='govuk-list app-list--definition'>
          <dt><a href='/pseudo-email-training-provider-invite' class="govuk-link--no-visited-state">Training provider invite email</a></dt>
          <dd>Email sent to the training provider, regarding access to the platform</dd>
          <dt><a href='/training-provider-signed-in/dashboard-training-provider' class="govuk-link--no-visited-state">Dashboard (overview)</a></dt>
          <dd>The first screen users see when they complete sign in</dd>
          <dt><a href='/training-provider-signed-in/school-listing-2021' class="govuk-link--no-visited-state">Your schools</a></dt>
          <dd>Where they can view schools who they have partnered with</dd>
        </dl>
      </div>

      <div class="index-group">
        <h2 class="govuk-heading-m">DfE Admin</h2>
      </div>

      <p classs="govuk-!-margin-bottom-9">&nbsp;</p>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="index-group side-options">
        <form class="form" action="/index" method="post" class="govuk-!-margin-bottom-8">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__legend--m">
                  Sign in user journey
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="schooldecisionmaker" name="journey-mode" type="radio" value="schooldecisionmaker" {{ checked("journey-mode", "schooldecisionmaker") }}>
                  <label class="govuk-label govuk-radios__label" for="schooldecisionmaker">
                    School Decision Maker
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="trainingprovider" name="journey-mode" type="radio" value="trainingprovider" {{ checked("journey-mode", "trainingprovider") }}>
                  <label class="govuk-label govuk-radios__label" for="trainingprovider">
                    Training Provider
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="noaccount" name="journey-mode" type="radio" value="noaccount" {{ checked("journey-mode", "noaccount") }}>
                  <label class="govuk-label govuk-radios__label" for="noaccount">
                    No account
                  </label>
                </div>
              </div>

            </fieldset>
          </div>

          {% from "govuk/components/button/macro.njk" import govukButton %}
          {{ govukButton({
            text: "Save journey"
          }) }}
        </form>
      </div>
    </div>

  </div>

{% endblock %}
