
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">ECF Register and Partner</span>
      <h1 class="govuk-heading-xl">
        Prototype admin
      </h1>

      <p class="govuk-body">Links to the different user journeys can be found below.
        If you spot any bugs, please <a href="https://ukgovernmentdfe.slack.com/team/U01EB8Q4M37" target="_blank">send message me on slack</a>.</p>


            <div class="index-group">
              <form class="form" action="/index" method="post" class="govuk-!-margin-bottom-8">
                <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__legend--m">
                    Select sign in journey mode
                  </h1>
                </legend>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="schooldecisionmaker" name="journey-mode" type="radio" value="schooldecisionmaker" {{ checked("journey-mode", "schooldecisionmaker") }}>
                    <label class="govuk-label govuk-radios__label" for="schooldecisionmaker">
                      School Decision Maker
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="trainingprovider" name="journey-mode" type="radio" value="trainingprovider" {{ checked("journey-mode", "trainingprovider") }}>
                    <label class="govuk-label govuk-radios__label" for="trainingprovider">
                      Training Provider
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="noaccount" name="journey-mode" type="radio" value="noaccount" {{ checked("journey-mode", "noaccount") }}>
                    <label class="govuk-label govuk-radios__label" for="noaccount">
                      No account
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

            {% from "govuk/components/button/macro.njk" import govukButton %}
            {{ govukButton({
              text: "Save"
            }) }}
          </form>
        </div>

      <div class="index-group">
        <h2 class="govuk-heading-m">All users</h2>
        <dl class='govuk-list app-list--definition'>
          <dt><a href='/start'>Start page</a></dt>
          <dd>Front door to the service, probably hosted on GOVUK</dd>
        </dl>
      </div>

      <div class="index-group">
        <h2 class="govuk-heading-m">School Decision Maker</h2>
        <dl class='govuk-list app-list--definition'>
          <dt><a href='/pseudo-email-school-invite'>School invite email</a></dt>
          <dd>Email sent to school, alterting them to the new service</dd>
          <dt><a href='/sign-in-prompt-induction-decision'>Choose induction programme (newly registered schools)</a></dt>
          <dd>Schools who have just registered will need to make this decision before they proceed to a dashboard</dd>
        </dl>
      </div>

      <div class="index-group">
        <h2 class="govuk-heading-m">Training Providers (LPs / DPs)</h2>
        <dl class='govuk-list app-list--definition'>
          <dt><a href='/pseudo-email-training-provider-invite'>Training provider invite email</a></dt>
          <dd>Email sent to the training provider, regarding access to the platform</dd>

        </dl>
      </div>

      <div class="index-group">
        <h2 class="govuk-heading-m">DfE Admin</h2>
      </div>

      <p classs="govuk-!-margin-bottom-9">&nbsp;</p>

      <!--
      <h2 class="govuk-heading-m">Learning platform</h2>
      {% from "govuk/components/accordion/macro.njk" import govukAccordion %}
      {{ govukAccordion({
        id: "accordion-default",
        items: [
          {
            heading: {
              text: "Early Career Teachers"
            },
            content: {
              html: "
              <h2 class='govuk-heading-m'>Start of journey</h2>
              <dl class='govuk-list app-list--definition'>
                <dt><a href='/ect-induction-course-outline' target='_blank'>Induction course outline (dashboard)</a></dt>
                <dd>Description here</dd>
              </dl>
              <h2 class='govuk-heading-m'>Core Induction Programme (CIP)</h2>
              <dl class='govuk-list app-list--definition'>
                <dt><a href='#' target='_blank'>Overview of the course</a></dt>
                <dd>Description here</dd>
                <dt><a href='#' target='_blank'>Module listing</a></dt>
                <dd>Description here</dd>
                <dt><a href='#' target='_blank'>Taking a quiz</a></dt>
                <dd>Description here</dd>
              </dl>

                "
            }
          },
          {
            heading: {
              text: "Mentors"
            },
            content: {
              html: "<p class='govuk-body'>This is the content for Writing well for specialists.</p>"
            }
          },
            {
            heading: {
              text: "Induction Tutors"
            },
            content: {
              html: "<p class='govuk-body'>This is the content for Know your audience.</p>"
            }
          },
            {
            heading: {
              text: "Lead Providers & Delivery Partners"
            },
            content: {
              html: "<p class='govuk-body'>This is the content for How people read.</p>"
            }
          }
        ]
      }) }}
      -->

    </div>
  </div>

{% endblock %}
