{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block content %}


<style media='screen'>
  body {
    font-family: "GDS Transport", arial, sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-weight: 400;
font-size: 19px;
font-size: 0.875rem;
line-height: 1.14286;
background: #f5f5f5;
  }
  main.govuk-main-wrapper {
    position: relative;
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .govuk-skip-link {
    display: none;
  }
  .pseudo-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: #f5f5f5;
  }
  .pseudo-email-template {
    background: #FFF url({{ asset_path }}images/email-header.png) no-repeat center top;
        background-size: 100%;
        box-shadow: 0px 0px 40px rgb(0 0 0 / 25%);
        max-width: 550px;
        margin: 0 auto;
        padding: 80px 20px 30px;
        position: relative;
        z-index: 10;
        box-sizing: border-box;
        border-radius: 10px;
        border: 2px solid #CCC;
        border-top: 20px solid #CCC;
  }
 p,li {
   font-size: 19px;
 }
</style>
<div class="pseudo-bg"></div>
<div class="pseudo-email-template">
<p>Hello,
<br /><br />
Our service, Induction for early career teachers, is now live. You can use this service to find schools and add new partnerships.
<br /><br />
Find schools to recruit by:
<br /></p>
<ul>
  <li>filtering schools by name, local authority, MAT/network and more</li>
  <li>seeing which schools are available or are in a partnership</li>
  <li>targeting schools that are remote or have a pupil premium above 40%</li>
</ul>
<p>
Add your new partnerships by:
<br /></p>
<ul>
  <li>selecting and confirming the schools you have a partnership with</li>
</ul>
<p>
You can also use the service to check if your schools have added their early career teachers and mentors.
<br /><br />
This will ensure you are paid in time for your participants.
<br /><br />
Department of Education have created an account for you. Sign in with: email.address@trainingprovider.co.uk
<br /><br />
<a href="/sign-in">Sign in and get started</a>.</p>
</div>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
