{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block content %}


<style media='screen'>
  body {
    font-family: "GDS Transport", arial, sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-weight: 400;
font-size: 19px;
font-size: 0.875rem;
line-height: 1.14286;
  }
  main.govuk-main-wrapper {
    position: relative;
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .govuk-skip-link {
    display: none;
  }
  .pseudo-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: #f5f5f5;
  }
  .pseudo-email-template {
    background: #FFF url({{ asset_path }}images/email-header.png) no-repeat center top;
        background-size: 100%;
        box-shadow: 0px 0px 40px rgb(0 0 0 / 25%);
        max-width: 550px;
        margin: 0 auto;
        padding: 80px 20px 30px;
        position: relative;
        z-index: 10;
        box-sizing: border-box;
        border-radius: 10px;
        border: 2px solid #CCC;
        border-top: 20px solid #CCC;
  }
 p,li {
   font-size: 19px;
 }
</style>
<div class="pseudo-bg"></div>
<div class="pseudo-email-template">
<p>Hello,
<br /><br />
From September 2021, new teachers in England must complete a 2-year induction after they have done their initial teacher training (ITT) or PGCE.
<br /><br />
The induction must be based on the early career framework.
<br /><br />
We have shared guidance with your school about:</p>
<ul>
  <li>the statutory changes to induction</li>
  <li>the types of induction you can choose from</li>
  <li>what our funded options have to offer</li>
</ul>
<p>Now we invite you to <strong>register your school</strong> and confirm:</p>
<ul>
  <li>what type of induction you want to run</li>
  <li>which early career teachers are starting a programme this year</li>
</ul>
<p>Register by <strong>30 September 2021</strong> to start your induction programme.
<br /><br />
<a href="/start">Get started</a></p>
</div>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
