{% extends "layout.html" %}
{% set showBackLink = false %}

{% set pageHeading = "You’re now signed in" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        {%if data['user-research'] == "Yes" %}

          <form class="form" action="schools/manage-your-training" method="post">

        {% else %}
          {% if data['registering'] == "Yes"%}

            <form class="form" action="privacy-policy" method="post">

          {% elif ((data['training-programme'] == "FIP") or ( data['training-programme'] == "CIP" )) %}
            <form class="form" action="schools/manage-your-training" method="post">
          {% else %}
            {% if data['participantType'] == "sitMentor" %}
              <form class="form" action="two-roles" method="post">
            {% else %}
              <form class="form" action="privacy-policy" method="post">
            {% endif %}
          {% endif %}

        {% endif %}

        {{ govukButton({
                text: "Continue"
            }) }}

      </form>

      </div>
    </div>
{% endblock %}
