{% extends "layout.html" %}

{% set pageHeading = "Check your email" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
      
      <p class="govuk-body">If you have an account, we have sent you a link to sign in.</p>
      <h2 class="govuk-heading-m">If you don’t get an email to sign in</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>you must be nominated or sent sign in details to access this service. <a class="govuk-link" href="/sign-in-check-account">Find out how to get an account</a></li>
        <li>check your spam or junk folder</li>
      </ul>

      {% if not (data['journey-mode'] == "noemailsrecieved") %}
        <p class="govuk-body skip-to">Skip to: <a href="/pseudo-email-sign-in">Example email</a></p>
      {% endif %}
    </div>
  </div>
{% endblock %}
