{% extends "layout.html" %}

{% set pageHeading = "You are now signed in" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">

      		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
			
				{% if data['journey-mode'] == "schoolNoDecision" %}
					<form class="form" action="/school-signed-in/no-decision/privacy-policy" method="post">
				{% elif data['journey-mode'] == "schoolFIP" %}
					<form class="form" action="/school-signed-in/fip/fip-choose-cohort" method="post">
				{% elif data['journey-mode'] == "schoolCIP" %}
					<form class="form" action="/school-signed-in/cip/cip-choose-cohort" method="post">
				{% else %}
					<form class="form" action="/start-testing" method="post">
				{% endif %}
        		
				{{ govukButton({
          			text: "Continue"
        		}) }}
      		
			</form>

    	</div>
  	</div>
{% endblock %}