{% extends "layout.html" %}

{% block pageTitle %}
  Sign in
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
  homepageUrl: "/index",
  serviceName: "Manage training for early career teachers",
  serviceUrl: "/start"
}) }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
<a class="govuk-back-link" href="/start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Sign in
      </h1>

      <form class="form" action="/sign-in-check-email" method="post">
      {% from "govuk/components/input/macro.njk" import govukInput %}
      {{ govukInput({
        label: {
          text: "Email address"
        },
        classes: "govuk-input--width-20",
        id: "sign-in-email-address",
        name: "sign-in-email-address"
      }) }}
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Sign in"
      }) }}
      </form>

      <h2 class="govuk-heading-m">How you can access this service</h2>
      <ul class="govuk-list govuk-list--bullet">
      <li>you must be nominated or sent sign in details to access this service. <a class="govuk-link" href="/sign-in-check-account">Find out how to get an account</a></li>
      <li>we don't use DfE sign in or passwords, you just need your account's email address</li>
    </ul>

    </div>
  </div>

{% endblock %}
