{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block content %}
<div class="pseudo-bg"></div>
<div class="pseudo-email-template">
<p>Hello<br/><br /> A sign in attempt to the early career framework has been made. Click the link below to continue:</p>
<p><a href="ect-induction-course-outline">https://gov.uk/as9d7y9238g2ufvu/1239dasod3189yr92fb</a></p>
<p>If this wasn't you, you can ignore this email.<br /><br />The Early Career Team</p>
</div>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
