{% extends "layout.html" %}

{% block pageTitle %}
  Sign in
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
<a class="govuk-back-link" href="/start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <h1 class="govuk-heading-xl">
        Sign in
      </h1>

      <form class="form" action="/sign-in-check-email" method="post">
      {% from "govuk/components/input/macro.njk" import govukInput %}
      {{ govukInput({
        label: {
          text: "Email address"
        },
        classes: "govuk-input--width-20",
        id: "sign-in-email-address",
        name: "sign-in-email-address"
      }) }}
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Sign in"
      }) }}
      </form>

      <h3 class="govuk-heading-m">Problems signing in</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Your school has been sent an email to nominate an induction tutor. <a class="govuk-link--no-visited-state" href="/school-resend-nomination-email/resend-nomination-1">Resend email</a>.</li>
        <li>Contact us: <a class="govuk-link--no-visited-state" href="#">ecf-support@digital.education.gov.uk</a></li>
      </ul>

    </div>
  </div>

{% endblock %}
