{% extends "layout.html" %}

{% block pageTitle %}
  You do not have an account
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This isn&apos;t a real service'
}) }}
<a class="govuk-back-link" href="/sign-in">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You do not have an account
      </h1>

      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Schools</h3>
      <p class="govuk-body">Your school has been sent an email to nominate an induction tutor. <a class="govuk-link--no-visited-state" href="/school-resend-nomination-email/resend-nomination-1">Resend email</a>.</p>

      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">New teachers</h3>
      <p class="govuk-body">You only need to sign in if you’re using our accredited training materials. Check with your induction tutor.</p>

      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Training providers</h3>
      <p class="govuk-body">The Department for Education creates your account. Contact <a href="#">ecf-support@digital.education.gov.uk</a></p>

    </div>
  </div>

{% endblock %}
