{% extends "layout.html" %}

{% set pageHeading = "Manage training for early career teachers" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
      
      <p class="govuk-body">This service is for induction tutors who have been nominated by their school.</p>

      <p>Use this service to manage your school’s statutory induction programme for early career teachers.</p>
      <h2 class="govuk-heading-m">When does this need to be completed?</h2>
      <p>Your school must complete these steps before your early career teachers (ECTs) start their statutory induction programme.</p>
      <p>For example, if your ECTs are starting in September, you need to complete these steps before then.</p>

      {{ govukButton({
        text: "Start now",
        href: "/sign-in",
        isStartButton: true
      }) }}



      <h2 class="govuk-heading-m">Do you have an account?</h2>
      <p class="govuk-body">You must be nominated or sent sign in details to access this service.<a class="govuk-link" href="/nominations/choose-location"><br> Find out how to get an account</a></p>
    </div>
    <div class="govuk-grid-column-one-third">
      <!--
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="/guidance_1">
                Induction training and support for new teachers
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      -->
    </div>
  </div>
{% endblock %}
