{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = false %}
{% set showadminPrimaryNav = true %}

{% set pageHeading = "NPQ Applications" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

            <nav class="app-subnav" aria-label="Sub navigation">
    <ul class="app-subnav__list">
      <li class="app-subnav__list-item app-subnav__list-item--selected">
        <a class="app-subnav__link govuk-link--no-visited-state" href="/support/npq-applications/">
          Application Exports
        </a>
      </li>
      <li class="app-subnav__list-item">
        <a class="app-subnav__link govuk-link--no-visited-state" href="/support/npq-applications/eligibility-imports">
          Eligibility Imports
        </a>
      </li>
    </ul>
  </nav>

            {# <p>Manage your 14 September 2022s and delivery partners supplying training.</p> #}
                {{ govukButton({
                    text: "Schedule Export"

                }) }}

            {{ govukTable({
                caption: "Schools",
                captionClasses: "govuk-table__caption--m govuk-visually-hidden",
                firstCellIsHeader: false,
                head: [
                    { text: "Start date", classes: '' },
                    { text: "End date" },
                    { text: "Scheduled", classes: 'govuk-!-width-one-third', format: 'numeric' }
                ],
                rows: [
                    [
                        { text: "9 July 2022" },
                        { text: "14 September 2022" },
                        { text: "15 September 2022, 9:22 AM", format: "numeric"}
                    ],
                    [
                        { text: "9 July 2022" },
                        { text: "14 September 2022" },
                        { text: "15 September 2022, 9:22 AM", format: "numeric"}
                    ],
                    [
                        { text: "9 July 2022" },
                        { text: "14 September 2022" },
                        { text: "15 September 2022, 9:22 AM", format: "numeric"}
                    ],
                    [
                        { text: "9 July 2022" },
                        { text: "14 September 2022" },
                        { text: "15 September 2022, 9:22 AM", format: "numeric"}
                    ],
                    [
                        { text: "9 July 2022" },
                        { text: "30 August 2022" },
                        { text: "15 September 2022, 9:22 AM", format: "numeric"}
                    ],
                    [
                        { text: "9 July 2022" },
                        { text: "30 August 2022" },
                        { text: "15 September 2022, 9:22 AM", format: "numeric"}
                    ],
                    [
                        { text: "9 July 2022" },
                        { text: "30 August 2022" },
                        { text: "15 September 2022, 9:22 AM", format: "numeric"}
                    ],
                    [
                        { text: "9 July 2022" },
                        { text: "30 August 2022" },
                        { text: "15 September 2022, 9:22 AM", format: "numeric"}
                    ],
                    [
                        { text: "9 July 2022" },
                        { text: "30 August 2022" },
                        { text: "15 September 2022, 9:22 AM", format: "numeric"}
                    ]
                ]
            }) }}
    </div>

    </div>



{% endblock %}
