{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = false %}
{% set showadminPrimaryNav = true %}

{% set pageHeading = "Admin users" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}





                {{ govukButton({
                    text: "Add a new admin user"

                }) }}





            {{ govukTable({
                caption: "Schools",
                captionClasses: "govuk-table__caption--m govuk-visually-hidden",
                firstCellIsHeader: false,
                head: [
                    { text: "Name", classes: 'govuk-!-width-one-quarter' },
                    { text: "Email", classes: 'govuk-!-width-one-quarter' }
                ],
                rows: [
                    [
                        { text: "Anna Knights" },
                        { text: "anna.knights@digital.education.gov.uk" }
                    ],
                    [
                        { text: "Brandon Chan" },
                        { text: "brandon.chan@digital.education.gov.uk" }
                    ],
                    [
                        { text: "Brian Coult" },
                        { text: "brian.coult@digital.education.gov.uk" }
                    ],
                    [
                        { text: "Dominique Sherwood" },
                        { text: "dominique.sherwood@digital.education.gov.uk" }
                    ],
                    [
                        { text: "Gemma Say" },
                        { text: "gemma.say@digital.education.gov.uk" }
                    ],
                    [
                        { text: "Jack Bracewell" },
                        { text: "jack.bracewell@digital.education.gov.uk" }
                    ],
                    [
                        { text: "Kate Lloyd" },
                        { text: "kate.lloyd@digital.education.gov.uk" }
                    ],
                    [
                        { text: "Kate Thompson" },
                        { text: "kate.thompson@digital.education.gov.uk" }
                    ],
                    [
                        { text: "Luke Didsbury" },
                        { text: "luke.didsbury@digital.education.gov.uk" }
                    ],
                    [
                        { text: "Luke Richards" },
                        { text: "luke.richards@digital.education.gov.uk" }
                    ],
                    [
                        { text: "Mili Malde" },
                        { text: "mili.malde@digital.education.gov.uk" }
                    ],
                    [
                        { text: "Nicola Page" },
                        { text: "nicola.page@digital.education.gov.uk" }
                    ],[
                        { text: "Steven Woods" },
                        { text: "steven.woods@digital.education.gov.uk" }
                    ],
                    [
                        { text: "Tony Headford" },
                        { text: "tony.headford@digital.education.gov.uk" }
                    ]
                ]
            }) }}
    </div>

    </div>



{% endblock %}
