{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = false %}

{% set pageHeading = "Schools" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block adminPrimaryNav %}
<div class="primary-nav-container">
  <div class="govuk-width-container">
    <div class="primary-nav">
      <div class="nav-item nav-item__selected">
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Schools
          <span class="govuk-visually-hidden">Current page</span>
        </a>
      </div>
      <div class="nav-item">
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Participants
        </a>
      </div>
      <div class="nav-item">
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Suppliers
        </a>
      </div>
      <div class="nav-item">
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Admin users
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
        </div>

        <div class="govuk-grid-column-two-thirds">
            {{ govukInput({
                    label: {
                        text: "Search schools",
                        classes: "govuk-label--s",
                        isPageHeading: false
                    },
                    hint: {
                        text: "Enter the school’s name, URN or tutor email"
                    },
                    classes: "govuk-!-width-full"
            } | decorateFormAttributes(['participants', id, 'schoolSearch']) ) }}

            {{ govukButton({
                text: "Search"

            }) }}
        </div>

        <div class="govuk-grid-column-full">

            {{ govukTable({
                caption: "Schools",
                captionClasses: "govuk-table__caption--m govuk-visually-hidden",
                firstCellIsHeader: false,
                head: [
                    { text: "School", classes: 'govuk-!-width-one-half' },
                    { text: "URN" },
                    { text: "Local Authority" },
                    { text: "Group/network" },
                    { text: "Induction tutor", classes: 'govuk-!-width-one-quarter' }
                ],
                rows: [
                    [
                        { text: "16-19 Abingdon" },
                        { text: "133226" },
                        { text: "Oxfordshire" },
                        { text: "" },
                        { text: "" }
                    ],
                    [
                        { text: "3 Dimensions" },
                        { text: "134909" },
                        { text: "Somerset" },
                        { text: "" },
                        { text: "" }
                    ],
                    [
                        { text: "Abberley Hall" },
                        { text: "117011" },
                        { text: "Worcestershire" },
                        { text: "" },
                        { text: "" }
                    ],
                    [
                        { text: "Ashley Primary School" },
                        { text: "108685" },
                        { text: "South Tyneside" },
                        { text: "" },
                        { text: "jmccormick@ashley.s-tyneside.sch.uk" }
                    ],
                    [
                        { text: "Easingwold Community Primary School" },
                        { text: "121331" },
                        { text: "North Yorkshire" },
                        { text: "" },
                        { text: "headteacher@easingwold-pri.n-yorks.sch.uk" }
                    ],
                    [
                        { text: "Gosforth Academy" },
                        { text: "136352" },
                        { text: "Newcastle upon Tyne" },
                        { text: "" },
                        { text: "suzanne.pringle@ga.newcastle.sch.uk" }
                    ],
                    [
                        { text: "Huntington School" },
                        { text: "121673" },
                        { text: "York" },
                        { text: "" },
                        { text: "a.talbot@huntington-ed.org.uk" }
                    ],
                    [
                        { text: "Ponteland Primary School" },
                        { text: "145780" },
                        { text: "Northumberland" },
                        { text: "" },
                        { text: "m.warland@ponthigh.org.uk" }
                    ],
                    [
                        { text: "Westmoor Primary School" },
                        { text: "108582" },
                        { text: "North Tyneside" },
                        { text: " " },
                        { text: " " }
                    ]
                ]
            }) }}
    </div>

    </div>



{% endblock %}
