{% extends "layout.html" %}
{% set schoolSignedIn = true %}

{% if (data['FIPStatus'] == "inPartnership") %}
  {% set pageHeading = "Sign up with a training provider" %}
{% else %}
  {% set pageHeading = "Have you signed up with a training provider?" %}
{% endif %}
{% set pageSection = "2021/22 cohort" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}


{% block pageNavigation %}
  <a class="govuk-back-link" href="/school-signed-in/fip/fip-cohort-detail">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      {% if (data['FIPStatus'] == "inPartnership") %}        

        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Your provider details</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Delivery partner"
              },
              value: {
                text: "XYZ Education LTD."
              }
            },
            {
              key: {
                text: "Lead provider"
              },
              value: {
                text: "Educational Development Trust"
              }
            }
          ]
        }) }}

        <p class="govuk-body">If this doesn’t look right, <a href="/school-challenging-partnership/school-challenge-2">report that your school has been signed up incorrectly</a>.</p>
        </div>


      {% else %}

      <p class="govuk-body">There are a few ways you can sign up with a training provider:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you can contact your local Teaching School Hub (TSH). They can talk you through how to access this support for your early career teachers and mentors. Not sure? <a href="https://www.gov.uk/guidance/teaching-school-hubs#find-a-teaching-school-hub">Find your nearest hub</a></li>
        <li>you can explore what our 6 providers have to offer and contact them directly:<br />
          <a href="https://www2.ambition.org.uk/l/330231/2021-02-24/4mvx6">Ambition Institute</a><br />
          <a href="https://bestpracticenet.co.uk/early-career-framework">Best Practice Network (home of Outstanding Leaders Partnership)</a><br />
          <a href="https://www.capita.com/expertise/supporting-teachers-in-early-career">Capita with lead academic partner the University of Birmingham</a><br />
          <a href="https://www.educationdevelopmenttrust.com/ecf">Education Development Trust</a><br />
          <a href="https://www.teachfirst.org.uk/early-career-framework">Teach First</a><br />
          <a href="https://www.ucl.ac.uk/ioe-early-career-framework">UCL Institute of Education</a>
        </li>
      </ul>




<p class="govuk-body">These training providers and their local partners will also be recruiting schools in the next few months, so you may hear from them.</p>
<h2 class="govuk-heading-l">When you have signed up with a provider</h2>
<ol class="govuk-list govuk-list--number">
    <li>your training provider will tell us directly (this may take a few weeks)</li>
    <li>you'll get an email notification</li>
    <li>this page will be automatically updated</li>
</ol>


      {% endif %}

    </div>
  </div>

{% endblock %}
