{% extends "layout.html" %}
{% set showBackLink = true %}
{% set schoolSignedIn = false %}
{% set showadminPrimaryNav = true %}

{% set pageHeading = "New induction tutor for 16-19 Abingdon" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


             <form class="form" action="../" method="post" >


                {{ govukInput({
                    label: {
                        text: "Full name",
                        classes: "govuk-label",
                        isPageHeading: false
                    },
                    classes: "govuk-!-width-full"
                } | decorateFormAttributes(['schools', id, 'inductionName']) ) }}

                {{ govukInput({
                    label: {
                        text: "Email address",
                        classes: "govuk-label",
                        isPageHeading: false
                    },
                    classes: "govuk-!-width-full"
                } | decorateFormAttributes(['schools', id, 'inductionEmail']) ) }}



                {{ govukButton({
                    text: "Confirm new tutor"
                }) }}

            </form>


        </div>
    </div>



{% endblock %}
