{% extends "layout.html" %}
{% set showBackLink = true %}
{% set schoolSignedIn = false %}
{% set showadminPrimaryNav = true %}

{% set pageHeading = "Are you replacing an induction tutor or updating their details?" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


             <form class="form" action="new" method="post" >


                {{ govukRadios({
                    items: [
                        { value: "replace", text: "Replace induction tutor with someone new", hint: { text: "" } },
                        { value: "update", text: "Update induction tutor’s details" }
                    ]
                } | decorateFormAttributes(['schools', id, 'inductionChange']) ) }}



                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>


        </div>
    </div>



{% endblock %}
