{% extends "layout.html" %}
{% set showBackLink = false %}
{% set schoolSignedIn = false %}
{% set showadminPrimaryNav = true %}

{% set pageHeading = "Dean Winchester" %}
{% set pageSection = "Early career teacher" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

			{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

			{% set pastDayHtml %}

				{{ govukSummaryList({
					classes: 'govuk-!-margin-bottom-9',
					rows: [
					{ key: { text: "Email" }, value: { text: "dean@test.dfe.gov.uk" } },
					{ key: { text: "TRN" }, value: { text: "1234567" } },
					{ key: { text: "Status" },  value: { text: "Eligible to start" }  },
					{ key: { text: "Induction start date" },  value: { text: "1 September 2021" }  },
					{ key: { text: "Notes" }, value: { text: data.support.notes | nl2br | safe if data.support.notes else "No notes" },
						actions: {
						items: [
							{ href: "/prelive/support/participant-add-notes", text: "Change notes" if data.support.notes else "Add notes" }
						]
						}
					}
					]
				}) }}

			{% endset -%}

			{% set pastWeekHtml %}

				{{ govukSummaryList({
					rows: [
						{ key: { text: "School" }, value: { html: '<a href="#">Ashley Primary School</a>' } },
						{ key: { text: "Training cohort" }, value: { text: "2021 to 2022" } },
						{ key: { text: "Mentor" }, value: { html: '<a href="#">Kate Lloyd</a>' } },
						{ key: { text: "Programme" }, value: { text: "DfE-funded training provider" } },
						{ key: { text: "Lead provider" }, value: { html: '<a href="#">{{ data.leadProvider }}</a>' } },
						{ key: { text: "Delivery partner" }, value: { html: '<a href="#">{{ data.deliveryPartner }}</a>' } },
						{ key: { text: "Materials supplier" }, value: { html: '<a href="#">{{ data.materialsSupplier }}</a>' } }
					]
				}) }}

			{% endset -%}

			{% set pastMonthHtml %}

			{{ govukSummaryList({
				rows: [
					{ key: { text: "Registered" }, value: { text: "11 August 2021" } },
					{ key: { text: "Programme changes" }, value: { text: "None" } },
					{ key: { text: "Moved schools" }, value: { text: "None" } },
					{ key: { text: "Declarations made" }, value: { text: "3" } }
				]
			}) }}

			{% endset -%}


			{{ govukTabs({
				items: [
					{ label: "Details", id: "past-day", panel: { html: pastDayHtml } },
					{ label: "School", id: "past-week", panel: { html: pastWeekHtml } },
					{ label: "History", id: "past-month", panel: { html: pastMonthHtml } }
				]
			}) }}

            <p><a href="#">Delete participant</a></p>

          </div>
	</div>

{% endblock %}
